[2021-12-09 18:52] angelozerr commented on #618
@AlexXuChen  I think you can use one of XSD that we are using for test https://github.com/eclipse/lemminx/blob/master/org.eclipse.lemminx/src/test/resources/xsd/dressSize.xsd

See test which use this xsd https://github.com/eclipse/lemminx/search?q=dresssize

[2021-12-09 19:20] angelozerr commented on #624
It's the same issue than https://github.com/eclipse/lemminx/issues/1041

We need to redo our XML formatter from scratch, but it's a lot of work I think.

[2021-12-09 19:26] #621 closed

[2021-12-09 19:39] PJUllrich commented on #624
Yes, that seems indeed to be the same issues. Thank you for the info. I will workaround it for now by disabling the formatter. I'll watch this and the other issue though for the case that you decide on rewriting everything 😄

[2021-12-09 20:47] angelozerr commented on #624
@fbricon we have more and more users who complain with the xml formatter. It should be perhaps good to provide a settings to disable formatting by waiting formatter improvement.

What do you think about that?

[2021-12-10 17:09] clementnuss commented on #624
as an end user that would be really profitable, for the moment I have to disable formating for documents where  I use macros to insert e.g. credentials (what lemminx considers as unknown content). commenting to show the interest and to get notified of future improvements :)

[2021-12-10 17:14] angelozerr commented on #624
@fbricon @rgrunber @AlexXuChen I think we should provide this setting

[2021-12-10 20:00] angelozerr commented on #624
I forgot that we can disable formating with https://github.com/redhat-developer/vscode-xml/blob/master/docs/Formatting.md#xmlformatenabled

After reading this issue its not a trivial issue so im not sure we will implement quickly

[2021-12-11 01:03] heartacker commented on #593
hope that we could earn this soon

[2021-12-11 22:05] mengineerchen commented on #618
Happy to see the progresses there on https://github.com/eclipse/lemminx/pull/1136! Now I am really looking forward to the next extension release.

[2021-12-12 07:35] angelozerr commented on #618
@mengineerchen please note the pr from @AlexXuChen use the same "similar" feature "Did you mean ...?" than tag name. In other words it will not have the same bahavior than completion which is managed by vscode itself.

[2021-12-12 07:45] mengineerchen commented on #618
Good to know. If “Did you mean ...?" does not find some option to prompt, would it fall back to “Replace with ..." pattern?

[2021-12-12 14:42] angelozerr commented on #618
Yes its exactly that. You can test this behavior already with tag name.

[2021-12-13 19:53] #618 closed

[2021-12-14 14:36] rgrunber opened #627 "Consider migrating from find-java-home to jdk-utils"
See https://github.com/redhat-developer/vscode-java/pull/2246 for reference point.
https://www.npmjs.com/package/jdk-utils

[2021-12-21 10:51] stphnrssr opened #629 "Schema binding by file association with variable works only for active file"
Hello,
I'm struggling with file association binding of xml schema.
Consider the following data (all files provided in [attached test.zip](https://github.com/redhat-developer/vscode-xml/files/7751649/test.zip)):
- 2 xml files named _data1.xml_ and _data2.xml_
- 2 matching schemas _data1.xsd_ and _data2.xsd_
- binding is provided by file association in VS Code settings as follows:
[code]
Now, xml va

[2021-12-22 14:19] angelozerr commented on #629
Indeed there is a problem with fileBasenameNoExtension. We update fileBasenameNoExtension file associations on XML Language Server side for the activated file editor. With your usecase it's indeed unusable.

We need to improve it but Idon't knowwhen we could do that.

[2021-12-25 13:31] KhimairaCrypto commented on #166
I am using plugin v2.17.0  and latest terraform on my M1 (rosetta) and have similar error: "The active editor can not provide information about installed modules.."

[2021-12-26 13:40] GabrielHPDS opened #630 "language server crashed"
"The XML language server crashed 5 times in the last 10 minutes. The server will not be restarted."

I've tried everything, including uninstalled and reinstalled the extension and also vscode but the same error continues.

[2021-12-26 19:02] angelozerr commented on #630
Could you enable xml trace https://github.com/redhat-developer/vscode-xml/blob/master/docs/Troubleshooting.md#no-support-on-xml-file and share your trace please

[2021-12-29 16:03] informatik01 opened #631 "Improve xml.format.splitAttributes settings"
Hi.

Currently when `xml.format.splitAttributes` is set to `true`, all the attributes appear each on a new line, like this:
[code]

It would be really nice to be able to leave the very first attribute **on the same line** as the opening tag
and all the other attributes could be **aligned by the beginning** of this first attribute, like this:
[code]

Like add an **additional option** to either leav

[2022-01-03 16:41] jawn opened #632 "'No definition found' when using 'Go to Definition' for types defined in imported XSD"
## Summary

Go to definition works to navigate to a complex type defined in the same XSD.
However, this fails when the complex type is defined in an imported file, giving error message 'No definition found for ...'

## Steps to reproduce

1. Unzip repro files to local folder, that is a trusted workspace
2. Open Parent.xsd in VS Code
3. Apply go to definition on line 11, 'SomeGenericType'.

## Actu

[2022-01-03 18:25] angelozerr commented on #631
Indeed we should  have this settings.

@fbricon  what about having `xml.format.firstAttributeOnSameLineAsStartTag` ?

[2022-01-03 21:15] angelozerr commented on #623
Remove `attributeFormDefault="qualified"` in https://github.com/trostn/xml-xsd-vscode-mess-minimal/blob/e51f0ff3668a5517c0bf2c1c7d125b8066084803/sub/path/Schema_1_0.xsd#L3 and it should work.

Perhaps we should provide a quick fix which does that (I don't know if it's easy to do).

[2022-01-03 21:40] angelozerr commented on #630
@GabrielHPDS is there any chance to have your traces?

[2022-01-04 09:06] angelozerr commented on #632
Thanks @jawn for your detailed issue. https://github.com/eclipse/lemminx/pull/1146 should fix your issue

[2022-01-04 09:46] #632 closed

[2022-01-04 17:40] angelozerr commented on #632
@jawn you can install last vesrion of vscode-xml by downloading vsix https://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D and give us feedback. Thanks

[2022-01-05 12:41] jawn commented on #632
Verified as fixed using version vscode-xml-0.18.3-472.vsix

[2022-01-05 12:43] angelozerr commented on #632
Great thanks @jawn !

[2022-01-07 15:18] twoseascharlie commented on #473
I would love to see XPath supported with this extension! It already has such a rich feature set, adding XPath support would be so nice!

[2022-01-07 16:12] twoseascharlie opened #633 "No way to format document symbols and outline with custom symbol filters"
There doesn't appear to be a way to control the way custom symbol filter rules are displayed in the outline.

Ex:
using this config:
[code]

If I have a symbol filter for text, it is shown next to the element in the outline:

![text](https://user-images.githubusercontent.com/6892694/148571985-9355d40d-ba83-4d8b-b594-5cff99bb740a.jpg)

If I have a symbol filter for an attribute, it is shown as a ch

[2022-01-07 16:17] angelozerr commented on #633
What is your suggestion to customize that?

[2022-01-07 16:57] twoseascharlie commented on #633
I think I would see it working 1 of 2 ways:

Option 1:
Introduce a new preference that allows for single attribute symbol filters to be on the same line as their element.
ex:
`xml.symbols.filters.singleAttributePosition: 'sameLine' | 'nestedLine'`

Or
2. Introduce a new "format" field to the "expression" object for attribute selectors that could control the position and whether to show the attribu

[2022-01-10 13:34] angelozerr commented on #633
Ok I see the idea thanks. For the moment, I don't know where we will able to implement this feature.

[2022-01-10 15:03] twoseascharlie commented on #633
Ok sounds good, I appreciate you taking a look at this :)

[2022-01-14 18:14] florenso opened #634 "multiple root elements"
The formatter does not include an new line if there are multiple root elements. I think its inconsistent because it does add them for nested elements.

[code]
is formated as
[code]

it even becomes worse with empty root elements
[code]
becomes
```<foo /><bar /><fizz /><buzz />```

[2022-01-14 18:37] angelozerr commented on #634
I agree. Is there any chance to have some contribution?

[2022-01-19 18:27] AdamJel opened #637 "question/feature-request: conversion from xsd to jsonschema"
Hello, I would like to convert a [xml-schema](https://www.w3schools.com/xml/schema_intro.asp) to [json-schema](https://json-schema.org/). I didn't found it in feature list, so I would like to ask, if it is possible?

And if not, would you consider implementing it?

As an alternative, could anyone redirect me to where is this possible, please?

Thank you

[2022-01-19 18:31] angelozerr commented on #637
@AdamJel we try to provide the best support for editing XML with validation, completion, etc, but generate a XML Schema to JSON Schema is not in our scope for the moment.

We will see if there are several people who will be interested by this feature to implement it in the future.

[2022-01-19 18:51] angelozerr commented on #637
@AdamJel I reopen the issue, because perhaps other people will be interested with this feature.

[2022-01-24 22:34] twoseascharlie commented on #633
Closing this issue as this has been implemented with:
#636
[eclipse/lemminx/#1151](https://github.com/eclipse/lemminx/pull/1151)

[2022-01-24 22:34] #633 closed

[2022-01-31 08:44] angelozerr commented on #630
None answer. I close this issue. @GabrielHPDS if you can reproduce the problem and send us trace and it will be very helfull. Thanks!

[2022-01-31 08:44] #630 closed

[2022-01-31 08:45] angelozerr commented on #605
Could you give us more explanation about this feature please.

[2022-01-31 15:05] angelozerr commented on #605
Sorry there is no XML and XSD attached.

[2022-01-31 15:19] otichy commented on #605
Sorry, but this is a general remark, not about a specific XML file or a specific XSD. Maybe if what I am saying is not clear, try opening any XML in VSCode, select a piece of text and use the "Emmet: Wrap with Abbreviation" in the Command Palette. This is exactly what I am looking for, but instead of manually entering the element name, I would like a selection of valid element names based on an at

[2022-02-02 17:17] Oobiewan opened #647 "validation only happens on starting VS code"
When I start VS Code and an xml document is open, it is validated as expected, and problems are thrown where needed. However, if I close the file with problems and then open it again, no validation happens anymore, and no problems are shown. The same way, if I fix problems in a file with invalid structures and the validation does not find any problems anymore, I cannot trigger the validation anymo

[2022-02-02 17:49] angelozerr commented on #647
Could you Shane your xml and dtd please

[2022-02-02 19:48] GitMensch opened #648 "quick fix: add missing child elements"
On the error "child elements are missing from element" (cvc-complex-type.2.4.b) there is "no quickfix available".
It would be nice to have one "add all mandatory elements".

[2022-02-02 19:50] GitMensch commented on #521
That would be really nice - maybe that's possible to add together with the related quick fix #648?

[2022-02-02 19:53] GitMensch opened #649 "error message refers {the schema}"
[code]

I _guess_ that `{the schema}` should contain the actual schemaname, possibly as a link?

[2022-02-03 08:38] angelozerr commented on #521
Indeed it should be nice, but I don't know when we will have time to implement it.

[2022-02-03 08:38] angelozerr commented on #649
Indeed it should be nice, but I don't know when we will have time to implement it. I don't know if Xerces gives the capability to do that.

[2022-02-03 08:39] angelozerr commented on #648
Indeed it should be nice, but I don't know when we will have time to implement it.

[2022-02-03 08:40] angelozerr commented on #631
It should be nice to have this feature, but I don't know when we will have time to implement it.

[2022-02-03 08:44] angelozerr commented on #605
Indeed it should be nice to have that, but I don't know when we will have time to implement it.

I think we should implementing an Emmet engine on XML Language server side to provide emmet support but based on XSD, DTD. It's a very long and hard task.

[2022-02-03 09:32] Oobiewan commented on #647
Thanks for the quick reply. I tested some things and the problem seems to be related to some entity declarations.
An XML file where the validation fails has the following declarations:
`<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.4//EN" "http://www.docbook.org/xml/4.4/docbookx.dtd" [
    <!ENTITY % xinclude SYSTEM "http://www.docbook.org/xml/4.4/xinclude.mod">
    %xinclude;
    <!ENTIT

[2022-02-03 09:54] Oobiewan commented on #647
I have also tried referencing all entity files directly from the XML file instead, but the result is the same, that is, as long as I refer to `%document;` only, validation works if document.ent has not further entity references. Referencing  `%project;` and/or `%company;` in any combination breaks the validation.

[2022-02-03 10:27] Oobiewan commented on #647
Suddenly after restarting VS code (for about the 6th time since I first encountered this error), everything worked perfectly, even though all contents, declarations and references were the same as originally. Another restart of VS code, and everything is back to the previously described problem.

[2022-02-03 11:09] Oobiewan commented on #647
Not sure this is useful but the referenced `xinclude` entity is mapped to a local file with a catalog. The local file has the following contents:
[code]

[2022-02-03 12:38] angelozerr commented on #647
Many thanks @Oobiewan for your detailed information.

I can reproduce the problem. I need some investigation to understand the problem.

[2022-02-03 13:00] angelozerr commented on #647
@Oobiewan it seems http://www.docbook.org/xml/4.4/xinclude.mod is not available?

[2022-02-03 13:08] otichy commented on #605
OK, it seemed simple for a user perspective, since schema based suggestions for tag completion is already implemented, but I know that the developer perspective may be very different here. Thanks for looking into it and perhaps one day!

[2022-02-03 13:27] Oobiewan commented on #647
@angelozerr correct,  http://www.docbook.org/xml/4.4/xinclude.mod  is not available at this specific address, but it is mapped with a catalog file to a local file in the vs code property ` xml.catalogs `.
![image](https://user-images.githubusercontent.com/50614240/152350938-845c8bb1-4f80-4311-9823-8c3b39d166e3.png)
The contents of this catalog file are:
[code]
In a comment above I have copied the

[2022-02-03 13:40] angelozerr commented on #605
The main problem is that Emmet support from vscode is not customizable; we have not the capability to say "hey please provides those given elements"

It means that we must re-implement Emet support inside the XML Language Server which is written in Java (although Emet is written in JS)

[2022-02-03 13:49] Oobiewan commented on #647
One more test I just did confirms that it might be something with the multi-level entity files:
If I merge the contents of `project.ent` and `company.ent` into `document.ent` (and get rid of the declarations and references for those two files), the validation works fine. So it looks like the plugin cannot resolve entity references inside the referenced entity files.

[2022-02-03 14:53] angelozerr commented on #647
Have you set https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#resolve-external-entities to true?

[2022-02-03 15:48] Oobiewan commented on #647
What I either haven't tried before or tried it when there were still other problems with the setup is triggering the re-validation manually with the "Revalidate current XML file" command. Apparently if I trigger this, the validation works properly even with the original setup of the entities. Strangely, if I remove the %document; entity reference, the document is validated in real-time continuousl

[2022-02-03 16:43] otichy commented on #605
Right, that does not sound good. However, I gave the emmet function just as an example of how it should work, but it certainly does not have to be implemented through that. If you could just make VScode wrap an element with an element whose name would be selectable from valid schema based choices, maybe emmet does not have to be involved at all.

[2022-02-03 21:32] angelozerr commented on #647
I have started to fix some errors.

Is it possible to share an XML which elements from xinclude.ent please.

[2022-02-04 12:19] Oobiewan commented on #647
[docbook_entities_xinclude.zip](https://github.com/redhat-developer/vscode-xml/files/8002900/docbook_entities_xinclude.zip)

[2022-02-04 12:39] Oobiewan commented on #647
Not sure if that's also a validation problem or simply a missing feature, but it seems like the plugin cannot handle the references to content within xi:include entities. E.g, if you try to use an `<xref>` in `devd_installing_system.xml` that points to an id that is inside `devd_building_artifacts_windows.xml`, the validation says that the id is missing.

[2022-02-04 15:27] rgrunber commented on #428
Going to close this one for now. The appending to `PATH` seems pretty common for nodejs Jenkins jobs, and I suspect the reason we haven't run into issues is because it has never been made part of a default install. Projects may have different preferences for Node versions, so rather than trying to satisfy them all, the onus is placed on projects to provision the base system with their requirements

[2022-02-04 15:27] #428 closed

[2022-02-04 15:44] rgrunber commented on #105
Closing for now due to infrastructure limitations. We can't build the binaries on Eclipse infra.

Current situation is that the universal (Java) language server is published at https://download.eclipse.org/lemminx/releases/ from https://ci.eclipse.org/lemminx/job/lemminx-release/. However, we also generate a binaries (win/mac/linux) with `-Pnative` from the same build on separate infrastructure. A

[2022-02-04 15:44] #105 closed

[2022-02-04 15:54] rgrunber commented on #338
https://github.com/redhat-developer/vscode-xml/blob/master/docs/Preferences.md#extension-jars -> https://github.com/redhat-developer/vscode-xml/blob/master/docs/Extensions.md#custom-xml-extensions and one of the examples mentions how to use `xml.extension.jars`.

[2022-02-04 15:54] #338 closed

[2022-02-04 16:07] rgrunber commented on #199
Although it isn't a table, https://github.com/redhat-developer/vscode-xml/issues/220 introduced a way to customize the outline view for an XML document. See https://github.com/redhat-developer/vscode-xml/blob/master/docs/Symbols.md for a more detailed explanation.

[2022-02-04 16:15] rgrunber commented on #283
I think the issue here is how much time are we able to dedicate to this. Generally we'll create a [CHANGELOG entry](https://github.com/redhat-developer/vscode-xml/blob/master/CHANGELOG.md), which can be viewed from the installed vsix in VS Code, and we do put some effort into ensuring this is also a document that is understandable for users.

Maybe we could enforce a a rule where for every new fea

[2022-02-07 10:34] angelozerr commented on #647
@Oobiewan I'm working on this issue and I think I have found a solution. For the moment I have created 2 PR to improve a little entities support:

 * https://github.com/eclipse/lemminx/pull/1168#issuecomment-1031309772
 * https://github.com/eclipse/lemminx/pull/1166#issuecomment-1031312385

[2022-02-07 14:10] Oobiewan commented on #647
@angelozerr Sounds fantastic, thank you very much. Looking forward to trying it.

[2022-02-08 15:02] Torsteinws commented on #630
I have the same exact problem. Here is a copy of my trace:

[code]
This pattern seemingly repeats 5 times total, and finally exits with:
[code]

[2022-02-08 15:11] angelozerr commented on #630
@Torsteinws thanks for the trace.

I suspect the problem comes from the use of Java `C:\\Applications\\Atlassian\\atlassian-plugin-sdk-8.0.16\\jre`

@rgrunber have you some idea?

@Torsteinws I suggest that you add in your settings `"xml.server.preferBinary": true`

[2022-02-08 15:15] fbricon commented on #630
looks like C:\Applications\Atlassian\atlassian-plugin-sdk-8.0.16\jre doesn't support the  ExitOnOutOfMemoryError flag, whether the Java version is too old or the JRE generally doesn't support it (which I doubt).

As @angelozerr said, "xml.server.preferBinary": true is a possible solution, alternatively, you can point the "xml.java.home" preference to a more recent version of a JRE/JDK.

[2022-02-08 15:32] Torsteinws commented on #630
Adding `"xml.server.preferBinary": true` to settings solved my problems!

Everything seems to work now. Thank you so much!

[2022-02-08 15:37] fbricon commented on #630
@rgrunber @angelozerr  If the JVM server failed, we should prolly automatically switch to the Binary one, wdyt?

[2022-02-08 16:08] rgrunber commented on #630
Instead of `CloseAction.DoNotRestart` when there's many failed restarts, maybe we could try to set `preferBinary` and issue a `CloseAction.Restart`

[2022-02-08 16:15] Torsteinws commented on #630
I would just like to say from an end user perspective that I found it very difficult to troubleshoot this problem. I would have probably just given up on the extension if I hadn't found help here.

So I think it would be really awesome if you addressed this in some sort of way!  :-)

[2022-02-08 16:40] rgrunber opened #652 "Restart with xml.server.preferBinary when too many crashes occur"
At https://github.com/redhat-developer/vscode-xml/blob/master/src/client/clientErrorHandler.ts#L54 , we respond with `CloseAction.DoNotRestart`, but we now have a binary language server so maybe we should try to set the preference for it and just respond with `CloseAction.Restart`.

[2022-02-08 16:50] rgrunber commented on #630
I have filed https://github.com/redhat-developer/vscode-xml/issues/652 .

Maybe we could include a link to the troubleshooting docs in any fatal errors if you don't already ?

[2022-02-08 17:12] angelozerr commented on #630
@Torsteinws I'm glad you fixed your issue with binary. Your feedback is really valuable for us in order to vscode-xml user are happy with it.

Thanks @rgrunber !

[2022-02-08 20:02] angelozerr commented on #647
@Oobiewan could you last vsix from https://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D and give us feedback if it works better now?

You should have too :

 * https://github.com/eclipse/lemminx/pull/1168#issuecomment-1031309772
 * https://github.com/eclipse/lemminx/pull/1166#issuecomment-1031312385

Please give us feedback if it works and don't hesitate to create detailed issues (I t

[2022-02-08 20:07] angelozerr commented on #647
please create an issue for that.

[2022-02-08 20:08] martin-braun commented on #631
There are really a lot of ways to format. See for instance the way Android Studio does it:

[code]

I would also argue that someone could go for

[code]

for personal preferences like myself. So in conclusion I think we need more variables to fine-tune, something like:

- splitAttributes (true for multiline)
- dontSplitOffFirstAttribute (true to put first attribute in same line)
- dontSplitOffLast

[2022-02-09 03:37] EmilySeville7cfg opened #653 "Where can I create new XSD?"
Where can I find smth like [this repo](https://github.com/SchemaStore/schemastore) but for XSD/DTD?

[2022-02-09 07:28] fbricon commented on #653
See https://github.com/redhat-developer/vscode-xml/blob/master/docs/BindingWithGrammar.md#generate-xsd-from-xml

[2022-02-09 09:54] revollat opened #654 "Error : "Couldn't start client XML Support""
I have this xml and when I open it with vscode I got this error : "Couldn't start client XML Support"
I'm using version v0.18.3 and I checked server:prefer binary in the settings ...
anyone can help me please ?

thanks :)

[code]

[2022-02-09 10:18] angelozerr commented on #654
Could you enable xml trace https://github.com/redhat-developer/vscode-xml/blob/master/docs/Troubleshooting.md#no-support-on-xml-file and share your trace please

[2022-02-09 11:44] Oobiewan commented on #647
Hi @angelozerr , the files are now validated continuously even with the parameter reference in place, thank you. The features in the referenced pull requests also seem to work fine. Thank you.
Unfortunately there is still an error with validating the <xi:include>elements and references that rely on the xi:incude functionality. I'll create separate issues for those then. Thanks again for the improv

[2022-02-09 13:03] angelozerr commented on #647
Fixed with https://github.com/eclipse/lemminx/issues/1169

[2022-02-09 13:03] #647 closed

[2022-02-09 14:21] Oobiewan commented on #175
Hi,
I am also missing support for xi:include. Especially to parse the xml that is included with xi:include and resolve references to it. E.g., the following should not give a validation error if **devd_building_artifacts_windows.xml** contains an element with `id="sectionWindowsArtifactBuild"`.
[code]

[2022-02-09 14:32] Oobiewan opened #655 "Validation fails when xi:include elements are mixed with directly incldued ones"
I have docbook xml content that uses xi:include elements. Validation finds the following correct (which is the expected behavior):
[code]
However, the plugin considers the following invalid :
[code]
This content should also be considered valid, as the files referenced by the xi:include elements are also `<section>` elements.
P.s.: I realized that this is probably simply because xi:include function

[2022-02-09 16:16] rgrunber opened #656 "Automatically publish latest snapshot build on Release page"
We can publish our latest snapshot on the releases page under some tag like `latest`, and as a `pre-release`, using https://github.com/marvinpinto/action-automatic-releases .

Thanks to @fbricon for investigating this.

[2022-02-10 14:10] vcioffi opened #657 "Crash Extension host (LocalProcess) terminated unexpectedly. Code: 134, Signal: null"
Issue Type: <b>Bug</b>

Just using the Editor

Extension version: 0.18.3
VS Code version: Code 1.64.1 (d6ee99e4c045a6716e5c653d7da8e9ae6f5a8b03, 2022-02-07T17:16:22.147Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (8 x 2112)|
|GPU Status|2d_canvas: enabled<br>gpu_composit

[2022-02-10 15:26] angelozerr commented on #657
Could you enable xml trace https://github.com/redhat-developer/vscode-xml/blob/master/docs/Troubleshooting.md#no-support-on-xml-file and share your trace please

[2022-02-15 10:14] angelozerr commented on #175
I don't know if it's easy to support xi:include.

[2022-02-15 14:49] Dr-Ogden-Wernstrom opened #662 "XSD Closing Tag to Multi-line Element is Justified Fully Left"
When formatting an XSD while this extension enabled the closing tabs of multiline elements are pulled to column 0.

Eg.
[code]

[2022-02-15 19:47] angelozerr commented on #662
Indeed our formatter have some trouble with spaces. We must rewrite this formatter.

[2022-02-16 22:34] ris58h opened #665 "Fold closing tags too"
For now folding regions don't contain closing tags. By folding them too we could save screen space and increase readability of big XML files such as `pom.xml`.

Actual behavior
<img width="196" alt="Screenshot 2022-02-17 at 01 26 01" src="https://user-images.githubusercontent.com/511242/154368407-4d234e2a-6b27-4810-8b26-f1f3d464ae00.png">

Desired behavior
<img width="196" alt="Screenshot 2022-02-

[2022-02-17 20:34] AL1L opened #666 "Add option to split Attributes only if the line length is too long"
I have something like this

[code]

and I really only want to split the attributes if the line length is >120 so the output would be

[code]

My proposed solution is to allow `xml.format.splitAttributes` to accept an integer to specify the length required for the attributes to be split. Otherwise I think it's just ugly and harder to read, especially when the attributes are very short and there's o

[2022-02-18 18:10] amasino opened #667 "Support for nested DTDs"
Does the extension support the use of nested DTDs?  For instance, I have a .dtd file including the following declarations:

<!ENTITY % part1 SYSTEM "part1.mod">
<!ENTITY % part2 SYSTEM "part2.mod">

%part1;
%part2;

The motivation for this is to factorize common definitions for different xml grammars.

[2022-02-21 16:32] angelozerr commented on #665
Close for https://github.com/eclipse/lemminx/issues/1178

[2022-02-21 16:32] #665 closed

[2022-02-21 20:03] angelozerr commented on #667
@amasino can you manage your nested dtd like you wish? If yes can we close the issue?

[2022-02-21 20:04] angelozerr commented on #666
Indeed it should be nice but we need to redo from scratch our formatter to support line width

[2022-02-21 20:06] angelozerr commented on #657
Could you try with 1.9.1 if you have the same problem?

[2022-02-21 20:35] amasino commented on #667
yes, it worked like a charm! Thanks!

[2022-02-21 20:59] angelozerr commented on #667
Great! Thanks for your feedback.

[2022-02-21 20:59] #667 closed

[2022-02-24 21:15] DaWolfi opened #668 "Unwanted autocompletion"
Every time I start typing in an empty string or at the end of a string, an autocompletion window opens with filenames of the directory, which contains the file in use:

![image](https://user-images.githubusercontent.com/26442759/155608294-e943d6ca-c81a-493b-ac39-e5505c07f749.png)

If I disable the XML extension this autocompletion doesn't show up any more.

Can anybody please help me to disable th

[2022-02-25 14:52] angelozerr commented on #668
Its not possible to disable it. We need to provide a settings for that like xml.completion.fileSupport

@fbricon what do you think about that?

[2022-02-25 15:07] fbricon commented on #668
Agree, we need a setting

[2022-02-25 16:26] angelozerr commented on #668
What about xml.completion.fileSupport.enabled?

@AlexXuChen are you interested to work on this issue?

[2022-02-25 17:20] DaWolfi commented on #668
Thanks for your quick support guys, great extension!

[2022-02-28 14:17] AlexXuChen commented on #668
@fbricon What should the default behaviour be for this setting?

[2022-02-28 14:21] fbricon commented on #668
I'd say it could support boolean (true by default) and file glob patterns.

[2022-02-28 14:32] fbricon commented on #668
@DaWolfi  I don't understand how you get file name completion though, from your picture. It should only kick in if you start the attribute value with `/` or `\`  or `.`

[2022-02-28 14:43] fbricon opened #669 "Auto-create quotes after inserting the `=` sign after an attribute"
Same as the HTML language support:
![Feb-28-2022 15-40-59](https://user-images.githubusercontent.com/148698/156002545-400ba89d-c232-450e-bc67-e464c201069f.gif)

Should honor the `xml.preferences.quoteStyle` setting.

[2022-02-28 17:11] angelozerr commented on #668
Instead of having only glob patterns I think we should have xpath too exactly like we have for symbole filters.

All mechanism already exists (perhaps with some refactoring)

[2022-02-28 17:12] angelozerr commented on #668
With xpath I mean we could write @path to allow file completion for path attribute

[2022-02-28 17:42] DaWolfi commented on #668
@fbricon : I also thought that it should work this way, but even though I disabled all other extensions, the result is always the same.

[2022-02-28 17:53] fbricon commented on #668
@DaWolfi can you set the  "xml.trace.server" preference to "verbose" and give us the logs from the "XML Support" Output channel, from startup to file name completion

[2022-02-28 19:19] DaWolfi commented on #668
[Trace.log](https://github.com/redhat-developer/vscode-xml/files/8156065/Trace.log)

Here you are...

[2022-03-01 16:51] m-1tZ opened #671 "Improve DTD/XSD security with regard to remote resources"
# Issue
While testing for an XXE vulnerability in an application, I noticed a strange behavior from my VSCode. I could trace this back to your VSCode extension (XML Language Support by Red Hat) which executes my `payload.dtd` when opened in trusted mode or within a trusted project, and leaked my own files to my web server. The DTD payload can be seen in the following:
[code]

# Execution
The file

[2022-03-01 17:19] angelozerr commented on #671
At first which vesion of vscode xml are you using?

We fixed several xxe issues in 1.9.1.

If I understand correctly you are not in unstruted workspace context. So you could have some xxe issues. If you are in unstrusted it should never load your dtd from system and external entities.

In trusted workspace it should download only dtd in system but not from external entities except if you have set

[2022-03-01 17:20] fbricon commented on #671
I understand the problem, but the keyword here is "trusted". You already trust the workspace to behave properly. Do you expect another level of trust to prevent remote queries to be performed? (which you can disable with by setting the "xml.downloadExternalResources.enabled" preference to "false")

[2022-03-02 12:03] m-1tZ commented on #671
I'm running the latest version of this extension, which means `v0.19.1`. I totally agree with you @fbricon and the "trusted" keyword here, but a project can be classified as trustworthy quite quickly. Since there is an option "xml.downloadExternalResources.enabled" to turn this behavior off, should it not be turned off by default? An opt-in approach seems for me the better approach for such major

[2022-03-02 12:15] angelozerr commented on #671
Turning by default "xml.downloadExternalResources.enabled` means that you will loose all fetaures based on XSD/DTD (XML completion based on XSD/DTD, XML validation based on XSD/DTD, etc), in other words you will benefit with few features like XML syntax validation.

Your case is about external entities which shoule be managed with `xml.validation.resolveExternalEntities` which is set to `false` by

[2022-03-02 12:37] m-1tZ commented on #671
My server is still called no matter if the `xml.validation.resolveExternalEntities` is `false` or `true` @angelozerr . The only way my server is not called is with `xml.downloadExternalResources.enabled` set to false. Nevertheless, I did not adjust the settings, which means this file read is possible by default, no matter what settings were set here.

[2022-03-02 12:55] angelozerr commented on #671
Thanks for your feedback. I need to understand why url is called.

I  wonder if the file is downloaded in lemminx cache or if this call is just to check the existing of the url.

[2022-03-04 08:20] angelozerr commented on #669
I think the HTML ls manages this usecase with the closeTag custom request (they does some refactoring to manag eclose tag and quotes). We must allogn our closeTag request with the HTML LS.

[2022-03-04 16:40] rgrunber commented on #656
With https://github.com/eclipse/lemminx/pull/1184, we'll have snapshots published to a URL like `https://github.com/eclipse/lemminx/releases/download/latest/lemminx-${platform}` . We can then use that as the [`binaryServerDownloadUrl`](https://github.com/redhat-developer/vscode-xml/blob/master/package.json#L21-L25), and then we just need to publish release snapshots for the vsix here.

[2022-03-04 18:14] angelozerr commented on #671
@m-1tZ I work on this issue, see https://github.com/eclipse/lemminx/pull/1183#issuecomment-1059403147

[2022-03-08 15:19] piejanssens opened #674 "Formatting too soon -"
1. Open *.xml file with VS Code
2. Format file using SHIFT + ALT + F
3. OMG my XML formatter is broken? 😨

![image](https://user-images.githubusercontent.com/829098/157265938-b7450a5f-6223-464d-ae49-36e77c095395.png)

4. Cancel and be patient, repeat formatting
5. At around 1m15, different misleading popup 😨

![image](https://user-images.githubusercontent.com/829098/157266778-92a80475-423d-4972-a3

[2022-03-08 15:24] angelozerr commented on #674
Those popup are manage by vscode himself.

Are you using `emx` file as extension file?

[2022-03-08 15:28] piejanssens commented on #674
Once I wait long enough, it formats all xml files I throw at it nicely.

[code]

[2022-03-08 15:35] angelozerr commented on #674
It seems that it's the same problem than https://github.com/microsoft/vscode/issues/90507

[2022-03-08 15:36] piejanssens commented on #674
What about redhat.vscode-xml startup time. Is this normal?

[code]

[2022-03-08 16:14] piejanssens commented on #674
Not sure, but I think the "load code" column shows the actual startup time for the extension and the "finish activate" is the moment that the extension has become ready overall.

Here I have disabled my slowest extension `esbenp.prettier-vscode` and opening a single small xml file with empty workspace:

## System Info

* Code: 1.65.0 (b5205cc8eb4fbaa726835538cd82372cc0222d43)
* OS: win32(10.0.1904

[2022-03-12 14:05] joe914 opened #675 "Exception when "XML: Revalidate all opened XML files""
[Info  - 10:00:38]  12, 2022 10:00:38 org.eclipse.lemminx.XMLLanguageServer initialize()
Message: Initializing XML Language server
LemMinX Server info:
 - Version : **0.19.1**
 - Java : C:\Program Files\Java\jre1.8.0_321
 - VM Version : **1.8.0_321**
 - Git 6059965 - [maven-release-plugin] prepare release 0.19.1
[Error - 10:00:50]  12, 2022 10:00:50 org.eclipse.lsp4j.jsonrpc.RemoteEndpoint fallbac

[2022-03-13 04:12] joe914 opened #676 "Cannot use xsd to validate xml file"
All files are in the same directory.

The extension is enabled, but no error in foo.xml and foo2.xml  ???

![1647145235(1)](https://user-images.githubusercontent.com/93459145/158044918-a791dd35-3333-4c5d-adf8-9d0b406f4559.png)

[2022-03-13 04:46] angelozerr commented on #675
I cannot reproduce it.

Coul you explain how you obtain this error. I have the impression thatyou try to revalidate all xml files when XML language server is starting.

[2022-03-13 08:13] angelozerr commented on #676
Do you benefit with syntax validation? Ex the start and end tag are not the same

[2022-03-13 08:58] joe914 commented on #676
@angelozerr Thanks for your immediate response. It's ok two months ago and just now I tried the older vscode(vesion 1.63.2).

1. Extension works OK for foo.xsd, but failed for foo.xml and foo2.xml:
![1647161608(1)](https://user-images.githubusercontent.com/93459145/158052359-2429eecd-57d7-4880-b398-9134df5dab43.png)

2. The following processs is running:
c:\Users\user\.vscode\extensions\redhat.vsc

[2022-03-13 09:12] joe914 commented on #676
continued(vscode v1.162.3 and extension v0.19.1)

I tried many times, extension is ok if(either):
1. disabled when startup vscode: enable extension
2. enabled when startup vscode: disable extension, reload vscode, enable extension

next: I will upgrade vscode to the new version and try again.

[2022-03-13 09:47] joe914 commented on #676
vscode v1.64.2 / extension v0.19.1, vscode v1.64.2 / extension v0.18.0 are the same as above (vscode v1.62.3 and extension v0.19.1, only work when enable again after startuping vscode ).

This extension always failed to work when using the latest vscode v1.65.2, even after disabled/reload/enable.

[2022-03-13 09:53] angelozerr commented on #676
Many thanks for your detailed feedback.

Could you enable xml trace https://github.com/redhat-developer/vscode-xml/blob/master/docs/Troubleshooting.md#no-support-on-xml-file and share your trace please

[2022-03-13 10:30] joe914 commented on #676
version: vscode v1.64.2 / extension v0.18.0
[enabled_when_startup_vscode(failed).txt](https://github.com/redhat-developer/vscode-xml/files/8239342/enabled_when_startup_vscode.failed.txt)
[enable_after_startup_vscode(ok).txt](https://github.com/redhat-developer/vscode-xml/files/8239343/enable_after_startup_vscode.ok.txt)

[2022-03-13 10:40] joe914 commented on #676
version: vscode v1.65.2 / extension v0.18.0 ( "xml.server.preferBinary": false)
[enabled_when_startup_vscode(failed v1.65.2).txt](https://github.com/redhat-developer/vscode-xml/files/8239362/enabled_when_startup_vscode.failed.v1.65.2.txt)
[enable_after_startup_vscode(failed v1.65.2).txt](https://github.com/redhat-developer/vscode-xml/files/8239363/enable_after_startup_vscode.failed.v1.65.2.txt)

[2022-03-13 11:38] joe914 commented on #675
I cannot reproduce it and closed it. Thanks.

[2022-03-13 11:38] #675 closed

[2022-03-13 14:42] angelozerr commented on #676
I'm a little lost I tried with vscode 1.65.2 and vscode-xml 0.19.1 and it seems it's working well.

Could you give me the XML/XSD content that you are trying please in the issue.

[2022-03-13 14:59] angelozerr commented on #676
I have the impression that didOpen of your foo.xml is never called?

[2022-03-13 18:27] angelozerr commented on #676
Do you think you could have some other installed xml extension. The main problem that I see is that didOpen is never called for xml file. After that you have à lot of bugs like diagnostics is not done when you open the xml file.

Xsd have disOpen request it is the reason why it works properly.

It us the reason why I suspect an another vscode extension which forbids didOpen

[2022-03-14 02:14] joe914 commented on #676
Find the cause of the prolem, the following setting in vscode setting.json:
  "files.associations": {
    "*.xml": "html"
  },

It will be ok after the above setting is removed, even for vscode v1.65.2.

@angelozerr Thank you very much for your help.

[2022-03-14 02:43] joe914 opened #677 "Does vscode-xml support display all optional attributes when editing an element?"
In xsd files, element defines many optional attributes (having default value).

Does vscode-xml support display all optional attributes when editing an element, without inputing the first charactor of attribute's name? I cannot find the related setting.

[2022-03-14 05:04] #676 closed

[2022-03-14 05:06] angelozerr commented on #677
Sorry I don't understand very well. You mean completion? If you do Ctrl+Space you should see allowed attributes (optional and no optional).

[2022-03-14 06:29] joe914 commented on #677
@angelozerr  Yes

On Windows，Ctrl + Space probably conflicts with other applictions. Ctrl +I works for me on Windows:

![image](https://user-images.githubusercontent.com/93459145/158117060-173523b1-b47d-470f-a963-9e9ca0c79334.png)

Thank you.

[2022-03-14 06:29] #677 closed

[2022-03-17 13:48] anthonyvdotbe opened #678 "Format on save is unconfigurable"
Expected: the extension honors the global `editor.formatOnSave` setting (or has a setting of its own which defaults to the value of the former, but I couldn't find such setting)
Actual: XML gets formatted on save, and there's no way for me to turn off this unwanted behavior

[2022-03-21 14:27] lunarwtr opened #679 "XSD with enumeration restriction with 1000+ entries fail type assist"
If I create an XSD with enumeration restriction with 1000+ entries.  Then go to use that schema on xml file.. The autocomplete gets stuck at "Loading ..." forever.

[2022-03-21 16:21] lunarwtr commented on #679
Bug occurs when it is like this..
![image](https://user-images.githubusercontent.com/9368775/159304910-ea97fdab-20af-4662-8e4e-299321de800d.png)

If you let autocomplete happen on attribute ArtAssetI...  it then works
![image](https://user-images.githubusercontent.com/9368775/159305088-9af456dc-d727-4bbf-83e9-9ca8cd0cb9ad.png)

[2022-03-21 16:22] lunarwtr commented on #679
[example.zip](https://github.com/redhat-developer/vscode-xml/files/8317207/example.zip)

attaching sample project

[2022-03-21 16:24] fbricon commented on #679
@lunarwtr the interesting part is your xsd with 1000+ enum, that we need to understand the issue

[2022-03-21 16:36] lunarwtr commented on #679
I want to provide restriction on the values for that attribute. There is a limited set.

What interesting is it instantly Loads the enumeration if I select autocomplete (before it gets to equal sign)..

![image](https://user-images.githubusercontent.com/9368775/159310614-2b6ed131-7136-446e-bf6f-a77da2f3eba7.png)

[2022-03-21 18:06] fbricon commented on #679
sure, now if you could please attach your xsd, that'd help

[2022-03-21 18:46] angelozerr commented on #679
@fbricon the XSD is included inside th eexample.zip. I can reproduce it.

The main problem is that completion takes too many times to compute list of enumeration with text edit. A possible solution should be support completion/resolve and compte the textedit only if needed.

[2022-03-21 18:51] angelozerr commented on #679
Thanks for the feedback, I think it's because the JSON response from completion contains documentation and textedit which is a very big JSON. compeltion/resolve could be a solution.

[2022-03-21 19:15] lunarwtr commented on #679
thank you @angelozerr

[2022-03-22 09:48] jawn opened #680 "Support vscode.dev - Visual Studio Code for the Web"
## Steps to reproduce

1. Go to [vscode.dev](https://vscode.dev)
2. Locate the XML extension.
3. Try to install

## Expected result
- Extension can be installed

## Actual result:
- Message 'The 'XML' extension is not available in Visual Studio Code for the Web
![image](https://user-images.githubusercontent.com/1705112/159452727-46083ed4-700b-4c7d-ac2f-e2da76ebe339.png)

## More info

[vscode.dev]

[2022-03-22 10:11] fbricon commented on #680
vscode-xml relies on a language server based on Java, that can't run in a sandboxed browser. So this is unlikely to happen in a very long time

[2022-03-23 01:15] joe914 opened #682 "Command “XML: Revalidate the current XML file” always succeeds even though there is error"
Command “XML: Revalidate  the current XML file” always succeeds even though there is error.

Pls refer to the following screenshot:

![Revalidate  the current XML file](https://user-images.githubusercontent.com/93459145/159602622-8519930b-08ed-4eb2-80ea-3973a1235317.png)
[foo.zip](https://github.com/redhat-developer/vscode-xml/files/8329489/foo.zip)

[2022-03-23 01:20] joe914 commented on #682
I need to validate the current xml file and then do something else.

I got the same result when calling the "xml.validation.current.file" command in js:

    // call command "xml.validation.current.file" directly
    const command="xml.validation.current.file"
    let result=await vscode.commands.executeCommand(command)
    console.log(result); // **undefined**

    // call command "xml.workspace.

[2022-03-23 01:30] joe914 commented on #682
It's better to return true if succeeded or false if failed.

The following snippet is excerpted from the XML extension source:
  // Revalidate current file
  context.subscriptions.push(commands.registerCommand(ClientCommandConstants.VALIDATE_CURRENT_FILE, async (params) => {
    const uri = window.activeTextEditor.document.uri;
    const identifier = TextDocumentIdentifier.create(uri.toString());

[2022-03-23 04:56] angelozerr commented on #682
This command remove some cache and retrigger the diagnostics publish and return true if this process occured with no errors (ex: the cache cannot be removed for some reason the command will return the error)

I have the impression that you need to know if the current file have diagnostic errors. To do that I suggest you see the vscode api to coĺlect diagnostics from a given editor

[2022-03-23 06:52] joe914 commented on #682
@angelozerr Thanks for the idea.

I get the solution:

    const uri = vscode.window.activeTextEditor.document.uri;
    const diagnosticses = vscode.languages.getDiagnostics();
    const checkFlag = diagnosticses.every((d) => d[1] && d[1].length <= 0);
    if (checkFlag) {
      vscode.window.showInformationMessage("succedded");
      return true;
    } else {
      vscode.window.showInformationMe

[2022-03-23 07:28] angelozerr commented on #682
Nice! I suggest that you filter the diagnostics with `d.source === 'xml'` to collect only XML diagnostics .

Can we close the issue?

[2022-03-23 07:48] joe914 commented on #682
@angelozerr Yes.  Thanks for your addvice.

[2022-03-23 08:11] #682 closed

[2022-03-23 10:13] gidmoth opened #683 "schema-for-xslt30.xsd is considered non valid"
Hi, I'm not sure if this is a schema-validation error, or an actual error in the schema, but the extension can't verify my xsl (version 3.0) due to errors in the schema. To reproduce, try this xsl:

[code]

The Extension seems to get the right schema from the Internet, but underlines the first "xsl:transform" in red, when you hoover over it, it says:

[code]

I tried downloading the schema from he

[2022-03-23 10:46] angelozerr commented on #683
It's because the xsl 3.0 requires xsd 1.1, but the official xerces doesnt support it.

I created a draft PR with xsd 1.1 https://github.com/eclipse/lemminx/pull/515but it doesn't use the official xerceslibrary which is really annoying.

I fear that we cannot support it today.

[2022-03-23 11:26] #683 closed

[2022-03-23 12:30] beMananas commented on #585
Is there already information here if/when this could be fixed?

[2022-03-23 12:34] angelozerr commented on #585
No sorry we must redo our formatter to fix this kind of problem

[2022-03-24 21:50] nblyumberg opened #684 "Outline Formatting not working as expected"
I am attempting to customize the outline view for XML files however, it does not appear to be working as expected. What I see after making my modifications...
![image](https://user-images.githubusercontent.com/17443495/160016244-42791a40-7c7e-4cd6-8fab-108292a235d4.png)

I customized the settings.json and I reopen the file every time I update the settings.json
`{
   "editor.fontSize": 14,
   "edit

[2022-03-25 05:39] angelozerr commented on #684
I don't understand your XML sample. In your screenshot you show proces, rule, condition, where are those elements in your XML sample?

[2022-03-25 13:27] nblyumberg commented on #684
![image](https://user-images.githubusercontent.com/17443495/160129022-c526eb61-cba9-41c3-9b3b-f1ca8727234e.png)

I would expect the Outline to be populated with the names as this XPath test from FreeFormatter shows:
Attribute='name=my process'
Attribute='name=check condition'
Attribute='name=check condition2'
Attribute='name=Main'
Attribute='name=PreProcess'
Attribute='name=PreProcess'
Attribute='

[2022-03-25 15:24] fbricon commented on #684
try with `"pattern": "**/*.{bpml,xml}",`
[code]

[2022-03-25 15:27] fbricon commented on #684
<img width="1645" alt="Screenshot 2022-03-25 at 16 27 26" src="https://user-images.githubusercontent.com/148698/160150952-bb0e6f36-bf04-4c8a-8391-1cc4051eaf11.png">

[2022-03-25 17:06] nblyumberg commented on #684
Thank you, this worked...Can you explain why the directory boundry option is necessary with the extra **/ change?

[2022-03-25 17:25] angelozerr commented on #684
Indeed it can be annoying, perhaps we could allow to write only `*.xml`

[2022-03-26 00:51] nblyumberg commented on #684
@angelozerr I think an update to the documentation here:
https://github.com/redhat-developer/vscode-xml/blob/master/docs/Symbols.md#xmlsymbolsfilters

to explain the current behavior would be greatly helpful. I went by the example in that documentation where the pom.xml and bean*.xml are shown without the directory boundry configuration so I assumed *.bpml or *.xml would work that way as well.

[2022-03-26 08:36] angelozerr commented on #684
I totally agree with you. We need to update document. Is there any chance that you create a PR for that?

I will study why only *.xml is not working

[2022-03-29 07:47] #671 closed

[2022-03-30 12:16] #684 closed

[2022-04-01 03:01] jmu201621143028 opened #690 "After a tag is collapsed, the content of the entire tag cannot be deleted"
This function was normal before,I'm not sure if something was updated that is preventing it from working.
![image](https://user-images.githubusercontent.com/46437566/161186363-75599a37-fe10-4bd9-a000-9ba39e9e1c6b.png)
I hit the **Backspace** key
![image](https://user-images.githubusercontent.com/46437566/161186508-f99b9b27-e109-4ceb-b0e7-6412ca0535c2.png)
I was expecting to delete the content of t

[2022-04-01 06:50] fbricon commented on #690
mmm might be caused by #665, since folding now only displays the opening tag.

[2022-04-01 07:48] angelozerr commented on #690
Indeed it's the cause of this problem. I noticed that vscode doesn't support this usecase, seemy comments at https://github.com/microsoft/vscode/issues/3352#issuecomment-1085543997

By waiting for a fix from vscode, here several solutions:

 * keep like this and mention this limitation to the README
 * remove this unfold of last line
 * provide a settings for folding last line.

I think the last s

[2022-04-03 21:37] robp-tw opened #691 "How to exclude <literallayout> blocks from being indented?"
When I format XML content with this extension activated/configured, it indents `<literallayout>` blocks. This is not advantageous, as it results in indented content where there should be none. Is there a setting to turn this off or some kind of (un)documented workaround? Thanks much!

[2022-04-03 22:23] angelozerr commented on #691
Today it's not possible but it should be nice to provide this feature.

[2022-04-05 08:42] thmspl opened #692 "XML formatter reverts changes after formatting"
I'm using the XML Formatter together with VS Code Online. When I format the XML code the last saved changes will be reverted.

Is this a problem with vs code online?

[2022-04-05 09:03] IdanHo opened #693 "DTD files defined via `xml.fileAssociations` not used as fallback for DOCTYPE SYSTEM"
In previous versions (18.1 was the last one I know worked to be exact) when the DTD defined in the `DOCTYPE SYSTEM` statement in the xml file was not available, the DTD file defined to be associated with the xml file via the `xml.fileAssociations` vscode setting was used as fallback instead, but in the latest version that's not the case anymore, e.g. I have to remove the DOCTYPE statement for auto

[2022-04-05 09:19] fbricon commented on #692
vscode-xml is not compatible with vscode online, so that must be caused by something else
<img width="724" alt="Screenshot 2022-04-05 at 11 18 54" src="https://user-images.githubusercontent.com/148698/161722222-b383e6fc-a411-4119-88c3-24e65cdc742e.png">

[2022-04-05 09:22] angelozerr commented on #693
Could you give us a sample please (XML, DTD and settings).

[2022-04-05 09:31] thmspl commented on #692
Is it planed to make it available for the web version?

[2022-04-05 09:46] IdanHo commented on #693
VSCode settings:
[code]
XML file (at `${workspaceRoot}/test.xml`):
[code]
DTD file (at `${workspaceRoot}/test_dir/test.dtd`):
[code]
With this configuration, auto-completion of the 'attribute' field does not work.

[2022-04-05 11:01] angelozerr commented on #692
I fear that it's not possible since vscode-xml is based on teh LemMinX XML Language Server written in Java.

[2022-04-05 11:03] angelozerr commented on #693
Why are you using DOCTYPE and file association both? The main idea of file association is to not declare binding to the XSD, DTD inside XML. In your case you declare the binding with DOCTYPE.

If it's a matter of file path, I suggest that you use catalog.xml

[2022-04-05 12:18] IdanHo commented on #693
The issue is that these are legacy XML files I can't edit, so I can't use a catalog either (if I could edit them I would have just removed the DOCTYPE), do you know why the fallback was removed?

[2022-04-05 12:27] angelozerr commented on #693
To be honnest with you, I don't know, bu we had a lot of stuff about download of external XSD,DTD resources, perhaps we have broken someting. Let me study more your issue.

[2022-04-06 15:09] lunarwtr opened #696 "Large XML Files crash language server"
I would like to see the vscode extension have a configuration to prevent loading & subsequently crashing due to large xml files.  If a file is greater than a defaulted size.. don't try to send to language server and show a message perhaps show a vscode notification as to why.

[2022-04-06 16:42] angelozerr commented on #696
This feature should be part in vscode-languageclient  https://github.com/microsoft/vscode-languageserver-node I think.

[2022-04-07 14:37] #678 closed

[2022-04-08 15:43] #656 closed

[2022-04-14 17:20] angelozerr commented on #691
I'm working on experimental formatter at https://github.com/eclipse/lemminx/issues/1195 and I think I could support this feature.

[2022-04-16 03:44] JuneStepp opened #698 "externalXmlSettings.xmlFileAssociations not used in getXMLSettings"
It looks like getXMLSettings doesn't use external XML file associations, causing that part of the Typescript API to be broken.

Currently, the code is:
[code]

when it probably should be something like:
[code]

This was the only way I was able to get the addXMLFileAssociations function of the API to work, but please tell me if I'm just missing something. I have practically no experience with types

[2022-04-16 04:14] JuneStepp commented on #698
Looks like the right code was there in the original pull request but got lost here: https://github.com/redhat-developer/vscode-xml//commit/72cce613494b149fec2d79fe5de81409c5c6db3f when another feature was added.

[2022-04-18 06:56] idkman2021 opened #700 "Add option to increase heap maximum in OOM notification"
I need to give the thing more memory.
It says "go to xml.server.vmargs and add -Xmx1G.
I search for xml.server.vmargs in settings and press Edit in settings.json
![image](https://user-images.githubusercontent.com/76593873/163768518-ac5d1d37-8dec-4862-8fa6-013971b420dc.png)
thats what the file looks like
![image](https://user-images.githubusercontent.com/76593873/163768548-c149376d-d141-45f3-b614-2

[2022-04-18 16:49] angelozerr commented on #700
Are you in untrusted workspace?

Have you tried to write the settings at hand?

[2022-04-19 08:28] ralphcallaway opened #702 "Unable to associate external xml catalog (xsd) (user error?)"
First off, thank you for all your amazing open source contributions. I appreciate all the development time you've put into and the time you spend reading these issues. Fingers crossed I've got all the info you need.

I work on Salesforce projects which have a ton of random xml files, which generates a ton of error noise. I'd love to replace that noise with actual validation and auto-complete if it

[2022-04-19 08:28] ralphcallaway commented on #702
on further inspection, maybe this is related to #698 and #699?

[2022-04-19 08:41] angelozerr commented on #702
Just a Quick question. Metadata.xsd is a xml schema not a xml catalog, no?

[2022-04-19 08:48] ralphcallaway commented on #702
i seem to be getting closer with the following

[code]

it appears to be getting cached and loaded, although it's still flagging the element the root "CustomField" as invalid, apologies if my xml knowledge is a bit weak, i'm one of those millenial json schema guys (╯°□°）╯︵ ┻━┻

[2022-04-19 08:48] fbricon commented on #702
try referencing the raw file: `https://raw.githubusercontent.com/forcedotcom/idecore/master/com.salesforce.ide.api/schema/metadata.xsd`

[2022-04-19 08:49] angelozerr commented on #702
At first you should create a valid xml catalog which références your xsd like your metadata.xsd.

And after that you référence the created local xml catalog file. I dont know if xml catalog coming from http is working.

[2022-04-19 08:50] ralphcallaway commented on #702
oh wild, thought i had the raw uggh, too late, i'll play with this a bit more

[2022-04-19 08:53] angelozerr commented on #702
You must choose between file association and xml catalog and not use the both.

I think xml catalog can be used in your usecase since your xml have a namespace. So  you can write à xml catalog which bind the namespace with the proper metadata.xsd

[2022-04-19 09:02] ralphcallaway commented on #702
i'll give it a go, one thing I did notice the hover for `xml.fileAssociations[*].systemId` says "The path or URL to the XML schema (XSD or DTD)."

regardless, just thought I'd flag in case the intention was for the fileAssociations to support URLs to xsd

doing some learning on xml catalogs to try and take that route (guessing that's what #698 and #699 will address when merged

[2022-04-19 09:16] ralphcallaway commented on #702
secondary issue .... i'm working off an old schema (seems like they've given up on publishing them for a while), just happened it's missing "CustomField" as an element type even though it's there as a complex type that can be referenced in say CustomObject.

Thanks for this. I'm seeing auto-complete and it appears to be working provided the xsd actually includes stuff as an element, I can incorpor

[2022-04-19 09:16] #702 closed

[2022-04-19 10:46] idkman2021 commented on #700
sorry I am not sure what that means, how do I know if I am in untrusted workspace and how do I try to to write the settings at hand? I sometimes notice there is a blue notification saying something about untrusted workspace, but it doesn't appear when I try to edit this setting.

[2022-04-19 11:39] angelozerr commented on #700
I suggest that you read https://code.visualstudio.com/blogs/2021/07/06/workspace-trust

[2022-04-19 12:26] idkman2021 commented on #700
i disabled the trust and nothing changed

[2022-04-19 12:37] idkman2021 commented on #700
![image](https://user-images.githubusercontent.com/76593873/164005578-13a24864-5ffd-4ed6-a8ee-54c5774ef838.png)
![image](https://user-images.githubusercontent.com/76593873/164005594-f7a0523f-55a2-434f-ac8f-6ab2da121b6b.png)
it doesn't like it no matter how i put it

[2022-04-19 12:38] idkman2021 commented on #700
It doesn't like it no matter how i put it
![image](https://user-images.githubusercontent.com/76593873/164005686-0cd8fb20-7734-4628-8ae5-5f722561333d.png)
![image](https://user-images.githubusercontent.com/76593873/164005709-85e0ee8a-fc87-4c66-bb9b-19372fa28830.png)
![image](https://user-images.githubusercontent.com/76593873/164005743-b9d83669-a197-4ced-8cd4-6008b3330c11.png)

[2022-04-19 12:39] fbricon commented on #700
looks like vscode-xml is not installed/active on your machine

[2022-04-19 12:41] fbricon commented on #700
Ctrl+Space after xml.server.vmargs.
Eventually it should look like "xml.server.vmargs":"-Xmx1G", once you configure it

[2022-04-19 12:42] idkman2021 commented on #700
it definitely is intalled because i am currently using it
![image](https://user-images.githubusercontent.com/76593873/164006409-0ebf3e71-bd1b-49d2-b8b7-e663682f06e7.png)

[2022-04-19 12:45] idkman2021 commented on #700
where do i put it?

[2022-04-19 12:47] fbricon commented on #700
towards the end of the settings.json file for instance, before the closing bracket.

[2022-04-19 17:30] ralphcallaway commented on #702
well nothing like starting with an outdated xsd and a recent wsdl and trying to work those into a recent xsd, but got it done and it's working. thank you @angelozerr for all the pointers :)

[2022-04-25 14:27] rgrunber opened #705 "Avoid re-publishing of identical LemMinX binaries in GH Actions"
Currently, we publish daily builds of the LemMinX binary to the [releases](https://github.com/redhat-developer/vscode-xml/releases/tag/latest) tab :

https://github.com/redhat-developer/vscode-xml/actions/workflows/native-image.yaml

The code comes from eclipse/lemminx but it would be nice to publish only on newly pushed commits. The problem is GH Actions doesn't seem to have a nice way to listen

[2022-04-28 08:33] fbricon commented on #666
@angelozerr  duplicate of #350 ?

[2022-05-01 03:28] AL1L commented on #666
@fbricon looks like it's so, same problem, different proposed solution. Although I think 350 has two issues in one, respecting `.editorconfig`, and formatting based on max line length. I'll close as a duplicate

[2022-05-01 03:28] #666 closed

[2022-05-09 07:57] angelozerr commented on #696
@lunarwtr could you share your big XML please.

[2022-05-09 07:59] angelozerr commented on #653
No answer, if the answer of @fbricon is not enough please reopen the issue.

[2022-05-09 07:59] #653 closed

[2022-05-09 08:01] angelozerr commented on #654
@revollat could you try with last vesion of vscode-xml? If you have again the problem could you share your traces please.

[2022-05-09 14:27] lunarwtr commented on #696
I don't expect it to provide language support on a file so big.. I'd expect language server to bail out since a limit has been reached.  Instead it crashes and won't relaunch until vscode restarted.

[2022-05-09 15:23] angelozerr commented on #696
I can open it without crash and outline is filled too. Are you editing (type some content) this file to crash the language server?

[2022-05-09 15:31] lunarwtr commented on #696
crashes immediately on loading file.  Ensure you haven't' customized language server settings (i.e. greater memory etc.)  Just default settings upon extension install.

![image](https://user-images.githubusercontent.com/9368775/167444593-29d8e5ff-4bd2-47d2-a443-41614d14dd2f.png)

[2022-05-09 15:44] fbricon commented on #696
Yeah I see the same JVM crash, when Lemminx runs in the JVM. If you set `"xml.server.preferBinary": true` in your settings.json, the binary will start, complain about outline limited to 5000 items, but completion/validation will work, albeit pretty slowly.

[2022-05-09 19:42] 7heMech opened #708 "Not recognizing xml"
How can I make extension recognize or treat files with specific extension as XML, or can I do that?

[2022-05-09 23:13] fbricon commented on #708
any file with `<?xml version="1.0" encoding="UTF-8"?>` in its first line will be automatically treated as xml, if its extension is unrecognized.
If you don't or can't modify the files' first line, you can define a custom [file mapping](https://code.visualstudio.com/docs/languages/identifiers) in your vscode' settings.json, like:

[code]

[2022-05-10 08:45] #708 closed, assigned to nobody

[2022-05-16 07:43] angelozerr commented on #583
Could you retrouvez with last vesion of vscode xml. If you have problem agàin could you please share your xml and explain what you are doing. Thanks

[2022-05-18 13:51] #705 closed

[2022-05-19 07:50] bthdimension commented on #222
Hello everyone. Is this feature still planned? Love the extension but since I'm working with XSD 1.1, the validations won't work for me. Thanks!

[2022-05-19 07:52] angelozerr commented on #222
While Xerces will not provide an official support with XSD 1.1, we cannot provide this support.

[2022-05-19 07:56] bthdimension commented on #222
Ok, thanks for the update!

[2022-05-19 07:57] angelozerr commented on #313
After quick search I have found https://github.com/sebastienscout/atom-dtd-language/blob/master/grammars/dtd.cson but it is very basic.

I think we could start with that and improve it step by step. When we will have an advanced textmate for DTD we could try to contribute to vscode. See

[2022-05-19 11:46] gayanper opened #710 "No completions while the java build is running"
When Java Build is running, not completions are provided for xml files. The completions popup just shows "Loading...."

[2022-05-19 12:17] angelozerr opened #711 "Move to vscode-languageclient 8.0.1"
With vscode-languageclient 8.0.1, we will benefit with:

 * LSP 3.7 support
 * we could remove shouldLanguageServerExitOnShutdown

[2022-05-19 12:52] angelozerr commented on #711
With this PR we need to test that:

 * XML features should work (completion, validation, hover, etc).
 * when we close the vscode, we must not have some zombie process (because I remove shouldLanguageServerExitOnShutdown)
 * when we change settings, we must test that it continues to work (refresh of settings should continue to work).

[2022-05-19 13:40] gayanper commented on #710
Spoke too soon, this happens for plugin configurations such as goals, phases completions as well. Tag completions work fine, But values completions are hanging.

[2022-05-19 13:40] angelozerr commented on #710
Are you sure that you have not vscode-maven which is not installed, because it provide those kind of features (without lemminx).

[2022-05-19 13:52] angelozerr commented on #710
If it works with WWD it is a problem with lemminx-maven and I suspect that it misses some dependency. Have you see some lemminx maven errors in trace of the XML support?

[2022-05-19 13:52] gayanper commented on #710
Works in eclipse. You are correct after disabling maven plugin and restarting vscode, not no completion suggestions.

[2022-05-19 13:53] gayanper commented on #710
No errors. Only the server info in the output

[2022-05-19 13:55] angelozerr commented on #710
Ok so it means lemminx-maven is not started in vscode-xml. Do you see some error in the trace?

[2022-05-19 13:58] angelozerr commented on #710
Could you share your full trace please.

[2022-05-25 14:42] #710 closed

[2022-05-25 14:51] angelozerr commented on #700
If you go to your second line of your settings.json and you type `xml`, you should see:

![image](https://user-images.githubusercontent.com/1932211/170291701-5145681b-07c1-4373-9408-9fd854e4fdfe.png)

if you continue to type `xml.ser`, you should see:

![image](https://user-images.githubusercontent.com/1932211/170291563-8fe47949-b5d0-4bb3-9e30-de4bd38dfdba.png)

[2022-05-31 15:53] #313 closed

[2022-05-31 20:44] lunarwtr opened #716 "DOCTYPE entities interfering with hover annotation display of tags / attributes."
[annotationbug.zip](https://github.com/redhat-developer/vscode-xml/files/8809330/annotationbug.zip)
![annotationhoverbug](https://user-images.githubusercontent.com/9368775/171280880-0d778403-d577-4ff1-b0cb-20fadda88508.gif)

Opening file with
[code]
seems to cause the initial suppression of the documentation hover for `<xs:annotation><xs:documentation> test 123 </xs:documentation></xs:annotation>`

[2022-06-02 07:40] #716 closed

[2022-06-02 07:53] angelozerr commented on #700
Your workspace should be in trust mode.

@fbricon @rgrunber to avoid this problem, I think the popup which display the out of memory problem should provide a new button `Apply suggestion` to update the setting `xml.server.vmargs` with the proper value. What do you think about that?

[2022-06-02 12:39] rgrunber commented on #700
We seem to do that in vscode-java. https://github.com/redhat-developer/vscode-java/pull/2085 . One of the options is "Configure" which appears to double the given XmX value. We should do the same.

[2022-06-07 13:51] anthony-cavalliotis commented on #222
But what about https://xerces.apache.org/xerces2-j/releases.html ? Xerces-J 2.12.2 has many bug fixes and xsd 1.1 seems less experimental, more 'supported'? @angelozerr I am keen to see this in Eclipse too, idk why its not there yet, as so keen to use xs:assert and dont want to go down the schematron route or leave ide for this task.  Anyhow, I came here from https://github.com/eclipse/lemminx/iss

[2022-06-07 14:13] angelozerr commented on #222
We amready use Xerces 2.12.2 version, but when I try to create te XSD 1.1 (according the the sample https://xerces.apache.org/xerces2-j/faq-xs.html):

[code]

I have the foolowing error:

[code]

Not sure standard Xerces 2.12.2 provides the  XSD 11 support?

[2022-06-07 20:16] eminence commented on #222
I am not very familiar with Xerces, but when I look at the [download page](https://xerces.apache.org/mirrors.cgi) I see that there are **two** downloads for Xerces 2.12.2, and only one of them indicates that it supports XSD 1.1:

![image](https://user-images.githubusercontent.com/402454/172473730-b1748503-b96d-4f53-b607-8a411ab2bc66.png)

And when I download the [Xerces-J-bin.2.12.2-xml-schema-1.1

[2022-06-07 20:22] angelozerr commented on #222
@eminence I remember now the problem. Xerces xsd 1.1 is not published on maven central which is very annoying to build lemminx.

[2022-06-08 09:15] angelozerr commented on #657
No answer. I close the issue. If you have again a problem please reopen it.

[2022-06-08 09:15] #657 closed

[2022-06-08 09:17] angelozerr commented on #654
No answer. I close the issue. If you have again a problem please reopen it.

[2022-06-08 09:17] #654 closed

[2022-06-08 09:22] #583 closed

[2022-06-08 13:42] anthony-cavalliotis commented on #222
Thanks.  I added a comment to that ticket so fingers-crossed we get a mvn central xsd 11 library soon.

[2022-06-09 08:58] VeteraNovis opened #719 ""Join CDATA Lines" option not working on Format"
I have built the extension VSIX from source, using the master branch for version `0.21.0` which includes the [new changes](https://github.com/redhat-developer/vscode-xml/pull/714) to show the closing tag on code folding. I'm interested in this feature to be able to more easily collapse and comment out large blocks of the XML. This new behaviour doesn't work however when nodes with CDATA are presen

[2022-06-09 09:54] fbricon commented on #719
you need to clone lemminx first
between steps 2 and 3, run `npm run build-server`, so the vsix embeds it

[2022-06-09 10:05] VeteraNovis commented on #719
Ah yep, that makes sense. Thank you for pointing me in the right direction.

This now enables me to display the closing tag of a collapsed section, which also spans across multiline / unindented tags as expected.

Interestingly, the "Join CDATA Lines" option still doesn't appear to work. I no longer need that option, due to the code collapsing working correctly when I packaged the server into the

[2022-06-09 10:08] fbricon commented on #719
looks like a regression that managed to creep through our test suite. I'm sure @angelozerr will figure it out

[2022-06-09 10:44] angelozerr commented on #719
@VeteraNovis you mean that join cdata formatting worked in old version?

[2022-06-10 18:31] #700 closed

[2022-06-13 14:51] #698 closed

[2022-06-14 07:32] #599 closed

[2022-06-20 18:18] #691 closed

[2022-06-21 13:56] bmaupin opened #722 "Feature request: Support resource scoped settings"
Hi,

I rely heavily on vscode's [multi-root workspaces](https://code.visualstudio.com/docs/editor/multi-root-workspaces) feature. However, when using multi-root workspaces I can only change settings for this extension across the entire workspace and not inside individual projects in the workspace.

When I set any of the extension settings inside the `.vscode/settings.json` file in my project, they

[2022-06-21 14:29] angelozerr commented on #722
Today LemMinx (our XML language server) doesn't support workspace folder (for settings), but we did that for our another project Quarkus Qute LS. I think it is doable.

[2022-06-21 20:53] datho7561 opened #723 "Add DCO information to `CONTRIBUTING.md`"

[2022-06-23 19:00] #723 closed

[2022-06-25 00:38] #593 closed

[2022-06-25 00:48] heartacker commented on #593
thanks you @rgrunber

[2022-06-27 07:07] angelozerr commented on #679
@lunarwtr completion resolve has been implemented and it should fix your issue, see https://github.com/eclipse/lemminx/pull/1234#issuecomment-1166963045

[2022-06-29 06:31] angelozerr commented on #624
@PJUllrich @clementnuss please note we have implemented an experimental formatter https://github.com/redhat-developer/vscode-xml/blob/master/docs/Formatting.md#xmlformatexperimental which should not remove comment like <%

[2022-06-29 06:38] angelozerr commented on #691
This issue should be fixed by the experimental formatter https://github.com/redhat-developer/vscode-xml/blob/master/docs/Formatting.md#xmlformatexperimental

[2022-06-29 06:39] angelozerr commented on #610
I suggest that you try the experimental formatter https://github.com/redhat-developer/vscode-xml/blob/master/docs/Formatting.md#xmlformatexperimental

[2022-06-29 07:03] angelozerr commented on #679
Fixed with https://github.com/eclipse/lemminx/pull/1234

[2022-06-29 07:03] #679 closed

[2022-06-30 08:53] shwao opened #729 "Server binaries for "osx-x86_64" are not found"
The URL for the `osx-x86_64` binaries configured here:

https://github.com/redhat-developer/vscode-xml/blob/a026ba1615f8d14bf05ca22206757b8b83b3cebf/package.json#L23

is returning 404 `Not Found`.

The other ones work.

[2022-06-30 13:57] rgrunber commented on #729
I think it's a bug in the naming for the development version at https://github.com/redhat-developer/vscode-xml/blob/master/.github/workflows/native-image.yaml#L115 . We alternate in a few places between `osx-x86_64` and `darwin` so we just need to modify the build to match. It's correct on windows and linux.

[2022-07-04 14:22] #729 closed

[2022-07-04 15:53] rgrunber commented on #729
I've also fixed the release location for the development build https://github.com/redhat-developer/vscode-xml/releases/tag/latest .

[2022-07-11 06:03] DaWolfi commented on #668
Hi guys, any news about this issue?

[2022-07-11 06:50] angelozerr commented on #668
No sorry we had.no time to work on that. I know this completion file feature is annoting for camel //cc @apupier

We need to filter this file completion with a new completion file filtrer wherr we can write some xpath like we have with symbol filter. We could define a default value to allow some attributs like @path @file

[2022-07-13 04:04] halloleo opened #735 "The formatter doesn't seem to use the VSCode proxy for downloading xsd files"
When the extension formats a pom.xml (which contains an XML Schema) VS Code issues the problem "_Error while downloading 'http://maven.apache.org/xsd/maven-4.0.0.xsd'..._".

I have defined a proxy in VS Code's settings, but I assume the extension does not obey/use this proxy.

Is there another way to tell the formatter to use a proxy?

[2022-07-13 06:55] fbricon commented on #735
Please see if https://github.com/redhat-developer/vscode-xml/blob/master/docs/Proxy.md helps

[2022-07-13 07:10] halloleo commented on #735
Thanks @fbricon !

I have set `http.proxy` in vscode's settings.  I don't need authorisation.

I left `http.proxySupport` alone, showing "override" in the dialog.

This is from my understanding exactly what the page you link to says - but it doesn't work.

PS: On the page is the strange sentence: "*If you set [http.proxySupport] to override, VS Code will attempt to rewrite the requests from extens

[2022-07-13 07:26] fbricon commented on #735
@datho7561 can you please investigate?

[2022-07-13 15:38] bimimicah opened #736 "Autocompletion of attribute values won't display documentation"
**Documentation appears properly when autocompleting attribute names:**
![image](https://user-images.githubusercontent.com/34111930/178773586-f0cc384b-780e-4a2f-bf46-03c2cb2add58.png)
**But when autocompleting attribute values (<xs:enumeration>), the documentation does not appear:**
![image](https://user-images.githubusercontent.com/34111930/178773601-04e412d8-c81d-4206-a23a-6d09a072aa6f.png)

**I

[2022-07-13 15:43] fbricon commented on #736
can you provide a self contained sample reproducing this issue?

[2022-07-13 16:29] bimimicah commented on #736
**Ok. So it looks like when one or more &lt;xs:enumeration&gt; do not have documentation, it breaks the documentation for all enums for that attribute.**

**Example Document:**
[code]

**Example Schema:**
[code]

[2022-07-13 17:39] datho7561 commented on #735
Hello! I've tried on my machine with [this proxy](https://hub.docker.com/r/ubuntu/squid), and everything appears to be working.

Which version of the extension are you using? Which version of VS Code (/Codium/Theia/?) are you using?

One thing that might be related is that http://maven.apache.org/xsd/maven-4.0.0.xsd redirects to the https version of the website; maybe something goes wrong when try

[2022-07-14 06:34] halloleo commented on #735
Just FYI: When I do

    wget http://maven.apache.org/xsd/maven-4.0.0.xsd

with the px-proxy entered in my `.wgetrc`, hen I can download the schema without problems.

[2022-07-14 18:13] datho7561 commented on #735
I was able to get a proper setup where my machine needs to use the proxy to access the http/https, and I am able to reproduce the issue.

[2022-07-14 19:31] datho7561 commented on #735
I figured out the issue and am working on the PR. In the mean time, here is a workaround: https://github.com/redhat-developer/vscode-xml/blob/master/docs/Preferences.md#server-vm-arguments. My PR will just make sure that these parameters are set for you if you have set `http.proxy` in the VS Code settings.

[2022-07-14 19:44] datho7561 opened #739 "Publish platform-specific binaries & pre-releases to open-vsx.org"
According to https://github.com/eclipse/openvsx/pull/406, it seems open-vsx.org supports platform-specific extensions. It would be neat if we published platform specific extensions for open-vsx.org as well.

[2022-07-15 01:33] halloleo commented on #735
Thanks that you looked into this! :)

[2022-07-15 08:16] Maxwellwr commented on #598
When you work with an XML-based API, you have XSD definitions. This feature is very useful for quickly creating sample XML documents. XMLSpy has this feature.

[2022-07-15 15:44] angelozerr commented on #598
Thanks @Maxwellwr for your feedback.

I agree with you it should be nice to have this feature but we need more user feedback to know if we will work on that.

[2022-07-17 16:07] AceAttorneyMaster111 opened #740 "Format TODO and FIXME in comments"
I'm currently manually creating an XML file, to use as an example for an application. As I'm working on it, it would be really helpful to have special formatting for `TODO` and `FIXME` notes within `` comments. Is this something that would be possible to implement?

[2022-07-17 16:29] angelozerr commented on #740
Could you give us some samples before znd after formatting please

[2022-07-17 19:20] AceAttorneyMaster111 commented on #740
[code]
I want to make sure I don't forget about this comment, for instance. Would love for the word `TODO` to be highlighted in a color, and show as a Task in the sidebar like in other languages.

[2022-07-20 00:34] rgrunber commented on #387
Is this still reproducible in the latest vscode-xml ?

The 100% cpu load seems similar to https://github.com/eclipse/lemminx/issues/1175 . It happened when `"xml.validation.enabled` was set to `false`. In addition, we have made a lot of performance improvements in the [0.21.0 release](https://github.com/redhat-developer/vscode-xml/blob/master/CHANGELOG.md#performance)

[2022-07-20 00:42] rgrunber commented on #648
This was addressed in https://github.com/eclipse/lemminx/issues/1218 . Thanks again @JessicaJHee !

[2022-07-20 00:42] #648 closed

[2022-07-20 07:53] GitMensch commented on #593
I'm a bit confused. Is there still an automatic download of the binary as mentioned in https://github.com/redhat-developer/vscode-xml#requirements?
https://github.com/redhat-developer/vscode-xml/releases/tag/0.21.0 says:

?!?

[2022-07-20 09:32] GitMensch opened #742 "vscode dependency - is it possible to get a "legacy" version?"
The last one that has no vscode 1.6x dependency was [0.20.0](https://github.com/redhat-developer/vscode-xml/blame/dff3831dbbf57ecefc74130f1c68380fb6302348/package.json).

Checking the revision history of package.json I see that it was increased to vscode 1.61 in version 0.21.0 to support platform specific extensions (to be able to include the matching graal-vm native built lemminx binary - which s

[2022-07-20 15:15] rgrunber commented on #593
We'll need to update the documentation there.

If installing through VS Code and your platform is detected as one of : `linux-x64`, `win32-x64`, `darwin-x64`, or `darwin-arm64`, then the vsix that will be installed is specific to that platform. If you're on another platform, you'll get the generic vsix, which will download the lemminx binary.

I think we can add the vsix files as well to the relea

[2022-07-20 15:35] rgrunber commented on #739
Before we adopt this, we should follow :

https://open-vsx.org/extension/jbangdev/jbang-vscode
https://github.com/jbangdev/jbang-vscode/blob/main/.github/workflows/ci.yaml#L72

and maybe try it out on a flavour of VS Code that uses OpenVSX as the default marketplace.
According to @fbricon , there is no distinction between a release and a pre-release as far as the marketplace goes.

[2022-07-20 16:04] GitMensch commented on #539
Sounds good - but the user-provided command can still be added in the meantime, can't it?

[2022-07-20 16:29] rgrunber commented on #521
I'm closing this as it seems to be implemented. I think any missing features can probably be addressed as part of https://github.com/eclipse/lemminx/issues/1255

[2022-07-20 17:01] AlexXuChen commented on #539
See the fix in https://github.com/redhat-developer/vscode-xml/pull/551#issuecomment-1190528272

[2022-07-20 18:23] #539 closed

[2022-07-21 14:54] datho7561 commented on #495
@JessicaJHee I think this issue won't be too bad. Here are some details about it:

- Here is the relevant VS Code API for accessing the positions of the user's cursor: https://code.visualstudio.com/api/references/vscode-api#TextEditor
- Take a look at [`tagClosing.ts`](https://github.com/redhat-developer/vscode-xml/blob/master/src/client/tagClosing.ts) to see the current implementation. The idea i

[2022-07-21 16:02] angelozerr commented on #669
We must replace cmosingTag request with autoInsert like https://github.com/microsoft/vscode/blob/81fff43fd6f9f5dd9c01508da30b16f35ed61933/extensions/html-language-features/client/src/htmlClient.ts#L46 which support auto close and equals insert.

[2022-07-21 16:13] angelozerr commented on #669
We must replace our lemminx closingtag support with autoInsert https://github.com/microsoft/vscode/blob/81fff43fd6f9f5dd9c01508da30b16f35ed61933/extensions/html-language-features/server/src/modes/htmlMode.ts#L62

[2022-07-22 20:21] mjohnson159 commented on #307
It appears that environment variables are not supported in this, is that correct? My team has a bunch of different repos and each team have different environments (win, mac, linux) in which they work. So we all environment variables defined to point to the same repo, which is set individually. I was hoping to use the same variable we all use to reference in this so that every person doesn't have t

[2022-07-22 21:25] mjohnson159 opened #745 "Add further support for environment variables and absolute file path notations in xml.FileAssociations"
I left a comment on #307 about trying to use environment variables for a file with a team structure that can have varying workspace configurations. A few different options that work elsewhere don't work in xml.FileAssociations. Namely:
* VS code environment variables
* home directory aliases

As an example, I have a folder structure like the following:

[code]
Other coworkers might have these set

[2022-07-25 13:33] angelozerr commented on #745
Indeed it is specific to vscode, but I think more and more that it is a bad idea and I thinkit should be managed by LemMinX XML Language Server. A problem that we have with this strategy is that `fileDirname` doesn'twork properly because as soon as you open a XML file, thefileDirname change on vscode side and it update the XML Language server with the expanded path. It means that only the activate

[2022-07-25 19:40] datho7561 commented on #745
I think we implemented this this way, since this is how fileDirname works in VS Code, and we are trying to emulate the behaviour of the VS Code variables.

We could look into resolving files relative to the working directory or the file location from within lemminx; I think this could be helpful. It might be a good idea to come up with a different naming scheme though, in order to indicate that it

[2022-07-26 14:37] rgrunber commented on #742
Almost seems like a bug that we need to bump the engine version for something that is only done at build-time. Some metadata regarding platform, and pre-release does make it into the vsix manifest, but I'm not sure why that would require an engine bump, given the properties are optional.

**generic vs platform-specific**
[code]

**non-pre-release vs. pre-release**
[code]

Only 1.6x API I can think

[2022-07-26 15:43] bimimicah commented on #736
@fbricon Were you able to reproduce the issues with the sample I provided? Thanks for looking into this.

[2022-07-26 16:08] angelozerr commented on #736
I can reproduce the problem @[bimimicah](https://github.com/bimimicah).

Many thanks for your sample. Let us investigate the problem.

[2022-07-26 16:12] angelozerr commented on #742
I don't see today some inlay hint usecases with XML.

[2022-07-26 17:25] GitMensch commented on #742
I'm really lucky to find someone that has the same understanding of this issue! And yes: releasing the version (then generic) then releasing it again (possibly with a .1 number increase) would solve the issue at both market places, without the need for an "extra" legacy one.
And yes: it would complicate the build process as package.json would have to be adjusted in between.
I think that the pre-re

[2022-07-26 17:33] angelozerr commented on #736
@bimimicah I create a PR which should fix your issue, see demo at:

https://github.com/eclipse/lemminx/pull/1260#issuecomment-1195775762

[2022-07-26 18:01] angelozerr commented on #740
Have you tried https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.todo-tree ?

[2022-07-26 21:00] rgrunber commented on #742
Do you mean https://github.com/redhat-developer/vscode-xml/blob/main/Jenkinsfile ? That handles all marketplace releases (pre-release & formal releases).

@fbricon , what are your thoughts on supporting older versions of VS Code ? Seems like we could do it here (because the only 2 things that bumped the engine since `^1.52.0` were pre-releases/platform-specific), but I don't know how much demand t

[2022-07-27 12:51] angelozerr opened #748 "Set xml.format.preserveAttributeLineBreaks to true by default"
After discussion with @fbricon we think that [xml.format.preserveAttributeLineBreaks](https://github.com/redhat-developer/vscode-xml/blob/main/docs/Formatting.md#xmlformatpreserveattributelinebreaks) should be set to true by default.

The fix should be done:
 * in package.json
 * in Formatting.md
 * in LemMinX

[2022-07-27 12:56] angelozerr opened #749 "Set xml.format.xsiSchemaLocationSplit as onPair by default"
After discussion with @fbricon we think that [xml.format.xsiSchemaLocationSplit](https://github.com/redhat-developer/vscode-xml/blob/main/docs/Formatting.md#xmlformatxsischemalocationsplit) should be set to `onPair` by default.

The fix should be done:
 * in package.json
 * in Formatting.md
 * in LemMinX

[2022-07-29 02:10] #736 closed

[2022-07-29 18:46] mjohnson159 commented on #745
The biggest boon would being able to reference our home directory, via either parsing `~` and/or vscode env var `${env:HOME}` as it feels that this is an expected behavior by end users. The rest are nice to have, but seem more like feature requests.

Thank you for your responses and I look forward to these being implemented.

[2022-08-02 12:00] datho7561 opened #754 "Update documentation to reflect that experimental formatter supports `xml.format.xsiSchemaLocationSplit`"

[2022-08-02 18:45] #749 closed

[2022-08-04 19:29] #627 closed

[2022-08-08 14:09] rgrunber opened #757 "Migrate Jenkins build to GH Actions"
https://github.com/redhat-developer/vscode-xml/blob/main/Jenkinsfile
https://github.com/redhat-developer/vscode-xml/blob/main/NativeImage.jenkins

This is already partially done as the native image build from above exists as https://github.com/redhat-developer/vscode-xml/blob/main/.github/workflows/native-image.yaml .

As a pre-requisite to this, we should investigate moving https://github.com/red

[2022-08-08 16:51] spektre1 opened #758 "Formatter fails on file in a Docker container"
I'm working on a microservices app that's spread across a lot of containers, so I use the Docker tools to access files inside the container. If I open an XML file that's canonicalized, so not pretty formatted, and attempt to use the XML document formatter via CTRL+SHIFT+P > "Format Document", I get the response in a modal dialog: "There is no formatter for 'xml' files installed."

If I copy and pa

[2022-08-10 16:24] rgrunber commented on #758
Can you confirm that the XML Language Server starts up and stays up as a process for the container file ? Another thing you could try is set `xml.trace.server` to `verbose` and look at the `XML Support` output to see if there's anything failing there when you try to open the container file. See https://github.com/redhat-developer/vscode-xml/blob/main/docs/Troubleshooting.md#no-support-on-xml-file

[2022-08-10 16:33] angelozerr commented on #758
Is it just formatting which is not working or all features like completion, diagnostics etc?

if you have an invalid xml, have you some error displayed in the editor?

[2022-08-11 17:15] rgrunber opened #759 "Respect XML document encoding"
An XML document can have a document encoding :

`<?xml version="1.0" encoding="UTF-8"?>`

We should detect (entirely on client-side) the type of encoding and set it appropriately. VS Code currently doesn't handle this, so maybe we can support it on our end for now.

[2022-08-12 15:30] bimimicah commented on #680
At some point, when WebAssembly is mature enough, you could try compiling lemminx to WASM. It might even be complete enough to do it already, since Microsoft is already putting the .NET runtime in the browser with it.
I don't know enough about the topic to give recommendations, but a quick Bing search shows there are already Java bytecode-to-WASM compilers.

[2022-08-12 15:53] bimimicah commented on #736
I tried the [pre-release build of lemminx](https://github.com/redhat-developer/vscode-xml/releases/tag/latest) built 6 days ago, and it looks like **problem # 1 has been solved completely! Thank you!**

However, it looks like that **didn't solve the second problem**:

- If you create the attribute (instead of typing manually) by typing a space, the first letter, then choose the attribute name from

[2022-08-12 15:56] bimimicah commented on #736
@angelozerr should I make a new issue for the second part that hasn't been solved yet, since this issue is closed?

[2022-08-12 16:51] angelozerr commented on #736
I fear that it is not possible to support the second problem because it is not supported by the lsp specification. In otherwise when completion item is applied you can define a simple list of string value called choice but without specifying à documentation.

[2022-08-12 17:46] bimimicah commented on #736
I may be misunderstanding, since I am not very familiar with the details of LSP implementations, but shouldn't the process I illustrated above work like this?:

1. user types 'a', triggers a [textDocument/completion](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#textDocument_completion) call to the LSP server (for the attributes beginning with 'a'), re

[2022-08-12 19:18] angelozerr commented on #736
I see your idea but it will require some hack on client side so it will require to do this Hack for vscode eclipe sublime etc wuich is not the goal of lsp.

Please create an issue for this problem. Perhaps there is a solution that I miss with lsp . We should study in détail the mroblem.

[2022-08-12 19:50] bimimicah opened #760 "Autocompleted attribute doesn't display documentation for popped up attribute values"
This is a second problem discovered while investigating #736:

- If you create the attribute (instead of typing manually) by typing a space, the first letter, then choose the attribute name from the dropdown, the attribute will be autocompleted, and the enumerated attribute values will appear in a dropdown, as expected. However, none of them will display documentation, even if all of them have doc

[2022-08-12 19:54] bimimicah commented on #736
Thanks. I created #760 to track the second problem.

[2022-08-12 19:58] bimimicah commented on #760
My guess of a model of LSP interaction, copied from #736:

@angelozerr  My guess is maybe the [CompletionItems](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#completionItem) returned in step 2 do not include the 'documentation' attribute. Could that be the issue?

The 'documentation' attribute is built-in to the ['CompletionItem' Interface](https://mic

[2022-08-15 13:51] datho7561 opened #761 "`ErrorData` that is generated while finding Java is unused"
In a few places in requirements.ts, such as https://github.com/redhat-developer/vscode-xml/blob/main/src/server/requirements.ts#L54, we reject the Promise with an object that contains information to set up a dialog instructing the user to download a JDK.

However, we don't use any of this information (note how the error object is unused):
https://github.com/redhat-developer/vscode-xml/blob/main/sr

[2022-08-16 17:27] #438 closed

[2022-08-16 17:36] mwisnicki opened #763 "Inadequate error message for download error"
I'm experiencing the issue similar to the one described in #134.

The error message `Error while downloading 'foo.xsd' to 'C:\...' xml(DownloadProblem)`

 This message is entirely inadequate. Please change it to describe actual problem.

[2022-08-16 17:39] mwisnicki opened #764 "Obey https_proxy settings"
I have http_proxy and https_proxy set yet the extension is most likely failing to use them.

Please provide better behaviour than jvm defaults which are horrible.

See #134 for details.

[2022-08-16 18:20] mwisnicki commented on #134
@Talv where do you see these logs? I tried extension host logs but it doesn't have anything

[2022-08-16 18:28] mwisnicki commented on #134
OK I found them in the logging folder.
I'm getting `Connection refused: connect` despite having all the proxy flags set.
The url from logs looks fine and can be downloaded with curl.

[2022-08-16 18:31] mwisnicki commented on #134
The only workaround I could find is to download it manually and place in the xsd cache directory :(

[2022-08-16 19:34] angelozerr commented on #134
@mwisnicki could you give us the xml which références the xsd which czn be downloaded please

[2022-08-16 19:38] angelozerr commented on #764
Have you read https://github.com/redhat-developer/vscode-xml/blob/main/docs/Proxy.md

[2022-08-16 19:39] mwisnicki commented on #134
It's a standard Maven POM: https://maven.apache.org/guides/getting-started/maven-in-five-minutes.html#the-pom
Note that you might need to change schema location to https because apparently vscode-xml has trouble following redirects.

[2022-08-16 19:45] angelozerr commented on #763
If you activate the trace you should see the détail of the error.

What is your suggestion to improve the erŕor message?

[2022-08-16 20:04] mwisnicki commented on #763
The underlying error such as connection refused or relevant HTTP error should be surfaced to the UI in default configuration.

[2022-08-16 20:12] mwisnicki commented on #764
My `http.proxySupport` was already set to `override`. VSCode has not trouble using the proxy.
Problem seems specific to vscode-xml.

I want things to work out of the box whenever reasonable.

[2022-08-16 20:17] mwisnicki commented on #764
Although I also tried JVM args (http.proxyHost etc) through `xml.server.binary.args` as well as `JAVA_TOOL_OPTIONS` and neither seems to work ("Connection refused") even though the latter is being logged in extension log file so perhaps the problem lies elsewhere.

[2022-08-16 22:17] angelozerr commented on #764
@datho7561 have you some idea?

[2022-08-17 08:09] angelozerr commented on #134
I will investigate the htpps redirect problem.

Please note that we would like to provide default catalog with this maven xsd.

See https://github.com/eclipse/lemminx/issues/1182

[2022-08-17 12:53] datho7561 commented on #764
@mwisnicki have you tried following these instructions: https://github.com/redhat-developer/vscode-xml/blob/main/docs/Preferences.md#setting-up-proxy ? Make sure you set both the HTTP and HTTPS proxies.

The extension should use the VS Code proxy settings to download schemas. Unfortunately, there was a bug in the implementation, and this was only being configured for HTTP and not HTTPS (see #735).

[2022-08-17 18:01] mwisnicki commented on #764
Yes I have the proxy setup.

Switched to pre-release. Still failing in `CacheResourcesManager lambda$downloadResource$0()`
With http url I'm getting `[java.io.FileNotFoundException] http://maven.apache.org/xsd/maven-4.0.0.xsd`
while with https it's `[java.net.ConnectException] Connection refused: connect`.

[2022-08-17 18:15] datho7561 commented on #764
Okay. Are you using any sort of Authorization with the proxy? I have only tried with Basic authorization and without any authorization.

[2022-08-17 18:31] mwisnicki commented on #764
Doh, I had a typo in proxyPort!
So both work if I set JVM flags and pre-release version even follows redirects.

However neither obeys vscode proxy settings and http.proxySupport=override so this bug still stands.

[2022-08-17 18:35] mwisnicki commented on #764
Not using authorization directly. Have cntlm and
[code]

[2022-08-17 19:46] datho7561 commented on #764
Okay, thanks for your help. Just to confirm I understand correctly, you set up the proxy in VS Code using environment variables? We have code in place to read the VS Code setting `http.proxy`, but not to use the `http_proxy`/`https_proxy` environment variables, so I'll take a look into implementing this.

[2022-08-18 00:32] mwisnicki commented on #764
Yes. Thanks for looking into this. IMHO it should be on VS Code to provide single consistent way of obtaining proxy by extensions.

[2022-08-18 16:01] #764 closed

[2022-08-18 16:08] datho7561 opened #766 "Update badges in README"
It would be nice to update the badges at the top of the README to use shields.io. See https://github.com/redhat-developer/vscode-quarkus/pull/530 for an example.

Here is what I have in mind:
* Fix VS Code marketplace version badge (current is broken)
* Add a badge for the ESLint GitHub Action
* Keep the Gitter badge, but update it to use shields.io

[2022-08-19 12:37] datho7561 commented on #764
Looks like the nightly build for the prerelease went through. If you have time, please let me know if this fixed your issue

[2022-08-23 08:40] ds1709 commented on #759
I agree. It's very annoying to reopen non UTF-8 xml file every time. Encodimg must be readen from xml file header.

[2022-08-24 07:18] angelozerr commented on #759
I fear that vscode doesn't provide an API to update encoding according to this issue https://github.com/microsoft/vscode/issues/824

vscode editorconfig extension is for instance blocked by this API which doesn't exists https://github.com/editorconfig/editorconfig-vscode/issues/35

[2022-08-24 21:18] jacksanders-xyz opened #770 "lemminx-osx-x86_64 binary won't start"
Intel macbook 2020 running Monterey

Intention: grabbing the lemminx binary to work with neovim lsp

output of uname -m is x86_64

=> binary downloaded from: [latest](https://github.com/redhat-developer/vscode-xml/releases/tag/latest)
as well as [21](https://github.com/redhat-developer/vscode-xml/releases/tag/0.21.0)

ran => xattr -d com.apple.quarantine lemminx-osx-x86_64

opening the binary prod

[2022-08-24 21:31] jacksanders-xyz commented on #770
Accidentally closed this, still very much stuck

If anyone has leads would be very much appreciated,
thanks

[2022-08-24 22:58] jacksanders-xyz commented on #770
Was an issue with neovim, sorry... having one of those days.

[2022-08-24 22:58] #770 closed

[2022-08-26 05:55] #763 closed

[2022-08-26 05:56] angelozerr commented on #763
@mwisnicki see screenshot at https://github.com/eclipse/lemminx/pull/1282#issuecomment-1228084355

[2022-08-26 09:28] mwisnicki commented on #763
Looks great, thank you!

[2022-08-31 20:31] rgrunber commented on #739
At least for pre-releases, there is no distinction currently between a release and a pre-release in the UI. The UI allows installing pre-release as if they were regular releases. https://github.com/redhat-developer/vscode-java/pull/2587#issuecomment-1233389519

[2022-09-07 20:46] henrik-jensen opened #772 "XML v0.21.2022062916 - Not trusted warning for lemminx-win32.exe"
Not trusted warning for lemminx-win32.exe started to appear after install of latest **vscode 1.71.0** and previous version (maybe perhaps earlier?!!!).

Popup Warning:
[code]

vscode and os version (Help->About dialog):
[code]
Extension version: **XML 0.21.2022062916**

PS! Warning **does not appear** with pre-release version **XML v0.21.2022090704**

**Edit:**
Forgot this important piece of java

[2022-09-08 19:26] Alice-Lins opened #773 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-xml`
- Extension Version: `0.21.2022062916`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.71.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/Alice/AppData/Local/Temp/redhat.vscode-xml-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vsco

[2022-09-12 06:38] angelozerr commented on #684
@nblyumberg I'm worjing again with pattern to support a new feature (validation filter which uses pattern), and the after reading https://mincong.io/2019/04/16/glob-expression-understanding/#wildcard-expressions article I noticed that we can write just `**` like `**.{bpml,xml}`

[2022-09-12 09:52] mathmul commented on #772
I am also curious if we can just click "Yes" or is there a real potential security threat?

[2022-09-12 10:36] fbricon commented on #772
The warning you see indicates vscode-xml was not able to confirm the integrity of the language server, because it has no sha reference to compare it to. It's not a security threat if you know the binary you installed is embedded with the extension or has been downloaded from Github or the JBoss website.

For old pre-releases, that issue should have been fixed after this [commit](https://github.com

[2022-09-12 12:17] henrik-jensen commented on #772
@fbricon Thanks for the response. I decided to stay on the prerelease.
Now should I close the issue or wait until a release version with the fix is out?

[2022-09-12 14:42] fbricon commented on #772
the fix is out. Nothing left to do

[2022-09-12 14:42] #772 closed

[2022-09-12 15:24] rgrunber commented on #772
0.21.0 was already released, https://github.com/redhat-developer/vscode-xml/releases/tag/0.21.0 so the fix should be there. I'll mark this as closed, but feel free to re-open if there is some other issue here.

0.21.2022062916 was a pre-release version of 0.21.0.
0.21.2022090704 was a pre-relase of version 0.21.1, which is under development and not released.

The fact that we bumped from the 0.21.

[2022-09-12 17:54] rgrunber commented on #772
The VS Code Markteplace Webpage doesn't distinguish between pre-releases and releases. I think that has more to do with how they render the information.

If I attempt to install another version from the `Uninstall` dropdown, I see all the versions are correct. It's definitely a bug somewhere to see the lack of "pre-release" decorations for it in the UI, but maybe it was some weird state.

![vscode

[2022-09-12 18:10] henrik-jensen commented on #772
Ahh I see.
Installed v21.0 that way and now vscode wants me to update to the "buggy" version 0.21.2022062916

![image](https://user-images.githubusercontent.com/9413242/189725197-714e8229-e8c0-48f2-810b-e6e2faec11e2.png)

I think I'll just stay with the pre-release v0.21.2022090704, no problems so far. Thanks for info.

[2022-09-12 19:04] rgrunber commented on #772
You're right. It's not some caching issue. This was a bug from when we first introduced pre-relases. It has since been fixed though.

When we first introduced pre-releases, I think we accidentally published a pre-release as a regular release on platforms where we don't support the binary server (eg. win32-ia32 win32-arm64 linux-arm64 linux-armhf alpine-x64 alpine-arm64). I had to use https://marke

[2022-09-14 18:11] JessicaJHee commented on #719
This issue is fixed by enabling the experimental formatter. The current behaviour can be seen here:
![Peek 2022-09-09 11-58](https://user-images.githubusercontent.com/73968480/190230647-ca2cd3b5-9d10-459f-8bb5-a45ca96fa74e.gif)

[2022-09-19 13:54] rgrunber commented on #387
Closing this issue as I suspect it was fixed some time ago. Feel free to re-open if it persists.

[2022-09-19 13:54] #387 closed

[2022-09-19 13:58] rgrunber commented on #773
@Alice-Lins , are you able to attach the file mentioned in your original comment ? Also, are you able to attach the file you had opened, or the actions you were performing when you encountered the high CPU load ?

@angelozerr , any ideas what could be causing this ?

[2022-09-21 06:40] angelozerr commented on #719
@VeteraNovis could you give us an XML snippet which cannot format correctly please in order to we can try it with experimental formatter and check if it works correctly. Thanks!

[2022-09-21 07:44] angelozerr commented on #758
@spektre1 could you give us more information please.

[2022-09-21 07:52] #610 closed

[2022-09-21 08:00] angelozerr commented on #662
We implemented an experimental formatter

Here the result with the old formatter (issue that you have filled):

[code]

Here the result with the experimental formatter:

[code]

@JessicaJHee could you write a test with this usecase please.

[2022-09-21 08:03] angelozerr commented on #634
The https://github.com/redhat-developer/vscode-xml/blob/main/docs/Formatting.md#xmlformatexperimental should fix this issue, here the format result:

[code]

And for teh scond, it keep like this:

[code]

@JessicaJHee could you write 2 tests with those usecases please.

[2022-09-21 08:05] angelozerr commented on #600
The https://github.com/redhat-developer/vscode-xml/blob/main/docs/Formatting.md#xmlformatexperimental should fix this issue. Here the result:

[code]

@JessicaJHee could you write a test with this usecase please.

[2022-09-21 08:42] fbricon commented on #662
Any way to keep the documentation on multiple lines here?

[2022-09-21 09:58] Oobiewan commented on #451
Hi All,
I am a bit confused about the scope of this issue, is the goal to support schematron for RELAX NG only? Does the extension support schematron for DTD already? I cannot find any mentions of schematron in the description of the extension.
Thanks,
Benedek

[2022-09-21 11:14] datho7561 commented on #735
@angelozerr It should be fixed in the prereleases, but we haven't released since then

[2022-09-21 11:52] svanteschubert commented on #451
All right to be confused. IMHO we talked about Schema, not Schematron. :-)
DTD, XSD, and RNG have all in common to define a relation between parents and their children (attribute, child elements and content - and their datatypes).
Schematron was invented as there are also constraints across the complete full document (let's call them business rules). For example, the invoice net amount of each inv

[2022-09-21 12:54] datho7561 commented on #451
This issue is for tracking Schematron schema (`*.sch`) support in lemminx. I believe that you can reference a Schematron file using `<?xml-model href="..."?>` in any XML document, so that you can validate against a `.sch` schema, along side other schemas (XSD, DTD, RNG once it's provided).

I started a POC at https://github.com/datho7561/lemminx-schematron based on SchXslt. The issue, as Svante me

[2022-09-21 14:50] Oobiewan commented on #451
@datho7561 I see, that's a pity, and I'm sorry I don't have the skills to help. Thanks a lot for explaining.
@svanteschubert Thanks for the reply. I see that you did not talk about Schematron, but this issue is about Schematron support according to the title and @datho7561. Now I have the feeling that the issue reporter didn't really know the difference between  Schematron and validating against a

[2022-09-21 15:06] pgundlach commented on #451
@Oobiewan I am very sure that the issue reporter knows the difference between Schema and Schematron as he is an expert in the field (although I know that even experts have bad days).

[2022-09-21 15:54] angelozerr commented on #662
According to the rule explained in https://github.com/redhat-developer/vscode-xml/blob/main/docs/Formatting.md#xmlformatexperimental the xs:documentation is a mixed content because this information comes from the XSD grammar (mixed="true")

But I agree with you @fbricon , it should preserve spaces and in this case we must add `xs:documentation` and `xsd:documentation` to the list at:

 * https://g

[2022-09-23 19:35] #634 closed

[2022-09-26 13:13] #600 closed

[2022-09-27 18:12] #766 closed

[2022-09-29 22:03] #662 closed

[2022-10-04 20:19] #668 closed

[2022-10-10 07:23] tutucek7 opened #783 "XSD 1.1 - cannot validate with conditions"
Hello, I'm trying to use conditions in my XSD, because of different tags in elements.

`<xs:element name="a" maxOccurs="unbounded">
                    <xs:alternative test="@type = 1" type="a1Type"/>
                    <xs:alternative test="@type = 1" type="a2Type"/>
 </xs:element>
<xs:complexType name="a1Type">
        <xs:sequence>
            <xs:element name="name" />
            <xs:element

[2022-10-10 08:25] angelozerr commented on #783
I think it is because we use Xerces which cannot support XSD 1.1.

[2022-10-10 08:26] angelozerr commented on #773
I close this issue since we have no informations. @Alice-Lins please reopen it if you have again some problems by giving us more information. Thanks.

[2022-10-10 08:26] #773 closed

[2022-10-10 08:28] angelozerr commented on #760
We use LSP choice which supports only a list of string, I fear that we can not fix this issue because of LSP limitation.

[2022-10-10 08:31] tutucek7 commented on #783
So is there anything what can we do?

[2022-10-10 08:49] angelozerr commented on #783
I worked long time ago to support XSD 1.1 in https://github.com/eclipse/lemminx/pull/515 but it is uses a non official Xerces version, I fear that there is no solution for the moment while Xerces doens't support XSD 1.1.

[2022-10-10 09:49] tutucek7 commented on #783
Thank you very much, have a nice day 👍

[2022-10-11 07:15] pauljurczak opened #784 "Opening a .gpx file"
Opening a file with .xml extension provides a formatted view. I would like to have the same effect for XML files with different extensions. What do I have to do for GPX files?

[2022-10-11 07:38] fbricon commented on #784
Either add an XML declaration on the 1st line of your file: `<?xml version="1.0" encoding="UTF-8"?>`, that should work for pretty much all editors, or define a file association in your settings.json:
[code]

[2022-10-11 19:36] pauljurczak commented on #784
I noticed this behavior. File with starting with `<?xml version="1.0" ?>` is not formatted at all. File starting with `<?xml version="1.0" encoding="UTF-8"?>` is partially formatted without indentation:
[code]
File having some additional data is more fully formatted, but still no syntax highlighting:
[code]

[2022-10-12 13:21] angelozerr commented on #784
@pauljurczak if you follow the suggestion of @fbricon https://github.com/redhat-developer/vscode-xml/issues/784#issuecomment-1274227798 by adding it in your settings it should work.

[2022-10-12 17:12] pauljurczak commented on #784
@fbricon @angelozerr What is the proper syntax? `"*.gpx": "xml"` doesn't work. Here is the extension is showing:
[code]

[2022-10-14 10:01] fbricon commented on #450
Initial RelaxNG support is now available from vscode-xml pre-releases starting with v0.21.2022101304.
<img width="773" alt="Screenshot 2022-10-14 at 12 00 51" src="https://user-images.githubusercontent.com/148698/195820232-0bd1d89d-f279-4d07-b26c-c51db89e2bff.png">

Please give it a try and report any issues

[2022-10-14 10:47] pgundlach commented on #450
How are RNG files associated? I've tried a catalog file and a reference to the rng file `<?xml-model href="file:///Users/patrick/stuff/xml/changelog.rng" ?>` in the xml-model PI.

[2022-10-14 10:57] angelozerr commented on #450
It should work with:

 * only xml-model
 * with an XML catalog too if your XML have some namspace.

If you write this comment, it doesn't work I suppose, is that?

If it that, could you do the demo at https://github.com/eclipse/lemminx/pull/841#issuecomment-1277514195 and tell us if it is working for you.

If it is working for you and it doesn't work with your usecase, could you share your RNG and

[2022-10-14 11:11] pgundlach opened #786 "RelaxNG file association"
I don't want to clutter #450, so I open a new issue here. I have an otherwise empty directory with two files:

`addressbook.rng`:

[code]
and `addressbook.xml`:

[code]

The vscode version is v0.21.2022101304.  I cannot use tag completion in `addressbook.xml`.

[2022-10-14 11:22] pgundlach commented on #786
I have not tried the example you've linked in your comment as I believe this is close enough (should I try the example?). And (for the sake of completeness) I couldn't get the completion to work with catalogs either.

[2022-10-14 12:08] angelozerr commented on #450
@pgundlach please wait it seems that prerlease don't embed the RelaxNG support. Let us invesitgate why?

[2022-10-14 12:08] angelozerr commented on #786
@pgundlach it seems that the prerelease doen't embed RelaxNG, let us investigate why?

[2022-10-14 16:04] pauljurczak commented on #784
@angelozerr Thanks. This improved things a little bit, but there are still problems. No formatting here:

![Screenshot from 2022-10-14 10-02-40](https://user-images.githubusercontent.com/4933032/195891129-38fd60de-892d-4104-950e-71d365813ab0.png)

No indentation here:

![Screenshot from 2022-10-14 10-04-03](https://user-images.githubusercontent.com/4933032/195891276-fe1bb167-546c-45db-8b59-1de0bda

[2022-10-14 17:24] datho7561 commented on #784
Did you format the file? (`Ctrl+Shift+I`)

[2022-10-14 17:24] fbricon commented on #784
please attach snippet of xml rather than screenshots, it'll be easier to reproduce the issue

[2022-10-14 17:43] pauljurczak commented on #784
@datho7561 Thank you, formatting solves the problem. I was misled be the fact that some files are automatically formatted, e.g.:
[code]
some are partially formatted, e.g.:
[code]
and some are not formatted at all after being loaded, e.g.:
[code]

[2022-10-14 17:47] datho7561 commented on #784
I could be wrong, but I don't think that we format files when they are opened.

[2022-10-14 18:00] pauljurczak commented on #784
@datho7561 You are right. Some GPX files already had line breaks or indentation.

[2022-10-14 18:00] #784 closed

[2022-10-14 18:11] angelozerr commented on #784
I can confirm that.

Glad you fixed your issue and hope you will enjoy with vscode-xml.

[2022-10-14 18:40] angelozerr commented on #786
@pgundlach please retry to install the new prerelease.

For your information I wrote a documentation for RelaxNG with the PR https://github.com/redhat-developer/vscode-xml/pull/787

If you think it misses something please comment.

And don't hesitate to create any issues if you encounter some problem or if you wish some improvement, features.

[2022-10-14 18:45] angelozerr commented on #786
If it is working for you, please close the issue.

[2022-10-14 18:46] angelozerr commented on #450
Ok, prerelease has been fixed, now you can install it and RelaxNG support should be available.

[2022-10-15 09:29] pgundlach commented on #786
Great, thank you, it works now with <? xml-model and with the catalog. I think I have found a small glitch but open another issue for that if I can reproduce it.

[2022-10-15 09:29] #786 closed

[2022-10-15 11:01] pgundlach opened #791 "RelaxNG autocompletion without namespace"
`simple.rng`:

[code]

[code]

the autocompletion should provide the xml namespace so the result looks like this:

[code]

but instead vscode-xml autocompletes to this:

[code]

Version: v0.22.2022101505

![completion](https://user-images.githubusercontent.com/209434/195983082-2680612f-19b5-4fc3-a44d-43ad362975dd.png)

(BTW: the RelaxNG support is awesome!)

[2022-10-17 11:25] tomschr commented on #450
@angelozerr Thank you!
In https://marketplace.visualstudio.com/items?itemName=redhat.vscode-xml, there is no RELAX NG in the "Feature" section mentioned. Maybe you want to update that? :slightly_smiling_face:

[2022-10-17 11:37] angelozerr commented on #450
It will look like this https://github.com/redhat-developer/vscode-xml/blob/9cd07fba66403f6ceac41a37ff610cebb227afe7/README.md

[2022-10-17 15:51] #791 closed

[2022-10-19 09:59] adunning opened #793 "Adding a tag overwrites the following word"
If I place the cursor immediately before a word and add a tag by typing `<`, then selecting one of the automatically completed options, the word is deleted when the tag is added.

https://user-images.githubusercontent.com/1084407/196660384-54b09c93-b5d7-4f4a-94b8-86fcf9ac4ed6.mov

[2022-10-19 10:03] adunning commented on #793
It's not clear to me whether the extension is meaning to wrap the word in the tag, which would sometimes be helpful and I do not see a specific function for this other than the built-in Emmet wrap feature, which does not support XML autocompletion. In TextMate, for instance, one can use `ctrl` + `<` to insert open/close tags around a selection which are mirrored as one edits the tag.

[2022-10-19 11:01] adunning commented on #740
The TODO Highlight extension also accomplishes this.

https://marketplace.visualstudio.com/items?itemName=wayou.vscode-todo-highlight

[2022-10-19 11:05] angelozerr commented on #740
Thanks @adunning for your feedback. I close this issue since it exists an extension which does that and this feature is out of the scope of the vscode xml project which provides xml editing support.

[2022-10-19 11:05] #740 closed

[2022-10-19 11:13] angelozerr commented on #793
The autocompletion behavior tries to support commons usecases. User type start bracket and some tag name and applies the completion.

But I agree that with your usecase the behavior is strange.

We should cover your usecase.

Could you specify in détail the expected behavior.

I dont know if lsp provides the capability to know if user type on Ctrl, but feel free to explain the wishes behavior.

We

[2022-10-19 11:21] pgundlach commented on #791
Thank you very much. It works like a charm.

[2022-10-19 13:03] angelozerr commented on #791
@pgundlach thanks for your feedback and don't hesitate to create any issues to continue to improve the RelaxNG support.

I have some ideas how to improve it and I will create some issues but if issue coming from user, should be better.

[2022-10-19 13:39] adunning opened #794 "Wrap selection in XML element"
Most XML editors have a feature to wrap the current selection in an XML element, providing completion to suggest valid tags at that point in a file.

Within VS Code, the built-in 'Emmet: Wrap with Abbreviation' function provides part of this, but it is not XML-aware and does not give a list of the allowed tags in the current context. It would thus be brilliant if the XML extension could provide th

[2022-10-19 13:44] adunning commented on #793
Many thanks for taking the time to reply! In the case of typing <kbd><</kbd>, I would merely expect the open and close elements to be inserted at the cursor's position – i.e. exactly as things are now, but without deleting the following word. This is the behaviour, for example, of the Oxygen XML Editor.

Since the intention is evidently not to wrap the word, I've moved that to #794.

[2022-10-19 16:07] angelozerr commented on #450
Fixed with https://github.com/eclipse/lemminx/pull/841

We will create the release soon but now you can install the prerelease of vscode-xml.

See documentation at https://github.com/redhat-developer/vscode-xml/blob/main/docs/Features/RelaxNGFeatures.md#relaxng-features

[2022-10-19 16:07] #450 closed

[2022-10-20 20:37] angelozerr commented on #794
@adunning if I understand correctly, teh native emmet extension does the job, but you would like to just have completion for allowed XML tags  in command palette, is that?

[2022-10-20 20:44] adunning commented on #794
Yes, exactly: giving users a list of available tags is an enormous help for beginners to a schema and prevents typos for everyone.

I prefer an inline interface along the lines of what the extension already provides, but it's likely a question of what is easier to implement.

Thank you again for your consideration!

[2022-10-21 10:24] kapexx opened #797 "Experimental formatter ignores xml.format.preservedNewlines"
Thanks for working on the new experimental formatter. I've just tried it on a few documents and compared them to the old formatting. I see a lot differences because the setting `xml.format.preservedNewlines` seems to be ignored in some cases.

With the setting `"xml.format.preservedNewlines": 2` when formatting following document

[code]

I would expected this result:
[code]

The actual result is:

[2022-10-26 18:38] #797 closed

[2022-10-26 18:41] angelozerr commented on #797
Thanks so much @kapexx for having reported this issue. It should be fixed now. Don't hesitate to report other issues with experimental formatter. Our goal is to swith the old formatter with the experimental once we  will be cover all usecases that old formatter is supporting.

[2022-10-31 16:08] datho7561 commented on #758
I managed to get it working using the following steps:
1. Run a container (I ran with `podman run -it fedora:latest /bin/bash`)
2. Use the 'Connect to running container' feature from VS Code. This will open a new window.
4. Install vscode-xml into the container (eg. repeat the regular extension installation process in the new window)
5. Validation and formatting should work

This isn't great, sinc

[2022-11-10 09:23] GitMensch commented on #540
@rgrunber just a ping as every related issues are fixed now

[2022-11-10 09:27] GitMensch commented on #528
With #551 being shipped with [version 0.22.0](https://github.com/redhat-developer/vscode-xml/releases/tag/0.22.0) it should be much easier to do this without restarting vscode altogether - still when changing `xml.server.preferBinary` the command should be executed automatically.

[2022-11-10 10:49] fbricon opened #802 "Generate and bind schema doesn't work"
Given this snippet, generating a schema (xsd. or DTD) creates an empty file, regardless of the binding mechanism:

[code]
![Nov-10-2022 11-40-34](https://user-images.githubusercontent.com/148698/201070763-47cb4d10-d514-4e35-810f-46c25e01549c.gif)

I tested both 0.22.0 and today's pre-release 0.23.x build, on VS Code 1.73.1

Logs:

[code]

[2022-11-10 10:54] fbricon commented on #802
Tested agains VS Code Insiders 1.73.0 before it updated to 1.73.1, and it worked

[2022-11-10 16:49] angelozerr commented on #802
The problem comes from the use of experimental formatter. If you switch to standard formatter, it should work.

[2022-11-10 16:57] angelozerr commented on #802
@fbricon https://github.com/eclipse/lemminx/pull/1365 should fix this issue

[2022-11-10 17:01] angelozerr commented on #794
I fear it can be a long task, I'm not sure that we will implement that soon. If we see that we hav emore andmore user who want to have this feature, we could change the priority.

@adunning don't hesitate to create any issue that you think it is important for RelaxNG and TEI.

For instance I wonder if `xml:id` supports could help TEI users (having completion, definitin, validation for xml:id). If

[2022-11-10 17:47] fbricon commented on #802
any other areas where the new formatter could have changed behavior?

[2022-11-11 19:45] angelozerr commented on #802
No I dont think so.

[2022-11-14 18:01] #802 closed

[2022-11-15 11:05] davidmcl opened #803 "Any plans to create an XML Schema Designer type feature?"
Visual Studio versions like Community & Pro have an XML Schema Designer feature that is very helpful when working with complex XSD documents like those in DDEX.

Any plans to support agraphical feature like this?

Thanks,
David

![XSD](https://user-images.githubusercontent.com/2047925/201904261-ad6aa386-766a-468a-b08d-35b73d98af45.png)

[2022-11-15 11:20] fbricon commented on #803
No, we don't have the bandwidth to do that.
Anyone willing to contribute such a feature, as part of vscode-xml or another companion extension, is welcome.

[2022-11-15 11:20] #803 closed

[2022-11-15 14:09] jperterm opened #804 "Referenced RelaxNG schema not found via XML catalog"
I tried out your new RelaxNG validation feature and it seems that an URI given in `<?xml-model href="[...]"` does not resolve against XML catalogs which can be configured via `xml.catalogs` setting. Absolute file URIs and OS path's are working fine.

[code]

I tested with v0.22 and v0.23.2022111503 (pre-release).

[2022-11-15 15:04] angelozerr commented on #804
Indeed we don't use XML catalog for xml-model, we should implement that.

[2022-11-15 15:10] BuZZ-dEE opened #805 "no svg validation if `jock.svg` is also installed"
If I have a group and remove the end tag `</g>`, I get no error, so the validation does not work.

[2022-11-15 15:50] #805 closed

[2022-11-15 17:36] angelozerr commented on #804
@jperterm could you share the XML that you try to bind. I would like to test with your same rng URL.

Thanks

[2022-11-15 19:18] angelozerr commented on #804
Thanks so much! Let me investigate the problem.

[2022-11-15 19:24] angelozerr commented on #735
@datho7561 I think we can close this issue no?

[2022-11-15 19:27] #719 closed

[2022-11-15 19:28] #735 closed

[2022-11-15 19:29] angelozerr commented on #760
I close this issue since LSP doesnt provide this feature.

[2022-11-15 19:29] #760 closed

[2022-11-15 19:38] angelozerr commented on #631
@fbricon @JessicaJHee it could be nice if experimental formatter could provide this support.

We need at first clarify all suggested settings.

Thanks @martin-braun for your suggestions

[2022-11-16 15:21] angelozerr commented on #804
@jperterm I create a PR to fix the problem at https://github.com/eclipse/lemminx/pull/1371#issuecomment-1317186602

[2022-11-16 15:43] #804 closed

[2022-11-16 17:39] angelozerr opened #808 "Fill remote URL with "Bind to grammar / schema""
Today whenwe click on `Bind to grammar / schema` codelens, we can only select local file.

It should be nice to provide the capability to fill a remote URL too.

See https://github.com/redhat-developer/vscode-xml/pull/807#discussion_r1023172808

[2022-11-17 09:00] angelozerr commented on #572
I would like to work on this issue because in my case when I test some user issues, I need to check if user catalog.xml is registered or not by reading the settings.json.

With those codelens it will b ereally easy to know if XML catalog is registered in the settings.json and it will be really easy to register / unregister XML catalogs.

[2022-11-17 09:13] angelozerr opened #810 "CodeAction to activate `xml.validation.resolveExternalEntities` to true"
By default `xml.validation.resolveExternalEntities` is set to false for security issue. It is nice but it can be hard for user to know why XML validation / completion based on DTD doesn't work when `xml.validation.resolveExternalEntities` is set to false.

I encountered the problem and I though it was a bug from LemMinx, but after debugging LemMinx I noticed that it was just a problem with  `xml.v

[2022-11-17 14:25] angelozerr commented on #805
@BuZZ-dEE you can install pre-release to enjoy with this fix. Please give me feedback.

You should set `xml.validation.resolveExternalEntities` to `true`, see https://github.com/redhat-developer/vscode-xml/issues/810

[2022-11-17 14:55] BuZZ-dEE commented on #805
Hi @angelozerr I will try it, but what do I need?: https://github.com/redhat-developer/vscode-xml/releases/tag/latest

[2022-11-17 15:02] angelozerr commented on #175
@ebramirez if you define `xinclude.mod` like this:

[code]

And you reference this file like this:

[code]

it should work better, no.

It seems Oxygen suggest to do like this.

[2022-11-17 15:05] angelozerr commented on #805
Try to install vscode-xml as you did, and click on `Switch To Pre Release version`

![image](https://user-images.githubusercontent.com/1932211/202482081-30d09a86-42e5-430e-829b-e999fa1365a1.png)

[2022-11-17 15:12] otichy commented on #794
This similar to https://github.com/redhat-developer/vscode-xml/issues/605

I just want to add that this has been implemented both by the [Scholarly XML](https://marketplace.visualstudio.com/items?itemName=raffazizzi.sxml) (mentioned above) as well by [TEI Publisher Extension for Visual Studio Code](https://github.com/eeditiones/tei-publisher-vscode), but neither of them has the completion feature.

[2022-11-17 15:18] #808 closed

[2022-11-17 15:29] angelozerr commented on #794
Ok thanks @otichy for your feedback. I will see if it is easy to implement.

[2022-11-17 15:31] angelozerr commented on #655
@Oobiewan it seems Xerces can support XInclude and we don't enable it. I think (I hope) it is just a matter of settings that we should provide to enable it.

Could you share your full sample please, to see teh content of `deploy_database.xml` and `add_new_customer.xml` please.

[2022-11-17 15:35] BuZZ-dEE commented on #805
[code]

It works now.

[2022-11-17 16:13] angelozerr commented on #805
Thanks for your feedback.

The problem now is with completion. You will see 2 duplicate completion item for the same element which comes from jock.svg and vscode-xml.

I think vscode-xml could support the same feature than jock.svg like better hover documentation and color for rgb attribute.

I will see if jock.svg could be interested to delegate thise features to vscode-xml

[2022-11-17 16:47] BuZZ-dEE commented on #805
@angelozerr I have created https://github.com/lishu/vscode-svg2/issues/129 just to make `jock.svg` aware if the issue.

[2022-11-18 08:08] angelozerr commented on #794
@adunning @otichy I have started to implement inline wrap element at https://github.com/redhat-developer/vscode-xml/pull/813#issuecomment-1319672325 but it requires to do some more work.

[2022-11-22 16:10] rgrunber opened #818 "Combine "startup" & "server.initialized" telemetry events"
If a user has opted-in, we send 2 events on startup of the extension. One purely from the client side, and one from the server side. It would be good to combine these into one. Maybe the "startup" event should wait for the "server.initialized" event, or something to that effect.

Main problem is that, if "server.initialized" fails, there's no server to send the event for failure, so "startup" shou

[2022-11-22 16:10] rgrunber commented on #818
Maybe @JessicaJHee is interested in having a look at this.

[2022-11-22 17:09] datho7561 opened #819 ""Bind to schema" doesn't work if the document doesn't have a root element"
eg. activate the "Bind to schema" command using the following XML document:

[code]

A popup appears saying that the document is already bound to a grammar. It would be nice to get it to work even if there is no root element, or at least correct the popup to say that there needs to be a root element to bind to a grammar.

[2022-11-24 10:30] EmilySeville7cfg opened #820 "Is there anything like SchemaStore but for XSD schemas?"

[2022-11-28 15:58] shubham-m opened #825 "XSD based Autocompletion for substitutionGroup"
Sample XSD - `bookstore.xsd`

[code]

Here **Book** extends **Publication**, but for auto complete the `elements` inside **Book** are not shown in autocomplete.

<img width="608" alt="Screenshot 2022-11-28 at 9 23 07 PM" src="https://user-images.githubusercontent.com/3922150/204322935-72b130dc-1706-407a-95a4-2f36d459f9de.png">

The quick fix tooltip is suggesting the elements but auto complete is

[2022-11-28 16:59] angelozerr commented on #825
@shubham-m could you share please your xml.

[2022-11-28 18:59] shubham-m commented on #825
Sample XML to reproduce the problem ->
[code]

[2022-11-30 06:09] angelozerr commented on #825
@shubham-m I created a PR to fix this issue. See demo at https://github.com/eclipse/lemminx/pull/1386#issuecomment-1331687722

[2022-11-30 18:26] #825 closed

[2022-11-30 18:47] datho7561 opened #827 "Programmatically enable linked editing range"
If we enable linked editing range for all xml documents by contributing the following setting:
[code]

Then it will override whatever the user sets. However, if we enable the setting through the VS Code API in TypeScript, we can first check if the user has explicitly enabled/disabled it first, so that we don't override what the user has set.