[2018-06-15 20:20] fbricon opened #1 "Extension doesn't properly recognize Java 10"
~~Extension doesn't start with Java 9/10. *MAYBE* needs to add module/opens flags as in  https://github.com/redhat-developer/vscode-java/blob/6f16de69371a8ed9684ba8793e289df6750d1423/src/javaServerStarter.ts#L46-L52~~

so actually the java version parsing used in https://github.com/gorkem/vscode-xml/blob/master/src/requirements.ts is outdated, doesn't recognize Java 10. See https://github.com/redh

[2018-08-15 07:27] angelozerr opened #7 "Use org.eclipse.lsp4xml-all.jar?"
I have noticed in https://github.com/gorkem/vscode-xml/blob/master/src/javaServerStarter.ts#L33 that you consume the org.eclipse.lsp4xml-all.jar which contains only https://github.com/angelozerr/lsp4xml/tree/master/org.eclipse.lsp4xml and their dependencies but it doesn't contains extension projects https://github.com/angelozerr/lsp4xml/tree/master/extensions (to have completion, validation for XM

[2018-08-20 21:56] fbricon opened #8 "Add readme"
provide a project description with
- requirements,
- features
- building instructions
- installation instructions (see [download area](http://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=A))

[2018-08-23 13:08] NikolasKomonen opened #10 "Send Settings as part of Initialization Options"
Ensure that settings are set in case of unexpected order of execution

[2018-08-29 13:47] angelozerr opened #13 "Improve search of java"
In my case I have an installed java but not a JAVA_HOME. My java path is in my Windows PATH variable.

To use this java without configuring VSCode preferences, you could search it:

 * with `where java` command in OS Windows
 * with `which java` command for other OS.

This idea was done in Eclipse Bluesky to find the node process. Here the Java code:

[code]

It should be cool to adapt this Java c

[2018-08-30 12:13] angelozerr opened #14 "XML catalog settings"
Please give the capability to configure teh XML catalog settings of lsp4xml language server with VSCode. Thanks!

[2018-08-30 13:10] NikolasKomonen commented on #14
@angelozerr its ready as a PR, so it will be available soon.

[2018-08-30 21:42] NikolasKomonen opened #16 "Implement Autoclosing of tags"
In relation to https://github.com/angelozerr/lsp4xml/issues/82.

See how it's implemented on the client-side for HTML
* https://github.com/Microsoft/vscode/blob/f707828426bd87e88c17d2da34f2ceed0019d8bd/extensions/html-language-features/client/src/htmlMain.ts#L19

* https://github.com/Microsoft/vscode/blob/f707828426bd87e88c17d2da34f2ceed0019d8bd/extensions/html-language-features/client/src/htmlMai

[2018-08-31 15:16] angelozerr opened #17 "XML file associations settings"
Please add file association settings like explained at https://github.com/angelozerr/lsp4xml/wiki/Configuration#file-associations

[2018-09-06 16:27] NikolasKomonen commented on #8
Fixed by GH-11

[2018-09-06 16:27] #8 closed

[2018-09-06 18:01] #1 closed

[2018-09-06 18:05] fbricon commented on #7
@angelozerr we will probably also use all individual jars once we decide to add emmet support in the vscode extension.
It might be useful for the server to provide an uber jar containing both the dependencies and the extensions, but I wouldn't focus on that unless there was an actual need.

[2018-09-07 15:40] angelozerr opened #20 "CodeAction doesn't work in VSCode"
I have tried to test code action in VSCode but it doesn't work altough with Eclipse LSP4E it works?

Here a sample:

[code]

Code action to remove dddddddddddddddddd is displayed, but when I click on it, it doesn't work?

![vscodecodeactionbug](https://user-images.githubusercontent.com/1932211/45228988-fb0bf880-b2c4-11e8-9d7f-5dd3a5ee3765.gif)
Have you an idea? i sit a problem from lsp4xml? Thanks

[2018-09-07 15:52] fbricon commented on #20
This is weird. I don't see why it doesn't work, but my guess is the textedit is malformed (missing fields?)

[2018-09-07 15:54] angelozerr commented on #20
Perhaps it's a problem from lsp4xml which doesn't create the well range?

[2018-09-07 20:16] #10 closed

[2018-09-07 20:16] #14 closed

[2018-09-08 18:01] felixfbecker opened #21 "Troubleshooting help"
I would like to try out this extension. I tried it on this small example project  https://raw.githubusercontent.com/microclimate-devops/xml-language-server/master/client-vscode/xml-client/readme-resources/examples.zip from another XML extension, but I cannot get any of the features to work.

How do I debug this? I don't see an output channel for the extension, is there any way to enable logging?

[2018-09-08 18:40] rtosman commented on #21
There should be an output console for it. I can see it. Doesn't help much
though, since there are just a bunch of java exceptions

On Sat, Sep 8, 2018, 11:01 AM Felix Becker <notifications@github.com> wrote:

[2018-09-09 14:44] felixfbecker commented on #21
I got it to work now, must have been a misconfiguration with vscode. But you are right, there are exceptions. Will file those on the language server.

[2018-09-09 14:44] #21 closed

[2018-09-10 12:42] felixfbecker opened #22 "No IntelliSense on .xsd files"
Originally reported here: https://github.com/angelozerr/lsp4xml/issues/111

I am trying to get autocompletion while authoring an XSD.
For this, I declared the XSD as an instance of the XSD meta schema:

[code]

However, I am not getting any autocompletion or hovers.

If I rename the file to have a `.xml` extension, it works as expected.

It would be great if the extension didn't depend on specific

[2018-09-10 12:44] angelozerr commented on #22
Please add too `xsl` but it will requires the xsl extension https://github.com/angelozerr/lsp4xml/tree/master/extensions/org.eclipse.lsp4xml.xsl (if we don't want to declare the XSL Schema and just using the xsl version declared in the root)

[2018-09-10 12:50] fbricon opened #23 "No end-tag completion on empty character"
Given:
[code]

There's no completion until I press `<`. While I understand autocompletion is triggered on `<`, explicit completion requests (`ctrl+space`), should also return results from anywhere in the document. In this case, it should return `</bar>`.
The current behavior is very frustrating.

This may be a server-side issue (or not). cc @angelozerr

[2018-09-10 12:56] angelozerr commented on #23
@fbricon it's a choice that I have done, because it's exactly the same behaviour of HTML Language Server.

BUT you can see if yout type html (without '<'), it provides completion. This completion comes from emmet.

I would like to have the same behaviour than HTML Language Server, but it requires to improve emmet support to be based on XML Schema https://github.com/angelozerr/lsp4xml/issues/68

Ho

[2018-09-10 13:28] fbricon commented on #23
@angelozerr sorry but I largely prefer the Eclipse behaviour which does:
1 - propose to close opened tag
2 - list all possible tags (i.e existing siblings)

![xml-complete](https://user-images.githubusercontent.com/148698/45300226-c45bfb00-b4db-11e8-8f12-d19dab2da315.gif)

While 2 is nice to have, it may be complicated to implement as it'd conflict with some xsd/dtd constraints.

[2018-09-10 13:33] angelozerr commented on #23
@fbricon I agree with you, but when emmet will be available we will have the same features than Eclipse.

No, I have already though about that. Emmet extension uses the XMLDocument and we know the XML Schema or DTD which is used. After that we just only generate a JS structure from the XML Schema or DTD (by using ContentModelManager) waited by emmet.

If you wish I can work on this issue?

[2018-09-10 13:35] fbricon commented on #23
those completions on empty char should not be dependent on emmet support as they're unrelated

[2018-09-10 13:38] angelozerr commented on #23
HTML Language Server does that to avoid having duplicated compeltion items (from emmet and from emty character), but if you wish to have this feature, please create an issue for lsp4xml. Thanks!

[2018-09-10 14:14] fbricon commented on #22
xsd documents are mapped to xml support. You can see traffic exchanged between vscode and the server when setting `xml.trace.server:"verbose"` in settings.json. So there's something fishy here.

[2018-09-10 14:14] felixfbecker commented on #22
So is this a language server issue after all?

[2018-09-10 14:15] fbricon commented on #22
ooh it seems I got completion support after a while. Maybe downloading the remote resources takes too long?

[2018-09-10 22:45] angelozerr commented on #22
Should be fixed.

[code]
WTP XML Editor don't use this xs:annotation in this case:

![image](https://user-images.githubusercontent.com/1932211/45328270-7f77a900-b55b-11e8-84be-2d1cf7dfe3e6.png)

So which documentation should we shown in this case?

[2018-09-10 22:48] fbricon commented on #13
@angelozerr can you please try again with the latest build from http://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D. @snjeza checked this actually works on windows

[2018-09-10 22:52] angelozerr commented on #22
WTP fixes this speed problem by providing an XML catalog with the 2 XML Schema :

[code]
See https://github.com/eclipse/webtools.sourceediting/blob/master/xml/bundles/org.eclipse.wst.xsd.core/plugin.xml#L86

I think the first time it download the 2 XML Schema and set thoses XML Schema files inside platform:/plugin/org.eclipse.xsd/cache folder, the second time it can use the XML Schema downloaded.

[2018-09-10 23:08] angelozerr commented on #13
I have installed  vscode-xml-0.1.0-206.vsix but it doesn't work. I must define my java.home in preferences again.

[2018-09-11 04:17] fbricon commented on #13
where is your java directory located?
can you paste the content of %PATH%?

the java detection from the path is provided by https://github.com/redhat-developer/vscode-xml/blob/master/src/requirements.ts#L9
Only way to debug it would be to sideload the vscode-xml extension, similar to [vscode-java](https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md#sideloading). (@NikolasKo

[2018-09-11 09:29] felixfbecker opened #25 "Is there a way to associate XML files by file name pattern to XSD schema locations?"
I would like to register the same schemas be used for all `*.xsd` and `*.Format.ps1xml` files. Is there a way to do that through a setting?

[2018-09-11 12:44] fbricon commented on #25
Closing as duplicate of #17

[2018-09-11 12:44] #25 closed

[2018-09-11 13:51] NikolasKomonen commented on #13
He sure will

[2018-09-11 13:52] NikolasKomonen opened #26 "Create guide to side load extension"

[2018-09-11 18:01] angelozerr commented on #13
Thanks for the guide @NikolasKomonen

Here my path:

![image](https://user-images.githubusercontent.com/1932211/45378333-72ab9180-b5fd-11e8-92e7-88e6f1fa88eb.png)

[2018-09-11 18:03] snjeza commented on #13
Windows
- cd <some_directory>
- clone lsp4xml
- clone vscode-xml
- cd lsp4xml
- mvn clean verify -DskipTests
- cd ../vscode-xml
- npm install
- npm run compile
- mkdir server
- cp ../lsp4xml/org.eclipse.lsp4xml/target/org.eclipse.lsp4xml-all.jar server
- code .
- debug 'Launch Extension'

Linux/Mac
- cd <some_directory>
- clone lsp4xml
- clone vscode-xml
- cd vscode-xml
- npm install
- npm run com

[2018-09-11 18:11] snjeza opened #28 "'npm run build-server' doesn't work on Windows"
[code]

[2018-09-11 19:00] NikolasKomonen opened #29 "Create joinCommentLines configuration for normalization"
Create the configuration in package.json for joinCommentLines (normalize the content) and possibly other preferences for the future.

[2018-09-11 19:01] fbricon commented on #28
Should use backslashes?
Does it work in vscode-java?

[2018-09-11 20:37] snjeza commented on #28
yes, it works.

[2018-09-12 00:11] #28 closed

[2018-09-12 11:55] felixfbecker opened #32 "Documentation in completion has monospace font"
![image](https://user-images.githubusercontent.com/10532611/45423389-7d186a80-b693-11e8-908f-f6fc439d10a4.png)

In other languages, this is rendered in a normal font

[2018-09-13 17:51] snjeza commented on #13
@angelozerr Are you using a 32-bit JDK?

[2018-09-13 23:45] angelozerr commented on #13
@snjeza see my PR https://github.com/redhat-developer/vscode-xml/pull/33 which must not be merged but which show you how I have fixed the problem with my Window context. I'm not sure if you are agree to support this javapath Oracle context. But JRE should be supported I think.

[2018-09-14 08:58] angelozerr commented on #20
lsp4xml returns now list of Command instead of CodeAction (like CSS Language Server). It requires that this command must be registered on client side. See my PR at https://github.com/angelozerr/lsp4xml/commit/b7f826e680aea25a13033764517523be9309a90d

[2018-09-14 14:43] #17 closed

[2018-09-14 16:44] snjeza commented on #13
I can't reproduce the issue.
@angelozerr  Your PR doesn't work if JAVA_HOME is set. It also doesn't work on Linux.
You can create an issue against https://github.com/jsdevel/node-find-java-home.

[2018-09-14 19:00] fbricon commented on #13
The whole javapath thing seems to be specific to Oracle JRE on windows.
For now, since we documented JDK as a requirement, I don't think this is a pressing issue if we want to release.

[2018-09-17 08:42] angelozerr commented on #20
@fbricon I would like to provide codeaction for vscode-xml. It seems you are not OK with my https://github.com/redhat-developer/vscode-xml/pull/34 (which works like CSS Language Server).

Could you help me to configure vscode-xml to support codeaction literal please. Otherwise if it's not possible (vscode supports codeaction literal?) is it possible to accept my PR https://github.com/redhat-develo

[2018-09-18 18:46] fbricon commented on #32
Most likely caused by the server sending plain text doco. It should return markdown instead.

[2018-09-18 19:30] NikolasKomonen opened #38 "Disable editor.autoClosingBrackets to allow xml.autoClosingTags to work"
Follow,

https://github.com/redhat-developer/vscode-java/blob/master/src/extension.ts#L374

https://github.com/redhat-developer/vscode-java/blob/master/src/extension.ts#L351

to notify the user to disable the setting

[2018-09-18 20:03] fbricon opened #40 "Document all available preferences in README"
... also mention the incompatibility between autoclose tag and brackets

[2018-09-18 21:29] fbricon commented on #23
So this one is now partially complete. Completion on empty space works for adding new tag now, but not for closing.

[2018-09-18 21:33] fbricon commented on #16
Fixed with #39

[2018-09-18 21:33] #16 closed

[2018-09-18 21:34] fbricon commented on #38
you need to make sure `editor.autoClosingBrackets` is disabled for [xml] only, not for all (dunno how to do that)

[2018-09-19 21:20] fbricon opened #42 "Simplify getSettings()"
getSettings should mostly be equivalent to

[code]

That makes all xml settings automatically sent to the server, so no need to change anything here when new settings are added to package.json

[2018-09-20 12:42] angelozerr commented on #32
Please create an issur for that. But the main problem is that teh xsd:documentation can be written in any format (text, html, other). So how to convert any format to markdown?

[2018-09-20 12:43] felixfbecker commented on #32
Plain text renders fine as markdown. Markdown can include HTML, so HTML renders fine as markdown too. Are there any other formats used in the wild?

[2018-09-20 12:47] angelozerr commented on #32
@felixfbecker you mean that lsp4xml doesn't need to convert to a markdown format? Just set the the MarkupContent as "markdown" kind?

[2018-09-20 12:49] felixfbecker commented on #32
Yeah. That's what all language servers I know do

[2018-09-20 12:52] fbricon commented on #32
Vscode markdown renderer does not support HTML in markdown documentation. See https://github.com/Microsoft/vscode/issues/21141#issuecomment-281931804

[2018-09-20 12:58] felixfbecker commented on #32
But how would marking the content as markdown (which it technically is in that case) be any worse than marking it as plain text? In both cases you see HTML tags in VS Code, but text _without_ HTML renders way nicer and other clients do not have this problem. Also, the hovers already seem to use markdown anyway?

[2018-09-20 15:31] NikolasKomonen commented on #42
@fbricon what about sending the log file path. Is this an acception?

[2018-09-20 15:34] NikolasKomonen commented on #38
Will be done by

[code]

[2018-09-20 17:40] gorkem opened #43 "Hover error"
When I hover on a pom.xml I see the hover content as `Unsupported Markup content received. Kind is: undefined`.

[2018-09-21 15:41] fbricon commented on #43
@angelozerr error still occurs. Server sends:
[code]

[2018-09-21 19:00] #42 closed

[2018-09-22 13:06] angelozerr commented on #43
I will investigate more, but the thing I don't understand is that it worked before, now? Perhaps you are using last version of vscode which breaks something.

[2018-09-22 13:11] angelozerr commented on #43
It works for me?

![image](https://user-images.githubusercontent.com/1932211/45917541-bb730e00-be79-11e8-8667-05329d528a06.png)

[2018-09-23 21:35] fbricon commented on #43
I can no longer reproduce the issue. Closing as fixed.

[2018-09-23 21:35] #43 closed

[2018-09-24 15:16] #40 closed

[2018-09-25 22:26] fbricon opened #52 "Support auto indentation when hitting enter inside a tag"
Similar to the html support in vscode, hitting `enter` in a xml tag should automatically indent the content.

![sep-25-2018 18-23-36](https://user-images.githubusercontent.com/148698/46046781-58d77780-c0f0-11e8-8baa-c44c8f66746b.gif)

No idea how it's implemented in the html extension. It's probably a client-side feature, but not necessarily.

[2018-09-25 22:27] fbricon commented on #52
Found the idea in https://stackoverflow.com/questions/51235400/visual-studio-code-auto-close-tag-and-indent-xml-as-with-html

[2018-09-28 06:18] fbricon commented on #52
In the [html extension](https://github.com/Microsoft/vscode/blob/494b385a96aa15fd68001c15b0d94539d4a9a402/extensions/html-language-features/client/src/htmlMain.ts#L86-L103), this is achieved via those dreadful regexp patterns:

[code]

/me needs to throw up

[2018-09-28 06:37] fbricon commented on #52
Got a fix. Will PR after I get some shut eye.

[2018-09-28 13:46] fbricon commented on #52
Tadaaaa

![auto-indent-on-enter](https://user-images.githubusercontent.com/148698/46212175-5436dd00-c303-11e8-940f-72d7ea488252.gif)

[2018-09-28 13:51] #52 closed

[2018-10-01 08:55] angelozerr commented on #23
I'm working on this issue...

[2018-10-01 14:04] dgolovin opened #54 "Show content for collapsed nodes when mouse hoover over `...`"
There is no way to peak inside of collapsed xml node without expanding it again.

[2018-10-01 15:51] fbricon commented on #54
Do you have an example of this working for other languages in vscode?

[2018-10-03 04:00] dgolovin commented on #54
@fbricon nope, would 'editor.action.showHover' command help here?

[2018-10-03 11:44] fbricon commented on #54
No. I don't know that this is supported by vscode.

[2018-10-04 01:25] fbricon opened #55 "Add XSL support"
Currently, when an xsl document is opened, it gets no XML support whatsoever, as it's set as its own language in vscode.
See [WhatIsXSL-example.xsl.zip](https://github.com/redhat-developer/vscode-xml/files/2444580/WhatIsXSL-example.xsl.zip) from https://www.w3.org/Style/XSL/WhatIsXSL.html

[2018-10-04 01:28] fbricon commented on #55
One way to workaround it is to manually set the Language Mode to XML, or to make things more permanent, add a file association in settings.json:

[code]

[2018-10-05 13:33] #55 closed

[2018-10-08 23:29] angelozerr commented on #23
@fbricon please give me feedback, it should be fixed in https://github.com/angelozerr/lsp4xml/issues/112

[2018-10-11 19:51] alessandrodimarco opened #59 "Prevent `splitAttributes` from splitting elements with one attribute"
When `splitAttributes` is enabled, elements with one attribute get split onto multiple line. For example:
[code]
becomes
[code]

The `splitAttributes` comment says it will split multiple attributes onto a new line. I'm not sure if this is the expected behavior but it would nice to have elements with one attribute stay on the same line.
[code]

[2018-10-11 20:08] #23 closed

[2018-10-11 20:19] NikolasKomonen commented on #59
@alessandrodimarco Thanks for pointing this out, you're right. It'll be fixed in the next release.

[2018-10-12 14:49] #29 closed

[2018-10-12 14:50] fbricon commented on #7
Nothing to change for now. Closing.

[2018-10-12 14:50] #7 closed

[2018-10-12 15:29] NikolasKomonen opened #60 "Ensure the extension works with a proxy"
Enable the server to be started with proxy values if they exist.

Existing default vscode preferences already there for proxy information.
Just search proxy in preferences.

[2018-10-12 15:29] fbricon opened #61 "Expose lsp4xml vm arguments settings"
So that users can fine-tune memory or proxy settings as they need.
See https://github.com/redhat-developer/vscode-java/blob/master/package.json#L69-L76
and https://github.com/redhat-developer/vscode-java/blob/7b0e8845d90c4a956fde066fa2b5422835fb64b2/src/javaServerStarter.ts#L60-L61
and  https://github.com/redhat-developer/vscode-java/blob/7b0e8845d90c4a956fde066fa2b5422835fb64b2/src/javaServerStar

[2018-10-12 15:30] fbricon commented on #61
You can call the new preference `xml.ls.vmargs`

[2018-10-12 15:38] fbricon commented on #60
Should be covered by #61 . But we need to be able to check it. @snjeza can help test that kind of thing hopefully ;-)

[2018-10-12 15:51] fbricon commented on #61
We need to define sensible default memory settings for running the server. Check if 64MB or 128MB will be enough to handle reasonably large documents, say 30k lines

[2018-10-12 16:52] #59 closed

[2018-10-19 15:46] #38 closed

[2018-10-19 18:07] fbricon commented on #61
Fixed with #63

[2018-10-19 18:07] #61 closed

[2018-10-22 19:35] #60 closed

[2018-10-22 19:37] fbricon commented on #60
please add that to the wiki

[2018-10-22 19:40] NikolasKomonen commented on #60
Ill do it

[2018-10-22 21:38] snjeza commented on #60
A proxy with a password won't work if https://github.com/angelozerr/lsp4xml/pull/171 isn't applied.

[2018-10-28 12:41] ehigiepaul opened #66 "no code completion on nested xml elements"
Good day,
I will like to report an issue I noticed.

I  created a custom xsd schema for a xml file. Am using Vscode with your vscode-xml extension.

The schema works for only the top elements giving me all its attributes from my xsd file but not on the nested elements in the xml file.

I used the same xsd schema file in Jetbrain Intellij and it worked fine.

Here is an example of my issue.
![xml_s

[2018-10-28 13:06] angelozerr commented on #66
@ehigiepaul I improved XML Schema in server but I don't know if vscode-xml use it.

Please share your xml + schema in order I reproduce your problem. Thanks!

[2018-10-28 13:09] ehigiepaul commented on #66
Please find attached are the files i used

[kll Page.zip](https://github.com/redhat-developer/vscode-xml/files/2522788/kll.Page.zip)

[2018-10-28 14:19] fbricon commented on #66
Can you please share your file association settings? Also, give the latest [vsix build](http://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D) a try.

[2018-10-28 14:50] fbricon commented on #66
Latest build gives even different errors, no completion at all:

<img width="1369" alt="screen shot 2018-10-28 at 10 48 29 am" src="https://user-images.githubusercontent.com/148698/47617594-229a6880-da9f-11e8-83fe-c7eabf31a5ed.png">

Look like a severe regression server-side

[2018-10-28 15:01] ehigiepaul commented on #66
I got the same issue. I solved that by
replacing this line

with this

Just remove the namespace and targetNamespace attributes from the xsd file

But i still get the swirling line on the Page tag, I get completion on the top element but still not on the  nested.

[2018-10-28 17:03] angelozerr commented on #66
Please create an issue at https://github.com/angelozerr/lsp4xml/issues

I suspect the use of xs:extension causes the problem (perhaps which is not supported?), but I have not sure.

[2018-10-28 18:57] fbricon opened #67 "turn lsp4xml cache on by default"
Need to set `"xml.useCache":true` in the extension preferences. See https://github.com/angelozerr/lsp4xml/issues/159

[2018-10-28 21:40] angelozerr commented on #67
@fridex I have set it as default in server side, see https://github.com/angelozerr/lsp4xml/commit/db419972bc8bb0c6261684fd365743d7b5ba560c

[2018-10-28 21:53] fridex commented on #67
@angelozerr wrong nick? :)

[2018-10-28 22:28] angelozerr commented on #67
Sorry @fridex -( with my mistake.

@fbricon I have set it as default in server side, see angelozerr/lsp4xml@db41997

[2018-10-29 04:11] fbricon commented on #66
Upstream issue: https://github.com/angelozerr/lsp4xml/issues/177

[2018-10-29 04:30] fbricon commented on #67
@angelozerr I don't see anything downloaded/cached when opening an actual schema:
[code]

[2018-10-29 04:42] ehigiepaul commented on #66
Can I get the **VSIX Build** with the fix so i can test it out

[2018-10-29 04:48] fbricon commented on #66
Sorry, but our CI server is currently down and no longer builds the vsix files.
Your best chance to get a new binary quickly is to build it yourself: follow [steps 1-5](https://github.com/redhat-developer/vscode-xml/blob/master/CONTRIBUTING.md), then, from the vscode-xml directory, execute:

* `npm install -g vsce`
* `vsce package`

It'll generate a new visx file under vscode-xml.

[2018-10-29 07:44] angelozerr commented on #67
Yes it's normal. The cache download is done when Xerces `XMLEntityResolver#resolveEntity` is done.

This resolveEntity method is called when:

 * XML Schema uses import (not in your case of resource.xsd)
 * XML declares use of XML Schema with `xsi:schemaLocation` or `xsi:noNamespaceSchemaLocation` which have uri which start with `http` or `ftp`.

[2018-10-29 13:50] #66 closed

[2018-10-31 19:56] fbricon commented on #22
Intellisense now works for xsds. Hover not so much.

[2018-10-31 20:19] fbricon commented on #22
Actually, it requires server caching to be enabled in vscode. @NikolasKomonen can you fix #67?

[2018-10-31 20:33] angelozerr commented on #22
No need that since, server enable cache by default.

[2018-10-31 20:33] angelozerr commented on #22
Whzt do you mean?

[2018-11-02 14:40] fbricon opened #70 "Provide documentation in the wiki"
* [x] file associations
* [x] catalogs
* [x] server vm arguments
* [x] proxy support
* [x] formatter settings
* [x] cached data

[2018-11-02 14:41] fbricon commented on #70
then add a link to the wiki from the readme

[2018-11-03 05:36] fbricon opened #73 "The extension binary is suddenly 2MB larger"
See http://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D: on Oct 11th 2018, the extension went from 5.1MB to 7.0MB (vscode-xml-0.2.0-348.vsix).

Need to investigate what happened there.

[2018-11-03 05:48] fbricon commented on #73
turns out the node_module directory is now 14.5MB on disk, vs 1.6MB before.
Fucking node.
Caused by an update of [package-lock.json](https://github.com/redhat-developer/vscode-xml/commit/022d05bf2467db2bde5efc5df4b72493e4359639#diff-32607347f8126e6534ebc7ebaec4853d).

No idea what we can do about it, I barely know anything about npm

[2018-11-03 06:50] fbricon commented on #22
@angelozerr see https://github.com/angelozerr/lsp4xml/issues/192.
I'll close this issue for now as it focuses on completion support, which is now fully operational.

[2018-11-03 06:50] #22 closed

[2018-11-05 15:16] fbricon commented on #73
@NikolasKomonen you can try to run `rm -rf node_modules; npm install; vsce package` before and after applying this PR to see the impact on the vsix size.

[2018-11-05 15:22] #73 closed

[2018-11-05 15:23] ralfhandl commented on #70
Happy to see catalogs in the todo list: I can't figure out how to set up a catalog of XML schemas.

Ideal example would contain:
- xml.catalogs entry in (user/workspace) settings with path to catalog file in (Windows) file system
- catalog.xml file with entries mapping XML namespace names to XSD files in (Windows) file system

Naive approach (in user settings: "xml.catalogs":["path to Eclipse Phot

[2018-11-05 16:03] fbricon commented on #70
@ralfhandl you mean you pointed to your workspace's system catalog, like:
/Users/username/path/to/workspace/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml? or some other path?

Anyways, if that doesn't work, I suspect this might be caused by schemas using the `jar:` URIs. I suggest you open a specific ticket about it. cc @angelozerr

[2018-11-05 16:06] angelozerr commented on #70
Yes it's mu suspection too:)

@ralfhandl I think file: URIs should work, have you tried?

[2018-11-05 16:33] fbricon commented on #70
@ralfhandl please start by opening a separate issue ;-)

[2018-11-05 16:44] ralfhandl opened #78 "XML catalog support apparently not working"
I need to validate XML files against their XML schemas, and injecting xsi:schemaLocations into those files is not possible/feasible.

XML catalogs should solve that, yet I can't get that to work.

What I tried in USER SETTINGS:
[code]

The file `O:\git\odata-csdl-schemas\catalog.xml` contains
[code]

The first entry is copied from Eclipse's system_catalog.xml and should help validate the catalog.x

[2018-11-05 16:45] ralfhandl commented on #70
@fbricon Done: https://github.com/redhat-developer/vscode-xml/issues/78

[2018-11-05 16:56] fbricon commented on #78
@angelozerr seems like catalog support is broken in master. Testing the good old IBM examples https://raw.githubusercontent.com/microclimate-devops/xml-language-server/master/client-vscode/xml-client/readme-resources/examples.zip, I get no errors, but that diagnostic that won't go away:
<img width="679" alt="screen shot 2018-11-05 at 11 55 37 am" src="https://user-images.githubusercontent.com/1486

[2018-11-05 20:15] NikolasKomonen commented on #70
@fbricon everything but formatting settings is implemented, do you think its something we need to do?

[2018-11-06 10:11] iTReprise opened #79 "DTD validation problems not refreshing correctly"
When I change a dtd <!ELEMENT> declaration the file doesn't validate automatically. I have to force restart VSCode to see, if my changes fixed the problem.

Example:

[code]

This file is invalid because its missing `<!ELEMENT id (#PCDATA)>`. Adding the line doesn't cause the error to disappear, only after restarting VSCode the problem is it fixed.

I'm using VSCode 1.27.2 on Kali Linux. Java JDK

[2018-11-06 12:48] fbricon commented on #79
See upstream issue: https://github.com/angelozerr/lsp4xml/issues/194

[2018-11-06 12:55] ralfhandl opened #80 "Code completion is sometimes "one off""
Code completion is "one off" in some places of the XML file in the attached [mini.zip](https://github.com/redhat-developer/vscode-xml/files/2553189/mini.zip).

At this position it should suggest `edmx:Include` and `edmx:IncludeAnnotations`, instead it suggests nothing:

![image](https://user-images.githubusercontent.com/951576/48065124-1a8ea700-e1ca-11e8-8a84-13d872fcde2c.png)

Instead it shows th

[2018-11-06 13:08] angelozerr commented on #79
Indded it should work:

![dtd](https://user-images.githubusercontent.com/1932211/48066260-65f68480-e1cd-11e8-8976-fc106cd6e56f.gif)

I think we should add a test with this case.

[2018-11-06 13:14] angelozerr commented on #80
Please install vscode-xml upstream, it should work better:

![image](https://user-images.githubusercontent.com/1932211/48066542-32682a00-e1ce-11e8-8b96-dcc37c9cd22d.png)

[2018-11-06 13:53] fbricon commented on #80
Already fixed in 0.2.0. Please try the latest CI build:

- Download the latest development VSIX archive [from here](http://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D). `(vscode-xml-XXX.vsix)`
- Go to the Extensions section in VSCode.
- At the top right click the `...` icon.
- Select 'Install from VSIX...' and choose the visx file.

[2018-11-06 13:53] #80 closed

[2018-11-06 14:28] ralfhandl commented on #80
Thanks!

[2018-11-06 15:15] fbricon commented on #79
Works in 0.2.0.  Please try the latest CI build:

- Download the latest development VSIX archive [from here](http://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D). `(vscode-xml-XXX.vsix)`
- Go to the Extensions section in VSCode.
- At the top right click the `...` icon.
- Select 'Install from VSIX...' and choose the visx file.

[2018-11-06 15:15] #79 closed

[2018-11-07 10:50] angelozerr commented on #78
Ok thanks for your feedback, I must find time to study your usecase.I will ping you when if I find and fixes problem.

I meant using last build of vscode-xml, sorry with my bad explanation.

[2018-11-07 12:07] ralfhandl commented on #78
Thanks!

Do you have a working example using a catalog?

[2018-11-07 12:35] angelozerr commented on #78
For our lsp4xml tests, we use https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/test/resources/catalogs/catalog.xml

[2018-11-07 13:10] ralfhandl commented on #78
Thanks. Can you point me to an XML file that is successfully validated using this catalog.xml?

[2018-11-07 13:19] angelozerr commented on #78
We have not XML file in our test, just string, see for instance https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/test/java/org/eclipse/lsp4xml/extensions/contentmodel/XMLSchemaDiagnosticsTest.java#L31

[2018-11-07 13:38] fbricon commented on #78
@ralfhandl you can also use file association instead, to bind some xml file patterns to schemas, so you don't rely on xsi:schemaLocation or xsi:noNamespaceSchemaLocation.

It'd be easier if you provided a set of sample documents you want to associate (through catalog or other mechanism).

[2018-11-07 13:41] fbricon commented on #78
@ralfhandl can you please open an issue for that? If you could provide more details about that failure, that'd help.

[2018-11-07 15:48] ralfhandl commented on #78
Here's what I want to do:
* my XML documents declare two XML namespaces, one with prefix `xmlns:edmx=...`, one as default namespace without prefix `xmlns=...`
* `catalog.xml` maps the XML namespace URLs to XSD files in folder `schemas` of this workspace
* the workspace settings reference `catalog.xml` in the workspace root
* folder `examples` contains XML documents, here only `mini-catalog.xml`. T

[2018-11-07 15:58] #67 closed

[2018-11-08 13:59] angelozerr commented on #78
@ralfhandl thank a lot for your great sample and explanation. XML catalog configuration is a nightmare and without debugging the lsp4xml, I was not able to know your problems.

To be honnest with you, I'm not a big expert with XML catalog, but here steps to follow to using yoru catalog:

 * the xml.catalog settings must use the full path. For the moment you must use full path. I'm working in this

[2018-11-08 16:02] ralfhandl commented on #78
@angelozerr thanks for the investigation!

A few things I noted:

1. Full path to catalog has to use syntax `"c:/path/to/catalog.xml"`. Neither `"file:/c:/...`" nor `"file:///c:/...`" nor `"c:\\...`" worked
2. `catalog.xml` has to include `<public publicId=...` for the root XSD _plus_ one `<uri name=...` for the root XSD and each imported XSD, in my case:
[code]
3. Having no `<uri name=...` entry

[2018-11-08 19:37] NikolasKomonen opened #84 "Create new preference for whitespace in self closing tags"
Use the preference name `spaceBeforeEmptyCloseTag`.

[2018-11-08 20:08] fbricon commented on #70
Everything's done. Thanks @NikolasKomonen!

[2018-11-08 20:08] #70 closed

[2018-11-09 04:59] angelozerr commented on #78
@ralfhandl thank again for your feedback.

If you reinstall the last build of vscode-xml, it should supports:

 * "./catalog.xml" syntax
 * "file:///C:/catalog.xml"

for that see https://github.com/angelozerr/lsp4xml/issues/206

If you enable log, you could see if your catalog path is correct or not https://github.com/angelozerr/lsp4xml/issues/205#issuecomment-437250126

I continue to investigate

[2018-11-09 09:57] ralfhandl opened #86 "Problems with npm run build-server on Windows"
When trying to build vscode-xml on Windows 10 Enterprise 1803 I run into a few issues:

1) `npm install` ends with warnings
[code]

2) `npm run build-server` ends with an error:
[code]

3) After manually downloading the `maven-wrapper.jar` I ran into another maven-related error so I decided to look over at https://github.com/angelozerr/lsp4xml where I found the hint to
* Run `./mvnw clean verify`

[2018-11-13 13:42] angelozerr commented on #78
@ralfhandl 2), 3), 4) are linked to https://github.com/angelozerr/lsp4xml/issues/217 that I have tried to fix.

If https://github.com/angelozerr/lsp4xml/issues/217 is working I think we can close this issue, no?

[2018-11-13 15:31] ralfhandl commented on #78
@angelozerr The main issue is fixed, and the sub-topics are addressed by other issues, so feel free to close this issue.

Thanks again for the quick solution!

[2018-11-13 15:40] angelozerr commented on #78
You have some troubles with XML catalog now? If yes, which troubles?

[2018-11-13 16:01] ralfhandl opened #87 "Discrepancy in completion between prefixed and default namespaces"
I have XML files that use an "outer" namespace which in turn imports an "inner" namespace.

If the "inner" namespace is declared as the default namespace via `xmlns="..."`, code completion works fine in the "outer" and the "inner" part, e.g.:
![image](https://user-images.githubusercontent.com/951576/48425038-41b61d00-e764-11e8-943d-f9658f289dd3.png)

However if the "inner" namespace is declared wi

[2018-11-13 16:02] ralfhandl commented on #78
@angelozerr XML catalog support works fine now with build #506, and this issue can be closed.

I have run into a minor new issue with completion when using namespace prefixes for both namespaces. I've opened https://github.com/redhat-developer/vscode-xml/issues/87 for this separate issue.

[2018-11-13 16:02] fbricon commented on #87
Can you provide a sample document reproducing this issue?

[2018-11-13 16:06] ralfhandl commented on #87
@fbricon is attached now

[2018-11-14 14:28] fbricon opened #88 "DTDs should not be validated against lsp4xml"
if you save http://java.sun.com/dtd/web-app_2_3.dtd locally and open it in VS Code, an error shows up on the 1st ELEMENT, L72. "The markup in the document preceding the root element must be well-formed."
DTDs are not actual xml documents themselves, so they should not be validated against lsp4xml.

[2018-11-14 14:42] angelozerr commented on #88
It's an issue for lsp4xml, no? More perhaps we should have support for DTD himself like completion and validation. I don't know if xerces provides this features.

[2018-11-14 14:42] fbricon commented on #88
Because DTD is actually part of the XML spec, we should probably be able to get tooling support for it, but "The markup in the document preceding the root element must be well-formed." should be ignored. So it might be a server-side issue after all

[2018-11-14 14:46] fbricon commented on #88
I opened https://github.com/angelozerr/lsp4xml/issues/223 upstream

[2018-11-14 15:29] fbricon opened #89 "Add 'xml.problems.noGrammar' preference, to indicate document won't be validated"
expose a new `xml.problems.noGrammar` preference, with valid values being `ignore|hint|info|warning|error`. See https://github.com/angelozerr/lsp4xml/commit/8ae6fc6f01f2de473e76d21c631bf659937fbb7f.

- [x] update package.json
- [x] update readme
- [x] update wiki

[2018-11-14 21:56] #84 closed

[2018-11-14 22:10] fbricon commented on #87
ok, I can reproduce the issue with those samples, thanks!
That should give @angelozerr and/or @NikolasKomonen enough info to find a solution.

[2018-11-15 16:45] #78 closed

[2018-11-15 18:13] fbricon commented on #88
The error no longer shows up

[2018-11-15 18:13] #88 closed

[2018-11-16 21:12] snjeza commented on #86
mvnw.cmd can't download maven-wrapper.jar because some Windows versions have TLS 1.2 disabled.
See https://docs.microsoft.com/en-us/windows/desktop/SecAuthN/protocols-in-tls-ssl--schannel-ssp-
TLS 1.0 and TLS 1.1 are disabled on the https://repo.maven.apache.org/ server - https://www.ssllabs.com/ssltest/analyze.html?d=repo.maven.apache.org

The Java LS (https://github.com/eclipse/eclipse.jdt.ls) h

[2018-11-16 21:19] fbricon commented on #86
Thanks @snjeza. I've added the maven wrapper to the lsp4xml git repo. @ralfhandl please try again.

[2018-11-19 02:28] akaroml opened #91 "Error messages hard to read"
When editing pom.xml file with an error, the error message showed by XML extension is very hard to read.
<img width="760" alt="screen shot 2018-11-19 at 10 12 24 am" src="https://user-images.githubusercontent.com/16755094/48682564-c92be200-ebe3-11e8-8afa-1f27dc835673.png">
It's too long
It has too much information and unnecessary details
It does not provide clear action items

Please consider impr

[2018-11-19 03:41] fbricon commented on #91
See upstream issue: https://github.com/angelozerr/lsp4xml/issues/181

[2018-11-19 21:45] tristan957 opened #92 "Getting a ContentIllegalInProlog error in my maven.config file"
[code]
leads to
[code]

This is not an XML file as far as I can tell. Trying to point Maven at a mirror using project specific settings. Maven from command line works fine.

[2018-11-19 22:13] fbricon commented on #92
VSCode [associates the .config extension to xml ](https://github.com/Microsoft/vscode/blob/master/extensions/xml/package.json#L18) by default.

I suggest you open a bug upstream for the VS Code team to remove that association.

Meanwhile LSP4XML does its job. It's been told this is an XML file, but doesn't validate so reports the error.
As an immediate workaround, you can either set the proper lan

[2018-11-19 22:13] #92 closed

[2018-11-20 00:17] tristan957 commented on #92
I will open a report upstream. Sorry for the issue.

[2018-11-20 17:55] #89 closed

[2018-12-01 08:21] angelozerr opened #94 "vscode xml 0.3.0 is broken?"
I have installed  vscode-xml-0.3.0-630.vsix and nothing is working (hover, completion, etc). I have checked that in the trace that vscode client sends requests, but there is never response from the lsp4xml server.

I don't know if it's an issue with lsp4xml? It works with Eclipse IDE (LSP4E)

I'm using VSCode:

[code]

[2018-12-01 14:47] angelozerr commented on #94
Just for your information, I have removed 0.3.0 installation, reinstall 0.2.0 and change the xml-language-server.all.jar with my mine (from master) and it works great.

I hav enot found why 0.3.0 doesn't work?

[2018-12-01 17:31] fbricon commented on #94
I installed vscode-xml-0.3.0-630.vsix and it works for me.

<img width="968" alt="screen shot 2018-12-01 at 12 30 58 pm" src="https://user-images.githubusercontent.com/148698/49331032-fe7deb80-f564-11e8-8c91-607807e0675c.png">

Check with `jps` if you have any org.eclipse.lsp4xml-all.jar processes running, and kill them if necessary.

[2018-12-05 06:46] fbricon commented on #86
@snjeza can you confirm this works now on windows?

[2018-12-05 13:49] snjeza commented on #86
I confirm. There is the same issue in vscode-java.

[2018-12-05 13:58] #86 closed

[2018-12-05 19:04] fbricon commented on #32
Related server side issue: https://github.com/angelozerr/lsp4xml/issues/245

[2018-12-05 19:06] fbricon commented on #94
@angelozerr [recent visx](http://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D ) still doesn't work for you?

[2018-12-05 19:17] angelozerr commented on #94
I will retry it ASAP and gives you feedback.

[2018-12-14 16:10] fbricon commented on #94
ping?

[2018-12-14 21:06] fbricon commented on #32
I quickly tried markdown rendering with remark: https://github.com/fbricon/lsp4xml/tree/remark:

<img width="529" alt="screen shot 2018-12-14 at 4 02 11 pm" src="https://user-images.githubusercontent.com/148698/50027419-2b48ee80-ffba-11e8-98b6-40a2ea24a89a.png">

[2019-01-02 12:20] hmobius opened #96 "Get XML format command to preserve whitespace as XML value"
I frequently want to space-separate a value in my XSL output and do so by using the following XSL

[code]

But when I format the XSL using your extension, it removes the space from between the <xsl:text> tags. Please can you add a setting to preserve whitespace?

[2019-01-02 14:35] NikolasKomonen commented on #96
For sure. This is an upstream issue, it can be found here : https://github.com/angelozerr/lsp4xml/issues/273

[2019-01-17 03:22] Eskibear opened #98 "Warnings in extension development"
Not a blocking issue. Just some annoying warning messages in debug console if I have xml extension installed.

[code]

### The first one:
https://github.com/redhat-developer/vscode-xml/blob/32b586ce109b9ac6d1fa2a532d1abb4200a8a26d/src/extension.ts#L128
`let configXML = workspace.getConfiguration(undefined, null)`, `ConfigXML.get("[xml]")` should work.

### The second one:
https://github.com/redhat

[2019-01-17 18:41] fbricon commented on #98
@Eskibear do you think you could provide a PR?

[2019-01-24 08:54] Eskibear opened #102 "Content of completionItem detail is not well-rendered"
See below;
![image](https://user-images.githubusercontent.com/2351748/51666216-54689000-1ff8-11e9-96f3-19cfd9b721e6.png)

#### Current
[code]

#### Expected

xxx`<name>value</name>`yyy

[2019-01-24 13:31] fbricon commented on #102
Closing as duplicate of #32

[2019-01-24 13:31] #102 closed

[2019-01-25 20:56] fbricon commented on #94
can we close it?

[2019-01-28 21:03] fbricon opened #105 "Consume released lsp4xml build when performing a release"
right now, the vscode-xml release process rebuilds the whole lsp4xml package from master, it should instead download the released version, without building it and simply embed it.

[2019-01-28 23:49] fbricon commented on #94
seems to work now, 0.3.0 has been released anyway.

[2019-01-28 23:49] #94 closed

[2019-02-11 13:35] tovine opened #108 "Potential leak of handles and memory"
It seems like something in the way you (or one of your dependencies) use java causes it to over time leak file handles, which in turn makes windows expand the virtual memory page table and eat all available RAM...

Please see these two comments on this issue for more details:
https://github.com/Microsoft/vscode/issues/50280#issuecomment-458678352
https://github.com/Microsoft/vscode/issues/50280#is

[2019-02-11 18:36] angelozerr commented on #108
Please give us usecase to reproduce the problem. Thanks

Le lundi 11 février 2019, Torbjørn <notifications@github.com> a écrit :

[2019-02-12 10:55] tovine commented on #108
0. Open Windows Task Manager and make sure the "Handles" column in the "Details" tab is visible (right-click the headings, click "Select columns" and find it in the list).
1. Open a XML file in VSCode
2. In Task Manager, find VSCode, expand it and find the java.exe (in my case "OpenJDK Platform binary")
3. Right click it and select "Go to details"
4. Sort the list by "Handles" and watch java.exe m

[2019-02-12 15:35] snjeza commented on #108
Related issue - https://github.com/redhat-developer/vscode-java/issues/789

[2019-02-22 22:57] snjeza commented on #108
I can still reproduce the issue with JDK 11.

[2019-02-25 23:11] #108 closed

[2019-02-26 17:23] fbricon commented on #91
So here's how it looks after overriding the error messages in https://github.com/angelozerr/lsp4xml/pull/297:
Before:
<img width="1382" alt="screen shot 2019-02-26 at 12 18 02 pm" src="https://user-images.githubusercontent.com/148698/53432684-f6e1ad80-39c0-11e9-8ceb-219dc513e081.png">

After
<img width="1380" alt="screen shot 2019-02-26 at 12 22 06 pm" src="https://user-images.githubusercontent.co

[2019-02-26 17:59] fbricon commented on #91
With the latest VS Code insiders, it looks much better:
<img width="1021" alt="screen shot 2019-02-26 at 12 58 35 pm" src="https://user-images.githubusercontent.com/148698/53435217-4ecee300-39c6-11e9-813e-ef549532a4d7.png">

[2019-02-26 18:08] fbricon commented on #91
I've opened https://github.com/Microsoft/vscode/issues/69473 about the diagnostic rendering

[2019-03-06 15:19] NikolasKomonen commented on #96
@hmobius this will be available in the v0.4.0 release

[2019-03-06 15:19] #96 closed

[2019-03-06 15:28] fbricon commented on #91
*Copying the [upstream comment ](angelozerr/lsp4xml#181) here about the changes:*

Before:

<img width="516" alt="screen shot 2019-02-25 at 12 34 22 pm" src="https://user-images.githubusercontent.com/32624665/53356601-c1be5800-38f9-11e9-983e-afa6340c3229.png">

After:

![selection_016](https://user-images.githubusercontent.com/32624665/53184071-6a06b080-35ca-11e9-8a59-393328f2ea3b.png)

---

Befor

[2019-03-06 15:28] #91 closed

[2019-03-16 05:08] fatfatson opened #114 "how to use the android layout xsd for completion?"
I want to write the android layout xml file in vscode, with this plugin and the `xsd` file from [repo](https://github.com/atsushieno/xamarin-android-shema-generator/tree/master/generated),

but there are two xsd files, I don't how to config the association between them, could you please give a sample? (with element type and attribute completion)

if `systemId` set to the `android-layout.xsd`,  ele

[2019-03-18 00:52] catfacetaro opened #115 "Formatting removes xml-stylesheet processing instruction attributes"
When formatting document with the xml-stylesheet processing instruction,
it removes all attributes, except version and encoding.

Example:
`<?xml-stylesheet href="my-style.css" type="text/css"?>`
becomes
`<?xml-stylesheet?>`

However,
`<?xml-stylesheet href="my-style.css" encoding="UTF-8" type="text/css"?>`
becomes
`<?xml-stylesheet encoding="UTF-8"?>`

It seems like it treats the processing instr

[2019-03-20 05:53] fbricon opened #118 "'<?' should autoclose to '?>'"
... when not typed within an attribute value

[2019-03-20 13:24] kozubikmichal opened #119 "Allow wildcards for systemId"
Hi colleagues,

do you plan to allow wildcards for specifying schemas path? So one can use
[code]

Michal

[2019-03-27 17:08] NikolasKomonen opened #120 "".lsp4xml" directory should be configurable"
In reference to https://github.com/angelozerr/lsp4xml/issues/222

[2019-03-28 21:56] fbricon opened #122 "Optimize extension startup"
vscode-xml is 2 times slower than vscode-java to start up:
<img width="934" alt="Screen Shot 2019-03-28 at 5 46 04 PM" src="https://user-images.githubusercontent.com/148698/55195169-216e8400-5182-11e9-988c-c584a81b3a3d.png">

vscode-java optimized its startup time by using webpack, see https://github.com/redhat-developer/vscode-java/pull/751 for inspiration.

Also, those 60 errors on startup are c

[2019-03-28 22:15] fbricon commented on #118
Might be too aggressive. We maybe just autoclose the bracket when typing the second question mark in `<?foo ?`, when not typed within an attribute value.

[2019-04-03 22:06] #115 closed

[2019-04-05 21:35] #120 closed

[2019-04-08 13:47] apupier opened #125 "Bad folder created on Windows"
I have a folder named "UsersAurelien Pupier" containing .lsp4xml folder which has been created at the root of my project.

![image](https://user-images.githubusercontent.com/1105127/55728949-7aa5a580-5a15-11e9-9c91-ec380cf540c9.png)

[2019-04-08 13:48] NikolasKomonen commented on #125
@apupier Are you running the project as a Workspace, or have you just opened the project folder?

[2019-04-08 13:51] apupier commented on #125
I have opened the project folder

[2019-04-08 13:53] apupier commented on #125
in output -> XMl Support, there are this kind of message:

Message: Downloading http://camel.apache.org/schema/spring/camel-spring.xsd to C:UsersAurelien Pupier\.lsp4xml\cache\http\camel.apache.org\schema\spring\camel-spring.xsd...

[2019-04-08 14:10] NikolasKomonen commented on #125
I think I've found the issue

should be

I think this is a Windows issue. I'll keep you up to date.

[2019-04-08 14:11] apupier commented on #125
it should even be

[2019-04-08 14:40] fbricon commented on #125
@NikolasKomonen we should release a fix ASAP

[2019-04-08 14:48] fbricon commented on #125
@apupier in the meantime, you can try setting the cache directory in your vscode user settings
[code]
See if it works.

[2019-04-08 16:34] apupier commented on #125
workaround is working:

[code]

[2019-04-08 18:23] NikolasKomonen commented on #125
@apupier If you have time could you test out the fix

Here is an updated vsix.

http://s000.tinyupload.com/?file_id=67069650176669735126

[2019-04-08 21:56] #125 closed

[2019-04-14 00:24] jmussman opened #126 "Placing a / in an attribute triggers autoclosing to self-close the tag."
In release 0.5.1 when autoclosing of tags is enabled, typing a / in a tag attribute, between quotation marks, self-closes the tag and throws any existing content away.

Make sure that autoclosing is enabled.
Start with: <item>Some content</item>
Add an attribute with a / to the tag: <item x="/">Some content</item>
And it will be replaced with: <item x="/>

Note there is no closing quote left when

[2019-04-18 12:24] ibuziuk opened #127 "Latest releases do not have `vsix` files"
A Github release should contain not only source code but also vsix file.
Initial one has it - https://github.com/redhat-developer/vscode-xml/releases/tag/v0.1.0
Latest does not - https://github.com/redhat-developer/vscode-xml/releases/tag/0.5.1

[2019-04-18 12:25] ibuziuk commented on #127
@fbricon @gorkem will it be possible to add vsix to releases in order to workaround che 7 GA VS Code marketplace rate limit error - eclipse/che#12840

[2019-04-18 15:54] fbricon commented on #127
Binaries have been attached to all the releases: https://github.com/redhat-developer/vscode-xml/releases

[2019-04-18 15:54] #127 closed

[2019-04-24 19:27] #126 closed

[2019-04-26 19:41] brunoborges opened #128 "Preserve blank lines"
Often, it is better to read an XML document with major elements separated with an empty line. Please provide an option to preserve blank lines.

Example of expected code to be formatted, but keeping empty lines:

[code]

[2019-04-26 19:43] NikolasKomonen commented on #128
Hi, thanks for opening the issue.

We have it lined up for the next release here: https://github.com/angelozerr/lsp4xml/issues/350

[2019-04-28 07:20] bsymon opened #129 "No autocompletion with Unity UIElements XML schemas"
Hello,

I'm a Unity developer, and started using their new UIElements tech for editor extensions UI. I'm using VSCode and I've installed the XML extension to get autocompletion, but it doesn't work.

The extension is loaded and I've a bit of document validation. I get errors for unknown element, but I'm not sure if it works well too. It only check elements name and attributes value. If I add an un

[2019-04-28 14:49] bmix opened #130 "Auto Rename Tag"
I just realized, with the help of [@angelozerr](https://github.com/angelozerr) at [lsp4xml/#362](https://github.com/angelozerr/lsp4xml/issues/362), that synced renaming and deletion of two tags, that belong together, may best be done via some simple text manipulation on the client side. I now have installed a little extension into VSCode, that does just that (minus paired delete, sadly), but it ma

[2019-04-28 15:17] fbricon commented on #129
@bsymon thanks for the sample files, that'll be helpful. At first glance, my gut feeling is composite schemas like
[code]

might not be properly supported by lsp4xml. But I might be wrong. @NikolasKomonen or @angelozerr might know better.

[2019-04-30 14:56] stodge opened #131 "vscode not reloading and revalidating XML/XSD files modified outside itself"
Issue Type: <b>Bug</b>

I am using vscode to validate XML and XSDs. I have a script in a docker container that modifes the XML and XSDs. So the script writes to the volume and vscode loads the files from the volume (mounted into the container from my local filesystem). When the script updates the XML and XSD files, vscode doesn't appear to always revalidate the XML and XSD files unless I manually

[2019-04-30 15:03] fbricon commented on #131
exactly. VS Code can only listen to file changes of folders that are open in it

[2019-04-30 15:07] fbricon commented on #131
actually, if the folders containing the files are already opened in vscode, but modified by a 3rd party, it should send a change event to the XML language server, which should trigger validation. I'll let @NikolasKomonen or @angelozerr investigate in more details

[2019-04-30 15:08] NikolasKomonen commented on #131
Investigating now

[2019-04-30 15:10] fbricon commented on #131
@NikolasKomonen I don't remember lsp4xml configuring filewatchers, so that might be the issue

[2019-04-30 15:25] NikolasKomonen commented on #131
@fbricon @stodge

So what is happening is that when the XSD is changed externally from another editor, the text in VSCode changes and sends a `textDocument/didChange` command, but VSCode never 'saves' the document because it was saved in the other editor.

Because of this a `textDocument/didSave` command is never sent and the mechanism to re-validate the XML files is never triggered.

Maybe there

[2019-04-30 15:28] fbricon commented on #131
with workspace/didChangeWatchedFiles, you could trigger a validation of opened xml files if a non-opened xsd has been modified

[2019-04-30 15:30] stodge commented on #131
Thanks all.

[2019-04-30 15:39] NikolasKomonen opened #132 "Trigger `textDocument/didSave` if an XSD file was changed externally from a different editor"
Info at: https://github.com/redhat-developer/vscode-xml/issues/131

Look into using

[2019-04-30 21:34] stodge opened #134 "Error downloading external schemas"
I keep getting an occasional error when vscode xml is trying to download external schemas:

`Error while downloading 'http://www.w3.org/2001/xml.xsd' to /home/mike/.lsp4xml/cache/http/www.w3.org/2001/xml.xsd.`

I've no doubt that our company networking could be at fault, but is there an easy way to force vscode to retry downloading an individual schema? If I delete the local cache under `~/.lsp4xm

[2019-04-30 21:47] fbricon commented on #134
are you behind a proxy server?

[2019-04-30 21:53] fbricon commented on #134
If behind a corporate proxy, you could try to add proxy settings to the `xml.server.vmargs` preference:
[code]

[2019-05-06 14:12] stodge commented on #134
Thanks. I don't know if I am behind a proxy. I assume so, but I never configure anything else to connect to the internet.

[2019-05-06 15:05] NikolasKomonen commented on #134
@stodge

Maybe if your work system was previously configured try the flag from :
https://stackoverflow.com/questions/120797/how-do-i-set-the-proxy-to-be-used-by-the-jvm#answer-11527488

where you would add in the flag `-Djava.net.useSystemProxies=true` into the `xml.server.vmargs` preference.

[2019-05-07 19:22] #128 closed

[2019-05-14 23:24] Stragis opened #135 "Unknown Configuration setting"
![image](https://user-images.githubusercontent.com/834519/57738533-bfe87300-7664-11e9-8bc7-cc5702221bb3.png)

I get a message unknown config setting when I have java.home in my settings.json.

[2019-05-15 13:58] NikolasKomonen commented on #135
Hi,

Right now we haven't explicitly defined it since the Java extension is the one that declares it. But from what I see in your picture it should work.

@fbricon any thoughts on this?

[2019-05-15 16:46] angelozerr commented on #129
After playing quickly with your project, there are some completion which is working land some case which doesn't work. For instance with WTP XML Editor we have

![image](https://user-images.githubusercontent.com/1932211/57793394-80438900-7741-11e9-892a-9d8fabd8cebf.png)

although with lsp4xml it doesn't work. We should fix it.

@bsymon it should be very cool to list all problems that you have plea

[2019-05-15 17:15] angelozerr commented on #129
@bsymon in your XML you use `xsi:noNamespaceSchemaLocation and xsi:schemaLocation` both and I'm not sure it's possible. It seems Xerces processor doesn't throw error and WTP XML Editor completion accept that.

In lsp4xml if you defines xsi:noNamespaceSchemaLocation it ignores the xsi:schemaLocation (it's your problem). If you remove xsi:noNamespaceSchemaLocation completion should work better:

![i

[2019-05-15 17:26] NikolasKomonen commented on #129
I think if it is valid then it should be fine to provide both.

[2019-05-15 19:17] angelozerr commented on #129
Thanks @NikolasKomonen for your feedback, even if I'm not sure it's valid you are right lsp4xml should support it (like WTP XML Editor)

[2019-05-17 18:20] rmahroua opened #137 "The plugin does not properly indent XML"
Hey,
I am using the version 0.5.1 of the plugin and noticed something really strange.
The indentation upon hitting 'enter' on some text does not work as expected:

I have the following code (the pipe is the cursor)
[code]
After hitting enter, here's the result:
[code]

Should be:
[code]

If I use HTML as the file type in VSCode, indentation works as expected.

[2019-05-20 14:36] smilediver opened #138 "Typing '/' inside attribute value deletes element's contents."
Example XML:

[code]

Typing `/` character after `h` inside `"show"` deletes element's contents, and you get XML like this:

[code]

Extension version: 0.5.1

[2019-05-21 13:22] NikolasKomonen commented on #138
This issue is already fixed!
https://github.com/redhat-developer/vscode-xml/issues/126
It will be available in the next release.

[2019-05-21 14:04] smilediver commented on #138
Nice! Thank you. :)

[2019-05-21 14:04] #138 closed

[2019-05-21 15:09] fbricon commented on #138
@smilediver please try the latest vscode-xml visx file from http://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D

See https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix for installation instructions.

[2019-05-21 15:55] NikolasKomonen commented on #137
References to work on this issue:

VSCode-xml code: https://github.com/redhat-developer/vscode-xml/blob/master/src/extension.ts#L213

HTML-ls code: https://github.com/microsoft/vscode/blob/master/extensions/html-language-features/client/src/htmlMain.ts#L112

The difference (that should make it work properly) should be somewhere in there in the HTML code, I might be wrong and it could be somewhere

[2019-05-21 15:59] xorye commented on #137
I will work on this.

[2019-05-21 16:06] #129 closed

[2019-05-22 07:06] smilediver commented on #138
Tried `vscode-xml-0.6.0-3147.vsix | 21-May-2019 15:45 | 5.7M`, the issue seems fixed. 👍

[2019-05-22 22:43] fbricon opened #141 "Completion in svg file proposes many duplicates"
Editing an svg file like this one causes completion to return many duplicate items:
[code]

<img width="929" alt="Screen Shot 2019-05-22 at 6 41 07 PM" src="https://user-images.githubusercontent.com/148698/58213751-48988c00-7cc1-11e9-8112-c3539621bcdd.png">

[2019-05-24 19:43] NikolasKomonen opened #144 "Custom panel to recommend a JDK download if it does not exist."
In the case that a JDK cannot be found, we currently have a small popup box to link to a page to download a JDK.

A nicer/easier implementation was done for the Java-extension pack.

Here is how they did it: https://github.com/Microsoft/vscode-java-pack/issues/142#issuecomment-487241394

[2019-05-24 19:53] #137 closed

[2019-05-24 20:24] fbricon commented on #144
We discussed this with Microsoft, ideally that JDK management page should be published as an npm module, so that any project that requires Java can use it. Similar comment is done in the referenced issue. cc @yaohaizh

[2019-05-24 20:35] fbricon opened #145 "Add a specific `xml.java.home` preference"
currently, the XML language server falls back to the "java.home" preference to launch.
This causes 2 issues:
- when the Java extension is not installed, the "java.home" preference is unknown, see #135
- you can't use a JRE to launch the server, as the Java extension doesn't support it, see #136

Introducing new  "xml.java.home" preference which would be checked before "java.home", would solve #135

[2019-05-24 20:44] fbricon commented on #135
There's nothing much to do here, once we have xml.java.home available (#145), we'll just need to adjust the documentation in the readme.

[2019-05-27 21:53] #122 closed

[2019-05-27 21:54] #141 closed

[2019-06-04 19:58] fbricon opened #149 "Gracefully handle cancelled 'xml/closeTag' requests"
With https://github.com/angelozerr/lsp4xml/pull/412 enabled, rapidly typing closing tags in a large xml document leads to vscode logging errors:
[code]

Cancellations should be handled more gracefully

[2019-06-04 20:05] fbricon opened #150 "JDK changes (xml.java.home or java.home) should be detected"
... and user should be prompted to restart vscode (similar to xml.server.vmargs and vscode-java)

[2019-06-04 21:16] #145 closed

[2019-06-05 05:12] fbricon commented on #135
Closing as `xml.java.home` is now the prefered preference (see #145). `java.home`, defined by vscode-java is still supported though.

[2019-06-05 05:12] #135 closed

[2019-06-07 07:59] peterkeller opened #154 "Plugin is not recognized as a XML formatter"
Even if the plugin is installed, it isn't recognized as a suitable XML formatter when trying to format a XML document, but the message "There is no formatter for 'xml'-files installed" is shown instead.

<img width="1068" alt="Screenshot 2019-06-07 at 09 55 52" src="https://user-images.githubusercontent.com/1429336/59089523-a6a4b080-890a-11e9-8f95-de24a4c4796d.png">

[2019-06-07 13:25] NikolasKomonen commented on #154
Could you try disabling all extensions, then enabling only the XML one.

Also just to verify, do you have a JDK installed an setup? Are features like autocompletion or linting working?

Another thing to check is the preference "xml.format.enabled" and make sure that is 'true'

[2019-06-12 09:56] raduspantu commented on #154
hello @NikolasKomonen ,

this is the same for me.
I already disabled all my extensions and this is still not working.
![image](https://user-images.githubusercontent.com/24391607/59339958-6af05900-8d05-11e9-875e-e7cbb3e78a1d.png)

Also my JAVA_HOME directory is set
![image](https://user-images.githubusercontent.com/24391607/59341928-13ec8300-8d09-11e9-9926-dad94572cc08.png)

[2019-06-13 18:49] xorye commented on #154
Thank you for reporting this issue.

Could you please go to the command palette (Ctrl+Shift+P), run "Show Running Extensions" and verify that the extension is running?

It should look like this:
![image](https://user-images.githubusercontent.com/20326645/59459265-5c2fa200-8dea-11e9-9248-c518b76854ce.png)

Are features like auto completion and linting working at all?

Are you attempting to format b

[2019-06-13 19:35] peterkeller commented on #154
After disabling all extensions and enable this plugin again, everything works as expected. Now, I am enabling the other disabled extensions again. So far, there are no problems.

Thanks.

[2019-06-13 22:57] raduspantu commented on #154
@xorye ,

After leaving it alone and focusing on other tasks, I see that now is working, also with other extensions.
What I haven't done until now, is saving the file as an XML, only formatted as an XML; should this be an issue?

Also, Ctrl+Shift+I enables a multi-line for me, but that one I think is a thing from my settings.
It's working now, adding the mention that the file must be saved as an X

[2019-06-14 13:51] xorye commented on #154
This definitely seems like an issue with the XML extension. I was able to reproduce the issue and am currently investigating it.

[2019-06-17 05:37] opus131 opened #157 "Formatter inserts spaces in empty lines"
The formatter inserts spaces in empty lines, up to the current indent-level of the surrounding elements.

Current result:
![image](https://user-images.githubusercontent.com/1549318/59580682-57147080-90d2-11e9-8cfa-a70d3fb4a087.png)

Expected result:
![image](https://user-images.githubusercontent.com/1549318/59580705-6dbac780-90d2-11e9-8be9-c1f17cb65a41.png)

This causes a lot of whitespace diffs,

[2019-06-17 14:25] fbricon commented on #154
Until the next release that fixes this issue, as a workaround, just save your document as an xml file.

[2019-06-17 14:25] #154 closed

[2019-06-26 00:13] itn3000 opened #159 "unexpected indentation after empty element + attribute"
# Environment

* win8.1 x64
* vscode: 1.35.1
* redhat.vscode-xml: 0.7.0

# Steps to reproduce

1. write empty body element and add attribute, like `<A B=""/>`
2. enter the end of element

# Expected result

same indentation to element like here(`_` is cursor)
[code]

# Actual result

one indentation is added like here(`_` is cursor)
[code]

Additionally, without attribute, this is not reproduced,

[2019-06-26 08:23] angelozerr commented on #159
Indeed I can reproduce the problem but I don't don't know what is the problem?

 * I tried to disable the vscode-xml extension and problem disappear.
 * the lsp4xml doesn't manage this kind of features
 * I suspect problem comes from client side in vscode-xml but I don't know where is the problem?

@xorye could you see this issue please when you will have time?

[2019-06-26 12:57] angelozerr opened #160 "Enable XML CodeLens with xml.codeLens.enabled"
XML Language Server starts supporting CodeLens https://github.com/angelozerr/lsp4xml/pull/471 To enable/disable CodelLens we need to provide a new preferences `xml.codeLens.enabled` should looks like this https://github.com/redhat-developer/vscode-xml/pull/151

[2019-06-28 13:06] angelozerr commented on #87
@ralfhandl just for you rinformation this issue should be fixed with my PR https://github.com/angelozerr/lsp4xml/pull/478 planned for 0.8.0

[2019-07-01 07:30] #160 closed

[2019-07-02 13:53] angelozerr opened #162 "Add 'xml.symbols.excluded' settings"
vscode-xml needs to define the `xml.symbols.excluded` to support exclude symbols managed by the XML Language Server  https://github.com/angelozerr/lsp4xml/issues/427

[2019-07-04 06:00] #162 closed

[2019-07-04 15:05] fbricon commented on #159
Must be an issue in the increaseIndentPattern:

https://github.com/redhat-developer/vscode-xml/blob/master/src/extension.ts#L221

[2019-07-04 15:33] fbricon commented on #32
@angelozerr we have Markdown support on hover now but not for completion. Should be pretty straightforward to add

[2019-07-04 16:11] angelozerr commented on #32
Yes sure, we must just take care of documentationFormat coming from client capabilities:

[code]

[2019-07-08 08:26] #157 closed

[2019-07-12 03:51] Cisnocxie opened #166 "Active editor cannot provide outline infomation"
I usually edit XML at a active editor to just see its structure and paste it to other places.

[2019-07-12 03:55] fbricon commented on #166
Which version of redhat.vscode-xml do you have? You might want to disable other potentially conflicting xml extensions.

[2019-07-12 03:56] fbricon commented on #166
Have you saved your file?

[2019-07-12 04:38] Cisnocxie commented on #166
No, don't save.
Moreover, it is that I want to enable this extension features on a active eidtor(unsave file) when I change its language to XML.

[2019-07-12 07:25] fbricon commented on #166
This was fixed by #156. You can install a CI build from https://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D, before the 0.8.0 release at the end of the month.

[2019-07-12 07:25] #166 closed

[2019-07-12 15:35] c600g opened #167 "When DTD is not found, XML is not checked for well-formedness"
If I load an XML file with a specified DTD such as the following:

[code]

If the extension can not find the DTD, then I understand why no validation can be done. However, it also does not check for well-formedness (e.g. non-matching closing tags), which I would expect the extension to fall back upon.

[2019-07-12 15:58] fbricon commented on #167
agreed, seems like the reasonable thing to do.

[2019-07-12 16:05] c600g commented on #167
Also, is there any way to specify a DTD search path? Our application accepts XML messages and manages the DTD path internally, so absolute DTD paths are not possible nor portable.

[2019-07-12 16:15] fbricon commented on #167
file associations work for XSDs, but not for DTD apparently. cc @angelozerr

[2019-07-15 08:18] angelozerr commented on #167
I agree that it should work like this, but problem comes from Xerces (the java library which manage validation) which throw an exception (IOException) when DTD is not found instead of reporting this problem as error. Throwing an exception stops in this case validation. Other XML editors like WTP XML Editor from Eclipse has this problem. To fix this problem, we must find a solution to catch the IOE

[2019-07-16 02:54] EduFrazao opened #168 "CData block auto-complete"
Hi folks. Its possible to enable CData blocks autocomplete? Or there is no such feature?

[2019-07-16 08:13] angelozerr commented on #168
You mean that completion provides

`<![CDATA[    ]>`

Is that?

[2019-07-16 14:23] angelozerr commented on #167
What about using XML catalog? Could you please add a sample of DTD and a XML file that you wish to manage ?

[2019-07-16 14:30] c600g commented on #167
@angelozerr I have attached a zip archive containing a sample DTD and XML request which validates against that DTD to this comment.

[sample.zip](https://github.com/redhat-developer/vscode-xml/files/3397576/sample.zip)

[2019-07-16 15:03] angelozerr commented on #167
Thanks @c600g! Ok if I understand your requirement you have a XML which declares a DTD:

[code]

and your main problem is that it doesn't work in vscode. Is that? If it that you must write a XML catalog and configure vscode to use it.

If you don't know how to write a XML catalog and configure settings in vscode please see this issue https://github.com/redhat-developer/vscode-xml/issues/87 You wil

[2019-07-16 15:12] angelozerr commented on #87
Fixed by angelozerr/lsp4xml#478

[2019-07-16 15:12] #87 closed

[2019-07-16 15:16] angelozerr commented on #87
Thanks @ralfhandl for your great information. It was an hard issue but it is now fixed. Just for your information Completion on 0.8.0 is improved by filtering XML completion item according the existing XML elements of the document. See https://github.com/angelozerr/lsp4xml/pull/505

[2019-07-16 15:21] ralfhandl commented on #87
@angelozerr Cool, thanks!

When will the VS Code XML plugin 0.8.0 be released?

[2019-07-16 15:55] c600g commented on #167
Thanks very much for the tip @angelozerr. I've never worked with XML catalogs in the past, but after a bit of research on the subject, I think I have it working as expected.

Here is the catalog.xml file I am using which works for me now:

[code]

[2019-07-16 16:00] c600g commented on #167
Is there any way to specify a different XML catalog file for different operating systems? I mostly work on Linux but will occasionally need to do some work on a Windows 10 machine. This would require a different `catalog.xml` file using Windows paths.

[2019-07-16 16:33] c600g commented on #167
In response to my comment above, it looks as if the VS Code team is working on os and platform specific qualifiers in the settings.json file, which will hopefully resolve the issue in the near future.

[2019-07-16 18:59] angelozerr commented on #167
Great!

To be honnest with you, I'm not an expert with XML catalog. Please try it and give us feedback. XML catalog is very used in the XML words.

Sorry I don't understand what you mean?

Here a demo with my current work:

https://user-images.githubusercontent.com/1932211/61318475-74d61200-a805-11e9-924f-09d40a756640.gif

[2019-07-16 19:37] #132 closed

[2019-07-16 19:59] c600g commented on #167
@angelozerr I am hoping that the VS Code developers will implement OS and/or hostname qualifiers for the settings.json file, so that I could then specify a different catalog.xml file for Windows vs. Linux. See [this issue](https://github.com/microsoft/vscode/issues/5595) for what I am talking about.

The plugin works fine for me on my Linux box now with the addition of the catalog.xml file. Thanks

[2019-07-16 20:13] fbricon commented on #87
@ralfhandl  before the end of the month. Until then, you can try the latest CI build from https://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D

[2019-07-16 20:32] angelozerr commented on #131
This issue is the same than https://github.com/redhat-developer/vscode-xml/issues/132 which is fixed in 0.8.0

[2019-07-16 20:32] #131 closed

[2019-07-16 20:40] angelozerr commented on #119
@kozubikmichal I don't understand very good your idea. If you have this that:

  * foo.xml
  * schemas
    * test1.xsd
    * test2.xsd

foo.xml must be validated by which xsd file?

[2019-07-16 20:42] angelozerr commented on #114
@fatfatson could you attach please a zip with your test please.

[2019-07-16 20:47] angelozerr commented on #167
Thank's for the information.

You are welcome! The DTD validation when DTD doesn't exists will come soon.

[2019-07-17 09:34] angelozerr commented on #167
Fixed with https://github.com/angelozerr/lsp4xml/pull/512 This feature will be available in 0.8.0

[2019-07-17 09:34] #167 closed

[2019-07-19 00:20] arkceajin opened #172 "Cache completion based on XML Schema/DTD"
settings.json:
[code]
arxml:

[code]
How to set the `xsi:schemaLocation` and `"systemId"` to making the `xsd` relate to the `arxml`?

[2019-07-19 00:43] angelozerr commented on #172
You are using fileAssociation and XML catalog both. You must choose your binding kind.

 - xml.catalog must use a XML catalog file. In your case it link to xsd, it should be a XML catalog file. See https://www.oasis-open.org/committees/download.php/14809/xml-catalogs.html
 - xml.fileAssociations doesn't require a schemaLocation.

I suggest you that you attach in this issue a zip of your vscode pro

[2019-07-19 06:00] arkceajin commented on #172
The project only contain a `arxml` which I going to create by using the `xsd`.
xsd: https://github.com/autosaros/Standards/blob/master/Adaptive%20Platform/19.03/MethodologyAndManifests/AUTOSAR_MMOD_XMLSchema/AUTOSAR_00047.xsd

I tried create the xml and put in the same folder with xsd.
[code]
But still not working...

[2019-07-19 10:18] fbricon commented on #172
arxml and xsd files in the same folder, it works for me, but it's very slow, as the xsd is over 7MB. I increased the memory attributed to lsp4xml to 256MB in settings.json:
[code]

<img width="804" alt="Screen Shot 2019-07-19 at 12 16 03 PM" src="https://user-images.githubusercontent.com/148698/61528425-05d40580-aa1f-11e9-8345-b2086febee45.png">

[2019-07-19 11:19] angelozerr commented on #172
If I remember, today when XSD file is on the local, it is parsed every time:

 * when validation is done
 * when completion is done.

It should be improved by caching the XSD.

[2019-07-21 17:21] EduFrazao commented on #168
@angelozerr Yes, its exactly that feature. Thank you very mutch for this fast implementation!

[2019-07-21 18:16] angelozerr commented on #168
@EduFrazao It's not finished, I'm implementing and I hope it will be available for 0.8..0.

[2019-07-22 10:42] angelozerr opened #173 "Add an icon on the bottom left to display kind association"
Instead of marking root with the association kind liek explained at https://github.com/angelozerr/lsp4xml/issues/521 it should be better to display an icon with the kind association in the icon:

![image](https://user-images.githubusercontent.com/1932211/61626568-e25ac600-ac7d-11e9-8569-ae49966613ff.png)

It will help the user to check the association kind used by LSP4XML.

[2019-07-22 15:24] fbricon commented on #173
You'd need to introduce a new command to be called each time the editor focuses on an xml file.
I think it'd be best to display an icon (+ tooltip), as that'd take less screen real estate. Can't think of a set of sensible icons right now though.

[2019-07-22 16:29] #159 closed

[2019-07-22 21:17] fbricon commented on #32
Fixed with https://github.com/angelozerr/lsp4xml/pull/528

[2019-07-22 21:17] #32 closed

[2019-07-22 21:20] fbricon commented on #32
Also includes link to (local cache of) schema:
![hoverandcompletionmarkdownsupport](https://user-images.githubusercontent.com/148698/61666192-2c23ca80-acd7-11e9-900d-6571fcc4e4ce.gif)

[2019-07-22 21:36] fbricon commented on #168
Fixed with https://github.com/angelozerr/lsp4xml/pull/524

![CommentCDataDemo2](https://user-images.githubusercontent.com/1932211/61666243-478ed580-acd7-11e9-8fb5-fba3320424f0.gif)

[2019-07-22 21:36] #168 closed

[2019-07-22 23:12] EduFrazao commented on #168
Very nice!
Thank you very mutch for your effort guys!

[2019-07-25 00:21] arkceajin commented on #172
@fbricon Thanks, using the setting and without `xml.catalogs` simply put XML and XSD in the same folder could work well. So the problem is just the loading was too slow...

[2019-07-25 07:47] angelozerr commented on #172
You mean that completion based on XML Schema to show in completion  INTRODUCTION, FORMULA, etc is slow?

[2019-07-25 08:01] arkceajin commented on #172
@angelozerr  Yes, after specific `"xml.server.vmargs": "-noverify -Xmx256m -XX:+UseG1GC -XX:+UseStringDeduplication -Dlog.level=off",` the completion popup almost immediately.

[2019-07-25 08:35] angelozerr commented on #172
@arkceajin just to clarify this issue:

 * when you set `"xml.server.vmargs" it works for you. Completion opens INTRODUCTION, FORMULA. Is it slow again?
 * when you don't set `"xml.server.vmargs", you see nothing.

Is that?

[2019-07-25 09:08] arkceajin commented on #172
Not nothing but sometime popup `Loading` or something popup dialog don't contains the completions as below:
![err](https://user-images.githubusercontent.com/8335699/61861592-3d531e00-af07-11e9-942f-55ceb4329566.png)

[2019-07-25 10:09] ebramirez opened #175 "Support xi:include"
First, it looks like inline namespaces definition does not work.

In a docbook documento, the tag `<xi:include xmlns:xi="http://www.w3.org/2001/XInclude">`, the `xi:include` element is defined in the `XInclude.xsd` but is not recogniced:

![Screenshot from 2019-07-25 11-58-46](https://user-images.githubusercontent.com/42619854/61865915-732adf00-aed4-11e9-85a1-a19b1ecbe839.png)

Optionally, it woul

[2019-07-25 10:43] angelozerr commented on #172
Thanks @adelasofia for your feedback. I'm working on this issue https://github.com/angelozerr/lsp4xml/issues/547

[2019-07-25 11:30] fbricon commented on #175
Can you please attach a sample document reproducing this issue?

[2019-07-27 09:47] ebramirez commented on #175
Here are the two files, and also as an [attachment](https://github.com/redhat-developer/vscode-xml/files/3438021/xi_include.tar.gz):

`include.xml`

[code]

`reference.xml`

[code]

For the second part of my request, I have realized that it only makes sense when building the docbook, because the local references which do not have to make sense before the building; so this is only about the `<xi:in

[2019-07-29 14:39] benjamenhogben opened #176 "Magento 2 support"
Hi all,

I'm trying to get this excellent plugin to work with Magento 2 xml files

I've tried generating the [misc.xml](https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-urn.html) file and adding it as a catalog in settings.json:
[code]

[code]

This is an example misc.xml file that is generated by the urn:generate command in the docs:
[code]

The errors I'm getting i

[2019-07-29 15:57] angelozerr commented on #176
Your misc.xml  is not a XML Catalog.

I suggets you that you download the vscode project in this issue https://github.com/redhat-developer/vscode-xml/issues/87 and you see how to write a XML catalog.

[2019-07-29 16:31] benjamenhogben commented on #176
Ahh I see - I'm kind of an amateur when it comes to XML. I usually just read the docs.

Would I need to write an XML catalog for the entire Magento 2 codebase? Or is there a subset of features Magento 2 uses that the plugin doesn't support?

[2019-08-08 09:45] ehigiepaul opened #177 "Support completion with xs:any"
I just noticed that the intellisense is broken in the latest version.
I had to reverse back to version 0.6.0 which works very well and also the validator fails too.

Please kindly review this issue and thanks for this nice extension.

[2019-08-08 09:57] fbricon commented on #177
Please provide sample files reproducing the issue.

[2019-08-08 16:29] ehigiepaul commented on #177
[sample.zip](https://github.com/redhat-developer/vscode-xml/files/3482737/sample.zip)

Also on the lower versions no validator is working

[2019-08-08 16:31] fbricon commented on #177
How did you associate the xsd to the xml? file association setting? catalog?

[2019-08-08 16:47] fbricon commented on #177
Ok, I can reproduce with
[code]

@NikolasKomonen something you could check?

[2019-08-08 16:54] fbricon commented on #177
So I get completion under the root (most if not all elements), under the ActionBar element (ActionBar.actionItems), nothing under Page or ScrollView.

Relates to https://github.com/angelozerr/lsp4xml/issues/180

[2019-08-08 21:07] ehigiepaul commented on #177
Just also noticed that validation works on the first tag/root tag but fails on the inner tags.

[2019-08-09 07:49] angelozerr commented on #177
@ehigiepaul could you please give us  XML samples which doesn't work with completion and validation because in my case it works:

 * For completion (see cursor position with |)

[code]

[code]

[code]

 * for validation it works too:

![image](https://user-images.githubusercontent.com/1932211/62763045-e1ea6980-ba8a-11e9-9803-aed12a513d32.png)

[2019-08-09 07:53] angelozerr commented on #177
For elements, yes it's normal (according XML Schema), there are only attributes for thoses elements (completion on attribute should work).

[2019-08-09 14:32] ehigiepaul commented on #177
Please kinld reverse to version 0.6.0 and run the xsd and see it all works well. But on version 0.8.0 all fails.

[2019-08-09 18:10] angelozerr commented on #177
Could you please give us the case which doesnt work. Have you tested the
completion and validation case that i have explained below.is it working
for you?

Without a detailled use case it is difficult to reproduce your problem

Le ven. 9 août 2019 16:32, Paul Ehigie <notifications@github.com> a écrit :

[2019-08-09 23:12] ehigiepaul commented on #177
here is the current version 0.8.0 issue.
- I get attributes on every tag,
- Validation is present only on the root tag
- No validation on inner tags
- No tag suggestions.
![version 0 8 0 err](https://user-images.githubusercontent.com/8577824/62813380-544a6080-bb02-11e9-88df-6a442327caee.gif)

here is what i get on version 0.6.0.
- I get attributes on every tag,
- Validation is present only on the

[2019-08-10 09:10] skjardenCode commented on #177
Hi,

I have the same problem with XML validation.

VS Code Version: 1.36.1
XML Language Support Version: 0.8.0

XML to validate:

[code]

There are numerous problems with the above XML:

[code]

But the extension does not recognize any of those XML validation errors.

[2019-08-11 06:05] angelozerr commented on #177
@ehigiepaul thanks for the demo i can reproduce it

@skjardenCode please create à new issue with your xml validation problem

[2019-08-12 14:30] angelozerr commented on #177
@ehigiepaul since 0.8.0 completion show possible elements instead of showing all elements. See `Accurate XSD-based completion` in https://developers.redhat.com/blog/2019/07/24/whats-new-in-the-visual-studio-code-xml-extension/

Your XML Schema is using `xs:any` (<xs:any processContents="skip" minOccurs="0" maxOccurs="1" />):

[code]
It is this case with xs:any which is not managed. I'm fixing it.

[2019-08-13 17:25] angelozerr commented on #177
@skjardenCode please see https://github.com/angelozerr/lsp4xml/issues/553 for your problem which will be fixed by @NikolasKomonen

[2019-08-13 17:43] ehigiepaul commented on #177
@angelozerr  thanks for the processContents fix for validation. Works fine.
But still in version 0.8.0 intellisense or tag suggestion issue need to be fixed

[2019-08-13 17:51] angelozerr commented on #177
You are welcome!

Yes sure, I will work on that. But I think we should show all XML element declared in XML file when xs:any is used. I mean XML element coming from XML Schema and custom XML Element.

For instance, if we have:

[code]

[2019-08-13 18:09] ehigiepaul commented on #177
@angelozerr  version  report now after your quick xsd fix

This is what i get on the current version 0.8.0 .
attributes on every tag, ✔
Validation on the root tag ✔
validation on inner tags attributes ✔
tag suggestions.❌

here is what i get on version 0.6.0.
attributes on every tag, ✔
Validation on the root tag ✔
validation on inner tags attributes ✔
Tag suggestions works ✔

I

[2019-08-16 12:26] kozubikmichal commented on #119
Hi @angelozerr
ideally by both if you specify the regex in this way.
My use case - we're using UI5 framework. This comes with several xsd files, one per library (or module if you want). For example WebStorm can analyze all of this xsd files and does the analysis automatically. But for the VSCode I'm not able to make it work.

Regards
Michal

[2019-08-16 22:27] rmahroua commented on #137
Reopening(?) as I noticed that the problem reappeared:
Here's the behavior using VSCode version 1.37.1

[code]
Leads to:
[code]

[2019-08-19 21:44] ehigiepaul commented on #177
Any hope on the fix

[2019-08-20 05:59] angelozerr commented on #177
I'm working on this issue.

[2019-08-20 06:01] angelozerr commented on #137
Which version of vscode-xml are you using?

[2019-08-20 08:22] fbricon commented on #137
I don't think there's a regression here. When you press enter, there's no way to know this is to end the text and the cursor needs to reduce indentation.
The original bug for sure as been fixed.
Now the litigious part is the generation of the closing tag. On the new line, without typing anything, if you press ctrl+space you'll have the option to insert the closing tag, it'll use the proper indenta

[2019-08-20 15:04] rmahroua commented on #137
Thanks for getting back to me. @fbricon you are correct about the hitting ctrl+space then selecting `End with <para>`, the indentation works.
However, by typing `</` it does not indent the text back. I will open a new bug to discuss it.

@angelozerr I am using the version 0.8.0 and VSCodium 1.37.1

[2019-08-20 15:10] rmahroua opened #178 "Typing '</' does not create the right indentation"
Hey,
I noticed that typing `</'` to automatically create the closing tag does not create the proper indentation.
However, hitting CTRL+Space then selecting `End with '</para>'` does generate the proper indentation:

[code]

[code]

Environment Information
VSCodium
- Version: 1.37.1
- Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
- Node.js: 10.11.0

VSCode-XML
- Version 0.8.0

[2019-08-20 16:33] angelozerr commented on #172
@arkceajin I fixed this issue in https://github.com/angelozerr/lsp4xml/issues/547 Now completion should be slow the first time and quick after. This feature is availabel for 0.9.0

[2019-08-20 16:33] #172 closed

[2019-08-20 22:14] #150 closed

[2019-08-21 21:21] benfontan commented on #119
I have the same usecase than @kozubikmichal. Basically what we need is the capacity to associate a specific namespace (xmlns) to a xsd, not a file pattern.

[2019-08-22 15:56] angelozerr commented on #177
Fixed with https://github.com/angelozerr/lsp4xml/pull/559

[2019-08-22 16:20] fbricon commented on #177
Completion returns duplicates from already inserted elements from the xsd:

<img width="828" alt="Screen Shot 2019-08-22 at 6 17 39 PM" src="https://user-images.githubusercontent.com/148698/63531611-281ede80-c509-11e9-9507-d6371115a7da.png">

Using https://github.com/redhat-developer/vscode-xml/files/3482737/sample.zip

[2019-08-22 16:59] angelozerr commented on #177
@fbricon good catch. Please review my PR https://github.com/angelozerr/lsp4xml/pull/563 which fixes this duplicate issue.

[2019-08-23 12:57] angelozerr commented on #177
Fixed with angelozerr/lsp4xml#563

[2019-08-23 12:57] #177 closed

[2019-08-26 20:41] rmahroua opened #179 "Is it possible to disable cdata autocompletion when typing period?"
Hey,
I noticed that the "period" character triggers the `cdata` (`<![CDATA]>`)

Is there a way to prevent the period from triggering that? I would like to type `TAB` after a period to either exit a tag or inserting a tab, but not adding `cdata`:

<img width="897" alt="Screenshot 2019-08-26 13 40 30" src="https://user-images.githubusercontent.com/29074292/63721924-168a4f00-c807-11e9-8edb-733a7b6890

[2019-08-28 09:49] angelozerr commented on #179
I understand the problem.

@fbricon do you think we need to provide a settings to disable cdata and comment snippets?

[2019-08-29 07:42] angelozerr commented on #176
To be honnest with you, I don't know Magento. It seems https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-urn.html says that only PhpStorm support it, I suppose PhpStorm have developed something to support Magento.

Developping specific feature for specific framework is not in our priority, but if we have a lot of users requests about magento support, perhaps we could

[2019-09-12 08:43] Eptis opened #181 "Typing in XML file causes EtagRequired error for surrounding scope"
Not sure if this is related to [this issue](https://github.com/redhat-developer/vscode-xml/issues/149), but I have the following issue when changing an XML file:

say I have the following XML:
[code]

When I change it to:
[code]

I get the following error after `</entity>`:

After deleting the `<entity>` element alltogether the error remains on the now empty line.

Restarting VScode removes this e

[2019-09-13 07:11] Eptis commented on #181
I disabled all extensions except this one and it no longer occurs so its probably a different extension causing this ¯\_(ツ)_/¯

Thanks for the help!

[2019-09-13 07:11] #181 closed

[2019-09-13 08:01] angelozerr commented on #181
@Eptis if you can find which extension causes this problem, it should be very cool.

[2019-09-13 08:51] Eptis commented on #181
Will have a investigate over the weekend!

[2019-09-19 12:27] keccs opened #182 "Formatting breaks attributes containing quotes"
How to reproduce:
1. Use this document: `<hello attr='"' />`
2. Run the "Format document" command, with `xml.format.quotations` set to `doubleQuotes` (the default)

Symptoms:
The formatting produces the following invalid XML: `<hello attr=""" />`

Expected:
Formatting shouldn't change the type of quote used for an attribute if that produces invalid XML, that is if the attribute value contains the

[2019-09-19 13:02] angelozerr commented on #182
I agree with you, but I think it's not a commons usecase.

[2019-09-26 12:05] prof7bit opened #183 "cant get it to do anything (and there is no documentation on correct usage also)"
Either the documentation is incomplete and missing to explain how to actually activate it or there is a bug and it won't do anything.

I have associated a file extension with a schema

    "xml.fileAssociations": [
        {
            "systemId": "http://www.io-link.com/IODD/2010/10/IODD1.1.xsd",
            "pattern": "**/*IODD1.1.xml"
        }
    ]

but if I load this file it won't do any va

[2019-09-26 12:56] prof7bit commented on #183
I'm also seeing lots of exceptions in lsp4xml.log

Sep 26, 2019 2:40:15 PM org.eclipse.lsp4xml.extensions.contentmodel.participants.diagnostics.XMLValidator doDiagnostics
SCHWERWIEGEND: Unexpected XMLValidator error
java.lang.NullPointerException
	at org.eclipse.lsp4xml.extensions.contentmodel.participants.XMLSchemaErrorCode.toLSPRange(XMLSchemaErrorCode.java:171)
	at org.eclipse.lsp4xml.extension

[2019-09-26 13:20] angelozerr commented on #183
Could you share your XML file please.

[2019-09-26 13:22] prof7bit commented on #183
[IO-Link-01-DirectParamsDevice-20130515-IODD1.1.zip](https://github.com/redhat-developer/vscode-xml/files/3657949/IO-Link-01-DirectParamsDevice-20130515-IODD1.1.zip)

[2019-09-26 13:29] prof7bit commented on #183
I am on Ubuntu Linux:

[code]

[2019-09-26 13:30] angelozerr commented on #183
Thank you, I can reproduce your NPE problem. I will investigate your problem.

[2019-09-27 11:33] amasino opened #184 "xml.fileAssociations property does not work with DTD files"
Adding a file association in settings.json using a DTD like the following:

[{"systemId": "http://w3.atsec/cctool/dtd/my-grammar.dtd",
        "pattern": "ase_*.xml"}]

does not work.

The extension successfully matches the xml file (I set "xml.validation.noGrammar": "error" and there is no error when opening the file) but neither is the DTD existence verified nor the grammar is checked.

[2019-09-27 11:39] amasino opened #185 "Add a property in xml.fileAssociations to match root tag"
It would be a really nice to have if the file association property can map an XSD or DTD file with the root of the xml file, instead of the file name pattern. For example:

"xml.fileAssociations":
    [{"systemId": "http://w3.atsec/cctool/dtd/books.dtd",
        "root": "books"}]

That way, IMHO the association would be more sensible, simple and straightforward when handling different structures a

[2019-09-27 13:05] angelozerr commented on #184
Indeed the xml file associations doesn't work with DTD only with XSD. It's a limitation of Xerces, I created a bug for that https://issues.apache.org/jira/browse/XERCESJ-1711?filter=-2

[2019-09-27 17:18] angelozerr commented on #183
@prof7bit after studying your usecase, I have found 2 little bugs that I will fix it, but you can benefit with validation and completion.

At first you don't need xml.fileAssociation since you bind your XML with XML Schema (according your sample):

[code]

This declaration means that you have the XML Schema `IODD1.1.xsd` in the same folder than your XML file.

If you unzip the following folder
[io

[2019-10-02 22:33] mdschweda opened #186 "XSD: IntelliSense and element substitutions"
Version: 0.9.0

IntelliSense doesn't suggest elements of a substitution group.

Considering the following example:

[code]

[code]

IntelliSense inside `<fleet/>` should offer `automobile` as well as `truck` because the former can be substituted for the latter as per the `substitutionGroup`. The linter recognizes that `truck` is a valid child element and will report no error, but the element doesn

[2019-10-03 13:09] angelozerr commented on #186
Indeed it should work like you have explained. I will work on this issue.

[2019-10-07 07:37] ArthurHNL opened #188 "Navigation and intellisense for xs:include-ed types"
Consider the following XML Schemas:

SchemaA.xsd
[code]

SchemaB.xsd:
[code]

Schema A includes Schema B and references the "AType" type from Schema B in the complex type named "Bar" (in Schema A). This is validated, for example when I make a typo, an error is shown.  However, IntelliSense does not suggest "AType" as value for the "Ref" attribute and when control-clicking on "AType" in Schema A, V

[2019-10-07 08:05] angelozerr commented on #188
Indeed it's a known limitation. See https://github.com/angelozerr/lsp4xml/issues/484

[2019-10-07 08:20] fbricon commented on #188
Does in work in other IDEs?

[2019-10-07 08:47] ArthurHNL commented on #188
@fbricon I have never tried it in another IDE but since it is a limitation of the underlying XML server I do not think it would work in another IDE.

[2019-10-07 08:48] fbricon commented on #188
No, I was asking if that feature is available in other IDEs, not based on lsp4xml

[2019-10-07 09:09] ArthurHNL commented on #188
@fbricon
- Visual Studio 2019 does not have this feature, in fact the non-visual XML support of Visual Studio 2019 is pretty limited.
- JetBrains Rider does have this feature which means IntelliJ probably has it as well but I do not have IntelliJ installed so I can not confirm.

I have no other IDEs installed.

[2019-10-07 09:18] angelozerr commented on #186
This issue should be fixed with https://github.com/angelozerr/lsp4xml/pull/568

@fbricon please review it.

[2019-10-08 07:59] angelozerr commented on #186
Fixed with https://github.com/angelozerr/lsp4xml/pull/568

[2019-10-08 07:59] #186 closed

[2019-10-11 12:00] angelozerr commented on #183
Done with https://github.com/angelozerr/lsp4xml/pull/570

[2019-10-15 12:21] angelozerr commented on #188
Thanks @ArthurHNL for your feedback. We need implement angelozerr/lsp4xml#484 to fixes navigation and completion with your case.

[2019-10-16 10:53] angelozerr opened #190 "Contribute to completion, hover .. with external JAR"
Liferay is working on LSP4XML extension.

maven extension https://github.com/angelozerr/lsp4xml/issues/166 is an another LSP4XML extension.

To support those extensions, vscode-xml should provide a mechanism to declare in the package JSON of the project the JAR which contains extension registered with SPI:

[code]
When server is started it loop for each JAR to include it in the classpath (like vsc

[2019-10-16 11:04] angelozerr commented on #114
None answer. I close this issue. @fatfatson if you wish reopen the issue please do that bu by attaching your zip sample (with XML file)

[2019-10-16 11:04] #114 closed

[2019-10-17 16:27] kirni opened #192 "cannot find element when validating with .NET generated xsd"
Not sure if this is an issue of .NET or this plugin.

In my .NET C# application I am serializing classes with the *DataContractSerializer*.

When I manually modify those serialized files I also would like to validate them, use autocomplete etc. Therefore I also export the xsd for each class with *XsdDataContractExporter*

For some reason this is not working for the root element:
![image](https://u

[2019-10-18 07:56] angelozerr commented on #192
Thanks @NikolasKomonen for your study. If you don't want declare schemaLocation in your XML you could configure a XML catalog too which reference your XML Schema with the proper namespace.

[2019-10-18 09:07] angelozerr commented on #188
@ArthurHNL I'm working on this issue

[2019-10-18 14:04] kirni commented on #192
Hi @NikolasKomonen and @angelozerr  thank you for your prompt responses.

I tried adding the *xsi:SchemaLocation* but then I got another issue:
![image](https://user-images.githubusercontent.com/12346829/67090052-694e0a80-f1a9-11e9-98c4-379bbe3cf45e.png)

I guess there is a mess in my current setup or something.

However setting up a XML catalog worked like a charm.

Thank you guys, I greatly appr

[2019-10-18 14:04] #192 closed

[2019-10-18 14:13] angelozerr commented on #192
If you wish to use `xmlns:i="http://www.w3.org/2001/XMLSchema-instance"` instead of standard `xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"`, you should write `i:schemaLocation="http://schemas.datacontract.org/2004/07/backend.confPlanner SpeakerSchema.xsd"` in other words:

[code]

It's a good news that XML catalog works for you. It will avoid adding at the end the schema location.

You ar

[2019-10-18 14:41] kirni commented on #192
I just tried this and it also works. Thank you for the additional information!

[2019-10-19 13:18] angelozerr commented on #188
A PR was created in https://github.com/angelozerr/lsp4xml/pull/579

See the following demo:

![XSIncludeDefAndCompletionDemo](https://user-images.githubusercontent.com/1932211/67145595-fca73e80-f282-11e9-995d-6f052b22598f.gif)

We should fix too the `Go to type definition` which gives the capability to go to the type definition of the xs:element from the XML file which is bound to the XML file.

!

[2019-10-21 22:06] angelozerr commented on #188
This issue (completion + definition) was fixed with https://github.com/angelozerr/lsp4xml/pull/579

[2019-10-21 22:06] #188 closed

[2019-10-22 16:50] ArthurHNL commented on #188
Thanks a lot!

[2019-10-23 16:14] Bob-Davis opened #194 "Installer doesn't prompt to install a JDK if none is found"
I just installed the XML support extension on my macOS (10.14.6), and didn't get a prompt to install a JDK. When I followed up with installing the Java Extension Pack, I did get it though.  This is a fresh OS and I hadn't installed OpenJDK yet, so I should have gotten the prompt to download and install it.

Attached is an image of what I got with the Java Extension Pack installer, and would have e

[2019-10-24 09:11] fbricon commented on #194
the same popup should show up not on install, but when the xml extension is activated, i.e when an xml document is opened

[2019-10-24 14:35] angelozerr commented on #119
Not sure that it's possible.

Could you share please a simple sample. Thanks!

XML catalog is done for that. have you tried it?

[2019-10-24 14:46] angelozerr commented on #119
@kozubikmichal I have the impression that your need is to map XML file name with XSD file name, no? If `systemId` will able to use `{0}` (but without *) like this :

[code]

Do you think you could use it for your usecase?

[2019-10-25 07:07] kozubikmichal commented on #119
@angelozerr
No, this would not fit for the SAP UI5 usecase. Here is the example of the valid UI5 XML Fragment definition:

[code]

Here you can see 2 different xml namespaces where each has its own xsd definition:
* **sap.m**: https://openui5.hana.ondemand.com/downloads/schemas/sap.m.xsd
* **sap.ui.core**: https://openui5.hana.ondemand.com/downloads/schemas/sap.ui.core.xsd

For this I need the xml

[2019-10-25 10:24] angelozerr commented on #119
@kozubikmichal I didn't know that you could use namespace. In this case it's possible to do that with XML catalog.

The basic idea is to write a XML catalog like this:

[code]

and reference it in the vscode settings:

[code]

See the zip attached

[vscode-xml-catalog-sapui.zip](https://github.com/redhat-developer/vscode-xml/files/3771552/vscode-xml-catalog-sapui.zip)

But it seems that there are

[2019-10-25 14:33] Bob-Davis commented on #194
That might become frustrating for someone who just wants to edit a file quickly. Informing them again (even though it's in the docs as a requirement) might provide a better user experience.

[2019-10-25 23:17] angelozerr commented on #194
I understand your frustration and I think no-java developer don't like our vscode-xml because they need to install Java and they prefer installing other XML extensions which don't require java.

I think vscode-xml is for user who wants advanced XML support like validation, completion based on XML Schema / DTD. If Java is not installed, it's a little boring to configure it, but after that you benef

[2019-10-26 14:04] anthonyvdotbe opened #196 "Formatting of newlines at EOF"
Given the following xml:

[code]

There are 2 issues when formatting:
* first, and most importantly: there's no way to keep a newline at EOF
* second, formatting is not idempotent: the first time it removes only 1 of the 2 trailing newlines, the second time it removes the remaining trailing newline

[2019-10-28 14:29] #190 closed

[2019-10-28 19:48] angelozerr commented on #196
Indeed WE should have a new settings for that. An interesting features to explore is to try get this settings from editorconfig https://github.com/editorconfig/editorconfig/wiki/Newline-at-End-of-File-Support if thé XML new settings is not defined

[2019-10-29 09:05] CircleCode opened #198 "invalid path resolution in multi-root workspace"
i have a multi-root workspace with the following configuration

[code]

The path to the catalog is resolved to `'file:///path/to/workspace/fondamentaux-guide/fondamentaux-code/path/to/catalog.xml'` (note the `/fondamentaux-guide/fondamentaux-code/` part) while it should be resolved to `'file:///path/to/workspace/fondamentaux-code/path/to/catalog.xml'`

[2019-10-29 09:12] fbricon commented on #198
Multi Root workspace is not supported at the moment. As a workaround you can try using an absolute path

[2019-10-29 09:40] angelozerr commented on #198
@fbricon have you an idea if it's hard to implement it?

[2019-10-29 09:50] Cisnocxie opened #199 "table view"
Is it posible to show a table view of a XML like XMLspy?
eg:
<CATALOG>
    <CD>
        <TITLE>Empire Burlesque</TITLE>
        <ARTIST>Bob Dylan</ARTIST>
        <COUNTRY>USA</COUNTRY>
        <COMPANY>Columbia</COMPANY>
        <PRICE>10.90</PRICE>
        <YEAR>1985</YEAR>
    </CD>
    <CD>
        <TITLE>Hide your heart</TITLE>
        <ARTIST>Bonnie Tyler</ARTIST>
        <COUNTRY>UK</COUNTR

[2019-10-29 09:58] fbricon commented on #199
Not possible at the moment. That would probably require developing a custom webview.
This is not a priority for us at the moment but if someone was willing to contribute such a feature, we'd certainly consider it.

[2019-11-01 14:23] NikolasKomonen commented on #198
It was initially started here: https://github.com/angelozerr/lsp4xml/pull/293
I found that the only issue was to do with some paths: https://github.com/angelozerr/lsp4xml/pull/293#issuecomment-459797310

[2019-11-08 07:35] viperet commented on #176
@benjamenhogben I developed VSCode extension, it can convert Magento 2 XML catalog into proper format accepted by this extension automatically. Try it - https://marketplace.visualstudio.com/items?itemName=viperet.vscode-magento-wizard

[2019-11-08 08:22] angelozerr commented on #176
@viperet it's a really cool news! Thanks for this information.

I close this issue since Magento can be supported by XML catalog.

Please create another issues if you find another problems with Magento.

@viperet if you need some features to improve writing catalog or other things don't hesitate to create issues.

[2019-11-08 08:22] #176 closed

[2019-11-13 15:17] angelozerr commented on #196
3.15 LSP specification provides the `insertFinalNewline` formattings option that we should use to implement this issue. See https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#textDocument_formatting

[2019-11-14 08:50] rwx-777 opened #200 "Saving our Improvments Upstream ? :)"
Hello there,

my name is Joshua I work for Atsec. We have made a few changes to your XML Language Support Plugin, from our Perspective we would say Improvements, as it is now easier to read the XML. This Format is similar to Oxygen, which we used before to edit XML Files. Feel free to have a look at it and come back to us with any improvments or ideas.

Here is our Repo we forked:
https://github.c

[2019-11-14 09:08] angelozerr commented on #200
Hi Joshua ,

Thanks for your information. It's little hard to understand what your formatter does compare to our formatter. Could you explain more what is your goal?

My quick understand is that you want to set some tag elements in the same line (b , bibref, color tags, etc )

As it's a custom configuration we could provide this capability with settings (you could set in the settings an array of t

[2019-11-14 09:13] fbricon commented on #200
https://github.com/angelozerr/lsp4xml/compare/master...enxio:master seems a better link to use for comparisons

As @angelozerr said, please open a ticket or a PR on https://github.com/angelozerr/lsp4xml explaining your motivations (adding screenshots comparing formatting before/after your changes might help). And yes, looks like the list of tags to inline could be configurable.

[2019-11-14 14:20] rwx-777 commented on #200
@angelozerr @fbricon  Thank you very much for your fast reply. Yes, indeed we have implemented a Version, where we can set tag elements in the same line. It truly helps the readability of an XML File.
We would be very pleased if you could consider making this a custom configuaration as you already said. We like the idea of this very much.
Thank you in advance for your time & efforts.

[2019-11-15 07:43] #200 closed

[2019-11-15 08:22] angelozerr commented on #200
@rwx-777 if you wish this configurable feature please give us some usecases (create an another issue if you wish) and don't hesitate to create PR if you can.

[2019-11-19 09:39] angelozerr commented on #200
@rwx-777 has created the issue at https://github.com/angelozerr/lsp4xml/issues/594

[2019-11-20 13:21] 1035311527 opened #201 "xml.server.workDir with chinese path doesn't work"
Does this plugin have the function like code completion.If so,how can i active the function.

[2019-11-20 15:18] angelozerr commented on #201
Indeed completion from existing XML elements, based on XSD, DTD should work.

As vscode-xml consumes the XML Language Server lsp4xml written in Java, you need to install Java and configure the path to Java. Please read https://github.com/redhat-developer/vscode-xml#requirements

If after this configuration, it doesn't work please attach your XML documents, XML Schema, DTD in order we investigate t

[2019-11-21 07:01] 1035311527 commented on #201
After configuration i can see the completion.There is one more question,can this complete the xml tag like idea or eclipse does. like that:
<img width="282" alt="pic" src="https://user-images.githubusercontent.com/24894908/69314689-c1c46c00-0c6f-11ea-917a-b041cd5a7c62.png">

[2019-11-21 13:12] angelozerr commented on #201
In your sample, you have a completion item with dependency and if you apply it, it should generate

`<dependency><.dependency>`

what do you want more? Perhaps a snippet which generates dependency with version, etc?

Please describe more what you want, thanks.

[2019-11-22 14:47] 1035311527 commented on #201
For example , there is '<scope>' tag under dependency tag.But if i type  '<' in dependency tag i hope there would be scope in the list.
like this
![S91122-22454823](https://user-images.githubusercontent.com/24894908/69435186-089e8880-0d7a-11ea-97fe-50a133104d10.png)

[2019-11-22 14:52] 1035311527 commented on #201
I mean it is able to tell me the allowable tag from xsd file.And these tags will appear in the list.

[2019-11-22 15:05] angelozerr commented on #201
It should work like this:

![DependencyDemo](https://user-images.githubusercontent.com/1932211/69436359-87c39a80-0d41-11ea-9194-d41639c80baa.gif)

The completion provides tag elements coming from the XML Schema and according the XML content. For instance you can see in the demo that once `artifactId` is inserted, the completion doesn't provide it (acoording the XML Schema constraints).

Is it work

[2019-11-23 07:44] 1035311527 commented on #201
Yeah,just like this.But there is no tag in the list.Shoud i download the xsd file in order to make the completion work?

[2019-11-23 10:34] angelozerr commented on #201
If your XML file (I suppose pom.xml) is bound to XML Schema with `xsi;shemaLocation` it should download it in a cache folder `.lsp4xml`.

I suggest you:

 * to share your XML file
 * if you have defined  `xsi;shemaLocation`, have you some error like download error?

[2019-11-23 11:59] 1035311527 commented on #201
It seems like there is already cache file in the cache folder.It can tell me the content in the tag.Like the version or something else.But i don't know why threre is no tag tips in the list.I guess maybe because i have something wrong in my configuration?
![QQ浏览器截图20191123195243](https://user-images.githubusercontent.com/24894908/69478275-9b4b3000-0e2b-11ea-803e-e15e7744f528.png)
![QQ浏览器截图20191123

[2019-11-23 12:33] fbricon commented on #201
Try disabling the Maven extension, see if it might cause some conflicts

[2019-11-23 14:16] angelozerr commented on #201
In my case I have vscode-maven and vscode-xml installed and it works great.

The version completion is managed by vscode-maven not by vscode-xml.

If you open completion after dependencies, you should see 4 completions items:

![image](https://user-images.githubusercontent.com/1932211/69479944-5e6b4300-0e03-11ea-9df1-ec89b6f2b0cb.png)

 * the first dependency comes from the XML Schema managed by v

[2019-11-24 05:07] 1035311527 commented on #201
Error?like this? yes.And here is the logs.
![深度截图_选择区域_20191124130607](https://user-images.githubusercontent.com/24894908/69489978-671f5000-0ebb-11ea-97e1-55166cd08532.png)
![深度截图_选择区域_20191124130719](https://user-images.githubusercontent.com/24894908/69489979-67b7e680-0ebb-11ea-898b-65928162af58.png)

[2019-11-24 07:35] angelozerr commented on #201
Ok thanks it means that XML language server is working.

Could you share please your XML file?

Have you some errors in your XML when you try to insert an XML like <bad-tag /> in your XML ?

When you try to open completion you should see logs, could you share it?

[2019-11-24 08:56] 1035311527 commented on #201
[xml.txt](https://github.com/redhat-developer/vscode-xml/files/3883350/xml.txt)
This text is the xml file create by vscode-maven.And the error.Yes ,if i dont insert the content it will warn me there is error.And there is no particular message in logs.
![QQ截图20191124164711](https://user-images.githubusercontent.com/24894908/69492218-78c42000-0eda-11ea-9e7a-9e8a974424b9.png)
![QQ截图20191124164948](ht

[2019-11-24 10:01] angelozerr commented on #201
It seems you have completion items. When you have a key as icon it comes from vscode-xml completion.

In my demo i open completion inside dependencies tag (not inside plugins tag). Is it working for you?

[2019-11-24 11:59] 1035311527 commented on #201
Seems like not working.Will that because there are some conflicts with other plugin or this plugin depend on other plugin?

[2019-11-24 12:17] 1035311527 commented on #201
This is my setting file of vscode,Is there any mistake? "D:\Java" is my java home path.

[2019-11-24 14:46] angelozerr commented on #201
I think your settings should be good since validation is working.

I have tried your XML file and everything works well. When I open completion before <modelVersion, I have that:

![image](https://user-images.githubusercontent.com/1932211/69496296-f1be7a00-0ed0-11ea-9ea8-f0d76268a50f.png)

Do you have the same completion result? If no, could you see the Output and check you have completion request

[2019-11-25 00:53] 1035311527 commented on #201
No,there is nothing but the initialize information in output.

[2019-11-25 05:17] angelozerr commented on #201
Enable LSP server by adding this settings:

[code]

[2019-11-25 09:05] 1035311527 commented on #201
Yes,there is.
![QQ浏览器截图20191125165559](https://user-images.githubusercontent.com/24894908/69526691-ba6dcd00-0fa5-11ea-80c3-5fdbc3c1aa7d.png)

I am a little confuse there is content tips,but dont have the tag tips.
![QQ浏览器截图20191125165824](https://user-images.githubusercontent.com/24894908/69526678-b641af80-0fa5-11ea-896b-7d98c517218d.png)

[2019-11-25 10:18] angelozerr commented on #201
And what about request response completion? Have you an empty result for completion response?

It's completion from vscode-maven and not from vscode-xml which manages only completion based on XML Schema. This groupId completion is specific to maven which is managed by vscode-maven.

[2019-11-25 11:43] 1035311527 commented on #201
Seems like there is too many response.I am not sure which one you are taling about.But most of the responses is empty in result.
![QQ浏览器截图20191125193929](https://user-images.githubusercontent.com/24894908/69537799-d41a0f00-0fbb-11ea-85c8-fb75c7869335.png)

[2019-11-25 12:40] angelozerr commented on #201
I mean `Received response 'textDocument/completion`.

Could you share your trace please.

[2019-11-26 10:38] 1035311527 commented on #201
There are three responces after i type '<' in dependencies tag.And there is no match result.
![QQ浏览器截图20191126183702](https://user-images.githubusercontent.com/24894908/69622383-cdeb6780-107b-11ea-861e-662a9b07ff11.png)
![QQ浏览器截图20191126183359](https://user-images.githubusercontent.com/24894908/69622421-dd6ab080-107b-11ea-9a89-c9d9df05cfa2.png)
![QQ浏览器截图20191126183412](https://user-images.githubus

[2019-11-26 13:05] angelozerr commented on #201
It should work, I don't understand why you have this problem?

I have seen from your settings that you have Spring Boot Extension. Could you disable it please and retry completion.

When you hover the `modelVersion `tag, you should see the documentation with an hyperlink to the XML Schema:

![image](https://user-images.githubusercontent.com/1932211/69635880-a84b6780-1055-11ea-9f02-57e83697a0ab.png

[2019-11-26 17:26] 1035311527 commented on #201
Not work,there is nothing when i hover the tag.

[2019-11-26 17:34] 1035311527 commented on #201
I will try to disble other plugin and see if it is wroking

[2019-11-27 06:31] 1035311527 commented on #201
Seems like even i disable all the plugins it still not working.

[2019-11-29 10:58] fbricon commented on #130
@angelozerr @xorye @NikolasKomonen that feature is now available for HTML tags: https://github.com/microsoft/vscode/issues/47069. Would be nice to extend it to XML as well.

[2019-11-29 13:17] angelozerr commented on #130
Thanks @fbricon for this great news! It seems we should support

 * a custom request `MatchingTagPositionRequest` on LSP4XML (server side)
 * that we should consume on vscode-xml (on client side).

 See commit at https://github.com/microsoft/vscode/commit/0d25d0a79823802d0c5df42db4d4d40b099c14d5

[2019-12-04 20:47] rehdi93 opened #202 "code completion only works if a workspace is open"
whenever I don't have a work-space open, no auto-completion ever shows up for my configured file associations.

I have my settings like this:
[code]

Logs when hovering over an element:
[code]

[2019-12-06 17:58] octref commented on #130
@angelozerr The bugs you pointed are already fixed. To implement this feature for XML, you can support `MatchingTagPositionRequest` on the server and reference the implementation in our HTML server.

[2019-12-06 18:42] angelozerr commented on #130
Thanks for the information!

What do you mean with `reference the implementation in our HTML server` ?

@fbricon I think we should really implement this very cool feature.

[2019-12-06 21:38] octref commented on #130
@angelozerr https://github.com/microsoft/vscode/blob/master/extensions/html-language-features/client/src/mirrorCursor.ts

There's nothing in LSP that correspond to adding a cursor. So if you want to implement this, the best you can do is to use VS Code's API like the html language client is currently doing.

Please note that `MatchingTagPositionRequest` is not an official name.

[2019-12-10 09:21] Micha-ST opened #205 "Inserting lines does not respect configured indention"
When an indention (tab size) of 2 space characters is configured (either locally for the file or globally in VS Code), inserted lines are always indented by 4 space characters.
[Example1.txt](https://github.com/redhat-developer/vscode-xml/files/3943974/Example1.txt)

Often, also the following line(s) are affected:
[Example2.txt](https://github.com/redhat-developer/vscode-xml/files/3943977/Example2

[2019-12-10 13:56] 1035311527 commented on #201
There is response after i type some chars of the tag.But the question is the result tags wouldn't add to the list.Hopefully it can be fixed.
![QQ截图20191210214658](https://user-images.githubusercontent.com/24894908/70535308-d1acdd00-1b97-11ea-9f63-38f139ae74ab.png)

[2019-12-10 14:08] angelozerr commented on #201
To be honest with you, I have no idea why you have this problem? The hover and completion works with the same component (ContentModelManager) so it's explain why hover and completion based on maven xsd doesn't work.

Could you try :

 * configure a `xml.server.workDir` with a folder (like `C:/lsp4xml`) and open pom.xml. You should have  maven xsd file in `C:\lsp4xml\cache\http\maven.apache.org\xsd

[2019-12-11 09:07] 1035311527 commented on #201
Seems like it works after i change the path of the cache file.Maybe because the default path?
<img width="555" alt="QQ浏览器截图20191211170626" src="https://user-images.githubusercontent.com/24894908/70607053-b8a83880-1c38-11ea-9193-4f91f3e746f5.png">

[2019-12-11 14:26] angelozerr commented on #201
I'm glad it works for you. I think it's a right problem (by default it stores the cache in .lsp4xml from you OS user dir). If you use this default folder and you activate logs with `xml.logs.client` do you see some error trace?

[2019-12-11 15:04] 1035311527 commented on #201
Actually i think that is because my computer user name is Chinese words.And i guess that is where the problem is.

[2019-12-11 15:44] fbricon commented on #201
@1035311527 can you paste here the path to your home/user directory?

[2019-12-12 15:10] angelozerr commented on #130
You mean that this request type could belong to the LSP specification ?

[2019-12-12 15:39] octref commented on #130
I was saying the opposite: it’s NOT lsp, just a custom request now.

[2019-12-12 19:27] angelozerr commented on #130
Yes sure I understood that, but I love this feature and I hope really this request type will be a LSP specification. In this case we could have this feature in any LSP client (my wish is to have this support inside Eclipse IDE with LSP4E /cc @mickaelistria)

[2019-12-12 19:40] mickaelistria commented on #130
the Language Server already has ability to send TextEdit to the client to apply on client-side. So this can be an option, when turned on, that sending a text change inside a tag sends an applyEdit notification for the other tag in the client.
I don't think we need some extra thing to make it work on client side.

[2019-12-13 21:24] fbricon commented on #202
fixed by https://github.com/angelozerr/lsp4xml/pull/598

[2019-12-13 21:24] #202 closed

[2019-12-14 07:49] ciaranchen opened #211 "Cursor move around"
When I selected a text range, the anchor move around. I disable all other extensions, but the question still exists.

I thought the question is in `src/mirrorCursor.ts`. the `window.onDidChangeTextEditorSelection` was called multiple times while I selected a text range.  It's parallel.

Then in event handler, it calls `exitMirrorMode` which change selections.

So when I selected a range of text qu

[2019-12-14 09:46] fbricon commented on #211
@ciaranchen try toggling the cursor mirror mode with Ctrl+Shift+F2 (or Cmd+Shift+F2 on mac)

@NikolasKomonen @xorye when mirror mode is disabled, the event handler should be removed so as to avoid that.

[2019-12-14 10:07] fbricon commented on #211
This is really bad
![Dec-14-2019 11-05-25](https://user-images.githubusercontent.com/148698/70847193-d9070b80-1e61-11ea-904e-ee732ecf10ce.gif)

[2019-12-14 20:09] daveb-501commons commented on #211
Happening for me as well
https://github.com/microsoft/vscode/issues/86966#issuecomment-565684099
https://github.com/angelozerr/lsp4xml/issues/601

[2019-12-15 09:41] fbricon commented on #211
0.10.1 released, the mirror cursor editing has been temporarily removed

[2019-12-15 09:41] #211 closed

[2019-12-15 17:39] angelozerr commented on #211
Thanks @fbricon !

[2019-12-17 14:16] viperet opened #212 "Contributing completion and definitions from another extension"
Is there a way to contribute the completion of the attribute value from another VSCode extension? I know there is a mention of such possibility using Java code (mentioned in the readme), but VSCode extensions are written using TypeScript, not Java. Maybe you can think about a way to allow easy interface for other extensions to provide completions and/or definitions for attribute values?

[2019-12-17 16:50] angelozerr commented on #212
Today, all features (completion, hover, validation, definition, codelens, codeaction, etc) are Java SPI and are extendable (ex: XML completion based on XML Schema is a Java SPI).

I suggest you read https://github.com/redhat-developer/vscode-xml#custom-xml-extensions you will see how to implement custom extension in Java SPI and how to register it in vscode extension.

The basic idea is to write y

[2019-12-17 20:30] viperet commented on #212
Thanks for a fast response! Yes, I know about the possibility to extend using Java SPI, but in my use case I have Magento 2 extention, with is written in TypeScript with a bit of PHP, it indexes extensions and themes registered in Magento, and provides userfull code generation features for developer and I also wanted to provide completion for class names and templates in the XML layouts. To extend

[2019-12-18 14:58] fbricon commented on #130
Feature doesn't work (see #211 )

[2019-12-18 15:36] angelozerr commented on #212
@viperet I love this usecase!

Today there is no way to implement your requirement, but I would like to work on this support in angelozerr/lsp4xml#596

There are 2 strategies to implement your requirement:

# vscode completion

Implement a vscode completion which consumes a custom LSP services registered in XML Language Server (LSP4XML). This custom LSP service (written in Java)  could be called `

[2019-12-19 17:16] dkolepp opened #214 "XML Validation fails with 0.10.* versions"
My XML documents started showing errors for every XML tag, with the 0.10.* versions:
![image](https://user-images.githubusercontent.com/10145457/71194059-3e3f7000-2259-11ea-8a64-c4ca2c2b8bb1.png)
![image](https://user-images.githubusercontent.com/10145457/71194116-5adba800-2259-11ea-9612-2ccabe0c5059.png)

When I downgraded to 0.9.1:
![image](https://user-images.githubusercontent.com/10145457/7119

[2019-12-19 17:42] fbricon commented on #214
Can you attach a sample document?

[2019-12-19 18:13] dkolepp commented on #214
sure - the below document has the same issue.  Works fine with 0.9.1, but not any of the 0.10.* versions.

[code]

[2019-12-19 19:00] angelozerr commented on #214
Since 0.10.* versions we disable by default resolve external entities since security feedback. To enable it, add in your settings:

[code]

[2019-12-19 19:08] dkolepp commented on #214
I did need to select this option:

![image](https://user-images.githubusercontent.com/10145457/71201858-ead51e00-2268-11ea-90a5-b1737c18f319.png)

After I did this, a restart of VS Code was required, but I no longer had validation issues.  Thanks for the quick response!

[2019-12-19 19:08] #214 closed

[2019-12-19 19:10] dkolepp commented on #214
Is it possible to give users a better idea that this is the problem?  Detect that an external entity is available, but is **purposefully** not being parsed/used - and that may be the cause of the errors?  Food for thought...

[2019-12-20 16:27] octref commented on #130
I can't repro the problem in HTML though. Are you doing anything XML specific?

[2019-12-20 19:25] xorye commented on #130
One feature that was specific to vscode-xml was that we added the ability to toggle the `xml.mirrorCursorOnMatchingTag` feature with Ctrl/Cmd + shift + f2.

A new listener was added to detect changes to `xml.mirrorCursorOnMatchingTag` and called the [`onDidChangeTextEditorSelection()`](https://github.com/microsoft/vscode/blob/eb0ca2626beba3de0d2e6c0220e2c55d34cefc61/extensions/html-language-featur

[2019-12-22 10:25] 1035311527 commented on #201
Im using windows.And my user directory is "C:\Users\萌新"

[2020-01-06 21:23] dsopko commented on #194
Simply boring to configure it? Here is a clue, I'm a non-java developer and I started attempting to install the extension at 3:40 PM, it's now 4:25 PM I've installed multiple versions of the JAVA SDK from Red Hat which I needed to hand over addresses, phone numbers, emails, and now I'm into multiple web searches as to why it still cant locate the Java SDK and now it appears the next step might be

[2020-01-07 06:59] arkceajin opened #215 "xml.fileAssociations cannot load xsd"
[AUTOSAR_00048.zip](https://github.com/redhat-developer/vscode-xml/files/4029276/AUTOSAR_00048.zip)

Setting:
[code]
XML:
[code]
Error:
![image](https://user-images.githubusercontent.com/8335699/71874501-6e49a700-3165-11ea-921d-74efff070d2f.png)
![image](https://user-images.githubusercontent.com/8335699/71874523-799cd280-3165-11ea-9dca-02e444c4a792.png)

The xsd file can load by `xsi:schemaLocatio

[2020-01-07 08:34] fbricon commented on #194
@dsopko did you set xml.java.home in your preferences?

[2020-01-07 08:37] angelozerr commented on #215
@arkceajin not sure it's the problem but your system id contains a chinese character `c:\\Users\\s-jiu\\Desktop\\最新AUTOSAR\\R19-11\\MethodologyAndManifests\\AUTOSAR_00048.xsd` and perhaps it's the problem?

It seems that there were a problem (not the same) but with chinese character in https://github.com/redhat-developer/vscode-xml/issues/201#issuecomment-568249674

Could you try to set your XSD o

[2020-01-07 17:55] #149 closed

[2020-01-08 00:23] arkceajin commented on #215
@angelozerr Hi

I tried to put xsd another folder without Chinese character, and the problem did fixed. Now work like a charm. Thanks.

[2020-01-08 04:26] arkceajin commented on #215
Hi, @angelozerr
Sorry! the last comment was wrong, using path without the Chinese characters still do not work. I forgot to remove the XSD within the XML folder.

[2020-01-08 07:34] angelozerr commented on #215
@arkceajin after reading in more detail your sample, you must not use xml.fileAssociations but use XML catalogs:

 * xml.fileAssociations is used when you wish to bind some XML files to a XSD Schema bit without using xsi:schemaLocation
 * xml.catalogs gives the capability to write a XML catalog. You can see for instance an example at http://www.sagehill.net/docbookxsl/WriteCatalog.html#MapURLtoFil

[2020-01-08 08:22] arkceajin commented on #215
@angelozerr Hi, Finally everything got worked. Thanks.

BTW, Suggest gives a warning when the path in the catalog is wrong.  This was the reason I didn't get worked.

And why don't let `xml.fileAssociations` takes higher priority than `xml.catalogs`? Because I think it is an external feature of the schema to XML mapping.

[2020-01-08 09:02] angelozerr commented on #215
I agree, please create a new issue with that.

Indeed xml.fileAssociations is not a XML spec part,although XML catalogs belongs to XML spec.

I close the issue since you have resolved your problem.

[2020-01-08 09:02] #215 closed

[2020-01-08 21:49] viperet commented on #212
@angelozerr I thought about simple interface:

extension in VSCode exports public API, like
```function getXMLAttributeCompletion(xmlFile: Uri, attributeType: string, attribueValue: string): string[]```

vscode-xml discovers extensions exporting such function and calls them when the user edits attribute value, passing XML file URI, attribute type name (from XSD) and value currently entered by the

[2020-01-09 00:52] arkceajin opened #217 "Warning when the xml.catalogs path cannot be found"
When setting an unexisting path in xml.catalogs.
[code]
XML:
[code]
Now gives these
![image](https://user-images.githubusercontent.com/8335699/72028210-07db9a80-32c5-11ea-8460-fbcbbef546bf.png)
![image](https://user-images.githubusercontent.com/8335699/72028242-23df3c00-32c5-11ea-9c85-a2ef4c4bbfa4.png)
Suggest gives the speicfic warning that schema document cannot find is caused by the wrong path

[2020-01-09 02:21] arkceajin opened #218 "xsd:enumeration autocomplete don't work for text node"
xsd: https://github.com/redhat-developer/vscode-xml/files/4029276/AUTOSAR_00048.zip
xml:
[code]
For tag `<ACTION-TYPE>` suppose allow these values
 - INSTALL
 - REMOVE
 - UPDATE

But now gives nothing, suggest show the autocomplete as above.
![image](https://user-images.githubusercontent.com/8335699/72032228-17adab80-32d2-11ea-93eb-24628984ddc9.png)

[2020-01-09 11:25] angelozerr commented on #218
Completion based on xsd:enumeration works for attribute value but not for text node. We should implement it.

[2020-01-09 11:27] angelozerr commented on #217
I fear that it's not possible to do that since it's a vscode settings and there are no API to manage validation for this settings.

[2020-01-09 11:35] angelozerr commented on #212
@viperet I think it's too specific for your need and string[] is not enough (it needs documentation, for instance).

I would prefer providing a mean to communicate with LSP4XML and developer like you should develop the glue between Java and TypeScript. In this case you will manage your own method signature according your need.

After that if we see that getXMLAttributeCompletion is used in a lot o

[2020-01-12 16:08] alanlivio opened #219 "Formatter expand/collapse/ignore empty XML tags"
is It possible to configure the vscode-XML formatter to collapse empty XML tags?
Exemple. from:

[code]
to:

[code]

It is done by other vscode extension but individually:
  https://marketplace.visualstudio.com/items?itemName=wongjiahau.collapsed-expand-empty-tag

[2020-01-12 17:52] angelozerr commented on #219
Indeed we should provide this format settings but we should take care if XML is bound to a XML Schema /DTD which defines non empty element.

[2020-01-16 09:34] photasm opened #220 "Symbol outline / search: Customizable display text"
It would be nice to have the option to customize how symbol outline / search will be displayed.
This could be done by using the attribute on the displayed element.

[code]

In my case my symbol outline looks like this:
[code]

It would be nice, if it could look sth like this:
[code]

Thx. :)

[2020-01-16 09:44] angelozerr commented on #220
@photasm indeed it should be nice. The main reason why we have not implemented that is that when XML is too big, outline crashes the vscode.

But since we have added a symbol settings to disable it, I think it's a good idea to add a new settings to add attributes in the outline.

[2020-01-16 10:41] photasm commented on #220
Great, thank you in advance.

[2020-01-18 02:28] TonyGravagno opened #221 "Support for exceptions in syntax, ant examples"
I'm using this extension with ant build files. I've generated and published [Apache-Ant-Schema](https://github.com/TonyGravagno/apache-ant-schema) DTD and XSD, which is referenced by my build XML for validation.

Ant schema allows for some attributes to be a valid from a defined enumeration. For example, Boolean values can take values defined through an NMTOKEN as true, false, on, off, yes, or no.

[2020-01-18 11:31] angelozerr commented on #221
I understand the idea and if you want to have a robust support for and you must write a LSP4XML extension (in Java). Please read https://github.com/redhat-developer/vscode-xml#custom-xml-extensions

If you write a LSP4XML extension your XSD must be more lenient (remove xsd enumeration for instance?) but you could manage this completion at hand with your java LSP4XML completion participant.

It wil

[2020-01-23 10:29] jtschea opened #222 "Support for XSD in version 1.1"
Dear developers,

first of all thank you for this excellent VSCode extension.

I need some advanced XSD features that are only available in version 1.1. My question is, if LSP4XML supports this feature.

The XSD indicates the usage of XSD 1.1 like this:
`<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  vc:minVersion="1.1" xmlns:vc="htt

[2020-01-23 12:37] angelozerr commented on #222
Thanks!

@jtschea we have a PR which supports XSD 1.1 in https://github.com/angelozerr/lsp4xml/pull/515 but it has been not merged because

 *  it will grow up the size of the vscode-xml because it requires adds of (non standard) Xerces JAR which supports XSD 1.1
 * we found a lot of problems that we fixed but we are not sure that it will cause some regression.

[2020-01-24 13:53] 747 opened #223 "XSD with targetNamespace cannot be used with xml.fileAssociations"
I have an originally error-free file:
[code]
When I tried to replace it with `xml.fileAssociations`:
[code]
and changed the line 2 as:
[code]
I got this error:
[code]

---
I've found a similar case in #215, but the answer given there doesn't seem to answer me because what I want isn't replace the remote schema with a local file. What am I misunderstanding on the behavior of `xml.fileAssociations`?

[2020-01-24 14:08] angelozerr commented on #223
With XML catalog, your XSD schema is in your local file. Why you could not use XML catalog?

[2020-01-25 03:31] 747 commented on #223
@angelozerr Sorry if have a big misconception about the use case of `xml.fileAssociations`. And if you can confirm that using `xml.catalogs` is the only means in this library, I'm happy to do it. But I have questions which so far I couldn't find any documentation for.

1. What is the typical usage of `xml.fileAssociations`? From the Wiki example I assumed that this was my primary choice which can

[2020-01-25 03:55] A-UNDERSCORE-D commented on #222
Am also looking for XSD 1.1 support, as I have XSDs for config files that require the expanded `xs:all` rules (specifically allowing unbounded occurances)

[2020-01-26 19:33] jtschea commented on #222
Hi Angelo,

thank you very much for answering.

I was finally able to try out your PR within vscode-xml but still get errors when using XSD 1.1. I cloned and built your branch `xsd_1.1` and copied the resulting jar to `extensions/redhat.vscode-xml-0.10.1/server`. The jar was extracted to the same location as well.

Is this the correct way to experience XSD 1.1 in VSCode or am I doing something wro

[2020-01-26 20:39] alex-bel commented on #222
Hi Everyone!
I am also looking for XSD 1.1 support, especially for xsd:assert and xsd:assertion

I was able to build the xsd_1.1 branch (https://github.com/angelozerr/lsp4xml/tree/xsd_1.1), but unfortunately assertions do not work properly there. The reason is wrong version of 'org.eclipse.wst.xml.xpath2.processor' lib in the pom.xml. Xerces is built against version 1.2.0 of this lib, however in p

[2020-01-27 08:22] angelozerr commented on #222
Hi @alex-bel thank a lot for your feedback!

You mean https://github.com/angelozerr/lsp4xml/blob/xsd_1.1/org.eclipse.lsp4xml/pom.xml#L103 is not enough? Please create a PR to fix it.

We create an uberjar for LSP4XML which includes xerces, is it not working?

"xml.validation.schemaVersion": "1.1"

Indeed, @jtschea please add this settings.

@alex-bel is there any chance that you create a PR from m

[2020-01-27 21:40] alex-bel commented on #222
Hi @angelozerr

I will try to give more detailed explanation.

Let's say you want to use Xerces4j with XML Schema 1.1 support. First problem you face immediately is that you cannot find official (published by developers) artifact in public maven repositories.
However, you have official binary distributions (available here: https://archive.apache.org/dist/xerces/j/binaries/ ). If you download Xerce

[2020-01-28 08:23] angelozerr commented on #222
Thank a lot for your great feedback @alex-bel

We plan to move lsp4xml to Eclipse.org and we will see how we could manage this xerces 1.1. @fbricon what do you think about that?

[2020-02-03 15:26] JPinkney opened #224 "Is it possible to get a vsix release for 0.10.0/0.10.1?"
Hi! Just wondering if its possible to add a vsix for 0.10.0 and 0.10.1 so that we can use the releases in Che plugin registry ;)

[2020-02-03 15:55] fbricon commented on #224
There:
- https://github.com/redhat-developer/vscode-xml/releases/tag/0.10.1
- https://github.com/redhat-developer/vscode-xml/releases/tag/0.10.0

[2020-02-03 15:55] #224 closed

[2020-02-04 12:41] angelozerr commented on #221
@TonyGravagno have you tried to implement your own participant (completion, validation, etc) to manage your usecase?

[2020-02-04 12:46] angelozerr commented on #212
@viperet after thinking about your usecase, I think `vscode completion` mean is the best way (I mean This custom LSP service (written in Java) could be called Position getClassAttributeValuePosition(String uri, int offset)) because with your solution, it means that one moment all TypeScipt information to build completions on Java side will be posted to the XML Lanaguage Server which is not perform

[2020-02-04 12:50] viperet commented on #212
@angelozerr very interested in adding XML attribute values completion for Magento in my extension. But my Java knowledge is very limited (created J2ME calendar app 10+ years ago and that's all). If I can help somehow from the VSCode/Typescript side - let me know.

[2020-02-04 13:21] angelozerr commented on #212
@viperet the main work should be done in TypeScript side by using vscode.  I would like to follow the same idea than vscode-maven which manages completion on TypeScript side and call the Java Language Server to compute their maven dependencies coming from Java Language Server.

See https://github.com/microsoft/vscode-maven/blob/9eddbd912b9e5e97f0bc3e458bec8ed652e0d0e1/src/completion/completionProv

[2020-02-04 18:54] TonyGravagno commented on #221
I've been focused on business tasks and have not come back to this tooling challenge yet. Please forgive some time here until I can swing back around to this, look into LSP4XML, etc. Thank you VERY much for your follow-ups.

[2020-02-05 15:48] ckoppelman opened #225 "Automatically closing tags in multi-cursor mode only closes one tag"
## Description

In multi-cursor mode, the autocompletion only completes one XML Tag.

## Steps to reproduce

1. Set `"xml.completion.autoCloseTags": true`.
2. Type the following (pipes indicate multiple cursor locations):

[code]

3. Type `>`

### Expected
I expect the document to look like this:

[code]

### Actual

Instead, the document looks like this:

[code]

[2020-02-07 21:57] viperet commented on #212
@angelozerr thanks! Already started to implement completions using vscode-maven as an example.

[2020-02-13 09:47] mcn-mark-gordon commented on #182
It also affects me. Due to the nature of the system I am developing stylesheets for I sometimes need to use double-quotes in attributes and sometimes need to use apostrophes in them.

It might not be common (I don't know), but it is certainly more than one person affected.

[2020-02-15 01:36] bmix commented on #220
I would like to expand on that. There should be several attributes to configure, which get tested for in sequence.

`@id, @title, @name, @class` are good candidates. If none of them is available, the start of the text node could be shown.

[2020-02-25 09:13] SebastianPfliegel opened #226 "XSD download fails in recent versions"
I noticed that this extension no longer downloads external schemas for me. I'm behind a corporate proxy.

This is part of my settings.json:
`"xml.server.vmargs": "-Dhttp.proxyHost=PROXYHOST -Dhttp.proxyPort=3128 -Dhttps.proxyHost=PROXYHOST -Dhttps.proxyPort=3128"`

The last working extension version is `0.9.1` (downgrading does the trick for me). `0.10.0` and `0.10.1` are broken for me.

This is t

[2020-02-25 14:50] angelozerr commented on #226
@fbricon have you an idea about that?

[2020-03-05 12:13] ilyakanevsky commented on #226
I have the same problem with the actual `0.10.1` version.

[2020-03-05 12:17] SebastianPfliegel commented on #226
@ilyakanevsky downgrading to 0.9.1 fixes the problem for you, too?

[2020-03-05 17:14] mickaelistria commented on #177
IMO, schema completion in `xs:any` should only be provided when `processContents` is not `skip`. See #612 for example and rationale. The semantic of `processContents` is explicit enough to tell that no schema-related features (including completion) should be involved when set to `skip`.

[2020-03-06 13:47] fbricon commented on #226
did you set your proxy settings in the user's settings.json or the current directory?

[2020-03-06 13:58] SebastianPfliegel commented on #226
Hey @fbricon, I modified the user´s `settings.json`.

[2020-03-06 14:00] fbricon commented on #226
Ok so it's not https://github.com/redhat-developer/vscode-xml/commit/dc03e74ebbc4e3b72401781f97e3fcdd1c0f1fc8#diff-d106f0e1914f2f6cbf79404a7f0c42b4 then. Maybe @snjeza can help troubleshooting proxy issues

[2020-03-10 08:41] bmix commented on #130
There is also some discussion going on here: [VSCode: Improve mirror cursor implementation with Synced Regions #88424](https://github.com/microsoft/vscode/issues/88424)

[2020-03-10 09:24] angelozerr commented on #130
Thanks @bmix for this great information!

[2020-03-11 14:49] fbricon opened #228 "Blog post about vscode-xml+lemminx"

[2020-03-12 10:26] ilyakanevsky commented on #226
My settings:
`"xml.java.home": "C:\\Program Files\\Java\\jre1.8.0_231",`
`"xml.server.vmargs": "-Djava.net.useSystemProxies=false -Dhttp.proxyHost=127.0.0.1 -Dhttp.proxyPort=3130 -Dhttps.proxyHost=127.0.0.1 -Dhttps.proxyPort=3130",`

Now I use https://github.com/genotrance/px for proxy between applications and the real proxy. So I can see connections (initiated by each application) in the log.

I'

[2020-03-12 11:06] ilyakanevsky commented on #226
I guess it is. Maybe the root of a problem is here: `IS_WORKSPACE_VMARGS_XML_ALLOWED`.

@snjeza, we need your help.

[2020-03-13 17:52] #226 closed

[2020-03-14 07:42] angelozerr commented on #134
I close this issue since we have no answer. @stodge please reopen it if you need it.

[2020-03-14 07:42] #134 closed

[2020-03-16 08:16] SebastianPfliegel commented on #226
I tested the most recent CI build (https://download.jboss.org/jbosstools/vscode-xml/staging/vscode-xml-0.11.0-4173.vsix)

I can confirm that it is working again. Thanks!

[2020-03-16 09:28] angelozerr commented on #226
Great! Thanks @SebastianPfliegel for your feedback.

Thanks @snjeza for your fix!

[2020-03-17 12:17] ilyakanevsky commented on #226
I confirm too. Thanks for quick fix.

This problem is still here. Fix: download manually http://www.w3.org/2001/XMLSchema**.xsd** and save it as %USERPROFILE%.lsp4xml\cache\http\www.w3.org\2001\XMLSchema (without extension).

[2020-03-17 12:53] SebastianPfliegel commented on #226
@ilyakanevsky the extension uses a new directory:
`%USERPROFILE%\.lemminx\cache\`

[2020-03-17 13:28] angelozerr commented on #226
We try and guess the best path where XML Schema/DTD must be downloaded to improve drasticly the performance in https://github.com/eclipse/lemminx/blob/9a4ef41513283d057581b743107e03115dae8434/org.eclipse.lemminx/src/main/java/org/eclipse/lemminx/utils/FilesUtils.java#L98

If anybody have some idea how fix that, any idea are welcome!

But you can customize this folder (if you have this kind problem

[2020-03-20 11:55] ilyakanevsky commented on #226
Yes, I've seen it.

Yes, I've done it:
`"xml.server.workDir": "~/.lsp4xml",`

[2020-03-20 12:10] ilyakanevsky commented on #226
The problem I told above isn't about the path on the disk. It's about the URL. Correct URL for namespace `http://www.w3.org/2001/XMLSchema` is not http://www.w3.org/2001/XMLSchema but http://www.w3.org/2001/XMLSchema.xsd. It isn't related to current issue. Also it isn't a bug of plugin. But it will be great if plugin will have a fix for it and make a hidden redirect from http://www.w3.org/2001/XML

[2020-03-20 12:43] ilyakanevsky commented on #134
I'm behind McAfee Web Gateway proxy with NTLMv2 auth.

The flag `-Djava.net.useSystemProxies=true` isn't working for me.

But combination of `-Dhttp.proxyHost=webproxy.corp.net -Dhttp.proxyPort=proxyport -Dhttp.proxyUser=user -Dhttp.proxyPassword=password -Dhttps.proxyHost=webproxy.corp.net -Dhttps.proxyPort=proxyport -Dhttps.proxyUser=user -Dhttps.proxyPassword=password` **works well**. It doesn'

[2020-03-22 18:39] ph777 opened #231 "DTD inclusion does not work"
Hello,

thanks for you extension which is very useful for us. We use its support for understanding DTD definition which is helpful when composing XML documents.

However, we've come across a problem with DTD inclusion. If a DTD file references another DTD file, all declarations from the referenced DTD are like invisible to VSCode, therefore it marks errors on elements/attributes/entities defined t

[2020-03-23 06:30] ph777 commented on #231
There is a workaround as follows. Still I think the behaviour described above is an error.

Include `base.dtd` and `extended.dtd` in your XML file.

[code]

File `extended.dtd` does *NOT* reference a DTD file `base.dtd`:

[code]

File `base.dtd` is without change:

[code]

Hope it helps someone.

[2020-03-23 06:35] ph777 opened #232 "XML entities and intellisense"
It would be nice if entities declared in XML or imported from a DTD were offered by intellisense after writing writing ampersand character in XML attributes or in PCDATA sections.

Writing `&f` could offer all entities starting with `f`. After one is selected it could also close the entity reference with a semicolon.

Would it be possible? Thanks.

[2020-03-23 08:06] angelozerr commented on #231
Have you tried with this settings?

`xml.validation.resolveExternalEntities: true`

[2020-03-23 08:08] angelozerr commented on #232
It the same issue than https://github.com/eclipse/lemminx/issues/520

[2020-03-24 09:46] MAHTasklet opened #233 "Enumeration documentation is not displayed"
This is a great plug-in thanks for that.

I have a minor issue, that annotation/documentation is not displayed for xs:enumeration items, either when hovering over items in the selection list or when hovering the value after selecting.
In the example below only the documentation from the xs:simpleType is displayed.
I have also noticed, that if the top level element (xs:simpleType) does not have doc

[2020-03-24 10:26] angelozerr commented on #233
Glad it pleases you!

Could you give us a XML sample and full XML Schema which causes the problem, it will help us to understand quickly the missing feature and we will able to use your usecase for writing tests.

[2020-03-24 10:56] MAHTasklet commented on #233
Yes.
Let me create one and post it here.

[2020-03-24 13:04] MAHTasklet commented on #233
Here goes:
Notice that when using the extension and hovering over the type attribute or any of the values, the last documentation is displayed. In Visual Studio hovering over the type attribute displays the documentation added for the type, and hovering over the different values displays their documentation.

Hope this helps. If not, let me know.

[SchemaTest.zip](https://github.com/redhat-develop

[2020-03-24 13:15] angelozerr commented on #233
@MAHTasklet thanks for your zip. I try to understand the problem, if I hover `AX365 `

![image](https://user-images.githubusercontent.com/1932211/77429311-c180dc80-6dd9-11ea-9a08-746361f254cd.png)

but it should display `Used when connecting to Dynamics AX 365 for Finance and Operations.`

Is this problem that you mention?

[2020-03-24 13:20] MAHTasklet commented on #233
Yes.
That is the problem. Also, if you hover over the type= attribute, then the same documentation you mention is displayed which should be "The type of Backend ERP system."

[2020-03-24 13:45] angelozerr commented on #233
Could you add a screenshot please.

[2020-03-24 13:48] MAHTasklet commented on #233
The mouse is not visible but hovering the type= part underlined here.
![image](https://user-images.githubusercontent.com/36441243/77432585-8fbe4480-6dde-11ea-8c90-cded3bd339e0.png)

[2020-03-24 13:55] angelozerr commented on #233
Ok and when you hover the NAV value, you see the document of the NAV (or merged documentation of the type and NAV documentation?)

[2020-03-24 14:06] MAHTasklet commented on #233
No. It's the same value if I hover anything. regarding the type= attribute. That includes the actual attribute name (type=) or any entered values (AX, NAV, D365FO). Oddly enough, mine does display a different value that what you display, namely "Used when connecting to Dynamics AX 365 for Finance and Operations". However, always that value.

I just discovered that if I close VS Code, then whatever

[2020-03-24 14:09] MAHTasklet commented on #233
To recreate:
Close VS Code
Open VS Code
Hover the D365FO element.
Notice that the correct value is displayed.
Now hover the AX element.
Notice that the documentation for the D365FO is displayed.
Now hover the type= element.
Notice that the documentation for the D365FO is displayed.

Now repeat all steps, and choose another starting point e.g. hovering the type= attribute, and notice that whatever

[2020-03-24 15:45] angelozerr commented on #233
Ok if I understand correctly the problem, it's a cache problem. It seems hover is working the first time (if you hover the type attribute the first time, it works, if you hover AX value the first time it works, etc), but problem occurs for the second hover which is different from the first.

Is it that, or is there another problem?

I can reproduce the problem and I'm creating a PR for that.

[2020-03-24 17:00] angelozerr commented on #233
@MAHTasklet here the result of https://github.com/eclipse/lemminx/pull/623

![XMLHoverDemo](https://user-images.githubusercontent.com/1932211/77454775-492a1380-6df9-11ea-9d80-36f26f02e844.gif)

Is it OK for you?

[2020-03-24 17:11] MAHTasklet commented on #233
That looks awesome.
Thank you very much for the quick fix.

[2020-03-25 09:46] #233 closed

[2020-03-25 10:25] ph777 commented on #232
Sorry, I didn't notice that one.

[2020-03-25 10:25] #232 closed

[2020-03-25 10:27] ph777 commented on #231
Thanks for the tip. This works like a charm.

[2020-03-25 10:27] #231 closed

[2020-03-25 10:49] ph777 opened #234 "XML entities declared in a DTD are marked undeclared after XML file change"
I have a DTD file `base.dtd` that declares an XML entity `external`:

[code]

I have an XML file `file.xml` that references the DTD file and declares an XML entity `local`. To make the case clear it also uses an undeclared entity `undeclared`.

[code]

Now, if I open `file.xml` in VSCode, the DTD is recognized and the `&undeclared;` is correctly marked with an `EntityNotDeclared` error.

However,

[2020-03-25 10:51] ph777 commented on #234
I need to either reload VSCode or save `file.xml`, close it and reopen again to have externally declared XML entities evaluated correctly.

[2020-03-25 11:46] angelozerr commented on #234
DTD entity validation is indeed not very stable, we need to improve it. I need to investigate the problem.

[2020-03-25 12:08] ph777 commented on #234
Thanks, that would be great!

[2020-03-26 09:43] angelozerr commented on #234
Thanks @ph777 for your detailed explanation.

I can reproduce it and the bug is not trivial. It comes from the custom LemMinx cache of DTD which is used to avoid parsing referenced DTD grammar each time you type something in the XML editor.

But I have some ideas to fix this problem. I will ping you as soon as I will find a fix.

[2020-03-26 12:35] ph777 commented on #234
Great news! It sounds promising.

Dne čt 26. bře 2020 10:43 uživatel Angelo <notifications@github.com> napsal:

[2020-03-30 18:24] angelozerr commented on #228
Done with https://developers.redhat.com/blog/2020/03/27/red-hat-xml-language-server-becomes-lemminx-bringing-new-release-and-updated-vs-code-xml-extension/

Thanks @xorye !

[2020-03-30 18:24] #228 closed

[2020-03-31 21:06] BalduinLandolt opened #236 "Schema Declaration in Processing Instructions and RELAXNG/ODD Schema"
First of all, thanks for this great extension!

I'm unsure if it's just me being dumb... But the only way I can get schema validation to work is to use `xml.fileAssociations` in the settings. But that's somewhat impractical, as I can only add one schema and then every XML is validated with that one schema.
I'd love to be able to validate XMLs simply by adding the processing instruction `<?xml-mode

[2020-03-31 23:03] angelozerr commented on #236
XML Schema support should work, if you have some trouble, please attach a zip which contains your vscode project with XML and XML Schema and explain us what you want to do.

For RelaXNG, it exists an issue at https://github.com/eclipse/lemminx/issues/237 but I fear it's a long and hard task. I wonder if RelaxNG is a lot used compare to XML Schema?

[2020-04-01 09:08] BalduinLandolt commented on #236
Thanks for the quick reply!

Alright. I thought it might just be my mistake.
I'll have another look if I get it to work. And if not, I'll gladly upload my files.

Well... I suppose on a global scale, RelaXNG is not used a lot. By no means as much as XML Schema, at least. But it definitely gets used: For example, the entire [Text Encoding Initiative](https://tei-c.org/) and all TEI customizations a

[2020-04-01 09:41] BalduinLandolt commented on #236
I did try it out, see the attached zip file:
[validation_test.zip](https://github.com/redhat-developer/vscode-xml/files/4414178/validation_test.zip)

When I open these files in Oxygen XML editor, I get the expected behaviour: `file_invalid.xml` does not validate, `file_valid.xml` does.
When I open the files in VS Code, nothing happens, but a hint "No grammar constraints (DTD or XML Schema)."
When

[2020-04-01 10:05] angelozerr commented on #236
It seems that you are using xml-model https://www.w3.org/TR/xml-model/#the-xml-model-processing-instruction which is not supported (why I don't know if Xerces can support it, let me investigate that).

But the standard mean to bind your XML with a XML Schema is:

[code]

I mean, if your write your XML like:

[code]

It should work.

[2020-04-01 10:10] BalduinLandolt commented on #236
Cool, that works indeed. Thanks!

Again, in the context of TEI, I've seen xml-model used a lot. So if that would be supported eventually, that would be great!

[2020-04-02 09:52] angelozerr commented on #221
@TonyGravagno I close this issue since it's not an issue for vscode-xml or LemMinx (new name of LSP4XML since my project was moved to Eclipse.org) https://github.com/eclipse/lemminx

Please note there is a maven extension based on LemMinx which is developping
https://github.com/AObuchow/lsp4xml-extensions-maven

If you need any help to develop LemMinx extension for ant, please create issues at htt

[2020-04-02 09:52] #221 closed

[2020-04-02 12:13] angelozerr commented on #196
Once https://github.com/eclipse/lemminx/issues/628 will be done, we will able to LSP4J `FormattingOptions#isInsertFinalNewline()`

[2020-04-03 01:27] llaniewski commented on #185
I think some kind of general pattern rule would be useful. In my case the root element is always the same, but I would want to select the schema based the root element and the value of an attribute.

For example:
[code]

And then select that for `MyConfig` with `version='1.0'` we have `schema1.xsd` and for `version="1.1"` we have `schema2.xsd`. I know such a `version` based dispatch should be poss

[2020-04-03 09:06] angelozerr commented on #185
I think we should be more generic and use xpath instead of just root node like:

[code]

With xpath, I think we could write:

[code]

An another idea (I don't know if it's easy doable) is to write system id with wildcard:

[code]

[2020-04-03 09:09] fbricon commented on #185
Then, as soon as someone changes the version, validation will just stop

[2020-04-03 09:11] angelozerr commented on #185
Yes it's an expected behavior, no?

[2020-04-04 03:41] llaniewski commented on #185
@angelozerr The XPath suggestion is very nice.

1. I don't know much about XML standards to know if there is any **standard** way to do this xsd matching. From what I understand about XML Catalog, it doesn't provide such capabilities.
2. I did some digging, and it looks like this would have to be exposed in the LemMinX. Am I right?

[2020-04-04 09:39] angelozerr commented on #185
XML Catalog works with namespace to retrieve the XML Schema/DTD and not with xpath or XML file name.

Indeed LemMinX is the XML Language Server which must take care of this feature.

[2020-04-04 10:02] angelozerr opened #237 "Provide `xml.maxItemsComputed` setting for outline"
In vscode, when you try to open a big JSON file which generates many symbols, the outline doesn't show the all symbols and you have this warning message:

![image](https://user-images.githubusercontent.com/1932211/78424140-aaf54380-766b-11ea-822e-9ffc5ef02188.png)

It should be fine to do that in vscode-xml with the `xml.maxItemsComputed` with 5000 by default like JSON. It will avoid freezing vsco

[2020-04-08 20:43] xorye commented on #205
Hi, I am having trouble reproducing this issue. Could you please explain how exactly `<Init />` was inserted? (was it pasted, typed? etc.)

Does this problem also happen with the latest version of VS Code and the XML extension in the VS Code marketplace?

[2020-04-09 17:01] angelozerr commented on #218
This issue is not very hard, I will implement it soon.

[2020-04-10 15:36] angelozerr commented on #237
Here some helpful information with JSON:

#  LemMinx

See https://github.com/microsoft/vscode/blob/785eb0872a97f18775ca294fe2a4e4e35fc6a10e/extensions/json-language-features/server/src/jsonServerMain.ts#L447 (for getting this result limit settings) . We should do the similar logic in the XMLTextDocumentService#documentSymbols

See https://github.com/microsoft/vscode-json-languageservice/blob/5e620

[2020-04-11 09:46] BalduinLandolt commented on #236
@angelozerr where would I start best, if I wanted to contribute either to the support of the xml-model processing instruction or the implementation of relaxng in the lemminx language server?

[2020-04-11 10:14] angelozerr commented on #236
Indeed, it's the LemMinx LS which should manage that which is written in Java. It should be fantastic to have those contribution, I think we should manage at first xml-model processing instruction (how to manage that with Xerces) and RelaXNG (quick search with RelaxNG wriiten in Jav ais https://github.com/relaxng/jing-trang)

I suggets you that you create several little issues in LemMinx (what you

[2020-04-11 13:58] BalduinLandolt commented on #236
Let's not get ahead of ourselfs... This is somewhat beyond the scope of my usual projects. But I see what I can do. ;-)

Aye, will do.
But since the whole language server thing is new to me, I will need some help here and there, I suspect...

[2020-04-13 16:17] angelozerr commented on #218
I create a PR to support this issue at https://github.com/eclipse/lemminx/pull/632 (it's soon finished), here a demo:

![XSDEnumerationOnText](https://user-images.githubusercontent.com/1932211/79137100-5f047600-7db2-11ea-9f4f-183f955e278c.gif)

[2020-04-13 21:04] angelozerr commented on #236
But since the whole language server thing is new to me, I will need some help here and there, I suspect...

@BalduinLandolt I read some documentation about RelaxNG and starts playing with Jing. I see more what it is RelaxNG and what we need to do to support it and to be honnest with you it can be a long task if we want to support RelaxNG like we have done for XML Schema (DTD is not finished yet),

[2020-04-14 07:50] angelozerr commented on #236
But the first issue is to support

[code]

I think it can be possible (without extra libraries, because it seems Jing doesnt manage that)

[2020-04-14 11:10] BalduinLandolt commented on #236
Yes, let's keep the processing instructions and the RelaxNG/Schematron separate issues.

I'll see what I can do. But I'm rather busy with other things, so don't expect too frequent stuff from me. (I'm mostly doing this to procrastinate from other things... ^^)

[2020-04-14 12:09] angelozerr commented on #236
I will study this issue once I will fix some bugs with DTD

[2020-04-14 18:59] #218 closed

[2020-04-15 00:45] arkceajin commented on #218
thanks, it looks great.

[2020-04-15 16:58] brianary commented on #182
Whether or not it was a good design decision, [MuleSoft](https://www.mulesoft.com/) XML config files embed their DataWeave scripting language (which uses a lot of quotes) in attributes of their code. This indicates that an entire community is affected by this bug.

[2020-04-15 17:00] fbricon commented on #182
@brianary can you please provide an example of such config file?

[2020-04-15 17:43] brianary commented on #182
Here is one example element from a recent project:
[code]
DataWeave is primarily a tool for mapping one object structure to another:
[code]

[2020-04-15 19:29] angelozerr commented on #182
Thanks @brianary for your sample. But even if we fix this issue, I think the vscode-xml formatting will not be enough, because I suppose you want to format the attribute value which can contain JSON content.

And I suppose you would like to have syntax coloration for this JSON content, no?

Those 2 issues (which are out of the scope of this issue) requires to provide some extension (particpant for

[2020-04-15 19:38] brianary commented on #182
What? No. It is DataWeave, not JSON (though it is similar), but in neither
case do I need syntax and highlighting support. Often (not primarily) that
code is manipulated via a GUI, but that formats the XML in ways that don't
diff well within git/GitHub. I just want to be able to use this extension
(the only one that does XML folding right) to format the XML more
predictably/consistently without it

[2020-04-15 19:40] angelozerr commented on #182
(the only one that does XML folding right) to format the XML more
predictably/consistently without it breaking our code.

nice :)

Ok now I understand more it's a blocking issue for you.

[2020-04-15 19:45] brianary commented on #182
Thanks! I agree the choice of putting code in an attribute is weird enough
that it doesn't make much sense to try and add full language support.

On Wed, Apr 15, 2020, 12:41 Angelo <notifications@github.com> wrote:

[2020-04-16 11:12] Micha-ST commented on #205
Hi, you are right. The bug with the exact scenario from above is no longer present in my current version.
Visual Studio Code: 1.44.0
XML Extension: v0.11.0
Node.js: 12.8.1

However, when trying to reproduce the issue, I found a similar one which is still present.
Please, try the following steps to reproduce it:
- rename example1.txt to example1.xml and open the file in VS Code
- select lines 6 and

[2020-04-17 15:05] xorye commented on #205
My pleasure.

If I am interpreting Example3.txt correctly, the newly pasted text has correct indentation, and the issue is that the indentation on line 6 (`<TestDevice name="Head">`) is incorrect?

I've tried to reproduce the new problem with all extensions disabled except the XML extension:
![demo](https://raw.githubusercontent.com/xorye/gifs/master/new_issues/xml/indentation.gif?token=AE3CR5JU4G

[2020-04-17 20:10] angelozerr commented on #234
@ph777 I create a PR to fix this issue https://github.com/eclipse/lemminx/pull/636, here a demo:

![EntityDemo](https://user-images.githubusercontent.com/1932211/79610001-fd1c7700-80f7-11ea-8587-ace081235d0a.gif)

[2020-04-17 23:14] pc-robelbois opened #239 "Extension not detected as a formatter ?"
Hi
App installed and VScode restarted, however the addon does not seems to be available to format XML files.

![image](https://user-images.githubusercontent.com/50719398/79620903-75d7ff00-8109-11ea-8907-141ab39d823f.png)
![image](https://user-images.githubusercontent.com/50719398/79620911-7d97a380-8109-11ea-800f-71e740aa5b8c.png)

Could you please advice ?

[2020-04-18 06:22] anthonyvdotbe opened #240 "Improve formatting of Processing Instructions"
The formatter formats an XML declaration as follows:
[code]

But tools such as Maven generate XML files with an XML declaration as follows (i.e. without a trailing space before the closing tag):
[code]

This is particularly annoying, because the XML declaration is constantly changed: to version B each time Maven rewrites the XML file (e.g. when doing a release), and then again to version A when th

[2020-04-18 09:47] angelozerr commented on #239
Have you checked https://github.com/redhat-developer/vscode-xml#requirements

[2020-04-18 10:14] angelozerr commented on #219
@alanlivio I'm working on this issue, see the current status:

![FormatEmptyElements](https://user-images.githubusercontent.com/1932211/79634954-0f38fc80-816e-11ea-94df-c3054048033d.gif)

[2020-04-18 10:26] angelozerr commented on #219
It seems https://github.com/wongjiahau/VSCode-CollapseExpandEmptyTag#known-issues have some limitation, vscode-xml will have not this limitation:

![FormatEmptyElements2](https://user-images.githubusercontent.com/1932211/79635185-bec29e80-816f-11ea-8aa3-46024442b784.gif)

[2020-04-18 15:45] pc-robelbois commented on #239
@angelozerr This was indeed a configuration issue, I had it solved following instructions at #690 .

[2020-04-18 15:45] #239 closed

[2020-04-19 18:27] angelozerr commented on #240
I'm fine with this suggestion. @fbricon what do you think?

[2020-04-20 12:58] angelozerr commented on #182
To fix this issue, we should had a new enum `none` for `xml.format.quotations` which doesn't change the quote.

[2020-04-20 13:04] fbricon commented on #182
I'd rather prefer `xml.format.quotations: existing`

[2020-04-20 13:10] angelozerr commented on #182
I suggested `none` to be consistent with `xml.format.EmptyElements : none` which means do nothing.

[2020-04-20 13:12] fbricon commented on #182
then xml.format.emptyElements should use existing too ;-)

[2020-04-20 13:12] angelozerr commented on #182
Ok!

[2020-04-20 13:13] fbricon commented on #182
actually, I wonder if `ignore` would be a better fit for all

[2020-04-20 13:16] angelozerr commented on #182
I agree with that, I will do the changed

[2020-04-20 21:24] #237 closed

[2020-04-21 09:15] fbricon opened #243 "Document symbols limit warning keeps popping up on each change"
Set "xml.symbols.maxItemsComputed": 3, for instance, open a pom.xml, on every keystroke, the limit warning pops up:
<img width="543" alt="Screen Shot 2020-04-21 at 11 14 54 AM" src="https://user-images.githubusercontent.com/148698/79848454-62ef5400-83c1-11ea-8f6f-3bb5f46e437e.png">

[2020-04-21 09:25] angelozerr commented on #243
Indeed it misses the JSON part https://github.com/microsoft/vscode/blob/9f709d170b06e991502153f281ec3c012add2e42/extensions/json-language-features/server/src/jsonServerMain.ts#L204 which manages a cache of warning.

[2020-04-21 09:36] fbricon commented on #219
New `xml.format.emptyElements` preference has been added with expand/collapse/ignore options

[2020-04-21 09:36] #219 closed

[2020-04-21 10:22] angelozerr commented on #182
@fbricon after discussion with @xorye, I think `xml.format.quotation` should not exists. Today this settings is used

 * for apply completion to generate attribute
 * for formatting

The most important feature is for completion apply, so I think we should have `xml.preferredQuotation` setting (instead of xml.format.quotation).

After that formatting will keep the existing quotation. Now if we want

[2020-04-21 11:03] Micha-ST commented on #205
You interpreted Example3.txt correctly. The problem was in line 6.

I did some further investigations. However, I was not able to find any possible reason for this bug to happen. I disabled all other extensions, uninstalled and installed the XML extension, even reset all VS Code settings.

I tried the scenario on 3 PCs. 2 PCs (Windows 8.1, Windows 7) showed this issue, 1 PC (Windows 10) not. Could

[2020-04-21 18:52] #234 closed

[2020-04-21 19:34] ph777 commented on #234
Great news! Thanks!

When can we expect the 0.12.0 version to be released?

[2020-04-22 12:39] angelozerr commented on #130
@xorye we should manage synced region in LemMinx side and consume it. See HTML Language server commit https://github.com/microsoft/vscode/commit/01e01b13f88064374ebc5aa789cb0ee76d03a17c but I suggest you see for each files the master code (if there are some fixes)

[2020-04-22 13:30] gannebamm opened #245 "How to validate a XML file against a xsd?"
I would like to trigger XSD validation but am unable to find a way to do so. Could someone please explain the procedure to me?
Thanks

[2020-04-22 14:11] fbricon commented on #240
how about `xml.format.spaceAfterAttribute` or `xml.format.spaceAfterLastAttribute`?

[2020-04-22 14:14] alanlivio commented on #219
Thanks @angelozerr and @fbricon .
Best regards.

[2020-04-22 15:09] promm1983 opened #246 "TargetNamespace.2: Expecting no namespace, but the schema document has a target namespace of"
Hi,
i'm trying to use my own xsd stored locally. But I'm getting:
_TargetNamespace.2: Expecting no namespace, but the schema document has a target namespace of_
error.
Settings file:
[code]

test.xsd:
[code]

and test.xml:
[code]

![image](https://user-images.githubusercontent.com/21121366/79999264-015fe000-84bc-11ea-9c4b-5decd9c9ecd6.png)

Am I missing anything?

[2020-04-22 15:43] angelozerr commented on #246
It's because you are using file association which doesn't take care of namespaces if I remember.

You tried to use `schemaLocation` which is good but you don't use correctly. Please try:

[code]

[2020-04-22 16:02] angelozerr commented on #245
I don't know what is your skill with XML and XML Schema (sorry if you know what I will try to explain you), but the basic idea is to write a XML file and a XSD file and associates the XML file with XSD. With vscode-xml you can associate a XML  file with:

 * file association (not standard)
 * schemaLocation or noNamespaceSchemaLocation
 * XML catalog (with schemaLocation ) if your XSD file is not

[2020-04-22 16:47] promm1983 commented on #246
ohh sh...
I haven't been using xml/xsd for a while. Stupid mistake :P.

Thank you very much for help.

[2020-04-22 16:47] #246 closed

[2020-04-22 17:42] xorye commented on #205
Thank you for the info. In our case, the OS might affect certain functionality involving line delimiters and paths, but strangely I was unable to reproduce the issue on a Windows 8.1 VM.

To further investigate the issue, could you please provide a server trace and your JDK/JRE version?

Here are the steps to get the server trace:
1. In the VS Code settings, set `xml.trace.server` to `verbose`
![i

[2020-04-23 14:34] angelozerr commented on #240
After discussion, we should never generate a space before the end of processing instruction. If some user will need that, we will introduce a new settings for that like @fbricon suggested. But for the moment keep simply and don't generate this extra space.

[2020-04-23 14:45] anthonyvdotbe commented on #240
Sounds good to me, thanks.

[2020-04-24 08:51] pc-robelbois opened #247 "Preserve line breaks when formatting"
Hi

**Context**
A big XML file with long lines, line breaks are used to keep lines visually undestandable (and max 120 chars). Using the formatter, line breaks are removed resulting in extremely long lines (300 chars+). In the other hand, a line break per attribute is not a solution.

**Question**
How to prevent line breaks refactoring during formatting ? -> "Keep my line breaks"

Thanks

[2020-04-24 08:53] angelozerr commented on #247
@pc-robelbois could you attach a simple XML file which causes your problem please.

[2020-04-24 10:43] pc-robelbois commented on #247
@angelozerr Here is a minimal sample.

Before
[code]

After formatting
[code]

[2020-04-24 10:52] fbricon commented on #247
@pc-robelbois what editor/IDE do you usually use to format your XML documents while preserving line breaks between attributes?

[2020-04-24 10:56] pc-robelbois commented on #247
Previously, theses files were edited as raw text files (not formatter).

[2020-04-24 11:07] fbricon commented on #247
@angelozerr FYI, here are the Intellij IDEA settings related to word wrapping in XML docs:
Adding a hard wrap limit might also help getting consistent formatting, in @pc-robelbois's case:
<img width="394" alt="Screen Shot 2020-04-24 at 1 06 16 PM" src="https://user-images.githubusercontent.com/148698/80206432-91bd3280-862c-11ea-9da9-ea6017a36587.png">

[2020-04-24 12:16] angelozerr commented on #247
@fbricon HTML Language Server have

`"html.format.wrapLineLength": 120,`

I think it's a setting which could fix this issue?

@fbricon @pc-robelbois what do you think ?

[2020-04-24 13:26] pc-robelbois commented on #247
@angelozerr I do identify two different features.

- I want to preserve the line breaks of existing lines.
- I want to split the line so that max line length < X.

While both are imo required, my request is about the first one. Your proposal is about the second one.

[2020-04-24 13:28] fbricon commented on #247
indeed, that why I said it might also help.

[2020-04-24 19:25] angelozerr commented on #234
Perhaps in 3 weeks. But you can install the current version vsix at
https://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D

It should be good if you could do that to give us feedback before the release. Thanks.

[2020-04-27 17:44] #243 closed

[2020-04-28 08:10] Micha-ST commented on #205
I generated the server trace on the Windows 8.1 PC with Red Hat OpenJDK 1.8.0_202:
[Server Trace.txt](https://github.com/redhat-developer/vscode-xml/files/4544185/Server.Trace.txt)

This is the result after reproducing the problem:
![grafik](https://user-images.githubusercontent.com/58725768/80463139-0a2b3880-8938-11ea-8b14-a57eb1e02317.png)

The other PC with Windows 7 which shows the problem use

[2020-04-28 12:18] angelozerr commented on #205
@Micha-ST thanks.

I tried to reproduce the problem on my Windows OS and I have the same problem. It's not a problem with XML Language Server but with indentation rules from TypeScript.

Here a demo with the problem:

![IndentBug](https://user-images.githubusercontent.com/1932211/80485583-fa245080-8959-11ea-88f2-1dc02bce98bd.gif)

when I comment https://github.com/redhat-developer/vscode-xml/blob/

[2020-04-28 16:20] #196 closed

[2020-04-28 21:06] xorye opened #250 "Formatting support for trim trailing whitespace"
The difference between `files.trimFinalWhitespace` and `files.trimFinalNewlines`, is that `files.trimFinalNewlines` will trim final newlines and spaces, while `files.trimTrailingWhitespace` removes trailing spaces on each line.

ie, if `_` were spaces:
[code]
would become
[code]

Since vscode-xml supports `files.trimFinalNewlines` and `files.insertFinalNewline`, it would be cool to have `files.tri

[2020-05-01 09:06] angelozerr opened #251 "Add LemMinx extensions via vscode user settings"
LemMinx is extensible to manage custom completion, validation, etc. https://github.com/eclipse/lemminx-maven is a good sample of extension which provides support for maven.

To use this extension, it requires to create a vscode extension (eg: https://github.com/angelozerr/vscode-xml-maven)

This issue is to provide a new xml settings like `xml.extension.jars` which is an array of String which defi

[2020-05-02 07:50] BalduinLandolt opened #253 "xsl 3.0 validation"
I don't think this is actually a problem of this extension, I couldn't figure out though, if that's a Lemminx problem or if it's on Xerces' side. (I didn't find anything on xsl 3.0 in the Xerces documentation.)

I'm currently using a xsl stylesheet that is version 3.0. (The stylesheet can be found [here](https://menota.org/handbok_3/menota_xslt_3.xsl).)

When I open the stylesheet in vs code, it c

[2020-05-02 08:13] BalduinLandolt opened #254 "XSL Transformation"
As you know, I'm very fond of this extension. One thing I'm still missing with it, though, is XSL transformations.

I know there are other extensions that can do XSL transformations for you. But I think it would be very neat to have it all in one place. And since this extension comes with Lemminx, which again comes with Xerces that can do XSL transformation, this shouldn't be too hard to do.
(I ha

[2020-05-02 23:27] nicolefinnie commented on #134
For people who don't know where `xml.server.vmargs` should be set in `vscode`, it's likely to be placed under `~/.config/Code/User/settings.json ` on Linux. And the proxy host, the user name, and the encrypted password should be the same as `~/.m2/settings.xml`. You store your encrypted master password here `~/.m2/settings-security.xml`. You should have set it up otherwise `mvn` wouldn't be able t

[2020-05-03 12:06] angelozerr commented on #253
If i remember i had implémented xsl3 vert quickly by using thé XML schema https://github.com/eclipse/lemminx/blob/master/org.eclipse.lemminx/src/main/resources/schemas/xslt/xslt-3.0.xsd
It seems this XML schema requires xsd 1.1 that WE dont support now because xerces deployed on maven central doesnt support xsd 1.1. WE have a pr for that

[2020-05-04 12:03] angelozerr commented on #254
For XSL I think Saxon is better than Xerces. There are several licenes for Saxon so if we need to consume Saxon in LemMinX we must take care of Saxon license with EPL 2.0 (LemMinX license).

If we see that there are a lot of people who are interested with this feature, let's go to work on it.

If we would like to integrate with LSP

 * we could provide a CodeAction which generate a file with the r

[2020-05-04 13:15] gannebamm commented on #245
Thanks. I had to properly define the xsi locations and now it works

[2020-05-04 13:15] #245 closed

[2020-05-04 16:16] BalduinLandolt commented on #253
So this is an XSD 1.1 issue... I see, this makes sense. Thanks!

In that case I guess this is really about #222 and this issue can be closed.

[2020-05-04 16:44] BalduinLandolt commented on #254
I'm curious, why is Saxon better for XSL?

I somehow was under the impression you were using Xerces and not Saxon because of the license.
In any case, Saxon-HE is certainly the only Saxon version that can be used, it is the only open license. But I don't know the two licenses go together...
In any case it could be interesting to have a setting to point to an external Saxon .jar, so people who need

[2020-05-04 18:33] angelozerr commented on #254
Sorry with my wrong comment. I would to say that Xerces doesn't support XSL transformation if I remember. It's Xalan which support that.

Saxon XSL processor seems having better performance than Xalan
And see https://stackoverflow.com/questions/16455276/saxon-9-xslt-transformer-vs-xalan-2-7

Exactly. Saxon provides several product https://www.saxonica.com/products/products.xml, the only product th

[2020-05-04 18:39] angelozerr commented on #240
Fixed with https://github.com/eclipse/lemminx/pull/670

[2020-05-04 18:39] #240 closed

[2020-05-04 19:38] angelozerr commented on #254
We will see if other people could be really interested with XSL. For the moment we have few user issues for XSL.

[2020-05-04 19:39] BalduinLandolt commented on #254
I see, in that case, Saxon is certainly the better choice.

I wasn't aware that XSD is not in Saxon HE, but you're right. Then Saxon would only be for XSLT, but that's something already.
(By the way: I love "open source land"! ^^)

But a combination of Saxon (for XSLT) and Xerces (for all other things) should work, right? And XSD 1.1 would just have to wait, I guess...

Sounds reasonable.

I'm not

[2020-05-04 19:39] BalduinLandolt commented on #254
Sounds good. :)

[2020-05-04 19:46] angelozerr commented on #254
I mean what is the UI to manage XSL transformation result. The basic idea is to generate a file, but preview could be very interesting. I have 3 editors, one for XML input, one for XSL and one for preview. When I type something (without saving) in the XML editor or XSL editor, the preview editor is refreshed. I don't know if vscode could provide this kind of virtual editor.

[2020-05-04 20:28] BalduinLandolt commented on #254
That sounds like something that could be resource intensive, to do a transformation on every key stroke. But I guess it could be an option, on which event (key stroke, save, etc.) this should happen.

Also you might get problems with errors, because when typing, most of the time, the xml is not well-formed. But I guess the language server already handles this problem, so that should work too.

But

[2020-05-05 15:40] xorye commented on #205
Thank you, I understand the problem. It is indeed an auto-indent problem that happens due to the indentation rules. HTML also has the same behavior: https://github.com/microsoft/vscode/issues/97008

For the time being, a workaround for this issue is to add turn on 'format on paste' for the xml language by adding
[code]
to settings.json

[2020-05-06 07:37] Micha-ST commented on #205
Nice, that the you were able to locate the problem.
With the workaround, after inserting the lines the indention is correct.
Thank you!

[2020-05-06 19:04] aaroneg commented on #13
With the latest AdoptOpenJDK installed (OpenJDK14U-jdk_x64_windows_hotspot_14.0.1_7) this extension complains that jdk needs to be installed. I'm not sure if it's failing to detect or just popping up a warning.
![image](https://user-images.githubusercontent.com/1396671/81217603-7c3bf700-8fa2-11ea-8f19-945abb92488d.png)

[2020-05-06 20:23] xorye commented on #205
Great! Please feel free to provide more feedback.

[2020-05-06 20:40] fbricon commented on #13
What is the result of `java -version`?

[2020-05-06 21:46] aaroneg commented on #13
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.1+7)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 14.0.1+7, mixed mode, sharing)

[2020-05-06 21:53] fbricon commented on #13
@aaroneg have you tried setting the "xml.java.home" preference?

[2020-05-07 22:46] #182 closed

[2020-05-07 22:48] fbricon commented on #182
@keccs you can now set `"xml.format.enforceQuoteStyle"="ignore"`

[2020-05-08 17:17] aaroneg commented on #13
No, that seems like it's out of scope for the end-user to do. The java detection should work properly instead.

[2020-05-08 17:26] fbricon commented on #13
How did you install your jdk? Is JAVA_HOME set? Does it work if you launch vscode from a terminal?

[2020-05-08 17:30] fbricon commented on #13
What is the result of `where java`?

[2020-05-08 18:41] aaroneg commented on #13
1) https://adoptopenjdk.net/ just grabbing the version appropriate to the operating system
2) `JAVA_HOME=C:\Program Files\AdoptOpenJDK\jdk-14.0.1.7-hotspot\`
3) the extension is no longer installed because of this problem
4)
[code]

[2020-05-12 13:27] xorye opened #257 "Make it easier to start XML language server with suspend"
Currently, in order to run vscode-xml with the language server starting with set `suspend=y`, we must uncomment and comment source code here:

https://github.com/redhat-developer/vscode-xml/blob/35d4af9a41d67cb9461904b4282d00ec08fe65f9/src/javaServerStarter.ts#L27-L29

which isn't very user friendly.

I suggest creating a new launch config that sets an environment variable to determine `suspend=y`

[2020-05-12 16:40] angelozerr commented on #179
Fixed with https://github.com/eclipse/lemminx/issues/640

[2020-05-12 16:40] #179 closed

[2020-05-12 17:25] fbricon opened #258 "Don't return hover when there's no documentation"
Empty hover with only link to source looks weird.

<img width="232" alt="Screen Shot 2020-05-12 at 6 52 33 PM" src="https://user-images.githubusercontent.com/148698/81725446-21187180-9486-11ea-9f1f-1ca1f10a1ec2.png">

Might as well not return anything

[2020-05-12 17:39] fbricon commented on #201
I tried setting "xml.server.workDir": "~/萌新/.lemminx" on my Mac and it worked.

@1035311527 is this still an issue with the latest vscode-xml release?

[2020-05-12 18:02] angelozerr commented on #258
Source information can be interesting I think, no?

[2020-05-12 18:07] fbricon commented on #258
I feel that adds unnecessary bloat. I'd say hide it if no visible documentation to display. If someone requests we display links to sources when hovering, even without doc, then we can add a new preference.

[2020-05-13 08:10] fbricon opened #259 "Don't set the -noverify flag on startup"
When running with Java 14, a warning is displayed:

[2020-05-13 08:14] fbricon commented on #259
See https://github.com/redhat-developer/vscode-java/pull/1250

[2020-05-16 11:41] 1035311527 commented on #201
Yes it works

[2020-05-16 11:47] fbricon commented on #201
If it works, then let's close this one

[2020-05-16 11:47] #201 closed

[2020-05-19 15:17] #259 closed

[2020-05-20 16:12] ph777 opened #262 "XML entities things"
Hello,

I'm using todays vsix to have the last changes to DTDs and XML entities. Everything works great, i.e. typing `&ab` I get a list of XML entities starting with `&ab`. For each entity I can see its string value.

What I miss is:

1. **Hover.** Hovering mouse over an entity does not show its string value. I have to `Go to definition` to see its value.
2. **String value.** The displayed string

[2020-05-20 16:24] angelozerr commented on #262
Thanks @ph777 for your feedback!

I read quickly your issues and it seems that it will not very hard to fix them. For the interpreted entity (2)) I don't know what is the rule for the compute. Have you some information about that?

[2020-05-21 14:22] ph777 commented on #262
Hi, I'm not sure what you mean by "the rule to compute the interpreted
entity".

As far as I know, you get the string value of the entity by recursively
resolving entities in entity's definition until there are no more
unresolved entities in it. Then you have the fully resolved value od the
entity. That is what I think would be great to see in intelisense and on
hover.

P.

Dne st 20. kvě 2020 18:

[2020-05-22 11:37] AObuchow commented on #251
+1, this is the VSCode equivalent of the [lemminxExtension](https://github.com/eclipse/wildwebdeveloper/blob/master/org.eclipse.wildwebdeveloper.xml/schema/lemminxExtension.exsd) in Wild Web Developer (although simpler for non-VSCode developers to use).

[2020-05-22 12:16] bearslumber commented on #13
I get the same error as aaroneg.

I have tried Oracle Java, Zulu Java, and even Redhat Java.

I am currently switching to another plugin because I can no longer use this one.

[2020-05-22 12:18] bearslumber commented on #13
![image](https://user-images.githubusercontent.com/22350074/82666888-b1954580-9c2e-11ea-99c4-c0840bb373e0.png)

[2020-05-22 12:21] bearslumber commented on #13
![image](https://user-images.githubusercontent.com/22350074/82666927-ca056000-9c2e-11ea-88dc-880a6f0688a0.png)

![image](https://user-images.githubusercontent.com/22350074/82667092-0d5fce80-9c2f-11ea-9bce-ec8a4ace7a3f.png)

Having got the error that aaroneg is getting I set the xml.java.home variable in VS Code settings as suggested in the help files.

Still no joy. Very frustrating. :(

[2020-05-22 14:12] angelozerr commented on #13
Try to remove `\\jre\\bin` from your `xml.java.home`

[2020-05-22 18:00] bduffany opened #263 "Set "xml.format.enforceQuoteStyle"="ignore" by default"
## Input (valid XML)
[code]

## Formatted output (with `doubleQuotes` preference -- produces invalid XML)
[code]

## Expected output (valid XML -- quotes preference should be ignored in favor of keeping the XML valid)
[code]

[2020-05-22 18:02] fbricon commented on #263
Closing as duplicate of #182

[2020-05-22 18:06] bduffany commented on #263
Thanks Fred! Just to provide some additional feedback, it is a _really_ bad developer experience if I have to manually set a preference ("xml.format.enforceQuoteStyle"="ignore") in order for an extension to not be buggy after installing it. Y'all should really consider making that option enabled by default.

[2020-05-23 15:58] fbricon commented on #263
I agree that the default behavior should be the safest. We can certainly disable quote formatting by default, until it's made more robust.

[2020-05-25 09:26] angelozerr commented on #262
I think it's not possible to manage this case. I have played with TypeScript language and the behavior is the same. Perhaps I have not understood your issue?

[2020-05-25 09:27] angelozerr commented on #262
resolving entities in entity's definition until there are no more
unresolved entities in it.

Ok thanks for your information, I need to investigate of it's easy to implement.

[2020-05-25 10:01] fbricon opened #264 "formatOnPaste is broken when pasting inside a DOCTYPE section"
With `"editor.formatOnPaste": true`, when pasting `<!ENTITY foo "bar">` inside the DOCTYPE section of:

[code]
the block is formatted as
[code]
instead of
[code]

[2020-05-25 10:14] fbricon commented on #264
This is equivalent to calling the "format selection" command on `<!ENTITY foo "bar">`

[2020-05-25 12:41] ph777 commented on #262
Thank you

Dne po 25. kvě 2020 11:27 uživatel Angelo <notifications@github.com> napsal:

[2020-05-25 15:14] fbricon commented on #263
@datho7561 FYI, these are the required changes:
- https://github.com/redhat-developer/vscode-xml/commit/35d4af9a41d67cb9461904b4282d00ec08fe65f9#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R184
- README.md should indicate it's disabled by default

On the server side:
- https://github.com/eclipse/lemminx/blob/acaa560a2ebac52cc2edf6d1aa235f4b38b1dfce/org.eclipse.lemminx/src/main/java/org/eclipse/lemminx/se

[2020-05-25 18:10] xorye commented on #264
Here's the issue on the lemminx side: https://github.com/eclipse/lemminx/issues/682

[2020-05-27 11:43] angelozerr commented on #262
@ph777 here the current status of your issue:

https://github.com/eclipse/lemminx/pull/718 was merged yesterday so I think you could try it by installing the last vsix.

I'm working on that https://github.com/eclipse/lemminx/pull/726#issuecomment-634602847

[2020-05-27 12:45] ph777 commented on #262
Thanks, now entity names with underscore and backspace are working.

Somehow, no external entities from DTDs (either declared in DOCTYPE, or imported via %dtd;) are offered by intellisense in this last VSIX. I haven't tried to look for commit when it disappeared. I know they worked before.

[2020-05-27 12:47] angelozerr commented on #262
Could you add a simple XML / DTD sample please.

[2020-05-27 13:34] #263 closed

[2020-05-27 13:57] angelozerr commented on #262
I'm sorry I don't understand what it is broken? Completion and hyperlink should work for local, external entities. We have tests (your usecase) for that which is working. Could you please give me a sample which doesn't work please. Thanks

[2020-05-27 14:54] ph777 commented on #262
Good point. Trying that I have found out that is much trickier than I thought.

I have the following DTD:

[code]

and xml document

[code]

Only standard XML entities are offered when typing `&x`. It seems like DTD is not parsed.

The funny fact: Try to delete almost any row (even a row with comments, e.g. the first comment, the line with cf_dropdown, the line with cf_privileges, the line with "T

[2020-05-27 22:20] fbricon commented on #264
it's fine to keep this one open

[2020-05-28 08:42] angelozerr commented on #262
@ph777 I don't understand your problem, I tried it and I have the proper completion, hyperlink:

![image](https://user-images.githubusercontent.com/1932211/83119345-e3475a00-a0cf-11ea-92b2-40f987cdd3c8.png)

Could you please explain more your problem. Thanks!

[2020-05-28 08:44] angelozerr commented on #262
Please note that if your DTD have a syntax error, the entities reference are not retrieved. Perhaps it's your problem?

[2020-05-28 09:17] ph777 commented on #262
Thanks you that you check it in your environment. But using the exact same data as pasted above, I get

![Screenshot_20200528_111454](https://user-images.githubusercontent.com/20420700/83122967-af226800-a0d4-11ea-81a7-5e024a03ebab.png)

Could this be a difference in the environment?

LF line endings in XML and DTD.

VSCode
Version: 1.45.1
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020

[2020-05-28 09:21] ph777 commented on #262
And I'm using the latest VSIX from https://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D

vscode-xml-0.12.0-4297.vsix

[2020-05-28 09:27] angelozerr commented on #262
Could you please create a zip which contains your DTD, XML file and vscode settings please.

[2020-05-28 09:58] fbricon commented on #262
@angelozerr I'm seeing the same issue. entities are proposed only once I add a or remove an element/entity/comment from the dtd. This is uncanny

[2020-05-28 10:04] angelozerr commented on #262
I cannot reproduce it. @fbricon  If I understand correctly if you open vscode and open completion it doesn't work. If you do some changed in the DTD and reopen completion it works. Is that?

[2020-05-28 10:12] fbricon commented on #262
yep
![May-28-2020 12-09-01](https://user-images.githubusercontent.com/148698/83128746-214a7b00-a0dc-11ea-80bb-0da66f4f9068.gif)

There's nothing suspicious in the logs. Nothing

[2020-05-28 10:43] fbricon commented on #262
@angelozerr this is where it fails:
<img width="1438" alt="Screen Shot 2020-05-28 at 12 42 16 PM" src="https://user-images.githubusercontent.com/148698/83131822-c36c6200-a0e0-11ea-90e2-df1c031cb5c2.png">

Exceptions are swallowed instead of being logged

[2020-05-28 10:49] fbricon commented on #262
When printing the ArrayIndexOutOfBoundsException stacktrace:

[code]

[2020-05-28 11:01] fbricon commented on #262
More debugging info:
<img width="1081" alt="Screen Shot 2020-05-28 at 1 00 46 PM" src="https://user-images.githubusercontent.com/148698/83133534-4ee6f280-a0e3-11ea-9c5d-247a64a6c096.png">