[2020-05-28 13:23] angelozerr commented on #262
Thanks so much @fbricon for your help. I can reproduce it by setting my file to LF (instead of CRLF). I'm fixing that.

[2020-05-29 19:09] AObuchow commented on #251
@angelozerr how hard do you think it would be for someone who has never wrote (but has read a lot of) TypeScript :) Maybe I should try to fix this bug in my spare time.

[2020-05-29 21:41] angelozerr commented on #251
I think it's not a big deal. The idea is to

1. add a new method which read configuration :

`let classPathFromSettings = workspace.getConfiguration("xml.server").get("extensions");`

like

https://github.com/redhat-developer/vscode-xml/blob/e01d3e0a1754de01c63a873a03b332a61158c3e6/src/settings.ts#L87

2. call this method in

https://github.com/redhat-developer/vscode-xml/blob/e01d3e0a1754de01c63a

[2020-06-02 09:28] #258 closed

[2020-06-02 13:13] angelozerr commented on #262
@ph777 please retry to install vscode-xml with last version of vsix which should:

 * fix your bug.
 * provide hover for entities.

Any feedback are welcome!

[2020-06-02 20:29] xorye opened #267 "EntityNotDeclared codeAction (quick fix) not using proper indentation settings"
(Copy-paste from https://github.com/eclipse/lemminx/issues/759)

If `editor.insertSpaces` is set to `false`, the EntityNotDeclared code action does not insert new content with tabs. Instead, the code action inserts new content with spaces.

Example xml:
[code]

Before quick fix:
![image](https://user-images.githubusercontent.com/20326645/83564844-619a6680-a4eb-11ea-839e-411339207eb3.png)

Hover ov

[2020-06-03 11:12] fbricon opened #268 "Blog post for 0.12.0 release"
See

- https://github.com/eclipse/lemminx/milestone/15
- https://github.com/redhat-developer/vscode-xml/milestone/15

[2020-06-03 14:10] fbricon commented on #247
Let's add "xml.format.preserveLineBreaks":true, that would apply for non empty lines.
For empty lines, there's already "xml.format.preservedNewlines": 0-4,

[2020-06-03 15:41] xorye commented on #268
@datho7561 here are some previous blog posts that we've done:
https://quarkus.io/blog/vscode-quarkus-1.4.0/
https://quarkus.io/blog/vscode-quarkus-1.3.0/
https://developers.redhat.com/blog/2019/11/21/new-features-in-quarkus-tools-for-visual-studio-code-1-2-0/
https://developers.redhat.com/blog/2020/03/27/red-hat-xml-language-server-becomes-lemminx-bringing-new-release-and-updated-vs-code-xml-exten

[2020-06-05 13:26] #257 closed

[2020-06-08 11:51] ph777 commented on #262
Thank you so much! This is working great!

Any plans on resolving the real value of an entity? We'd really appreciate
it.

<!ENTITY a "A">
<!ENTITY b "&a;B">

Having the above definition the value of "&b;" should be "AB". Now it says
"&a;B" instead. Could this be fixed too?

Thank you for your amazing work once again!

Pavel

út 2. 6. 2020 v 15:13 odesílatel Angelo <notifications@github.com> napsa

[2020-06-09 21:26] xorye commented on #247
Hi @pc-robelbois, I made a PR for this issue: https://github.com/eclipse/lemminx/pull/772 that preserves the line breaks that exist beside attributes, instead of preserving all line breaks of all non-empty lines.

Here is a demo:
![demo](https://raw.githubusercontent.com/xorye/gifs/54112d60974b60ee78267e80c8e3b48ff1d938f9/pr/format_demo.gif?token=AE3CR5P42L3QNUTFSZMAQ3C65EXKI)

The idea was behind

[2020-06-09 21:36] xorye opened #272 "Align XML attributes when formatting"
It would be nice if there was an option to align the beginning of attribute names if the attributes exist in different lines when formatting.

Currently by default, when formatting this XML:
[code]

The resulting XML is:
[code]

Ideally, after formatting, the initial XML should stay as is.

[2020-06-09 21:37] pc-robelbois commented on #247
This sounds amazing. Yes formatting line breaks in some cases such as described seems acceptable.

[2020-06-09 21:40] xorye opened #273 "Improve attribute formatting preferences"
The VS Code HTML extension provides many different ways to customize attribute formatting:
![image](https://user-images.githubusercontent.com/20326645/84203727-f404b200-aa77-11ea-8bc5-937d2cc0a1aa.png)

It would be great if vscode-xml also had an enum preference providing the same features as well.

Maybe the `xml.format.splitAttributes: true/false` preference could be an enum value for the new pr

[2020-06-09 21:43] xorye commented on #273
We likely have to introduce this preference too:
![image](https://user-images.githubusercontent.com/20326645/84204192-be13fd80-aa78-11ea-91f0-1d7b3010686e.png)

[2020-06-09 21:45] xorye commented on #272
In this case:
[code]

Since the attributes are in separate lines, it should be aligned after formatting:
[code]

[2020-06-09 21:50] xorye commented on #247
Great, thank you for the feedback.

I realize that the gif is a bit misleading since the attribute names are all aligned since the tab size is 4 spaces.

PR https://github.com/eclipse/lemminx/pull/772 will indent the attribute names depending on the element's indentation and will not align attribute names for the moment. I created a new issue for attribute aligning here: https://github.com/redhat-

[2020-06-11 09:08] angelozerr commented on #262
@ph777 you can install now the release 0.12.0.

I close this issue since main features has been implemented. Please create an issue per requirement. Thanks.

[2020-06-11 09:08] #262 closed

[2020-06-11 09:09] angelozerr commented on #247
Can we close this issue?

[2020-06-15 07:59] fbricon opened #276 ""xml.preferences.showSchemaDocumentationType": "none" still shows a popup on hover"
When setting `"xml.preferences.showSchemaDocumentationType": "none"`, there's still an empty hover with a link to the source, so we're back to https://github.com/redhat-developer/vscode-xml/issues/258:
<img width="364" alt="Screen Shot 2020-06-15 at 9 55 42 AM" src="https://user-images.githubusercontent.com/148698/84631961-85e44300-aeee-11ea-91a9-939f14b1172f.png">

[2020-06-15 08:28] angelozerr commented on #276
That's strange, I cannot reproduce it. Could you share your pom.xml please.

[2020-06-15 09:06] fbricon commented on #276
My bad, I was checking against a stale 0.12.0 build. Latest release works as expected.

[2020-06-15 09:06] #276 closed

[2020-06-17 14:02] fbricon commented on #247
Closing as we provided xml.format.preserveAttributeLineBreaks

[2020-06-17 14:02] #247 closed

[2020-06-17 15:56] #250 closed

[2020-06-21 13:15] leiluxp commented on #166
I can´t fix this error in visual studio code: the active editor can not provide outline information. can you help me? thanks

[2020-06-23 14:30] angelozerr commented on #217
Fixed with https://github.com/eclipse/lemminx/pull/757

[2020-06-23 14:30] #217 closed

[2020-06-23 14:31] angelozerr commented on #251
@AObuchow is there any chance that you work on this issue? I think it could be a nice feature to test quickly the LemMinx maven support inside vscode.

[2020-06-23 14:34] AObuchow commented on #251
Wow I was just thinking about this yesterday night, good timing @angelozerr ;)

I’ll see with my team how much of a priority this is. It might be that I’ll work on it in my spare time. I’m about to release my first Eclipse plugin on the marketplace (probably tomorrow) but after that I want to get this done :)

[2020-06-24 13:46] fbricon opened #280 "Blog post for 0.13.0 release"
- schema generator
- catalog snippet
- catalog validation

[2020-06-24 13:49] fbricon opened #281 "Changelog for 0.13.0"

[2020-06-25 17:46] datho7561 commented on #281
I have drafted PRs for the change logs for LemMinX and vscode-xml:

 * [https://github.com/eclipse/lemminx/pull/810](https://github.com/eclipse/lemminx/pull/810)
 * [https://github.com/redhat-developer/vscode-xml/pull/282](https://github.com/redhat-developer/vscode-xml/pull/282)

Please let me know if I missed any features or bug fixes.

[2020-06-25 18:24] xorye opened #283 "Have vscode-xml release notes"
Whenever there is a new release for vscode-xml, maybe we could take a stripped down version of the blog post and create release notes, similar to how the [https://github.com/microsoft/vscode-java-pack](vscode-java-pack) provides release notes with gifs and explanations:

![image](https://user-images.githubusercontent.com/20326645/85776037-530c2d00-b6ee-11ea-854d-65af68ee0e11.png)

The release note

[2020-06-27 00:24] a2975667 commented on #223
I believe I am having similar issues. Are there any follow-ups?

[2020-06-27 14:43] angelozerr commented on #223
Sorry @747 I tried your sample and it works great for me without file association. You don't need to use file association and XML catalog (like I suggested) because you are using xsi:schemaLocation. vscode-xml should download the declared XSD and after that it should work (I tested with last version of vscode-xml).

Please retry without xml fileassociations declaration, if it doesn't work, try to

[2020-06-29 06:21] 747 commented on #223
I should have explained more about the background information.

What I originally wanted to do was to replace tooltip's language without touching the original XML. There are many localized versions of the [TEI](https://tei-c.org/) schema, but only the official one (in English) has a proper URI to refer to. Others can be generated with [Roma](https://roma.tei-c.org/) to be used locally. They work s

[2020-06-29 08:34] angelozerr commented on #223
xml.fileAssociations is a non standard mean to bind a XML with a XSD grammar without declaring the association in the XML. But it doesn't take care from namespace, so in your case you cannot use it.

XML catalog gives the capability to define XSD in local insead of using remote XSD (declared with XSD) which uses namespaces. So I think XML catalog is for your usecase.

But to be honnest with you I

[2020-06-29 15:25] 747 commented on #223
So this is the root cause. Is there any chance that this restriction will be lifted? If not in near future, you might want to warn user about it in Wiki page or somewhere, as it doesn't seem a self-evident behavior.

I myself am using XML Catalogs now, so this issue can be closed whenever the measure taken.

[2020-06-29 17:39] a2975667 commented on #223
@angelozerr Here is my setup.
In short, I want to develop a plugin that comes with xsds that I can update form time to time and supports a specific filename so other people do not need to specify the uri for the schema.

**file structure**
[code]

sample.xsd
[code]

settings.json
[code]

target-file.xml
[code]

In this case, LayerOne will have the following error:
`cvc-elt.1.a: Cannot find the dec

[2020-06-29 21:33] angelozerr commented on #223
As I explained if you use namespace you cannot use file association. Please use XML catalog.

[2020-06-29 22:00] a2975667 commented on #223
Thanks for confirmation! :)

[2020-06-30 08:10] Timtower opened #284 "Reloading remote schema"
I am using hosted schema's (localhost python server) but I am having issues with reloading the schema's.

Is it possible to tell me how I can do that?
And if it is not possible yet: would it be possible to add such functionality?

[2020-06-30 08:19] fbricon commented on #284
There's currently no way to re-download the schema from vscode-xml directly. You need to manually delete it under the ~/.lemminx/ directory

We could either expose a command to force a remote resource check, and/or check if schema's ETag changed, with a HEAD request, every time an xml doc is opened (or the server starts)

[2020-06-30 08:31] Timtower commented on #284
That cache location is a big help already, gives me a manual way of forcing an update.

Forced check would be nice, self-updating even better (no idea how to handle that on my server but that is my issue)

Do you know what the cache time is for those files? Or do they get pulled once and never again?

[2020-06-30 08:36] fbricon commented on #284
there's no eviction policy, so pulled only once

[2020-06-30 08:39] Timtower commented on #284
That is good to know.
Time to write my own updater for them for now.

If there are improvements being made to this then I would highly appreciate that.

[2020-07-02 15:19] datho7561 commented on #268
[The blog post](https://developers.redhat.com/blog/2020/07/02/improved-schema-binding-and-more-in-red-hat-xml-extension-for-vs-code-0-12-0-and-lemminx/) was posted today.

[2020-07-02 15:19] #268 closed

[2020-07-02 19:35] angelozerr commented on #268
@BalduinLandolt please read https://developers.redhat.com/blog/2020/07/02/improved-schema-binding-and-more-in-red-hat-xml-extension-for-vs-code-0-12-0-and-lemminx/ and see the Note of the conclusion

[2020-07-03 16:00] BalduinLandolt commented on #268
Cool, thanks for pointing that out to me and thanks for the credit! :)

[2020-07-06 16:32] #281 closed

[2020-07-08 17:21] angelozerr commented on #245
@gabemontero I think last version of vscode-xml should help you https://developers.redhat.com/blog/2020/07/08/improved-xml-grammar-binding-and-more-in-red-hat-vs-code-xml-extension-0-13-0/

[2020-07-08 17:23] gabemontero commented on #245
think you tagged the wrong person here @angelozerr

[2020-07-08 17:49] #280 closed

[2020-07-08 17:51] datho7561 commented on #280
https://developers.redhat.com/blog/2020/07/08/improved-xml-grammar-binding-and-more-in-red-hat-vs-code-xml-extension-0-13-0/

[2020-07-09 10:29] angelozerr commented on #245
@gannebamm I think last version of vscode-xml should help you https://developers.redhat.com/blog/2020/07/08/improved-xml-grammar-binding-and-more-in-red-hat-vs-code-xml-extension-0-13-0/

ooops sorry @gabemontero and thanks for your feedback.

[2020-07-10 15:41] pgundlach opened #289 "Error prompt Invalid path for setting 'xml.catalogs'"
Since some time I get the error message

    Invalid path for setting 'xml.catalogs': 'file:///Users/patrick/work/software/publisher/schema/catalog-schema-de.xml'

Why do I get this error message?

<img width="543" alt="message" src="https://user-images.githubusercontent.com/209434/87171838-8bf1f780-c2d3-11ea-81ee-4d56b42b46b3.png">

But everything seems to work ok. The setting `xml.catalogs` is a

[2020-07-10 18:28] angelozerr commented on #289
If you try to remove `file://` or `file:///` is it working better?

[2020-07-10 18:35] pgundlach commented on #289
Yes, that fixes it.

I thought I had it right because XML auto completion worked.

Thank you and sorry for the noise.

[2020-07-11 08:40] angelozerr commented on #289
Ok thanks for the feedback.

And you are right, it's a bug that we must fix.

Thank you and sorry for the noise.

[2020-07-16 17:14] ejgutierrez74 opened #291 "Doesnt work in ubuntu 18.04"
It does nothing....

I have installed the latest version: https://github.com/redhat-developer/vscode-xml and does nothing
I have java home configured as environement variable: JAVA_HOME=/usr/lib/jvm/java-8-oracle

So it should work....

Ubuntu 18.04
VSCode latest version

![imagen](https://user-images.githubusercontent.com/11474846/87701567-7e87b200-c798-11ea-947e-86d24ecc1ce1.png)

[2020-07-16 17:57] angelozerr commented on #291
Could you try to force this Java hone with settings:

"xml.java.home": "/usr/lib/jvm/java-8-oracle"

or with

"xml.java.home": "/usr/lib/jvm/java-8-oracle/bin"

[2020-07-18 15:34] ejgutierrez74 commented on #291
Dont know how, but today worked ... i have reinstalled the plugin several times....exit vscode and launch again vscode, but didnt work... Suppose i had to reboot computer ( dont know why as all the plugins in vscode can be installed and uninstalled without rebooting computer...).

By the way it works both with oracle and openjdk java no ?

Thanks

[2020-07-21 20:28] Marsfan opened #294 "Cannot set xml.java.home to JRE path"
According to the readme, I can use a JRE install instead of the JDK to set the extension up. So I set the setting `xml.java.home` to `C:\\Program Files\\Java\\jre1.8.0_251\\bin`

But when I do this, I get the warning `The xml.java.home variable defined in VS Code settings does not point to a Java runtime.`

I have tried the following values for the setting:
`C:\\Program Files\\Java\\jre1.8.0_251\\

[2020-07-21 20:30] Marsfan commented on #294
Ok. I feel stupid now. I re-read the description. I needed to make the path be:
` C:\\Program Files\\Java\\jre1.8.0_251`
instead of
` C:\\Program Files\\Java\\jre1.8.0_251\\bin`

[2020-07-21 20:30] #294 closed

[2020-07-26 10:17] mingxi opened #295 "How to set catalog prefer as public in vscode setting?"
**Description**
Is possible to set catalog prefer as public from vscode setting?
It seems that vscode-xml always set catalog as system id.
As far as I know, I can set catalog using CatalogManager.properties in java code.
I did not find the corresponding setting(prefer=public) in vscode-xml.
The below code is CatalogManager.properties which used to validate xml in java code.
e.g.
[code]

**Referenc

[2020-07-28 07:39] angelozerr commented on #295
This feature is indeed not supported. To support it, XML Language Server (lemMinx) must support it.

https://xerces.apache.org/xerces2-j/javadocs/xerces2/org/apache/xerces/util/XMLCatalogResolver.html#XMLCatalogResolver(java.lang.String[],%20boolean)
https://github.com/eclipse/lemminx/blob/b1407bb52ce3ff6cd350a98b9c5aa8ea3392df0e/org.eclipse.lemminx/src/main/java/org/eclipse/lemminx/extensions/con

[2020-07-28 08:28] mingxi commented on #295
@angelozerr Got it, thanks for your reply.

[2020-07-29 17:42] brianary opened #296 "Request: Support EditorConfig"
It would be nice to be able to define all code style rules in an [EditorConfig](https://editorconfig.org/ "EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs.") file, not just the basic ones like line length, but also including extension XML settings like `xml.format.splitAttributes` and `xml.format.enforceQuoteS

[2020-08-03 09:02] angelozerr commented on #296
I'm not sure that[ vscode language client](https://github.com/microsoft/vscode-languageserver-node) can support this feature, I mean post custom formatting settings to the server when format or range format is done.

[2020-08-04 06:23] chrisjaquet opened #299 "files.trimTrailingWhitespace does not trim trailing whitespace on save"
The setting `files.trimTrailingWhitespace` does not seem to trim trailing whitespace when a file is saved. Is this a deliberate decision?

I do not want to format the entire document when saving (using e.g. `editor.formatOnSave`) as this will affect other file types as well (and I occasionally use custom formatting for clarity).

**Extension Details**
Name: XML
Id: redhat.vscode-xml
Version: 0.13.

[2020-08-04 09:34] angelozerr commented on #299
`files.trimTrailingWhitespace` format settings has the same behavior than other XML format settings, in other words format is done when you execute it (format document or range formatting). We use `files.trimTrailingWhitespace` to avoid creating a new settings like `xml.format.trimTrailingWhitespace`.

But I agree with you, it's strange because vscode description says that it execute this format o

[2020-08-04 09:44] angelozerr commented on #291
I suppose JAVA_HOME path environment has been done correctly?

Yes it should work. We try to discover the Java Runtime path, but in some cases (which cases ?) we cannot find it. That's why we provide a settings `"xml.java.home": "/usr/lib/jvm/java-8-oracle"` which is used to use the given Java Runtime.

I suppose you speak about outline. If it that you must configure sort by position:

![image](ht

[2020-08-04 09:44] #291 closed

[2020-08-04 13:06] datho7561 commented on #299
I think it makes sense to be consistent with other language servers/language support. I've checked TypeScript and Java files, and trailing white space is always removed by the formatter. Both these services also remove the trailing whitespace when `files.trimTrailingWhitespace` is set and the document is saved.

[2020-08-04 13:10] xorye commented on #291
@angelozerr I think the problem is that there is no syntax highlighting in the xml file.

@ejgutierrez74 does the problem persist with other VS Code themes?

[2020-08-04 13:15] angelozerr commented on #291
Oh right! That's very strange because XML syntax coloration is managed by vscode himself. If you uninstall vscode-cml from Red Hat, have you the same problem with syntax coloration?

[2020-08-05 09:04] pgundlach opened #302 "Auto completion stops once in a while - how to debug?"
This is non reproducable, so this is a “bad” bug report. But I would like to help to track it down.

Once in a while the autocompletion stops working (and also the syntax check). I cannot tell what triggers it. Is there any way for me to

a) restart the server without restarting vs code?
b) set some kind of verbosity or similar to try to find out why this happens? I don't know much about java, but

[2020-08-05 09:38] angelozerr commented on #302
@pgundlach thanks for reporting this issue.

It gives the impression that XML Language Server is crashed. Are you working with big XML files ?

If you add this settings, is it working better ?

`"xml.server.vmargs": "-noverify -Xmx1024M -XX:+UseG1GC -XX:+UseStringDeduplication",`

You can trace server  with `"xml.trace.server": "verbose",` and see traces in the Output terminal:

![image](https://u

[2020-08-05 09:55] pgundlach commented on #302
I edit rather short files (20 lines for example). I have set the vmargs setting and the server tracing to verbose and I will report back when I see something strange (which might take a few days).

Thank you so far!

[2020-08-05 16:17] ejgutierrez74 commented on #291
@xorye  @angelozerr
Sorry for my bad english....
the problem is syntax highlighting.... i use other vscode plugins like unity in ¢# and html, and sql... all have the highlighting quite well

Thanks for your help...

[2020-08-05 17:21] angelozerr commented on #291
vscode-xml doesn't manage syntax highlighting, it is managed with vscode himeslf. You could check that by uninstalling vscode-xml and if you have the problem again, it means that it's an another extension which causes the problem.

[2020-08-05 19:13] xorye opened #303 "Stop the XMLServerLauncher process when the extension is deactivated"
Sometimes when you exit VS Code while vscode-xml was running, there is a Java process called `XMLServerLauncher` that remains.

![image](https://user-images.githubusercontent.com/20326645/89453062-a7aeb900-d72c-11ea-8792-6a542706b64a.png)

If that process remains, and vscode-xml is started up again, there is an error about the XML language server crashing 5 times in the last 3 minutes.

To fix thi

[2020-08-06 06:44] chrisjaquet commented on #299
Thanks for the feedback. I agree with @datho7561 in that consistency with other languages will prevent user confusion. The main thing that caught me was that the setting (as shown in the screenshot @angelozerr highlighted) did not have an effect when saving files but VSCode indicated that it should.

I do not have an opinion on whether or not there is a separate setting to strip trailing whitespac

[2020-08-06 15:51] ejgutierrez74 commented on #291
vscode-xml is the only extension that uses xml.... all the others use other languages as said before, SQL, C#, HTML...
Thanks

[2020-08-06 16:53] angelozerr commented on #291
I understand, but syntax coloration is done by vscode, not by vscode-xml, so if you unistall vscode-xml you should have syntax coloration again. Have you the same problem if you uninstall vscode-xml ?

[2020-08-07 15:32] ejgutierrez74 opened #306 "Feature request: Supost Xpath and xquery, XSLT"
Would be nice to make queries to xml document usning xpath and xquery...
Also show different visual outputs from an xml document using xslt.

Thanks

[2020-08-07 16:35] angelozerr commented on #306
@ejgutierrez74 please create an issue per features by giving more informations. I'm not sure that we will support XQuery for the moment. We have several users requirement (which will take time) like XSD1.1, RelaxNG, XSLT 3, etc.

According user feedback,  we will work on the proper issue.

[2020-08-08 14:48] ejgutierrez74 commented on #306
thanks for your response.

My english is not very good, but i think is very self-explanatory, what do you mean for "please create an issue per features by giving more informations" ? I open a different issue for xpath and xquery ?

id ask for xpath and xquery support in vscode-xml. When i teach this subject i only miss this two things..

[2020-08-09 20:48] Marsfan opened #307 "Allow support for variable and different file path notations in xml.FileAssociations"
A number of things that are normally supported by configuration options in VS code JSON files do not seem to work when configuring xml.FileAssociations.
Namely:
* Variable Substitution
* Windows-Style file paths.

As an example, I have a test repository that has a schema in one folder, and an XML file in another folder.

<details>
<summary> Project Structure Photograph </summary>

![image](https:/

[2020-08-10 14:42] #289 closed

[2020-08-10 14:59] pgundlach commented on #302
Everything works fine since I have set

    "xml.server.vmargs": "-noverify -Xmx1024M -XX:+UseG1GC -XX:+UseStringDeduplication"

I'll close this issue and re-open it when I have more info. Thank you once again.

[2020-08-10 14:59] #302 closed

[2020-08-11 08:20] eddy147 opened #308 "Unclear how to validate with Xsd"
Not a coding issue, but more a documentation one, I can not find in the README how to validate a XML file with a Xsd file.

I have installed the plugin into vscode; I have an Xml file that I would like to validate with a Xsd file. According to the README this should be possible, but how? Ctrl+Shift+P XML Tools doesn't give any options regarding validation.

[2020-08-11 09:34] angelozerr commented on #308
I suggest that you see https://developers.redhat.com/blog/2020/07/08/improved-xml-grammar-binding-and-more-in-red-hat-vs-code-xml-extension-0-13-0/ and you will see how to bind XML with XSD. In the demo it generates the XSD, but you can generate the XSD and remove to use your own XSD.

[2020-08-11 09:37] #303 closed

[2020-08-14 02:50] ilovepumpkin opened #310 "Is there any way to show line breaks ?"
Hello, I need to several sections in the hover help text when hovering an XML attribute. I am generating the help text with "documenation" tag, and I tried to add "#xD#xA" and "<br/>" and none of them can show line breaks in hover text. Is there any way to do this?

[code]

![image](https://user-images.githubusercontent.com/11310645/90208562-b1ff4000-de1b-11ea-9081-f00f22f33537.png)

[2020-08-14 09:47] pgundlach commented on #310
You could insert a `<br />` into the schema documentation. At least this works for me here.

[2020-08-15 01:15] ilovepumpkin commented on #310
@pgundlach oh really?  I did try "<br/>" before, when I added "<br/>" in documentation tag, I even can not see the hover text when hovering on the "options" attribute. As you can see my screenshot above - for "#xD#xA", at least I could see it, but with "<br/>", that hover text even can not pop up.  Could you please show me an example? Did you have any special settings the extension in VSCode setti

[2020-08-15 06:38] pgundlach commented on #310
I can't give you an official answer, just an observation.

This is my XSDfile:

<img width="700" alt="xsd" src="https://user-images.githubusercontent.com/209434/90306954-8a1ee380-ded2-11ea-9b4b-722375ddf3aa.png">

and this is the result:

<img width="472" alt="hover" src="https://user-images.githubusercontent.com/209434/90306958-9145f180-ded2-11ea-971c-4944b6231070.png">

I don't have any special

[2020-08-15 07:19] pgundlach commented on #302
Still working (great!). Just two statistics about the XML files I work with. The current source is usually not more than 50-100 lines, but the XSD Schema is 6000+ lines.

[2020-08-17 06:04] ilovepumpkin commented on #310
@pgundlach well, it does work for you. Looks like we are adding "`<br/>`" in the same way, but it does not work for me. Interesting.

[2020-08-17 09:06] fbricon commented on #310
@ilovepumpkin can you please attach your xsd and an xml document using it?

[2020-08-17 09:32] fbricon commented on #310
Escaping the xml line break as `&lt;br/&gt;` will generate a line break (`/n`) in the generated Markdown that is rendered on hover. But Markdown renders line breaks when there are 2 or more of them. So you actually need to add `&lt;br/&gt;&lt;br/&gt;`

[2020-08-17 09:35] fbricon commented on #310
@pgundlach I'm curious to know why your non escaped &lt;br/&gt; are rendered properly. Can you share your xsd+xml please?

[2020-08-17 12:57] pgundlach commented on #310
@fbricon Here is an example (note that is for demonstration purpose only - it does not make any sense here).

[gh.zip](https://github.com/redhat-developer/vscode-xml/files/5084286/gh.zip)

The linebreak is in line 4143 of the schema file.

[2020-08-17 14:58] fbricon commented on #310
@pgundlach your sample works. `<br/>` generates 2 line feeds.
So we have a weird behavior when there are multiple documentation nodes:
[code]
=> only the 1st documentation node is rendered

[code]
=> both documentation nodes are displayed, the 2 escaped `&lt;br/&gt;` generate 2 line feeds, like I mentioned earlier.

This is super weird. I fear that we have some hard coded conditions that make the

[2020-08-17 15:03] fbricon commented on #310
Behavior discrepancy might be caused by https://github.com/eclipse/lemminx/commit/9d8e1181750dc0f7a44b2e1031991a9ca62f985b#diff-16ac70844ccf5f7fc2866752decdead7R73-R78

[2020-08-17 15:06] fbricon commented on #295
LGTM

We prolly want to deprecate it first

[2020-08-18 02:29] ilovepumpkin commented on #310
@fbricon ,  thanks a lot! "`&lt;br/&gt;&lt;br/&gt;`"  works for me. And your problem you noticed that is what I said in comment https://github.com/redhat-developer/vscode-xml/issues/310#issuecomment-674327583  - when "`<br/>`" is written in documentation directly, no hover is shown up.

[2020-08-18 04:01] ilovepumpkin commented on #310
@fbricon I have another question - let me know if I need to open another issue for this.  What's the beast way to show an well structured XML in hover text?

I tried to use CDATA, but there are several problems:
1) All indents/spaces are gone
2) line breaks are gone
3) I have to add redundant space before "/" otherwise it can not be shown correctly - look at the space in "`&lt; /xs:sequence`", whi

[2020-08-18 10:05] angelozerr commented on #295
Thanks @fbricon for your feedback.

@mingxi I have implemented this issue but I don't understand how prefer feature is working and I have not found some documentation which explains how it works.

Could you please add a simple usecase with prefer (public and system) by given a sample with catalog, dtd, and explain the usecase that you wish to manage. Thanks!

[2020-08-18 10:12] mingxi commented on #295
@fbricon Thank you very much, I will test this feature asap.

[2020-08-18 10:21] angelozerr commented on #295
It's not available for the moment (my work is not merged). I would like to know play with my PR before merging my work, but I need to understand how prefer is working.

[2020-08-18 10:30] mingxi commented on #295
Okay, I will sort it out and I will share the test cases

[2020-08-18 10:49] mingxi commented on #295
@angelozerr
Step:
1. You can download the latest DITA-OT from [https://github.com/dita-ot/dita-ot/releases/download/3.5.1/dita-ot-3.5.1.zip](url)
2. In my side, unzip it into C:\Users\mingxi\Downloads\dita-ot-3.5.1
3. Set xml.catalog.files as below:
   `{
	"xml": {
		"catalog": {
			"preferPublic": true,
			"useLiteralSystemId": true,
			"files": [
				"C:\\Users\\mingxi\\Downloads\\dita-ot-3.5.1\

[2020-08-18 12:31] mingxi commented on #295
![image](https://user-images.githubusercontent.com/8706418/90512999-96849400-e191-11ea-9b5a-d12af8aaea5a.png)
![image](https://user-images.githubusercontent.com/8706418/90513084-b916ad00-e191-11ea-9759-4b0f645006d3.png)

[2020-08-18 13:16] mingxi commented on #295
@angelozerr

Thanks I will test it.
FYI
Below is my code to validate xml manually.

XmlTool.java
[code]

CatalogManager.properties
[code]

[2020-08-19 19:29] ynohat opened #311 "Completion & hover based on XSD with elementFormDefault="unqualified" doesn't work"
Hi!

I am attaching an example XML file (examples/itops.xml) along with supporting schemata and a catalog (that I have setup in VS Code).

Autocomplete works on the fields under the root tag, but not children. Everything seems valid (but I'm no guru). Eclipse WTP (2020-06) autocompletes, using the same catalog and files.

[rh-vscode.zip](https://github.com/redhat-developer/vscode-xml/files/5098821

[2020-08-20 09:02] angelozerr commented on #295
Thanks @mingxi for your feedback, the problem doesn't come from XML catalog configuration (prefer, etc) but comes from several bugs when you use XML catalog:

 * validation doesn't work with XML catalog and DTD -> see https://github.com/eclipse/lemminx/issues/848
 * XML completion based on DTD doesn't work with XML catalog and DTD -> see https://github.com/eclipse/lemminx/issues/849
 * DTD hyperli

[2020-08-20 09:03] angelozerr commented on #295
It's not enough, you need to compile XML Language Server (LemMinx), see https://github.com/redhat-developer/vscode-xml/blob/master/CONTRIBUTING.md

[2020-08-20 09:57] angelozerr commented on #311
For your usecase you mena after templates you hav enone completion (like Site), I supsect it's a problem with namespaceURI computing.

Thanks!

[2020-08-20 09:59] ynohat commented on #311
@angelozerr thanks! do you feel that there is a workaround I can implement?

[2020-08-21 08:35] angelozerr commented on #307
@fbricon what do you think about this idea?

[2020-08-21 08:38] angelozerr commented on #308
@eddy147 have you fixed your problem?

[2020-08-24 07:33] eddy147 commented on #308
hi @angelozerr Unfortunatelt I haven't.
The doubts I am having are as follows:
- the extension wants to generate an XSD based on the XMl and then binds it. I already have an XSD, I don't eant to generate one. If I generate one, it's maybe generating from a faulty Xml. Is there no option to just load an XSD file?
- The XSD's I have to use consists of 2: the Jw317.xsd and it's parent, the basischema

[2020-08-24 08:40] angelozerr commented on #308
Indeed but my suggestion is that you generate XSD, to learn how to bind a XML with XSD (the proper syntax with xsi:noNamespaceSchemaLocation, xml-model, etc). More after the generated synx to bind XML with XSD, you can replace the generated XSD with your XSD.

But I think we should write a section about binding XML with XSD/DTD in https://github.com/redhat-developer/vscode-xml/wiki

Otherwise I su

[2020-08-24 12:27] angelozerr commented on #295
@mingxi could please:

 *  install last vsix from https://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D
 * set in your settings.json `"xml.validation.resolveExternalEntities": true`

Validation, XML compltion, hover based on DTD should work:

![image](https://user-images.githubusercontent.com/1932211/91044646-e8a43a00-e615-11ea-8ef9-46a013e937ef.png)

Pease give me feedback, thanks!

[2020-08-24 15:00] mingxi commented on #295
@angelozerr Thanks a lot, works fine for me.

![image](https://user-images.githubusercontent.com/8706418/91060442-8707be00-e65d-11ea-94f1-6d39f93c3063.png)

[2020-08-24 15:03] mingxi commented on #295
@angelozerr You can close it now, thank you very much.

[2020-08-25 10:31] angelozerr commented on #311
@ynohat I fixed the problem in PR https://github.com/eclipse/lemminx/pull/855 Please wait for merging this PR and after that you will able to install vsix and try it.

[2020-08-25 10:40] angelozerr commented on #295
Glad it works for you! Don't hesitate to create another issues if you find some problem or you require some improvement.

If you need really support settings like prefer (public, system), please reopen the issue by giving a usecase.

I close this issue even if prefer settings is not supported since it was a bug which was fixed.

[2020-08-25 10:40] #295 closed

[2020-08-26 07:41] angelozerr commented on #311
Fixed by https://github.com/eclipse/lemminx/pull/855

[2020-08-26 07:41] #311 closed

[2020-08-26 07:56] ynohat commented on #311
Hi @angelozerr, thanks again for your quick response to this! Is this now in the following vsix?

vscode-xml-0.14.0-10301.vsix | 26-Aug-2020 03:50 | 7.0M

[2020-08-26 07:58] ynohat commented on #311
Just tested, and it seems to be working now 🥇

[2020-08-26 09:33] angelozerr commented on #311
Great! Thanks for your feedback.

[2020-08-26 14:50] angelozerr commented on #308
@eddy147 please read https://github.com/redhat-developer/vscode-xml/wiki/XMLValidation

[2020-08-26 16:09] datho7561 opened #313 "TextMate grammar for *.dtd files"
I think it could be helpful to provide a TextMate grammar for `*.dtd` files. Syntax highlighting would make it a bit easier to read and edit these files.

It looks like nothing is being done to implement it upstream in VSCode: [VSCode related issue](https://github.com/microsoft/vscode/issues/55751). VSCode just reuses the Atom TextMate grammar for XML/DTD: [Atom issue](https://github.com/atom/lang

[2020-08-27 10:24] angelozerr commented on #313
Indeed it should be really nice to improve syntax coloration for DTD and perhaps contribute to vscode?

[2020-08-27 13:07] datho7561 commented on #313
Yes. Now that I think about it, this would make more sense upstream in vscode.

[2020-08-27 13:17] angelozerr opened #314 "Avoid Java requirement"
In https://marketplace.visualstudio.com/items?itemName=redhat.vscode-xml&ssr=false#review-details we have so many reviews which speak about Java installation and user complains about that.

We need to find a solution to avoid installing Java by the user. There is  choices :

 * solution 1 -> build a binary with grallvm and consume it on vscode-xml side. This binary will be downloaded when XML is o

[2020-08-27 20:35] fred-gagnon opened #315 "xml.catalogs setting"
In order to help users understand how to properly fill the xml.catalogs setting, I propose the following:

1. Add examples of how to set xml.catalogs in the extension settings page
and/or
2. Add examples of how to set xml.catalogs in the error popup that appears when a catalog path is invalid
3. In the extension settings page, when clicking on the `Add` button to add a new catalog, there should be

[2020-08-28 14:43] rzgry opened #317 "OOM Error when using an lemminx extension to register xsd support."
We are using a lemminx extension to register this xsd file using a URIResolverExtension https://github.com/OpenLiberty/open-liberty-tools/blob/integration/dev/com.ibm.ws.st.core/server.xsd

After playing around with a server.xml file and testing the completion in different element (maybe 20-30 completion requests). The completion request will get stuck at "Loading" and generates a bunch of heapdum

[2020-08-28 14:59] fbricon commented on #317
Looks like we may have a memory leak. @rzgry any chance you can do some profiling?

[2020-08-28 15:08] rzgry commented on #317
After doing some quick testing it also seems like this does not occur if I register the xsd using the xml fileAssociations setting instead.
[code]

Seems to only OOM if it is registered using a URIResolverExtension.

[2020-08-29 22:32] Morgy93 opened #318 "open namespaced schema location fails"
Hello,

I don't know if it's just me or some bug, that's why I'm here. =)

I'm using Magento 2 and schema validation works just fine (so I assume that there is no error here) but if I try to "Follow link" on namespaced xsd it fails:

![image](https://user-images.githubusercontent.com/7961978/91647148-7e492a80-ea57-11ea-9d8a-0387ea68c578.png)

Sample xml:

[code]

catalog.xml
[code]

Any obvious re

[2020-08-30 13:28] angelozerr commented on #318
It's a bug which is perhaps fixed in 1.4.0 (not released) with  https://github.com/eclipse/lemminx/issues/850

Could you try to install last version of vsix https://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D and tell me if it works? Thanks!

[2020-08-30 13:31] angelozerr commented on #315
Please read wiki:

 * for catalog with XSD -> https://github.com/redhat-developer/vscode-xml/wiki/XMLValidation#XML-catalog-with-XSD
 * for catalog with DTD -> https://github.com/redhat-developer/vscode-xml/wiki/XMLValidation#XML-catalog-with-DTD

What do you mean with examples? You mean in the wiki page, show the error popup when catalog.xml file path is not valid? Could you explain more your ide

[2020-08-30 15:56] Morgy93 commented on #318
@angelozerr Yes it works beautifully!
I'll close this issue since it will then be automatically fixed with the new release, thanks!

[2020-08-30 15:56] #318 closed

[2020-08-31 06:51] angelozerr commented on #317
That's strange. If you implement URIResolverExtension like XSL it should work.

Please:

 * share your extension in order to I play and debug it.
 * explain your usecase (give me your server.xml file + explain where you open completion).

Thanks.

[2020-08-31 14:59] fred-gagnon commented on #315
@angelozerr thanks for replying to my suggestion.

First of all, thanks for pointing out the wiki link, I had not found it. I feel bad for that ! Looking at it, I see that it lacks an example of how to set an XML catalog when using `xsi:noNamespaceSchemaLocation`. It took me quite a while to figure out how to make this work, it might be good to add an example.

Now coming back to my suggestions, w

[2020-08-31 15:19] angelozerr commented on #315
No no no, this wiki page has been written few days ago and we need to reference it in the README too.

Thanks for your feedback, we need to add this sample.

Why is it outdated?

Indeed we will add e link to the wiki page. @fbricon I think we could add a link to the wiki page for interesting setting s(ex : catalog, format, etc).

@fred-gagnon anyway thanks for your great suggestion!

[2020-08-31 16:44] #184 closed

[2020-08-31 17:40] fred-gagnon commented on #315
@angelozerr

Why is it outdated? : Because doing `file:///C:\\folderA\\folderB\\MyCatalog.xml` doesn't work. Or if it should be used differently, then it needs to be better explained.

In the previous versions of the extension, my catalogs were declared as such: `file:///C:/folderA/folderB/MyCatalog.xml`

However, this no longer works as discussed here: https://gitter.im/redhat-developer/vscode-xm

[2020-08-31 17:48] rzgry commented on #317
Fixed with https://github.com/OpenLiberty/liberty-language-server/pull/6

[2020-08-31 17:48] #317 closed

[2020-09-01 13:29] vukovinski opened #319 "No way to clear loaded XSD cache - a trouble when developing schemas"
Currently the retrieved schema definition file gets stored somewhere and cannot be deleted even after extension uninstall/reinstall.

Would like a command to manually re-retrieve the schema files for the current XML file.

[2020-09-01 13:34] vukovinski commented on #319
Did manage to find the .lemminx folder in my user directory, and the cache was exactly there! ❤

[2020-09-01 13:44] fbricon commented on #319
We could expose a command to open the cache directory, but that would only concern a minority of users, not sure it's worth it as I don't want to bloat the actions list if we can avoid it.
However we should definitely better document the caching mechanism.

[2020-09-01 15:54] vukovinski commented on #319
What about writing the location of the cache folder to the integrated output on init?

[2020-09-01 17:26] fbricon commented on #319
sure we could do that. For now you have logs about downloaded schemas like:

[code]

[2020-09-02 08:58] vukovinski commented on #319
I believe that your first suggestion on enhancing documentation is probably the best way to solve this UX issue.

How about an option to re-download the schema on save?

[2020-09-02 09:01] fbricon commented on #319
that's equivalent to disabling caching, which would dramatically impact the performance, as the schema resolution is done several times per server query

[2020-09-02 09:04] fbricon commented on #319
maybe exposing a command to force schema refresh, triggered on demand might do it

[2020-09-02 11:44] vukovinski commented on #319
Sure, makes sense.

[2020-09-08 07:27] angelozerr commented on #308
@eddy147 I close this issue since we have none answer from you.

I suggest that you read https://github.com/redhat-developer/vscode-xml/wiki/XMLValidation

If you cannot validate your XML with your XSD, please attach a zip witho your XML and XSD and reopen the issue.

[2020-09-08 07:27] #308 closed

[2020-09-08 16:24] angelozerr opened #322 "Add wiki Link for settings"
Add wiki Link for settings

[2020-09-09 15:18] datho7561 commented on #98
@Eskibear I worked on [a quick PR](https://github.com/redhat-developer/vscode-xml/pull/312) to address these warnings. I used the method you described to fix the first warning to address both the warnings, since [LemMinX doesn't support multi-root workspaces yet](https://github.com/eclipse/lemminx/pull/293). Does this solution make sense?

[2020-09-09 17:24] #322 closed

[2020-09-11 05:19] Eskibear commented on #98
@datho7561 commented, you shall refer to vscode's API spec.

[2020-09-11 13:10] datho7561 commented on #98
@Eskibear, Thanks for your help!

[2020-09-14 08:02] mickaelistria commented on #314
I'd like to suggest solution 3 (which I didn't verify):
Using jlink and jpackager, make LemMinX also ship a self contained app (with necessary JRE libs and binary included), and let vscode-xml use it.

[2020-09-15 07:30] angelozerr opened #326 "Embed docs in vscode-xml"
Embed docs in vscode-xml to provide links from the settings to this embed documentation. See the following demo:

![XMLEmbedDocs](https://user-images.githubusercontent.com/1932211/93180070-e4f86480-f736-11ea-9129-edf8d9a797a5.gif)

[2020-09-15 07:38] angelozerr commented on #315
@fred-gagnon just for your information, I'm working on the embed doc https://github.com/redhat-developer/vscode-xml/issues/326#issue-701686540

[2020-09-16 08:39] angelozerr commented on #319
@vukovinski  could you explain please your usecase? If you are writting XSD and you change it, your XSD is on local, so you should not having the cache problem.

If you use remote XSD file (have you an URL for this XSD file), those XSD should not change every time, no? Removing at hand the cache is not a big deal I think.

But an idea that I had is to check the get last modified of the XSD URL to

[2020-09-16 08:49] angelozerr commented on #284
@TimMoran is your python server manages `get last modified`  of your XSD file?

[2020-09-16 08:50] angelozerr commented on #319
@fbricon I think we have the same idea https://github.com/redhat-developer/vscode-xml/issues/284#issuecomment-651635729

[2020-09-16 08:53] Timtower commented on #284
@angelozerr Wrong tag there.
And my python server does not do that yet, just always sends the file.
Made a custom extension to erase the cache and reload the window to counter this issue.

[2020-09-16 09:19] angelozerr commented on #284
Do you think you could contribute to vscode-xml with your feature?

[2020-09-16 09:25] Timtower commented on #284
Maybe, right now it is just a full delete, regardless of content.
Need to clean that up first.

[2020-09-16 09:54] angelozerr opened #328 "Add XML documentation for settings which have no documentation"
Once https://github.com/redhat-developer/vscode-xml/issues/326 will be merged, it should be nice to improve documentation by collecting settings (ex : xml.validation.resolveExternalEntities) which are not linked to documentation

[2020-09-16 10:11] angelozerr commented on #307
@Marsfan do you see other variable substitution than `${workspaceFolder}` ?

[2020-09-16 10:15] angelozerr commented on #307
I wonder if this variable substitution must be done on vscode-xml side or LemMinx (LS server) side. If we could manage workspaceFolder on LemMinx side it should be nice because all LSP client could benefit with that. Need to investigate if we can retrieve workspaceFolder on LemMinx server side.

It will depends too if we need to manage another variable substitution which could be specific to vscod

[2020-09-16 10:24] angelozerr opened #329 "Improve file / folder selection for some vscode-xml settings"
vscode-xml provides several settings with file (ex : `xml.catalogs`, `xml.java.home`) or folder (ex : `xml.server.workDir`). It should be fine to provide command to select a file or a folder that we could call in the settings with an hyperlink (like it is done for documentation in https://github.com/redhat-developer/vscode-xml/pull/327 with `command:` syntax.

[2020-09-16 15:36] datho7561 opened #330 "Go To Top button in embedded docs is orange when clicked"
Please see PR #327.

Open an embedded documentation page, and click on the back to top button. The back to top button now has an orange border:
![ButtonHighlightingMarkdownDocumentation](https://user-images.githubusercontent.com/22376627/93359224-59530680-f810-11ea-9897-1439a5c7b570.png)

This button should not have an orange border to be visually consistent with the rest of the vscode UI.

[2020-09-17 14:30] datho7561 opened #331 "Avoid duplication of documentation between extension and wiki"
See [PR #327](https://github.com/redhat-developer/vscode-xml/pull/327)

The markdown documentation for settings that is embedded in the extension is copied directly from the vscode-xml wiki pages. Come up with some mechanism to avoid maintaining two copies of the settings documentation.

[2020-09-17 14:32] #326 closed

[2020-09-17 18:09] datho7561 commented on #328
Undocumented settings (no link to internal docs) as of commit c90c732 (WIP collecting them all):
- [ ] XML code lens enabled
- [ ] XML completion  auto close tags
- [ ] XML file associations

[2020-09-17 19:18] datho7561 commented on #313
FYI https://github.com/chrisbra/vim-xml-runtime/blob/master/syntax/dtd.vim

[2020-09-18 12:47] angelozerr commented on #328
For `XML code lens`,

 * I will create a CodeLens.md for that because you have other codelens kind (ex : xs:element)
 * add a section about Code lens for xs:element -> see https://developers.redhat.com/blog/2019/07/24/whats-new-in-the-visual-studio-code-xml-extension/
 * add screenshot (or better a demo) for codelens to show references are clickable.

[2020-09-22 08:18] xballiet commented on #222
Hello,
Can you tell me if the support of XSD 1.1 will be implemented sooner or later?
I need that especially for xs:assert...  :)
Thanks for your useful tool!

[2020-09-22 08:37] angelozerr commented on #222
For the moment it's not in our priority and it requires to use a non official Xerces distribution. I find it's annoying.

@fbricon have you some idea about that?

[2020-09-22 08:38] angelozerr commented on #222
Glad vscode-xml please you. Thanks!

[2020-09-23 06:14] angelozerr commented on #284
@Timtower I will work on this issue. The idea is to provide a command which revalidate the given XML file, which means:

 * detect XSD, DTD files referenced by the XML
 * redownload those XSD, DTD
 * retrigger the validation

[2020-09-23 06:46] Timtower commented on #284
@angelozerr I had it just delete the entire cache. We often have updates for the entire server on ours side.

[2020-09-23 20:16] datho7561 commented on #307
[Here is the list of all the supported variables](https://code.visualstudio.com/docs/editor/variables-reference).
* I won't implement the ones that only apply to multi-root projects, since vscode-xml doesn't work with multiroot projects as of yet.
* Currently investigating some of the other ones

[2020-09-26 05:44] bmix commented on #254
Saxon implements the latest (3.0) XSL and XPath (3.1) specification, while Xalan supports only 1.0 of both, which is 20 years old technology.

Version 2 of the specs introduced, among other things:

* A serious change to the data-model, for example the concept of node-set has been replaced with sequences (everything is now a sequence, btw)
* A lot of new functions have been added, which count now

[2020-09-26 05:51] bmix commented on #254
And XQuery! (see https://www.saxonica.com/products/feature-matrix-10.xml)

With the HTML live view if it is transformed to HTML, otherwise in a read only view for XML or by loading the result into a new editor tab, maybe.

[2020-09-26 05:55] bmix commented on #254
Maybe, because there is no XSL capability as of yet? ;-) I am a heavy XML user, so I am very interested in this project, but I can see, that it is a huge task and I think your progress is very nice. For the future, of course, I would like to see XSL-T and XQuery integration, but currently I can do this with build scripts or, what I typically do for XQuery and XSLT development, with BaseX IDE and o

[2020-09-26 09:30] angelozerr commented on #254
@bmix thanks a lot for your great feedback.

We would like to avoid doing that. SaxonJS  is not a solution for us, Saxon-HE is the only distribution that we can use it.

If you want to consume SaxonJS, it should be done directly inside vscode extension (without consuming a language server like we did with LemMinx that we can consume in a lot of IDE like Eclipse IDE).

It seems that https://marketp

[2020-09-26 20:21] bmix commented on #254
I couldn't agree more! Since your code is Java, it just makes sense to use the RealThing™. My remark about extending Lemminx with Javascript was addressing another issue: Writing [Lemminx Extensions](https://github.com/eclipse/lemminx/blob/master/docs/LemMinX-Extensions.md) with Javascript, instead of Java.

I didn't know about this project. I will test it immediately. Looks pretty good, thanks fo

[2020-09-28 20:34] datho7561 commented on #307
I think getting this working on the language server side could be helpful.

These appear to be the most helpful variables to me:
* `workspaceFolder`
* `fileBasenameNoExtension`
* `relativeFileDirname`

Another thing that I want to implement in this PR is using `.` in the file path to mean the same thing as `workspaceFolder`:
* Refer to a path relative to the opened folder in single root projects
*

[2020-09-29 08:17] angelozerr commented on #254
@bmix is Saxon-HE is not enough to support correctly XSLT? Please note LemMinx is extensable so you can add your own extension and consume it in vscode-xml.

If you are interested, please read https://github.com/eclipse/lemminx/blob/master/docs/LemMinX-Extensions.md

An idea is that (if you are interested) to develop your XSLT LemMinx extension based on SAXON-HE and we could integrate it in LemMin

[2020-10-02 12:37] #328 closed

[2020-10-06 16:18] angelozerr opened #335 "Add documentation for showReferencedGrammar settings"
Add documentation for showReferencedGrammar settings.

My idea is to

 * add a section in https://github.com/redhat-developer/vscode-xml/blob/master/docs/Preferences.md with a screenshot
 * at the end of this section https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#validation-with-a-given-grammar say that you can see the binding strategy in the outline by activating th

[2020-10-07 08:42] angelozerr commented on #236
Fixed with https://github.com/eclipse/lemminx/issues/633

[2020-10-07 08:42] #236 closed

[2020-10-07 08:56] angelozerr commented on #331
It should be nice in the same PR to update or add links in the README.md  of vscode-xml settings section to the docs md files https://github.com/redhat-developer/vscode-xml#supported-vs-code-settings

[2020-10-07 14:01] fbricon commented on #267
Need to implement workspace/configuration requests from the server. See https://github.com/redhat-developer/vscode-java/pull/1081#discussion_r496911524

[2020-10-09 13:34] datho7561 opened #338 "Provide an example of adding a JAR to the classpath of LemMinX"
In https://github.com/redhat-developer/vscode-xml/pull/336 we will add the ability to add LemMinX extensions to the LemMinX classpath through a setting. Provide an example of adding a LemMinX extension to demonstrate how this works.

Specifically, provide an example in `Preferences.md`

[2020-10-09 14:17] #251 closed

[2020-10-13 13:41] #267 closed

[2020-10-13 16:03] datho7561 opened #342 "Add Documentation for the XML Extension TypeScript API"
In [Extensions.md](https://github.com/redhat-developer/vscode-xml/blob/master/docs/Extensions.md), as of [PR #340](https://github.com/redhat-developer/vscode-xml/pull/340), we reference a specific merged PR for documentation on the TypeScript API for extending LemMinX.

I think it would be a good idea to update `Extensions.md` in order to better explain the API, and link to the documentation of th

[2020-10-13 16:05] #331 closed

[2020-10-13 16:27] angelozerr commented on #342
@ntotten @a2975667 is there any chance that you could provide a PR for that?

[2020-10-14 19:26] angelozerr commented on #220
I did a quick POC for this issue.

Given the `test.xml` XML file:

[code]
we want to show :

 * all text node (`ABCD `in this case)
 * only `@id` attribute (not `@name`)

![image](https://user-images.githubusercontent.com/1932211/96035494-63921000-0e63-11eb-8cf2-0dc878229781.png)

To manage this configuration, I introduce a new settings `xml.symbols.filters`:

[code]

 * pattern means that filters

[2020-10-15 10:31] angelozerr commented on #284
@Timtower I'm working on this issue, please see mode at https://github.com/redhat-developer/vscode-xml/pull/343#issuecomment-709120128

[2020-10-15 10:34] angelozerr commented on #319
This issue is a duplicate of https://github.com/redhat-developer/vscode-xml/issues/284

@vukovinski please note that I'm working on this issue, see demo at https://github.com/redhat-developer/vscode-xml/pull/343#issuecomment-709120128

[2020-10-15 10:34] #319 closed

[2020-10-15 10:36] angelozerr commented on #315
I close this issue since now we have an embed documentation which explains XML catalogs.

For helping to fill settings with Browse button, I create the issue https://github.com/redhat-developer/vscode-xml/issues/329

[2020-10-15 10:36] #315 closed

[2020-10-15 10:39] angelozerr commented on #306
Yes please. For XQuery I'm afraid that we will not work on this issue today.

For XPath, please create an issue to explain what you need (an idea is to open a vscode command, type a XPath expression and it open a dialog with all nodes which matches the xpath expression for the current XML file).

[2020-10-15 10:39] #306 closed

[2020-10-20 21:01] #284 closed

[2020-10-21 09:04] bluebrown commented on #194
To be frank, that sounds like you need to brush up on your general it skills. If you need advanced xml validation then you should be able to install a package and make its binary available to your system.

I came also here a bit frustrated, not because I can't install the jdk, but more because I don't want to. After reading the above explanation regarding Xerces, it makes totally sense though.

I

[2020-10-21 14:12] angelozerr commented on #284
@Timtower if you install last vsix from https://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D

you should have XML commands https://github.com/redhat-developer/vscode-xml/blob/master/docs/Commands.md to evict cache. Any feedback are welcome!

[2020-10-23 08:35] Timtower commented on #284
Works great so far!

[2020-10-23 08:50] fbricon commented on #194
@bluebrown we're working on providing an xml language server that doesn't require installing Java https://github.com/redhat-developer/vscode-xml/pull/316

[2020-10-23 09:00] angelozerr commented on #284
Thanks for your feedback, and glad it works for you.

[2020-10-24 15:37] clement-boret opened #347 "Format comments which have no end comments should not generate end comments"
vscode Version: 1.50.1
on macosx version 10.14.6

There is an error when performing "format modified lines": please see following gif to get the scenario.
![vscode issue gif](https://user-images.githubusercontent.com/10899818/97082080-41d51d80-1607-11eb-9ca4-71f4b10ddcc3.gif)

[2020-10-25 17:55] gotlibsh commented on #222
For what it's worth, I'm also looking for VSCode extension support for XSD 1.1, especially to be able to add xs:assert elements.

Anyway, thanks for the great tool and I hope you guys will find the time to support it :).

[2020-10-26 10:55] angelozerr commented on #347
Thanks for reporting this issue.

This problem is easy to reproduce.

Given this XML:

[code]

Although it should not generate the `-->`.

I'm working on this issue.

[2020-10-26 14:32] #335 closed

[2020-10-26 15:05] #347 closed

[2020-10-26 15:13] angelozerr commented on #212
vscode-xml provides now a vscode command `xml.workspace.executeCommand` which executes a custom command on XML Language Server side (the command must be written in Java). See https://github.com/redhat-developer/vscode-xml/blob/master/docs/Extensions.md#commands

@viperet if you wish to consume XML commands and you need feedback, please reopen this issue.

[2020-10-26 15:13] #212 closed

[2020-10-27 18:40] #220 closed

[2020-10-28 02:52] NatoBoram opened #349 "Option to sort attributes"
Sometimes, for maintainability purposes, it's better to have a deterministic order in which tag attributes appear. It would be nice to have this as an option.

[2020-10-28 02:55] NatoBoram opened #350 "Max line length"
Some projects use an `.editorconfig` file to specify a maximum line length for most of their documents. It would be nice to have this setting attempted to be respected, or at least have an option to specify it, so it could be done automatically in a deterministic way.

Example :

[code]

[code]

[2020-10-28 09:27] pgundlach opened #351 "No completion on attributes with xs:union (XSD)"
I try to use autocompletion (which usually works fine for my XSD schema) on an attribute but that fails (no choices given).

This happens when the completion  not only allows a list of choices but also patterns such as ` <xs:pattern value="\{.+\}"/>` and `<xs:pattern value="--|bg|ca|cs|...|uk|zh"/>`

My schema is at

https://github.com/speedata/publisher/blob/develop/schema/layoutschema-en.xsd

th

[2020-10-28 09:49] fbricon opened #352 "Blog post for 0.14.0"
Write blog post for the upcoming 0.14.0 release
Add video highlights

[2020-10-28 15:05] AlexBillon07 opened #353 "Extension doesn't load"
Issue Type: <b>Bug</b>

Hello,

The extension doesn't seem to load anymore and I have this message tu Debug output.

```[2020-10-28 16:00:14.877] [exthost] [warning] [redhat.vscode-xml] Accessing a resource scoped configuration without providing a resource is not expected. To get the effective value for '[xml]', provide the URI of a resource or 'null' for any resource.```

Extension version: 0.13.

[2020-10-28 15:54] AlexBillon07 commented on #353
Sorry, you can forget this ...

[2020-10-28 15:54] #353 closed

[2020-10-30 08:53] angelozerr commented on #350
You speak about formatting, is that?

[2020-10-30 08:53] angelozerr commented on #349
You speak about formatting, is that?

[2020-10-30 09:08] #307 closed

[2020-10-30 09:09] angelozerr commented on #307
This issue is now supported, see docs at:

 * https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#xml-file-association-with-xsd
 * https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#xml-file-association-with-dtd

[2020-10-30 12:39] NatoBoram commented on #350
Yes!

[2020-10-30 12:39] NatoBoram commented on #349
Yes

[2020-10-30 14:03] datho7561 opened #354 "Jenkins build passes even if server jar is missing"
Please see https://github.com/eclipse/che/issues/18247

It looks like the jar build failed, yet vscode-xml gets packaged and uploaded without the jar instead of the build failing.

[2020-10-30 14:27] datho7561 commented on #354
Looks like this issue was related to an external pipeline that was packaging the plugin for Che

[2020-10-30 14:27] #354 closed

[2020-10-30 14:33] rgrunber commented on #354
Thanks for bringing this up. To give any help what we'd really need is the build logs of the .vsix at issue because from my quick look through the ones we publish, they all include the necessary LemMinx jar.

[2020-10-30 14:51] datho7561 opened #355 "Package information into .vsix builds in order to identify commit/build"
Package something like git commit id or Jenkins build id in order to be able to reproduce issues in broken builds of vscode-xml.

[2020-10-30 15:03] angelozerr commented on #351
The PR https://github.com/eclipse/lemminx/pull/923 should fix this issue. See the following demo:

![XSUNionPublisherDemo](https://user-images.githubusercontent.com/1932211/97721205-6fb7d780-1ac9-11eb-9537-3499f340ffe9.gif)

[2020-10-30 15:24] pgundlach commented on #351
Thank you very much, this looks great!

[2020-11-04 15:24] #351 closed

[2020-11-04 15:39] datho7561 opened #356 "Changelog for 0.14.0"

[2020-11-05 09:51] angelozerr commented on #223
@a2975667 I'm implementing this issue which should be available soon.

@747 I'm implementing this issue which should be available soon.

[2020-11-05 14:58] GitMensch opened #359 "outline only auto-updating on errors, but not on "all fine""
setup: xml file with an xmlns entry that is matched by xml catalog - and validates without errors.
opened the catalog file in another tab, break the matching entry, save.

result: problems pane show the error, when switching to the xml file the outline shows the error markers on the appropriate places which is perfect.

Then switch back and unbreak the catalog entry, save.
result: problem pane is

[2020-11-05 18:29] datho7561 commented on #223
Closed by #357

[2020-11-05 18:29] #223 closed

[2020-11-09 21:42] datho7561 commented on #356
Closed by #362 and #364

[2020-11-09 21:42] #356 closed

[2020-11-10 21:29] angelozerr commented on #359
@GitMensch you are right,I never noticed this bug,  but we don't manage that, it's vscode with LSP support which manages that. We should report this problem on vscode side.

[2020-11-10 21:52] GitMensch commented on #359
Please do so as I have nearly zero knowledge on this topic, just recognized the issue.

[2020-11-11 09:06] pgundlach opened #369 "0.14: catalog not accepted when DOCTYPE catalog 1.1 is present"
I have updated to 0.14 and my XML file is not associated with the grammar anymore. When I remove

    <!DOCTYPE catalog PUBLIC "-//OASIS//DTD XML Catalogs V1.1//EN" "http://www.oasis-open.org/committees/entity/release/1.1/catalog.dtd">

from the catalog (or change the version to 1.0), everything is fine. I don't know if this is intended or not, I just want to report this. Please feel free to close

[2020-11-11 09:07] pgundlach commented on #351
Works fine in 0.14. Thank you very much!

[2020-11-11 17:55] angelozerr commented on #369
I noticed since this tuesday, URL for catalog uses now `https`. It seems that Xerces doesn't support forward and we change the url to https https://github.com/eclipse/lemminx/pull/929/files#diff-aa132033b0397ce4e9d1a3332f7007881dd085758d5c64d7d90801ea3f47e166

This code is used to manage catalog without DOCTYPE.

In other words, if you change your URL with https, is it working?

[2020-11-11 18:06] pgundlach commented on #369
@angelozerr It works, but as far as I understand [the spec](https://www.oasis-open.org/committees/entity/spec-2001-08-06.html), a http prefix is a valid for the catalog identifier.

No problem for me, as I have removed the line, but perhaps other users might stumble across this.

[2020-11-11 19:07] angelozerr commented on #352
Fixed with https://developers.redhat.com/blog/2020/11/10/vscode-xml-1-14-0-a-more-customizable-xml-extension-for-vs-code/

[2020-11-11 19:07] #352 closed

[2020-11-12 10:39] pgundlach opened #371 "Question about xml.symbols.filters: limit the elements to display in outline?"
I have a question regarding the ”Outline“ view in vscode/XML 0.14

Is it possible to restrict the symbols to a subset of elements?

For example my XML file:

[code]

I'd like to restrict the outline to something like this (discard any child elements or filter all elements that is not "Record"):

<img width="357" alt="outline" src="https://user-images.githubusercontent.com/209434/98929080-ee097600-

[2020-11-12 13:29] angelozerr commented on #371
At first please read https://github.com/redhat-developer/vscode-xml/blob/master/docs/Symbols.md#xpath-expression XPath expression are basic.

No it's not possible, we  decided to provide xml symbols filters because by default attributes and text nodes are not displayed and fix https://github.com/redhat-developer/vscode-xml/issues/220

Hiding some part of outline is possible but it's not very advan

[2020-11-12 15:27] fbricon commented on #371
You can at least only display node starting with some string. Just type it in the Outline view, like:
<img width="340" alt="Screenshot 2020-11-12 at 16 25 56" src="https://user-images.githubusercontent.com/148698/98959770-e611fc00-2503-11eb-9340-4f727b9728e6.png">

[2020-11-15 12:43] anthonyvdotbe opened #372 "Don't add trailing space to processing instructions"
In https://github.com/redhat-developer/vscode-xml/issues/240#issuecomment-618430575 it was decided that:

However, I just noticed that this was only resolved for the XML prolog, and not for any other processing instructions. For example `<?m2e ignore?>` in a `pom.xml` still formats with a trailing space: `<?m2e ignore ?>`. To resolve this issue, I guess it should be sufficient to delete [this line

[2020-11-15 12:59] angelozerr commented on #372
@anthonyvdotbe you are right, could you create a PR for that by adjusting tests please.

[2020-11-16 16:36] anthonyvdotbe commented on #372
@angelozerr I created the PR

[2020-11-16 17:30] #372 closed

[2020-11-16 17:31] angelozerr commented on #372
Fixed by https://github.com/eclipse/lemminx/pull/934

[2020-11-18 18:35] IssaBa commented on #134
Hello ,
I managed to make this error disappear by putting https instead of http on the urls of maven instances:
<project xmlns="**### _https_**://maven.apache.org/POM/4.0.0" xmlns:xsi="### **_https_**://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">

[2020-11-19 08:22] pgundlach commented on #371
@angelozerr Thank you for the feedback. I think I will close this issue. I'd really like to see this in vscode/xml but I think it is a good idea to wait if someone else (ore more than one person) will come up with the same request.

@fbricon The filtering works, but having this on symbols has the advantage of selecting the relevant element on "Go to symbol..." which is great if you have a programm

[2020-11-19 08:22] #371 closed

[2020-11-19 10:24] angelozerr commented on #371
Indeed I prefer waiting for having several request to try to find a commons solution instead of developing specific case. Users feedback are very important for us. Thanks for sharing your idea!

It's not very elegant but you can try that:

[code]

Glad you like it!

[2020-11-21 22:07] fbricon opened #373 "Single `<` has code action to close with `/>`"
In an empty xml document, type `<` on the 1st line, a quick fix to close it with `/>` shows up, leading to `</>` once applied.

<img width="172" alt="Screenshot 2020-11-21 at 23 04 33" src="https://user-images.githubusercontent.com/148698/99888557-19643180-2c4e-11eb-834e-1bc8a6c40c49.png">

[2020-11-24 15:56] xoviat opened #374 "extension does not correctly detect java home correctly without environment variable set"
This is more of an annoyance rather than a showstopper. However, having to update JAVA_HOME is annoying because my JAVA is updated automatically. Here's what I know:

- Upon installing the extension, I received a message that JAVA_HOME was not detected.
- Investigating further, vscode-xml appears to use node-find-java version 0.2 to find JAVA home, when JAVA home is not set. This behavior is corre

[2020-11-24 17:04] angelozerr commented on #374
It should be really nice! Thanks!

[2020-11-27 08:22] GitMensch opened #375 "xml catalog definition should be built-in"
This is related to #361 - when the xml catalog is defined as `<catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog">` the plugin says

[code]

This may be related to internet access on that machine. Still: can you try to have this working, possibly with an internally shipped version of the schema file for xml catalogs?

[2020-11-27 11:16] angelozerr commented on #375
@GitMensch I agree with you since we do that xml.xsd for instance, but it's an issue for LemMinx. Could you create an issue on LemMinx please. I could explain you how to do that if you would be interested to provide a PR.

[2020-11-27 11:27] GitMensch commented on #375
Sure, I'm a bit short on time currently but with a helping hand would do that.

[2020-11-27 11:41] angelozerr commented on #375
Great! Let's create the issue and I will give you some directives. Please not that you must sign a CLA to contribute to LemMinx which belongs to Eclipse organization.

[2020-11-30 03:47] Towdium opened #376 "Cache folding infomation for large files"
Hi! First of all, thanks for the extension. It helps me a lot to move all my work into vscode.

What's bugging me is some performance issue. I have some XML files larger than 5MB to edit. It takes more than 1 minute to index the file, which is very reasonable to me, before folding all entries. However, when I switch to another file, then switch back, it seem to index the file again, making all fol

[2020-11-30 05:20] angelozerr commented on #376
At first could you share your big XML file please?

It's the vscode behavior when you switch tab to another tab it recompute anything like folding, symbols, codelens, etc. I understand your problem but I would like to avoid managing some cache for each features. We already cached the DOM document which can take some memories for big files, so I would like to avoid caching another things.

I wonder

[2020-11-30 15:52] Towdium commented on #376
I'm sorry I cannot share the file because it belongs to the company with quite strict ristrictions for distribution. You can consider the structure to be something like database of short texts (1k+ characters each) with metadata, sometimes with 100k+ lines in total.

[code]

Something like this, not too different from other XML files, but with way more complex structure (also sometimes with mixed

[2020-12-02 17:48] BDSuther opened #377 "Closing tag indentation not preserved if tag's inner text is plaintext"
I run into this particular issue frequently when authoring MSBuild props/targets/proj files. A common pattern is defining a property group which contains several target names for use with a DependsOnTargets attribute value.

[code]

This will get formatted as

[code]

The closing tag loses **all** indentation and has zero whitespace before the closing tag;. When the inner text of the tag is anothe

[2020-12-03 09:22] angelozerr commented on #377
Indeed it's a bug, thank's for reporting this issue.

[2020-12-08 13:16] datho7561 commented on #314
The work is nearly done for packaging as a binary with GraalVM native-image: https://github.com/eclipse/lemminx/pull/860. Using this method, we can't use extensions like lemminx-maven through SPI.

From my understanding, using jlink and jpackage will require using Java 9 or newer. It might allow using extensions through SPI, depending on if all the libraries required for the extension are bundled.

[2020-12-08 13:20] mickaelistria commented on #314
That's a pity, and would actually quickly become a blocker for some serious use-cases IMO.

Moving to newer Java versions is not a bad thing, especially if tt's embedded and users don't even have to care about it ;)

[2020-12-08 13:26] angelozerr commented on #314
If your fear is that you will not be able to consume lemminx-maven, the binary mode is done by default only if we don't find a JRE. In the case when user have a JRE (ex : maven user), it will use the JRE and SPI will work.

@datho7561 please correct me if I'm wrong.

[2020-12-08 13:38] mickaelistria commented on #314
That's an interesting approach then. At least it would allow extensions to work in some cases!
However, I admit I'm unsure about the idea of going binary over using (embedded) Java here. I once was warned that binary applications would perform worse when dealing with a massive amount of data for a long time; which seems to be the nominal state of a LS. Do we have proper estimations about how thing

[2020-12-08 13:47] angelozerr commented on #314
No, we will see if this idea is great according user feedback.

[2020-12-08 16:08] #373 closed

[2020-12-08 16:18] #375 closed

[2020-12-08 16:27] GitMensch commented on #375
@angelozerr Thanks for the fix and that you did the extra work yourself (I found no time in the last days to get to something "new").
So obvious we'd now need the updated lemminx integrated here and a release of this extension (last one is listed June, so it maybe is reasonable in any case). There is no 0.13.0 milestone therefore I ask here: any pointers about that yet?

[2020-12-08 16:44] datho7561 commented on #375
@GitMensch we have released more recently than july (please see https://marketplace.visualstudio.com/items?itemName=redhat.vscode-xml). It looks like it wasn't tagged, though.

[2020-12-08 18:42] GitMensch commented on #375
I was confused by that, too. https://github.com/redhat-developer/vscode-xml/tags shows 0.14.
A tag is (for GitHub) only a tag, a defined named point in the history. To create a release one always needs to make it a release afterwards (possible with release rights, for example with the web-interface; could also be done by a bot/github action, which could also upload to vs marketplace / open-vsx-reg

[2020-12-09 08:39] angelozerr commented on #375
No problem @GitMensch! As we plan to do a new release soon (with a new exciting feature with binary support to avoid installing Java runtime and I hope really that it will stop our bad reviews about Java https://marketplace.visualstudio.com/items?itemName=redhat.vscode-xml&ssr=false#review-details (all issues with 1 star = Java requirement)), I would like to fix all easy issues.

I understand that

[2020-12-10 13:45] angelozerr opened #380 "Add documentation for debugging external lemminx extension"
Add doc in https://github.com/redhat-developer/vscode-xml/blob/master/docs/Extensions.md#custom-xml-extensions with https://github.com/OpenLiberty/liberty-language-server/pull/34#issuecomment-742524222

[2020-12-10 16:48] #374 closed

[2020-12-11 21:17] datho7561 commented on #314
Currently the zipped Linux native-image binary is 14 MB. Using [UPX](https://upx.github.io/) on the binary to reduce its size also results in a 14 MB binary. This is smaller that most of the minimal JREs listed here https://download.eclipse.org/justj/jres/11/downloads/latest/.

[2020-12-14 14:44] JensMertelmeyer opened #382 "Unknown xml attribute 'value' for tag 'xs:enumeration'"
Consider the following file:

[code]

Version v0.14.0 emits the following problems:

According to https://www.w3schools.com/xml/schema_facets.asp, the above schema is correct. I don't really understand what the "unknown xml attribute" is trying to tell me 😶

[2020-12-14 15:17] angelozerr commented on #382
It works for me.

In the outline, could you check you have the same referenced grammar info than me (Binding with embedded xml.xsd):

![image](https://user-images.githubusercontent.com/1932211/102098596-b5d1bc00-3e27-11eb-826f-822df758420b.png)

[2020-12-16 11:10] JensMertelmeyer commented on #382
Sorry, I don't quite understand.
For me, it is enough to paste the above code into the editor and set the language mode to XML and I get the following output:
![image](https://user-images.githubusercontent.com/1827784/102340979-7924d280-3f97-11eb-913c-c8bce9ef34af.png)

The outline view displays the following:
![image](https://user-images.githubusercontent.com/1827784/102341077-9eb1dc00-3f97-11eb-

[2020-12-16 12:36] angelozerr commented on #382
I wonder if this error comes from vscode-xml? Because you should have different error if attribute is not allowed:

![image](https://user-images.githubusercontent.com/1932211/102349446-a2e3f680-3fa3-11eb-9a6b-1fed279bf7f7.png)

Could you uninstall the vscode-xml and check if you have the error again please?

[2020-12-16 17:38] JensMertelmeyer commented on #382
It really came from [another extension](https://marketplace.visualstudio.com/items?itemName=rogalmic.vscode-xml-complete) which somehow snuck in. I'm sorry.

[2020-12-16 17:38] #382 closed

[2020-12-18 09:34] angelozerr commented on #382
@JensMertelmeyer thanks for your feedback. I'm just curious which features vscode-xml-completer provides you compare to vscode-xml?

[2020-12-18 17:09] datho7561 opened #383 "Support `~` in `xml.extension.jars`"
`~` isn't resolved when listing LemMinX extension JARs in `xml.extension.jars`. Support resolving `~` when including extension JARs.

[2020-12-22 00:30] weitzner opened #385 "Add preference to prefer self-closing tags when tab completing"
When tab-completing a new tag, say `Thing`, it is accompanied by a closing tag like so:

[code]

I work on a project that uses XML files with lots of parameters specified in self-closing tags like so:

[code]
it would be helpful if there was a setting to prefer self-closing tags over a separate closing tag or a separate key stroke to insert one or the other (e.g. shift+tab for self-closing).

[2020-12-22 18:27] JensMertelmeyer commented on #382
@angelozerr , There was not much thought involved. I was looking for something that would help me writing an XSD schema for some example xml snippets. I was not even aware I still had this other plug-in enabled as Visual Studio Code silently synced it from another machine 😣.

Thanks for asking and have a nice day.

[2020-12-23 14:02] antirius opened #387 "100% CPU load"
100% CPU utilization in large projects .. In which there is no XML!

[2020-12-23 14:02] antirius commented on #387
MacOS

[2020-12-23 14:36] angelozerr commented on #387
That's very strange because the XML Language server is started only when a XML file is opened. Could you share your project or provide a similar project which causes this problem. Thanks.

[2020-12-23 15:14] antirius commented on #387
Apparently the problem is that an xml file was opened in one of the windows. At the same time, several copies of VS Code were launched (4 copies, each containing 3-15 project directories).
Does he start scanning everything not only in the current project?
![img-2020-12-23-18-13-14](https://user-images.githubusercontent.com/11909819/103011288-b9adbe80-454a-11eb-8ddd-4b4934596e9e.png)

[2020-12-23 15:17] angelozerr commented on #387
Could you share your project please?

[2020-12-23 15:21] antirius commented on #387
Unfortunately not. The only thing I can say is that there are a lot of files. Plus these are nodejs projects, and there are even more dependencies in node_modules.

[2020-12-23 15:27] angelozerr commented on #387
It's very hard to help you without a project which causes your issue.

Could you add in your settings.json add `"xml.trace.server": "verbose"` and and share the XML support Output
![image](https://user-images.githubusercontent.com/1932211/103012318-b6f79d00-453b-11eb-87e9-13ae6d463ca6.png)

when your issue will come back.

[2020-12-23 15:34] angelozerr commented on #382
Thanks @JensMertelmeyer for your feedback. Don't hesitate to create issues if you need some features which are not supported compare to another XML extensions.

[2020-12-23 15:35] antirius commented on #387
To understand what is slowing down, I had to kill java (delete from disk), and then the XML extension error got out)
Next time I install it, I will definitely try the tracing and drop the log, thanks!)

[2020-12-23 15:51] angelozerr commented on #385
I think it's not a big deal.

I'm not sure if it's easy to do that.

Are you using XSD for writing your XML or DTD files?

[2020-12-23 18:06] weitzner commented on #385
Yes, I am using an XSD

[2020-12-24 10:17] #380 closed

[2020-12-29 09:05] Talv commented on #134
I experience the same issue, and I'm NOT behind a proxy.

[code]

the log says:
[code]

This doesn't appear to be true.

Performing `HEAD` requests on that URL via `curl` returns 200: (`GET` works as well).
[code]

The suggested workaround posted by @IssaBa works (changing `http` to `https`), but it doesn't explain the problem and is not a fix. I think this should be re-opened @angelozerr .

[2021-01-06 00:53] ajasja commented on #385
Just found out, that if you press the left arrow and a forward slash, the second part disappears.

![tag_auto_completition](https://user-images.githubusercontent.com/19926/103715712-2fb41b80-4f76-11eb-90a6-034ceaa74e5a.gif)

(I work on the same project as @weitzner and we mostly use attribute in self-closed tags:)

[2021-01-06 09:06] angelozerr commented on #385
Could you share your XSD please. I would like to study if we could provide smart behaviour to generate or not this end tag element according to the grammar information.

Indeed hope this feature will help you.

[2021-01-06 17:58] weitzner commented on #385
Sure thing. Here's the XSD as a [gist](https://gist.github.com/weitzner/2f5a9866d9ce9c0f555c04c7fd5a91bb).

[2021-01-06 19:51] angelozerr commented on #385
Thanks and could you give me a XML sample with completion that you would like to have please with this XSD.

[2021-01-08 11:41] denis1532 opened #389 "Java error for XML extension"
Hello guys.
I'm always getting [this error message](https://i.stack.imgur.com/BG35D.png) in VSCode from this XML extension.
The thing is that I've already installed **JRE8**, **JDK8** and **JDK11** from **Oracle**.
When I type `java -version` in CMD I get [this](https://i.stack.imgur.com/M5zHM.png)
How can this one be solved out?
P.S. VSCode version is the latest available. System: Windows 10 Pro,

[2021-01-08 11:53] denis1532 commented on #389
The problem was solved by adding `C:\Program Files\Java\jdk-11.0.9` for `JAVA_HOME` variable.

[2021-01-08 11:53] #389 closed

[2021-01-08 20:39] ajasja commented on #385
Thanks for looking into this. Here is a typical XML file:
https://gist.github.com/ajasja/b348e1ddd4a702523945254afff1726b

[2021-01-21 07:37] angelozerr commented on #385
Your demo with `ReadResfile` is bound to this XSD complex type which have `mixed="true"`

[code]

Is there a reason why you declare that?  If you remove mixed=true", it should generate self closing. See the following demo (which uses Find Type Definition to navigate from XML to XSD):

![SelfClosingDemo](https://user-images.githubusercontent.com/1932211/105318334-acc0d100-5bc3-11eb-92c5-c5404f25e3c

[2021-01-21 18:01] fbricon opened #392 "Migrate license to EPL 2.0"
EPL 1.0 is deprecated. [LemMinX is already EPL 2.0](https://github.com/eclipse/lemminx/blob/master/LICENSE)

[2021-01-25 19:46] bricksdont opened #394 "Error in XML document in docs"
In the docs about XSD validation, one of the XML documents shown is not actually valid with respect to the schema:

https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#xsischemalocation

The corresponding schema has a "targetNamespace" attribute, which means it expects all elements in the XML document to be in that namespace. The XML in the docs does not have a namespace:

[2021-01-25 20:01] bricksdont opened #395 "Bind XSD, DTD with CodeLens"
A very useful feature for an XML IDE would be a button or action to associate an XML document that is currently open in VS Code with a schema file.

After clicking a button, a file dialog would open which would allow to select an XSD file from the file system. Then, your XML extension would insert into the XML document the correct attributes or processing instructions needed to make this associati

[2021-01-26 08:42] angelozerr commented on #394
Thanks @bricksdont for your feedback.

Is there any chance to have a PR?

[2021-01-26 08:50] angelozerr commented on #395
Just for information, today we have a code action on the root element (if XML is not bound to a XSD/DTD) which

 * generate the XSD / DTD
 * generate the association (xsi:schemaLocation, xml-model, etc)

But I agree this code action doesn't provide the capability to bind the XML with an existing XSD, DTD.

I think the best mean should be to provide two vscode command

 * `validate with XSD`
 * `va

[2021-01-26 08:55] bricksdont commented on #395
Thanks for your quick answer!

I think that "validate with XSD|DTD" would lead people to believe that the XML document itself is unchanged. "Associate with XSD|DTD" on the other hand implies that the XML document itself is changed (i.e. special attributes added to the root element).

For your extension to perform the validation is it absolutely necessary for the XML document itself to contain the

[2021-01-26 09:15] angelozerr commented on #395
You are welcome! I had this idea in my mind since several time,but I waited for user issue to know if it was relevant. Thanks for having created this issue :)

Totally agree with you, yes command should be named with

 * `Associate with XSD`
 * `Associate with DTD`

No, there are several binding strategy like xml-model, xsi:schemaLocation, xsi:noNamespaceLocation which are standard associations an

[2021-01-26 09:20] bricksdont commented on #395
Thanks,

Sorry I was not very clear: I meant does your extension need the association to be physically present either in the XML document itself, a catalog or the settings?

I was asking because if that is true, then it would be understandable that such an action would be called "Validate" instead of "associate" - because validation implies changing or creating files or settings.

[2021-01-26 10:16] angelozerr commented on #395
Yes you need to store association somewhere. Otherwise how to know this association?

As I said you, I'm totally agree with you and vscode commands should be called `association with`

vscode command is the standard support to do that.

[2021-01-26 13:48] angelozerr commented on #385
@weitzner @ajasja could you please give me feedback. I have managed quickly the cursor set before` />` when there is attribute.

If you remove the mixed=true in your XSD, it will generate self closing element and with my current work you will have cusror set before `/>`

Do you think it will cover your usecase?

[2021-01-26 23:14] weitzner commented on #385
Wow, that's really cool! Thanks for tracking that down. I am trying to figure out why that value is being set that way.

[2021-01-27 14:30] angelozerr commented on #394
Fixed with https://github.com/redhat-developer/vscode-xml/pull/396

[2021-01-27 14:30] #394 closed

[2021-01-28 10:37] angelozerr commented on #385
Ok nice. And let me to know if the set cursor before /> (when there is an optional attribute) can be helpful for you, because we will create a release soon and I would like to know if you could be interested with this feature.

[2021-01-28 18:26] datho7561 opened #397 "Improve README documentation surrounding native binary"
Remove "running with Java" from the extension description, and explain that a binary version or the Java version can be used.

Explain that the extension downloads the appropriate binary version of LemMinX if the user doesn't have Java.

[2021-01-28 18:46] weitzner commented on #385
That would be a helpful change, for sure. Thanks!

[2021-01-29 16:58] #397 closed

[2021-02-01 15:22] datho7561 opened #399 "Changelog for 0.15.0"

[2021-02-01 20:43] datho7561 opened #401 "Link from Preferences.md to Extensions.md does not work from within VS Code"
When clicked from within VS Code, this link does nothing:

![ExtensionPageLinkBroken](https://user-images.githubusercontent.com/22376627/106515756-20a48880-64a4-11eb-9e7b-679989c86aa8.png)

[2021-02-02 04:14] #401 closed

[2021-02-02 17:07] #399 closed

[2021-02-02 20:52] datho7561 opened #405 "Use tagged commit when building release binary"
`NativeImage.jenkins` is building HEAD of eclipse/lemminx, even during releases. For releases it should instead use the tag that correlates to the given release.

[2021-02-02 21:59] #405 closed

[2021-02-03 10:12] fbricon opened #408 "Error logged when opening maven-4.0.0.xsd on Windows"
On Windows 10, with vscode-xml 0.15.0-108, using the xml binary, after opening a pom.xml then opening the maven-4.0.0.xsd link from the doc on hover, I got this error logged several times in the xml output:

[code]

[2021-02-03 10:14] fbricon commented on #408
See https://stackoverflow.com/a/14415997

[2021-02-03 11:08] fbricon opened #409 "No error is reported to the user when the binary fails to start"
I installed [0.15.0-108](https://download.jboss.org/jbosstools/vscode-xml/staging/vscode-xml-0.15.0-108.vsix) on my Mac, set preferBinary=true, and after downloading the binary, the server fails to start but no error message pops up to the user.

You need to open the XML output view to see:
[code]

[2021-02-03 15:23] datho7561 commented on #408
I can't reproduce this with 0.15.0-108 running the binary and using the child pom.xml for LemMinX copied to a separate directory. What is the commit hash of the server?

[2021-02-04 18:50] datho7561 commented on #314
As of 0.15.0 we now provide a mechanism to download and run a binary version of LemMinX.

[2021-02-04 18:50] #314 closed

[2021-02-08 16:23] fbricon opened #415 "Collect Telemetry data"
We want to collect some informations about vscode-xml usage. Let's start with some easy ones :

- lemminx version
- server mode (JVM vs Binary)
- preferBinary (true/false)
- VM name (Oracle/OpenJDK/GraalVM...) + version

Follow the instructions from https://github.com/redhat-developer/vscode-commons/blob/master/INSTRUCTIONS.md

[2021-02-08 23:06] Yanpas opened #416 "Respect http.proxy and http.proxyAuthorization settings"
Proxy support doesn't work out of the box

[2021-02-11 18:57] jag-sfdc opened #418 "Calling extension.ts -> activate() method fails in 0.15.0"
There is a regression in 0.15.0 likely due to these changes - https://github.com/redhat-developer/vscode-xml/commit/5495a0e2e725a61d58c49af14b94e5d0a1312e6e.

The following code used to work in 0.14.0, but now extensionApi is 'undefined'.

[code]

[2021-02-12 15:41] okh-ibm opened #419 "XLM extension does not recognize tags on Feb Visual Studio Code"
Issue Type: <b>Bug</b>

Open xml file, all tags are highlighted as errors.  This started with version 1.53.2

Extension version: 0.15.0
VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz (12 x 2592)|
|G

[2021-02-12 15:53] fbricon commented on #419
Can you add some sample files, enable xml.trace.server=verbose, attach logs from the XML Support output view?

[2021-02-12 16:30] okh-ibm commented on #419
![Screenshot 2021-02-12 102827](https://user-images.githubusercontent.com/78971381/107794582-3c6a2300-6d1d-11eb-9c30-eed0bfca8423.png)

[2021-02-12 16:31] okh-ibm commented on #419
I tried to attach the file, but it said that file type is not supported.
Have no idea how to set and collect logs you requested.

[2021-02-12 16:32] okh-ibm commented on #419
![Screenshot 2021-02-12 102827](https://user-images.githubusercontent.com/78971381/107794861-94088e80-6d1d-11eb-97b8-92f9c9c5454c.png)

[2021-02-12 16:41] datho7561 opened #420 "Advertise that Java is no longer required in order to run"

[2021-02-12 16:48] fbricon commented on #419
- turn on `xml.trace.server` in the VSCode preferences
- restart vscode
- open file
- View -> Output -> XML Support (drop down menu top right)
- copy log and attach it here

[2021-02-12 17:06] angelozerr commented on #419
Please copy paste in he issue:

 * the XML content
 * the DTD content

[2021-02-12 17:08] angelozerr commented on #419
@fbricon just for your info,  we have a doc for that https://github.com/redhat-developer/vscode-xml/blob/master/docs/Troubleshooting.md#no-support-on-xml-file

[2021-02-12 18:32] okh-ibm commented on #419
Do not see xml.trace.server

![Screenshot 2021-02-12 123031](https://user-images.githubusercontent.com/78971381/107807768-3d578080-6d2e-11eb-92db-e511c70349ff.png)

[2021-02-12 18:33] okh-ibm commented on #419
<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE GPRODEF SYSTEM "gprodef.dtd">

<DEFINITION version="1.2.7">
  <prolog>
    <text name="Author" type="USERID" printToTest="TRUE" value="okh"/>
    <text name="Creation Date" type="DATE" value="2017/04/21"/>
    <text name="Creation Unix Time" type="DATE" value="1492786738"/>
    <text name="Reviewer" value="xxx"/>
  </prolog>

  <inc

[2021-02-12 18:35] okh-ibm commented on #419
<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE GPRODEF SYSTEM "gprodef.dtd">

<DEFINITION version="1.2.7">
  <prolog>
    <text name="Author" type="USERID" printToTest="TRUE" value="okh"/>
    <text name="Creation Date" type="DATE" value="2017/04/21"/>
    <text name="Creation Unix Time" type="DATE" value="1492786738"/>
    <text name="Reviewer" value="xxx"/>
  </prolog>

  <inc

[2021-02-12 18:38] fbricon commented on #419
Is vscode-xml actually installed/activated? If it was you should see XML settings

[2021-02-12 19:22] angelozerr commented on #419
Thanks @okh-ibm for your XML sample. I have the same errors than you, but those errors exists with old version of vscode-xml (I tested with 0.12.0 8 month agoand we have the same errors).

Your problem is because your DTD association is wrong:

![image](https://user-images.githubusercontent.com/1932211/107812077-6ea47080-6d6f-11eb-944d-e679508f6af2.png)

and when prolog element must be validated,

[2021-02-12 19:25] angelozerr commented on #418
Is there any chance to have a PR to fix this bug?

[2021-02-12 20:59] okh-ibm commented on #419
Thanks.  I understand the comment about the dtd. I'll look them up in the documentation.

[2021-02-12 22:49] git-n-pissed commented on #222
Would also like to see XSD 1.1 support in VS Code for the <xs:alternative> element.

[2021-02-13 10:05] angelozerr commented on #419
As your errors are normal (because your DTD file path is not valid) and as this behavior exists with old version of vscode-xml,
I close this issue.

I wonder if vscode-xml worked for you before the install of 0.15.0 because before 0.15.0 it required Java and perhaps you had not Java and vscode-xml didn't work (it's the reason why you had none errors).

But since 0.15.0, Java is not required that's

[2021-02-13 10:05] #419 closed

[2021-02-13 16:53] wolfgangmm opened #423 "Does a catalog.xml overwrite a document-local schema association?"
It appears to me that once I configure a `catalog.xml`, this will overrule a binding via `<?xml-model?>` in the document. Is this true? If yes, it would be preferable if the local schema association would take precedence. We quite often work with documents in the same namespace for which having a general entry in a `catalog.xml` is convenient. Nevertheless specific documents - while using the same

[2021-02-15 23:03] JVimes opened #424 "Rename not completing with binary"
I installed v0.15.1-117 and tried to rename an element. The operation never completed, progress bar goes forever:

https://user-images.githubusercontent.com/6148201/107999955-0be8ea00-6fa6-11eb-9ec1-3bd9c58d8679.mp4

Windows 10, version 20H2 (OS Build 19042.804).
VSCode v1.53.2

[2021-02-16 05:30] angelozerr commented on #424
Are you using binary support?

[2021-02-16 17:48] angelozerr commented on #423
Thanks for reporting this issue. I need to investigate some times to understand this behaviour. I wonder if there is the problem with xsi:schemaLocation (instead of xml-model).

[2021-02-16 19:01] JVimes commented on #424
I don't think so. I don't know what that is and I haven't changed any extension settings.

[2021-02-17 12:40] #420 closed

[2021-02-17 13:23] angelozerr commented on #424
I cannot reproduce the issue. Could you please activate the XML trace log (see https://github.com/redhat-developer/vscode-xml/blob/master/docs/Troubleshooting.md#no-support-on-xml-file) and share the full trace in this issue please when problem occurs. Thanks.

[2021-02-17 15:08] angelozerr opened #425 "Add a section to explain how to create a binary server in local"
Add a section for building binary in https://github.com/redhat-developer/vscode-xml/blob/master/CONTRIBUTING.md

[2021-02-17 17:50] JVimes commented on #424
Oh I see. Yes, I must be using binary support (Java is not installed). Thank you for investigating.

[2021-02-17 18:03] angelozerr commented on #424
You are welcome, I created a PR for that https://github.com/eclipse/lemminx/pull/990

[2021-02-17 23:41] #424 closed

[2021-02-17 23:43] angelozerr commented on #425
See for instance explanation at https://github.com/eclipse/lemminx/pull/990#issuecomment-780841356

[2021-02-22 17:14] datho7561 opened #428 "NodeJS 12 might not actually be used to build the extension"
Given these lines in the Jenkinsfile:

[code]

If an existing NodeJS is installed on the build agent, then it will be used instead of NodeJS 12, since it will be in the PATH before NodeJS 12.

[2021-02-22 19:16] Gama11 opened #429 "XSD download fails with "Server returned HTTP response code: 403""
[code]

Causes the following error output in the XML output channel:

[code]

The 403 error response is very curious, as I have no issues viewing https://lime.software/xsd/project-1.0.0.xsd in my browser.
 `curl https://lime.software/xsd/project-1.0.0.xsd` also has no complaints.

____

VSCode 1.53.2, Windows 10 20H2, vscode-xml 0.15.0

[2021-02-22 20:35] datho7561 commented on #429
Hello! I can't seem to reproduce the issue. I have a few questions that might help to pin down the issue. Does this happen every time you open the document, or just once? Are you behind a proxy for internet access? Are you running the binary or the Java version of the server?

[2021-02-22 21:29] Gama11 commented on #429
If I close and reopen the document, it doesn't seem to attempt the download again, it only logs "Ignored unavailable schema...". Reloading VSCode triggers the entire output channel sequence from above.

No.

Whatever the default is I guess? I just installed it from the VSCode marketplace and haven't configured anything in `settings.json`.

[2021-02-23 18:39] datho7561 commented on #429
Okay. Thanks for the information. I can't seem to reproduce the issue. Are you using the default settings for vscode-xml? Would you be able to search for "LemMinX Server info:" in the XML Support output, then copy and paste the list of infos?

[2021-02-23 19:03] Gama11 commented on #429
Yes, as I said.

[code]

[2021-02-23 19:19] datho7561 commented on #429
Okay. Thank you!

[2021-02-23 19:32] datho7561 commented on #429
I'm able to reproduce now.

[2021-02-23 19:51] datho7561 commented on #429
Under Java 11, I didn't get the bug, but under Java 8 in Windows and Linux I get the same thing.

[2021-02-23 20:08] Gama11 commented on #429
That's interesting. I'm not even sure how it ends up using that JDK 8, the one in my PATH is a JDK 14. If I set `"xml.java.home"` to that it indeed works.

[2021-02-24 07:58] angelozerr commented on #429
Problem comes from with URLConnection use https://github.com/eclipse/lemminx/blob/a54317a7490f35a3fd34a2acd70f94fc5ce289e8/org.eclipse.lemminx/src/main/java/org/eclipse/lemminx/uriresolver/CacheResourcesManager.java#L169

The problem can be reproduced easily with a simple main:

[code]

If you execute this code in Java 11 it's working although in Java 1.8 it throws a 403 error.

It's seems that it

[2021-02-24 08:09] fbricon commented on #429
No don't catch the 403. always set the user agent to LemMinX. That'll take care of downloading files hosted on cloudflare managed servers

[2021-02-24 14:21] rgrunber commented on #429
`curl -A "Java/1.8" -I  https://lime.software/xsd/project-1.0.0.xsd`
.. 403

:|

[2021-02-24 22:10] #429 closed

[2021-02-25 15:40] #418 closed

[2021-03-09 15:29] datho7561 opened #433 "Add progress bar to binary server download"

[2021-03-09 17:07] rgrunber commented on #425
Could we also add the  following to this change :

- add `<name>XML Language Server (LemMinX)</name>` to the org.eclipse.lemminx submodule.

[2021-03-09 17:29] ecool opened #435 "Format XML split attributes with closing tag on new line"
When working in vscode, I like to use the Alt+Up and Alt+Down keybinding for moving stuff around, and allowing for the ending of the tag to be on a new line if the attributes are aligned would be very helpful.

current:
[code]
proposed:
[code]

proposed setting:
`xml.format.splitAttributesCloseNewLine = true` - only use if `xml.format.splitAttributes = true`.

[2021-03-09 19:02] #425 closed

[2021-03-11 16:07] datho7561 opened #436 "Extension doesn't stop after VS Code is closed"
Running the extension through the debug in VS Code, you can see that there is still some process running after the Extension development window closes:

![Screenshot from 2021-03-11 11-06-44](https://user-images.githubusercontent.com/22376627/110817015-e627cb80-8259-11eb-8ffc-655dbd44c2ce.png)

We probably just need to `await` for the LSP client to close before stopping the extension: https://gith

[2021-03-12 15:13] #415 closed

[2021-03-12 16:19] datho7561 opened #438 "Set up linting for vscode-xml"
It might be worthwhile to set up a linter, such as [ESLint](https://eslint.org/) for vscode-xml.

[2021-03-12 18:11] #433 closed

[2021-03-15 08:46] angelozerr commented on #435
@fbricon what do you think about this format settings?

@datho7561 do you think it can be easy to implement it?

[2021-03-15 13:50] datho7561 commented on #435
Its not trivial to implement, since you need to take into account `>` and `/>`, but it looks fairly straightforward.

[2021-03-15 13:54] datho7561 commented on #435
Also, we would need to decide how formatting with just one attribute is handled

[2021-03-15 14:12] #436 closed

[2021-03-16 01:40] ecool commented on #435
@datho7561 it looks like the current setting for `splitAttributes` keeps a single attribute on the line with the tag.
[code]

So, current behavior seems to be only split when more than 1 attribute. Not sure if there should be another setting for a single attribute decision but it does counteract the main reason I was looking into having the ending of the tag be on a new line. (The easy movement/du

[2021-03-18 18:00] #409 closed

[2021-03-19 18:23] datho7561 opened #440 "Auto self-closing feature deletes content"
Type `/` where the pipe is:

[code]

Everything else is deleted:

![SelfCloseDeletesContent](https://user-images.githubusercontent.com/22376627/111826041-98950980-88be-11eb-915f-6744458b05ae.gif)

Expected result:

[code]

[2021-03-23 18:12] sergey-s-betke commented on #440
But I like this behavior...

[2021-03-23 18:14] fbricon commented on #440
@datho7561 so make it a preference

[2021-03-24 12:20] belaw commented on #225
If you use multi-cursor a lot, this is a deal breaker

[2021-03-29 17:25] datho7561 commented on #392
Closed by #443

[2021-03-29 17:25] #392 closed

[2021-03-29 21:14] datho7561 commented on #416
As far as I can tell, the client side code (which downloads the [XML language server](https://github.com/eclipse/lemminx)) works through the proxy if you set up `http.proxy` and set the [`http.proxySupport`](https://code.visualstudio.com/updates/v1_31#_network-proxy-support-for-extensions) setting to `override` or `on`. I'll take a look at the language server side next, which is probably where the

[2021-03-30 03:41] brainwasher opened #446 "support for *.xslt files"
I am new to VS-Code and installed the extension because I do a lot of XSLT work. The feature I am most looking for is the auto-close. It works out of the box for *.xml but it does nto work for *xslt. In principle, an XSLT file is just another XML file. I did not find any item in the configuration to add file extensions (or languages?) to enable the extension for XSLT as well.

[2021-03-30 06:07] angelozerr commented on #446
The problem that I see with xsl is when you type `<` it generates `<>` and it break the workflow to auto close a tag.

For instance

 * in XML if you type `<` and after `a` and  after `>` it generates `<a></a>`
 * in XSL if you type `<` it generates `<>` which breaks the previous workflow.

@brainwasher is this issue that you are explaining?

@datho7561 could you see the problem if you have time (

[2021-03-30 06:20] angelozerr commented on #416
Could you explain more please what is your problem with proxy. I suspect that it's a download of DTD, XSD declared in a XML, is that?

[2021-03-30 10:18] Yanpas commented on #416
Yes, schema downloading is the issue

[2021-03-30 12:05] angelozerr commented on #416
Have you tried https://github.com/redhat-developer/vscode-xml/blob/354fc8c06757612e292a5a278b67353207324bd9/docs/Preferences.md#server-vm-arguments ?

[2021-03-30 12:07] angelozerr commented on #416
Do you use binary modehttps://github.com/redhat-developer/vscode-xml/blob/354fc8c06757612e292a5a278b67353207324bd9/docs/Preferences.md#server-binary-mode or java mode (have you Java which is installed?)

[2021-03-30 14:04] datho7561 commented on #446
@brainwasher thanks for submitting this bug!

If you add the following snippet to your `settings.json` (Ctrl+Chift+P > Open Settings (JSON)), it should work. This disables the built-in auto-close for .xslt and replaces it with vscode-xml's auto-close tag support.

[code]

I'll work on a PR that sets this setting by default.

[2021-03-30 16:07] fbricon commented on #416
I guess we could automatically port the http proxy settings from vscode to their java equivalent, and inject them if the've not been set in vmargs already.
Do we also expose vmargs for the binary?

[2021-03-30 17:10] datho7561 commented on #416
Yes, we expose vmargs. I'll work on injecting the properties if they aren't already present in the user-created vmargs.

[2021-03-30 18:52] #446 closed

[2021-04-04 19:30] SilvioMarcovic opened #448 "Support Indentation Of Content Lines"
Formatting the following XML
[code]
will leave the XML as is.

Is there a way to achieve the following formatting:
[code]

I would hope for two things to change:
1. Indent the closing tag ```</a>``` on the same depth as the opening tag ```<a>```.
2. Indent the content (2 Test lines) one depth deeper than the opening tags.

I could not find any setting that will indent the content lines and closing

[2021-04-06 15:55] datho7561 commented on #416
This approach (injecting `http.proxyHost` and `http.proxyAuthorization` into the JVM arguments) doesn't work with binary. I'll have to look into passing these values to the language server some other way (maybe environment variables). For now, I'll open a draft PR with my work.

[2021-04-08 11:01] tomschr opened #450 "Support RELAX NG validation"
# Situation

The README lists some validation with XSD and DTD. However, currently RNG (RELAX NG) isn't supported (doesn't show up in the list).

This makes it especially hard to write DocBook 5 documents, for example. DocBook 5 is based on RNG, there is no officially blessed DTD nor XSD available.

# Proposed solution

It would be cool if RNG could be supported too like the other schema languages

[2021-04-08 11:30] fbricon commented on #450
Depends on https://github.com/eclipse/lemminx/pull/841

[2021-04-08 17:32] angelozerr commented on #450
@tomschr thanks for creating this issue. As @fbricon  mentionned, I started to implement XML validation based on RELAXNG in eclipse/lemminx#841 PR, but it requires to add new JAR (Jing), so LemMinx JAR will grow up. This PR is just for XML validation based on RELAXNG.

Providing  a good support for RELAXNG (like we have for XSD / DTD) means:

 * XML completion based on RNG
 * XML validation based

[2021-04-08 18:29] pgundlach commented on #450
Schematron support would be great as well.

[2021-04-08 18:53] angelozerr commented on #450
Thanks for your feedback, could you create an another issue for that please because it's not the same topic than RELAXNG (just support another grammar kind).  Thanks!

[2021-04-09 06:50] tomschr commented on #450
@angelozerr Hi Angelo,

Thank you for all your hard work. This is really appreciated! :+1: Yes, I've looked into this. It would be really great to see support for RELAX NG (RNG) as we need it for DocBook 5.

Yes, I've installed it and tried it with one of my XML files. I've created this little example:

<details>
 <summary>XML example file</summary>
<p>

[code]

</p>
</details>

Although it report

[2021-04-09 07:25] tomschr opened #451 "Support Schematron validation"
# Situation

The README lists some validation with XSD and DTD. However, currently Schematron validation in combination of RELAX NG (RNG) is not supported.

# Proposed solution

Schematron rules should be recognized and supported in other schema languages like RNG or XSD.

# Relationships

* Related to issue #450
* _Originally posted by @pgundlach in https://github.com/redhat-developer/vscode-xml/

[2021-04-09 07:26] tomschr commented on #450
I've opened issue #451.

[2021-04-12 20:35] #416 closed

[2021-04-14 06:36] NewtMa opened #452 "cannot format xml on CentOS 7"
I was formatting xml on CentOS 7 virtual machine using ssh remote development extension.

It gave this error message:

[code]

XML extension version is 0.16.0;

vscode info is listed below (this is generated on Ubuntu 20 04):
[code]

The command is working fine on my Ubuntu 20 04, but not on CentOS 7.

The XML sample I was formatting has Chinese and English characters both in texts and tags.

Any

[2021-04-14 07:23] fbricon commented on #452
`xmlTools.formatAsXml` is provided by the competing [XML Tools](https://github.com/DotJoshJohnson/vscode-xml/blob/master/package.json#L57) extension. You should disable it if you want to keep using our vscode-xml extension.

[2021-04-14 07:24] #452 closed

[2021-04-14 07:25] NewtMa commented on #452
Oh, my bad, will close this

On 04/14/2021 15:24, Fred Bricon wrote:

Closed #452.

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-14 08:56] tomschr commented on #395
May I add the related issues #450 and #451? They shouldn't be forgotten when implementing this features. :wink: Thanks! :+1:

[2021-04-14 10:10] angelozerr commented on #395
Yes sure.

I think the best mean to support this issue is to use CodeLens when XML is not bound to a grammar like this

[code]

[2021-04-14 13:16] angelozerr commented on #385
According @datho7561 feedback, this set cursor before /> breaks the workflow when you write XML. I'm not sure that we will provide this feature.

[2021-04-15 13:29] datho7561 commented on #448
This type for formatting isn't available yet, unfortunately. We would like to support this, however it will take a while to implement. We have decided to focus on other features for right now.

[2021-04-20 13:23] chrisjaquet commented on #299
Any updates on this issue? I know it seems trivial but other members in my team are running into the issue now as well.

[2021-04-20 13:47] datho7561 commented on #299
The quick way to force trim trailing whitespace on save is to add this to your `settings.json`:

[code]

This should override the behaviour from vscode-xml. I don't think we should have this behaviour anyways, so I'll make a quick PR to remove it.

[2021-04-20 15:17] datho7561 opened #457 "Build a static binary for Linux"
This should allow for running on systems without glibc, such as Alpine

[2021-04-20 18:28] #457 closed

[2021-04-27 10:25] sumitsingh-b2b opened #466 "Cannot activate the 'XML' extension because it depends on an unknown 'redhat.vscode-commons' extension."
ERROR - Cannot activate the 'XML' extension because it depends on an unknown 'redhat.vscode-commons' extension.

I have tried installing XML extension using .vsix file (as on my machine, I don't have Internet connectivity ). Kindly assist how can I resolve this.

[2021-04-27 10:47] fbricon commented on #466
You need to install [Red Hat Commons](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-commons)

[2021-04-27 13:10] sumitsingh-b2b commented on #466
Thanks for the quick response. After installing it, I am able to use XML extension.

[2021-04-27 13:10] #466 closed

[2021-04-30 19:38] #440 closed

[2021-05-05 08:24] fbricon opened #467 ""xml.validation.noGrammar" no longer works"
`xml.validation.noGrammar` no longer works, no matter what value is set, validation considers it's set to `hint`

https://user-images.githubusercontent.com/148698/117114324-fbb5ff00-ad8b-11eb-93e2-2191280b46e7.mp4

[2021-05-05 13:37] datho7561 commented on #451
I am interested in implementing this. If we are not able to support XSD 1.1, this would be a viable way to support some form of [assert](https://www.w3.org/TR/xmlschema11-1/#cAssertions) for XML documents.

It might make sense to include it as an extension to vscode-xml instead of as a part of the base functionality. Not every user will need the Schematron support, and moving the Schematron parts

[2021-05-06 05:17] angelozerr commented on #451
@datho7561 IMHO I think we should start implementing RelaxNG support in https://github.com/redhat-developer/vscode-xml/issues/450 before Schematron. In other words, finish and merge the PR https://github.com/eclipse/lemminx/pull/841 which provides basic support for RelaxNG (just validation without error range).

This PR uses jing and it seems jing provides support for Schematron too.

[2021-05-06 07:19] thet commented on #435
Format suggestion: Indent the closing part the same level the attributes are indented:
[code]

[2021-05-06 20:59] #467 closed

[2021-05-12 13:37] overtomanu opened #473 "Feature request: Support xpath evaluation on xml documents"
On xml file, give option "XML: Evaluate xpath" in command palette to evaluate xpath expression on currently open xml document.

I tried following extensions but they are not working for me.

1. XML tools (not actively maintained)
   https://marketplace.visualstudio.com/items?itemName=DotJoshJohnson.xml
2. Xpath tester ( does not seem to work with xml files containing namespace )
 https://marketpla

[2021-05-12 14:02] angelozerr commented on #473
@overtomanu thanks for reporting this issue. It's indeed a nice feature which can be doable but  which will require extra work since XPath features is not LSP compliant (it requires to develop a custom view for XPath, custom menu, etc).

For any people who are interested with this XPath support please vote. We will see if there are a lot of users interested with XPath support.

[2021-05-12 17:49] angelozerr opened #475 "Promote features of vscode-xml in docs"
It should be nice to add a new page features in docs to highlight all features with litle demo of vscode-xml like

* ~auto close~
* linked editing range un thé future
* ~hyperlink on end tag to jump to start tag~
* ~rename tag~
* codelens références inside xsd and dtd
* complétion based on xsd
* generate xsd from xml

I miss a lot of features and we should group features by topic like advanced edi

[2021-05-14 15:06] rgrunber commented on #475
I think this is a good start and we should do this.

Only thing I can say against such an approach is that I get the impression users very rarely read the welcome/new feature/help pages of extensions. I think more active approaches would probably be more successful. For example :

- If the issue is informing the user of useful settings that are not the default, keeping track of every property whos

[2021-05-18 02:15] zkldi opened #476 "Billion Laughs causes extension to consume all cpu and die"
I guess this is expected behaviour but I was running tests that involve throwing billion laughs at an xml parser and this extension - upon seeing billion laughs - halted vscode and consumed as much cpu as possible.

Is there a way around this without disabling the extension/getting the extension to ignore the file? My vscode just slowly crashes if I even see the file.

[2021-05-18 06:12] angelozerr commented on #476
Is it possible to share your XML, DTD, XSD, files which causes problem and share your tests you are executing in order to we can reproduce your problem. Thanks.

[2021-05-18 06:20] zkldi commented on #476
No worries -

[code]

This is the billion laughs attack as per wikipedia - should crash your pc if its noticed by vscode with this extension enabled.

[2021-05-18 06:47] fbricon commented on #476
@angelozerr @evidolob YAML is similarly affected, see https://github.com/kubernetes/kubernetes/issues/83253 and one mitigation strategy (limiting recursive entities): https://github.com/go-yaml/yaml/commit/bb4e33bf68bf89cad44d386192cbed201f35b241

[2021-05-18 07:15] angelozerr commented on #476
Thanks for your sample!

It seems that you have enabled the resolve of XML entities https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#resolve-external-entities If you disable it, you should ignore the problem, no?

resolve of XML entities is managed by Xerces,I don't know ifit's possible to set a limit for recursive entities.

[2021-05-18 15:12] zkldi commented on #476
Hi, Thanks for the quick response! Changing that setting does fix the problem, but does mean you can't take advantage of doctype declarations.

I looked at the commit that fixes this, looks like a good way to mitigate this problem. Thanks again for fixing this so quickly!

[2021-05-18 16:44] angelozerr commented on #476
@zkldi my PR https://github.com/eclipse/lemminx/pull/1038 should fix your issue and you will benefit with doctype declaration again.

You should see now an error:

![image](https://user-images.githubusercontent.com/1932211/118691102-04391b80-b809-11eb-93f6-82bd8bdf0339.png)

[2021-05-18 17:29] #476 closed

[2021-05-20 14:13] datho7561 opened #478 "Update to vscode language client 7"
This will allow us to consume LSP 3.16 features from the server

[2021-05-21 10:44] stebla27 opened #481 "Outdated schema file used."
If there is a new schema file available, vscode-xml still uses the old cached version.

[2021-05-21 10:53] fbricon commented on #481
See https://github.com/redhat-developer/vscode-xml/blob/master/docs/Commands.md#revalidate-current-xml-file

[2021-05-25 17:54] AlexXuChen commented on #435
I'm interested in taking this issue.

[2021-05-25 20:02] #478 closed

[2021-05-25 20:04] angelozerr commented on #435
Before working on this issue, perhaps we should rewrite the XML formatter (see PR https://github.com/eclipse/lemminx/pull/1044)

@datho7561 what do you think about that?

[2021-05-25 20:10] datho7561 commented on #435
I think the formatter rewrite will take a while. In the mean time, it would be neat to support this feature. It shouldn't require many changes to the existing formatter to implement this feature.

[2021-05-26 09:02] angelozerr commented on #481
@stebla27 can we close this issue?

[2021-05-26 09:28] angelozerr commented on #408
Duplicate of https://github.com/eclipse/lemminx/issues/734

[2021-05-26 09:28] #408 closed

[2021-05-26 20:58] datho7561 opened #484 "Document that `textDocument/selectionRange` is supported"
See eclipse/lemminx#1040

[2021-05-28 12:32] fefrei opened #489 "OutOfMemoryError after editing a file with custom XML schema for a while"
For me, this extension regularly runs into OOM errors.

I'm editing a moderately-sized XML file (1​​ 500 lines, 130 KB) that uses a custom XML schema (of about 300 lines). This works well, and I receive proper IntelliSense suggestions and schema violation errors, until, after some amount of editing, the extension seems to run inte an OutOfMemory error:

[code]

From that point on, suggestions and

[2021-05-28 14:01] angelozerr commented on #489
I suspect the problem comes from outline.  I suggest several solutions:

 * you customize the Java VM (if you are using Java and not binary) with `xml.server.vmargs` settings. See https://github.com/redhat-developer/vscode-xml/tree/f63fb7c5b507f978a7cc7eebe006e7dae1720047#supported-vs-code-settings
 * you disable the outline. See https://github.com/redhat-developer/vscode-xml/blob/master/docs/Symb

[2021-05-28 14:16] fefrei commented on #489
Thanks! I've disabled the outline (using the extension's setting) – I'll report back once the issue re-occurs, or in about a week if it doesn't.

Is there any specific change you suggest? As mentioned, I already set `-Xmx1g` based on the description of the setting within VS code, whereas the online documentation suggests `-Xmx1G -XX:+UseG1GC -XX:+UseStringDeduplication`.

[2021-05-31 11:40] fefrei commented on #489
Unfortunately, it looks like this wasn't the (only) cause. Despite the outline being disabled (which seems to have worked – the outline view now shows “no symbols found”), I got another memory exhaustion.

[2021-05-31 12:33] angelozerr commented on #489
Thanks for your feedback! It's difficultto reproduce it since we should update the XML file while several minutes.

@rgrunber can you clarify that please?

I'm confused, did you start the XML Server with Jav aor with binary?

An interesting test is to try to update XML without XSD link. Do you think you could try it?

[2021-05-31 12:42] fefrei commented on #489
I understand – if I ever find a way to reproduce this reliably, I'll let you know.

I didn't configure anything for this, it just worked. I had installed Java anyways, and based on my reading of the settings, since I did not enable `xml.server.preferBinary`, it defaulted to the Java version. (VS Code spawns `"C:\Program Files\OpenJDK\jdk-16.0.1\bin\java" -DwatchParentProcess=false -Xmx64M -cp c:\U

[2021-05-31 12:44] angelozerr commented on #489
Thanks!

[2021-05-31 14:02] rgrunber commented on #489
I see there's some suggestions being tried that might fix things, but I wanted to comment on the memory situation since this is very similar to what I've seen in another plugin ( https://github.com/redhat-developer/vscode-java/pull/1262 ). The default JVM options were meant to optimize for an application that is always doing some processing. While language servers do some intense processing initia

[2021-05-31 14:08] fefrei commented on #489
Thanks for the input! I'll add that to my list of things to try (which takes time due to the issue only occurring irregularly) – but it seems like this would make sense if the problem was that memory consumption slowly grew without every being garbage collected properly. I don't think that's the case her: I've never seen the `java.exe` process ever take more than 250 MB, _far_ below the limit of 1

[2021-05-31 18:20] #484 closed

[2021-06-01 09:38] angelozerr commented on #481
@stebla27 I close the issue, if you have some trouble please reopen the issue.

[2021-06-01 09:38] #481 closed

[2021-06-01 13:18] angelozerr commented on #225
Sorry I just discovered this issue now :) I'm fixing.

[2021-06-02 14:48] datho7561 opened #491 "Link to binary build of LemMinX in README"
We should provide a link to download the latest stable release of the binary build of the LemMinX server in the README.

This will make it easier to for other lsp clients to use it in their XML support. For instance, see https://github.com/neovim/nvim-lspconfig/pull/934#discussion_r643495332.

Since this is an unofficial rebuild of LemMinX, not built by Eclipse or on Eclipse infrastructure, it mak

[2021-06-02 15:09] fbricon opened #492 "Better handle failed binary downloads due to "407 Proxy Authentication Required""
Telemetry shows a number of users are failing to download the binary because of "Server binary download failed: status code 407".  407 error means Proxy Authentication Required. When such errors are encountered, we could display a popup with (links to) instructions to configure proxy settings for vscode-xml.

[2021-06-02 15:12] fbricon commented on #492
See https://github.com/redhat-developer/vscode-xml/blob/caf1b33a66e769f805b37e427a008b0de26ec61c/docs/Preferences.md#server-vm-arguments

[2021-06-02 17:07] #491 closed

[2021-06-04 13:50] datho7561 opened #495 "Support multi-cursor auto close tag for elements for different names"
See https://github.com/redhat-developer/vscode-xml/pull/490#issuecomment-852241173

If you have a document like this, with cursors at each `|` pipe:

[code]

And then you perform auto-close by typing `>`, (assuming #490 is merged), it will give:

[code]

It would be very cool if we instead did:

[code]

[2021-06-04 16:04] angelozerr opened #496 "No link in setting for xml.completion.autoCloseRemovesContent"
At first we should have a sub section for The `xml.completion.autoCloseRemovesContent` in https://github.com/redhat-developer/vscode-xml/blob/master/docs/Preferences.md#tag-auto-closing

After that we could add a link to the xml.completion.autoCloseRemovesContent section in

![image](https://user-images.githubusercontent.com/1932211/120830637-03212180-c55f-11eb-8b68-967bf4acfa15.png)

See https://

[2021-06-04 17:24] #225 closed

[2021-06-07 15:40] #496 closed

[2021-06-08 13:25] datho7561 opened #499 "Internal documentation doesn't support links to pages in parent directories"
If you have an internal documentation page in a folder nested under `docs` (i.e. `docs/Features/XMLFeatures.md`) and this Markdown page has a link to a Markdown page in the parent folder (i.e. `../CodeLens.md`, meaning `docs/CodeLens.md` ), then this link will not work properly in the internal documentation.

[2021-06-08 15:52] datho7561 opened #504 "Upgrade `@redhat-developer/vscode-redhat-telemetry` to 0.1.1"
This will remove the dependency on vscode-commons.

See https://github.com/redhat-developer/vscode-redhat-telemetry#add-the-below-code-to-your-extensionts

[2021-06-08 17:42] #504 closed

[2021-06-08 22:32] svanteschubert commented on #451
RelaxNG is just another grammar aside of DTD and W3C Schema XML and embraced by Sun's Multi Schema Validator.
RelaxNG is the most powerful of the three major grammars (see http://pike.psu.edu/publications/toit05.pdf)
All the above grammars are supported by Sun's Multi Schema Validator, which embraces/supports all of them: https://xmlark.github.io/msv/docs/nativeAPI.html
Therefore I would suggest c

[2021-06-09 13:49] AlexXuChen opened #505 "DTD Quick Fix Closing Tag on Next Line"
For a `.dtd` document, if you remove the closing tag of an element, and use the `Quick fix` option to close it, the closing tag will appear on the next line,, instead of immediately following the element.

![Peek 2021-06-09 09-45](https://user-images.githubusercontent.com/26389510/121367071-fce8c780-c907-11eb-8c2e-3bcb8bd3cc61.gif)

[2021-06-09 14:32] fefrei commented on #489
After some days of editing, it looks like the binary version is completely stable for me.

For testing, I'll now return to the Java version, this time using the configuration recommended by @rgrunber (`-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m`). I'll report back when I know whether this is stable for me.

[2021-06-09 14:32] angelozerr commented on #451
Thanks so much @svanteschubert for your comment! We have opened to provide RelaxNG support with any library. Jing seemed is to be the better Java library for RelaxNG, but to be honnest with you I didn't know MSV.

If we wish to consume MSV the first question is what about license? If MSV is not compatible with EPL 2.0 we cannot use it.

It should be fantastic if we could work together to integrate

[2021-06-09 15:33] rgrunber opened #506 "Support workspace trust"
See https://github.com/redhat-developer/vscode-java/issues/1926 for reference.

Current options/capabilities under consideration for restriction in an untrusted workspace :

- `xml.java.home` & `xml.server.vmargs`
  - We partly restrict these. It can be set in the workspace, but we detect it and prompt the user for `xml.java.home` and restrict javaagent for `xml.server.vmargs`
-  ~`xml.server.bina

[2021-06-09 15:55] angelozerr commented on #489
Thanks so much! Your feedback is really important because if it works for you, we could define this setting as default. Thanks again for your patience!

[2021-06-09 20:30] svanteschubert commented on #451
@angelozerr The license is BSD.
Oracle has abandoned the project and I have forked officially&legally from the available sources of their last Maven release:
https://search.maven.org/artifact/net.java.dev.msv/msv/2013.6.1/pom
Technically, I was not aware of the Oracle brunch so started to work on https://github.com/kohsuke/msv
That is the reason the copyright header is being added/merged in later.

[2021-06-09 23:30] Lorenz-N commented on #194
Shouldn't this issue be closed already since you clearly noted at the README:

https://github.com/redhat-developer/vscode-xml#no-longer-requires-java-since-v0150

[2021-06-10 05:35] angelozerr commented on #194
You are right @Lorenz-N, thanks for the update.

Fixed with https://github.com/redhat-developer/vscode-xml/pull/316

[2021-06-10 05:35] #194 closed

[2021-06-10 05:41] angelozerr commented on #130
Fixed with LSP Lineked Editing, see https://github.com/redhat-developer/vscode-xml/blob/master/docs/Features/XMLFeatures.md#linked-editing

[2021-06-10 05:41] #130 closed

[2021-06-10 07:30] angelozerr commented on #451
At first we must check MSV can be consumed in LemMinX (it should because BSD and ASF should be compatible with EPL). After that I suggest you provide

 * XML validation based on RelaxNG
 * XML completion based on RelaxNG

For validation, I suggest you that you see my draft PR to support RelaxNG with Jing https://github.com/eclipse/lemminx/pull/841 and adapt it to consume MSV. The hard part in vali

[2021-06-10 12:20] fefrei commented on #489
Hm, with these settings, something new happened! Once again, I've had the XML extension stop working (I got no suggestions anymore, and it failed to insert closing tags for me).

RAM usage looked OK:

![image](https://user-images.githubusercontent.com/3078885/121523296-592a1500-c9f6-11eb-851f-36a7b994b91a.png)

However, this time, there was no `OutOfMemoryError`. Here's the full log I got:

[code]

[2021-06-14 12:37] angelozerr commented on #395
@bricksdont once my PR will be merge you should benefit with that:

![BindWithCodeLensDemo](https://user-images.githubusercontent.com/1932211/121893261-0d40de00-cd1e-11eb-96fc-f64298effab4.gif)

[2021-06-14 18:06] bricksdont commented on #395
This looks awesome! I will definitely test it once available. If the PR is merged to the main branch, can I get this version by updating inside VS Code?

[2021-06-16 13:17] #475 closed

[2021-06-16 15:34] datho7561 opened #509 "Give the command pallette revalidation commands a different name from the language server command"
lemminx registers the commands:
* `xml.validation.current.file`
* `xml.validation.all.files`
for retriggering validation on a file when the schema has changed.

vscode-xml also registers commands with the same names that delegate to the lemminx commands. These commands are the ones that appear in the VS Code command palette. In order to delegate to the lemminx commands, the VS Code extension needs

[2021-06-16 15:39] #395 closed

[2021-06-16 18:03] datho7561 opened #510 "Adapt `.vscodeignore` to the new path matching strategy"
vsce interprets the contents of `.vscodeignore` differently as of a recent change. This means that everything under `docs/images` is excluded from the .vsix (likely because of the rule `images/`). Adapt `.vscodeignore` so that everything that needs to be included is included.

[2021-06-16 18:50] #510 closed

[2021-06-16 20:16] AlexXuChen commented on #505
This behaviour still happens when `preserveEmptyContent` is enabled

[2021-06-17 06:57] koefoed-jessen opened #513 "Error in show reference request when using binary"
Using XML 0.16.1
After enabling the "prefer binary"-setting show-reference requests now hang and never return.
After enabling logging to the XML output, I get this error stacktrace:

[Error - 08.45.27] Jun 17, 2021 08:45:27 org.eclipse.lsp4j.jsonrpc.json.StreamMessageProducer fireError()
Message: Unable to invoke no-args constructor for class org.eclipse.lsp4j.ReferenceParams. Registering an Insta

[2021-06-17 08:15] angelozerr commented on #513
I think this issue should be fixed in 1.7.0 (we will release soon). Could you try to install the last vsix from https://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D

You mean that you have implemented a LemMinX extension? if it that you cannot use binary mode which i snot extandable.

[2021-06-17 08:56] koefoed-jessen commented on #513
Thank you for the response.
I have uninstalled the extension and installed vscode-xml-0.17.0-321.vsix instead, but I get the same error when attempting to show references in an xml file.

Howver, XML Support output still reports server version 0.16 - don't know if that is expected:
Message: Initializing XML Language server
LemMinX Server info:
 - Version : 0.16.3-SNAPSHOT
 - Native Image
 - VM Ver

[2021-06-17 09:56] fefrei commented on #489
An update: After setting the correct arguments, i.e. `"xml.server.vmargs": "-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m"`, I experienced no problems anymore.
Based on how much I worked on my XML file in that time, this isn't a guarantee the issue is solved now, but I'd argue it's a rather strong hint.

I'll keep things co

[2021-06-17 13:50] #506 closed

[2021-06-17 14:11] datho7561 commented on #513
0.16.3-SNAPSHOT is the right version of the server. (We should update that though, since the next release will be a feature release). I had been testing go to references using the CodeLens, which works, and missed that the Go To References context menu doesn't work. I'll work on a fix for this.

[2021-06-17 14:17] fbricon opened #514 ""Bind to grammar/schema..." should be a command available from the palette"
Currently, "Bind to grammar/schema..." can only be triggered if `xml.codeLens.enabled`is set to `true`.

<img width="192" alt="Screenshot 2021-06-17 at 16 17 17" src="https://user-images.githubusercontent.com/148698/122414570-8858fd00-cf87-11eb-9b0a-304b4a7e9461.png">

It makes sense to also expose it as a command available from the command palette

[2021-06-17 14:21] fbricon opened #515 ""Bind to grammar/schema..." should be available as a quick fix"
Currently, "Bind to grammar/schema..." can only be triggered if `xml.codeLens.enabled`is set to `true`, but is missing from the quick fixes.

<img width="491" alt="Screenshot 2021-06-17 at 16 19 23" src="https://user-images.githubusercontent.com/148698/122415097-e84fa380-cf87-11eb-8a75-3b71e3a04de0.png">

It makes sense to also expose it as a quickfix, if you don't need to create a new schema.

[2021-06-17 19:46] #513 closed

[2021-06-17 20:30] #435 closed

[2021-06-18 13:58] AlexXuChen commented on #505
When on `LF`, you will see this behaviour, but on `CRLF` you will see the desired behavior.

[2021-06-18 15:13] datho7561 opened #516 "With `splitAttributes` and `closingBracketNewLine`, indent closing bracket as much as attributes"
See https://github.com/redhat-developer/vscode-xml/issues/435#issuecomment-833292031

[2021-06-18 20:59] #492 closed

[2021-06-21 14:56] #499 closed

[2021-06-22 13:35] datho7561 opened #517 "Changelog for 0.17.0"
Update the changelog for the upcoming 0.17.0 release.

[2021-06-22 19:05] #517 closed

[2021-06-23 13:10] FreHu opened #521 "Code completion - insert required subelements"
If my schema contains required attributes on an element, executing autocompletion for that element will also autocomplete the required attributes. Example:

[code]

Executing code completion for this element will type
![image](https://user-images.githubusercontent.com/5097067/123100959-dbbdc600-d433-11eb-80ef-2383dfa80248.png)

[code]
(it also inferred an attribute value for the data type because

[2021-06-24 12:41] Nerpson opened #524 "XML attribute associated to wrong type from XSD"
Issue Type: <b>Bug</b>

I created an XML schema containing a complexElement with two attributes. The first one is just a simple string, the second one has a custom simpleType inheriting from string but having an additional minLength=1 restriction.

When trying this schema, the first attribute is wrongly associated to the second's custom type.

You can easily reproduce this issue with the linked ZI

[2021-06-24 17:54] rgrunber commented on #489
We might do well to look at what ends up happening in https://github.com/redhat-developer/vscode-java/issues/1959 . In addition to more elegantly reporting OOM events to users, there was discussion about simply restarting the language server by upping Xmx by say, 200MB if the previous crash was an OOM. We already have code to restart on a crash so it seems possible.

For now I'll mark this as an e

[2021-06-25 08:14] fbricon opened #527 "XML Language Server keeps restarting when running out of memory"
Telemetry data tells us a few users (< 0.1%) have their XML Language Server restarting every minute. Since this is a slower rate than 5 times in less than 3 minutes, it doesn't bubble up to the user.
Still, this indicates a problem and I have no idea what can cause it. Until we find a solution, we need to get better information (from telemetry) to figure out what's causing this.

[2021-06-25 09:07] fbricon commented on #527
So I managed to reproduce the issue by setting "xml.server.vmargs": "-Xmx8M":

[code]

java.lang.OutOfMemoryError should be detected by vscode-xml and let users know about it, propose a fix

[2021-06-25 09:18] fbricon commented on #527
Some users send over 1400 restart events a day, every day.

[2021-06-25 09:22] fbricon opened #528 "Switching the xml.server.preferBinary value should restart the server"
When running a JVM and setting xml.server.preferBinary=true, I expect the XML LS to restart with in binary mode, or at the very least having a popup telling me to restart vscode, so the new settings can be applied.

[2021-06-25 13:40] angelozerr commented on #528
I think we should do that too when we change binary preferences. For instance it seems when `xml.server.preferBinary` changed.

[2021-06-25 18:00] datho7561 opened #531 "Linked editing (automatic tag renaming) doesn't work in second XML document opened"
If you open an XML document with `editor.linkedEditing = true`, automatic tag renaming works as expected. However, when you open a second document without closing the first, automatic tag renaming doesn't work.

[2021-06-25 18:01] datho7561 commented on #531
Resolved upstream. The fix will be available in VS Code 1.58.0. See https://github.com/microsoft/vscode/issues/126373

[2021-06-25 18:01] #531 closed

[2021-06-28 09:16] GitMensch commented on #254
As the question came up about "is someone interested in XSL transformation" - I definitely am, to be able to replace external tools currently used for it.
I do also like the point of the preview window, but I think it should not update on each keystroke, a command to open/update the preview window and in there a refresh button to update it would be fine.

@bmix What was the result of your testing

[2021-06-28 09:26] GitMensch opened #532 "allow "go to" for href attributes"
I have a bunch of XML files that reference an xsl file as follows:

[code]

It would be nice to be able to follow that href ([CTRL]+click) to have the referenced file (in this case an xsl) be opened.

[2021-06-28 10:05] GitMensch opened #533 "apply xml catalog rewrite also for "go to"/"follow link""
An entry with `xmlns="http://foo.web/foo/types.xsd"` is nicely validated with the [rewriteURI definition in an xml catalog](https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#xml-catalog-with-xsd).
Would it be possible to also open the file used for the validation on [CTRL]+click (I actually think it was that way before, but you know, memory is sometimes misleading...).

[2021-06-28 10:21] GitMensch opened #534 "XML catalog rewrite not applied to schemaLocation"
I don't know if this is a bug in this extension, in lemminx or in the definition...

Given a [registered catalog](https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#xml-catalog-with-xsd) definition of

[code]

And an `xmlns="http://foo.web/foo/types.xsd"` the file used for validation is the local `types.xsd` as expected, no downloading is done.

But with a given definiti

[2021-06-28 12:32] angelozerr commented on #532
@AlexXuChen do you want to work on this issue?

It's similar to xml-model processing instruction.

[2021-06-28 12:44] angelozerr commented on #254
Thanks for your feedback.

Note: XML->XLS auto-preview in a browser does not work because of security policy issues see antfu/vscode-browse-lite#10 - if this is solved then the browser preview case would be solved (not useful for other transformations, but at least for this common case).

I think the better mean is to develop a webview to preview xsl like https://marketplace.visualstudio.com/items

[2021-06-28 12:52] GitMensch opened #535 "FR: for new commands "validate all XML in workspace/folder""
Scenario 1: the application in the workspace creates a bunch of XML files.
--> it would be nice to be able to validate all "on the fly" and have the problem pane updated with the results

Scenario 2: a new version of the xsd is distributed, all files have to be validated to check for necessary adjustments.

Current workaround:
* use the file explorer (or [CTRL]+[O]) to open all files within vscode

[2021-06-28 13:35] angelozerr commented on #532
After reading code, I think it will require some refactoring for XMLModel which can be not easy. Indeed the main problem is that it's a processing instruction and DOM parser doesn't create DOM attr for processing instruction data (since you can have any content).

For XML Model we have implemented a mini-parser which works good but I would like to reuse it for another processing instruction like x

[2021-06-28 13:51] angelozerr commented on #535
LSP idea is to manage opened files. If I understand correctly your idea is to manage closed files. I think it's doable but I don't know how LSP client (vscode-xml) will report error from a file which is out of the workspace.

More we use workspace URI root to manage some resolve of path (if I rememeber) I wonder if it will not causes some problem (some xsd, or dtd which cannot be resolved).

[2021-06-28 19:36] GitMensch commented on #535
Yes,

I don't know either, what I can say is that vscode in general works fine with this approach because I have some huge workspaces where multiple people work on (network share) and the compile results (compilation done by ssh on the server side) are stored on the server too - and there's one task that only list the compile warnings/errors (and converts those so they "look" like the network shar

[2021-06-29 10:17] GitMensch opened #537 "have an option to make "resolve external entities" depending on workspace trust"
Ideally I'd like to have the setting enabled in trusted workspaces, but be disabled in untrusted workspaces.
Would it be reasonable to switch the current setting from boolean (always/trusted/never) to an enum or should this be a new setting?

[2021-06-29 10:30] GitMensch opened #538 "Foldings received a StackOverflowError while scanning the document"
Big file, extension notified that only the first 5000 items are shown and drops a hint about the "Max Items Computed" settings, XML Support output has:

[code]

I _think_ the check is exactly for the stacktrace to _not_ happen, isn't it?

[2021-06-29 10:56] GitMensch commented on #538
Note: after increasing the setting the output has:

[code]

I _guess_ that maybe should also not be the case.

[2021-06-29 11:14] GitMensch commented on #527
Thanks for opening this issue so I can just add to it. I do experience this as soon as I have one big XML file opened (with the default args I can reproduce this with a 30MB file). As the server is used for _all_ opened XML files I can't use the plugin for any XML file until I find the one that's big and close it.

I suggest to:

* show chrashes of the server to the XML Support output, possibly lo

[2021-06-29 11:26] GitMensch opened #539 "add command "Restart Language Server""
... as seen in the Python extension `python.analysis.restartLanguageServer`.

Not a priority at all, but something to possibly consider.

Reasoning: sometimes the server seems to hang and if it doesn't restart its own (which may take some seconds to be triggered, I don't know if there are other cases when this happens apart from "server chrashed") you have three options: a command like this or a m

[2021-06-29 11:49] GitMensch opened #540 "option to let the language-server timeout->close"
The language server is automatically started by the extension as soon as a file with a handled language-identifier is opened.
Within the vscode session only one language server is used.

The issue: often vscode stays open for very long time, but the XML file may be directly closed after it is opened - but the language server will stay open.

I suggest to have a configurable timeout in seconds (0 m

[2021-06-29 15:49] rgrunber commented on #540
Ideally, we would do this by counting the number of xml/xsd/dtd related documents opened on the client side and simply request a shutdown of the language server when that count reaches 0. There should be a preference enabling this, that is disabled by default.

It might be good to get an idea of what the overhead is for starting the language server from scratch since users choosing this option won

[2021-06-29 16:20] rgrunber commented on #527
If the client can detect the OOM, maybe we can have a prompt asking the user whether to restart with -Xmx increased by some amount. We discussed this in https://github.com/redhat-developer/vscode-xml/issues/489#issuecomment-867838771 . Maybe we can also report the stacktrace.

[2021-06-29 19:15] GitMensch commented on #540
I think there are both use cases:

* all previously opened editors are closed (increment for new files sent to the language server, decrement when closed) [there may be still multiple editor windows with handled languages "open" - but if they were not active in the current session this doesn't matter]
* timeout happens; reasoning: some users have a lot of editors "open" and switch between some of

[2021-06-29 20:20] datho7561 commented on #537
Right now, we support making a local config for your workspace (i.e. `.vscode/settings.json`), then settting "resolve external entities" in that folder. The local config only applies if the workspace is trusted.

I think it that it would be neat feature to support the workflow you described instead, though.

[2021-06-30 18:27] GitMensch commented on #538
The StackOverFlowError looked quite suspicious, so... https://github.com/eclipse/lemminx/pull/1074.

[2021-07-01 07:59] angelozerr commented on #538
Fixed with https://github.com/eclipse/lemminx/pull/1074

Thank's @GitMensch !

[2021-07-01 07:59] #538 closed

[2021-07-01 08:20] GitMensch opened #542 "Is it possible to have a workspace reference in catalog.xml?"
When we use a vscode setting for the XSD adjustment we can also [reference the workspace](https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#xml-file-association-with-xsd).
It would be nice to be able to do the same or something similar in the catalog.xml and use `${workspaceFolder}` or an equivalence there. So far I have nearly the same catalog file in every workspace (

[2021-07-01 08:22] fbricon commented on #542
I'm -1 on that. This is not standard XML and would make the catalog only readable by vscode-xml.

[2021-07-01 08:34] GitMensch commented on #542
If there's no key option in the standard XML then I'm also -1 on that - but I don't know - if you do it isn't - then definitely let's close the issue.

I've just checked the catalog.xsd - the attributes are always required and always of `type="xs:string"` - so I _guess_ there would be no portable option to have something in there "resolved", is it?

[2021-07-01 09:06] angelozerr commented on #376
@Towdium there is some foldings improvement (for memory and stack overflow) with https://github.com/redhat-developer/vscode-xml/issues/538

Could you install last built vsix https://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D and tell us if it improves something for you. Thanks!

[2021-07-01 10:36] #542 closed

[2021-07-02 13:54] AlexXuChen opened #543 "Document lemminx debug process with vscode-xml"
It would be nice to have documentation of the debugging process for development work on lemminx interacting with vscode-xml for future reference and onboarding.

Could extend on [setup](https://github.com/redhat-developer/vscode-xml/blob/master/CONTRIBUTING.md#steps) and add example of debugging interaction (e.g. debugging completion).

[2021-07-05 13:24] rgrunber commented on #537
Agreed. If the user has not trusted the workspace we should disable the option (not just at the workspace level).

[2021-07-06 09:30] GitMensch commented on #538
Just checked with the current nightly vsix where the fix is included: handling the 32MB test XML works fine with that change and `-Xmx512` - no error seen. When going back to latest release 0.17.0 the output is full with the StackOverflow stacktrace (works with one using `-Xmx1G -XX:+UseG1GC -XX:+UseStringDeduplication`).

[2021-07-06 12:25] Towdium commented on #376
Great, it almost fixed everything for me! It's not as fast as small files, but still very good! I'll let you know if the issue still happen.

[2021-07-06 12:25] #376 closed

[2021-07-08 14:56] #537 closed

[2021-07-09 18:35] joshuacookdev opened #547 "Adding closing bracket (>) in attribute quotation marks is causing repeated auto-complete of closing tag."
When the extension is enabled (v 0.17.0), if you accidentally type your closing bracket inside of the quotation marks:

`<element attribute="value"` (i.e. `<element attribute="value>"`), autocomplete attempts to add the closing tag </element>.

However, it's registering each added closing tag as a new closing bracket and attempting to add more closing tags. This happens repeatedly, and can lead to

[2021-07-09 18:38] joshuacookdev commented on #547
Not an urgent fix, since any input to the text stops the repeated auto-complete, but it's probably not desired behavior. I figure that I'm not the only person who has accidentally attempted to close a tag without having the cursor in the right spot.

[2021-07-09 19:56] datho7561 commented on #547
This case also causes the issue:

[code]

then

[code]

[2021-07-12 15:21] datho7561 commented on #547
Thanks for filing this bug! I think this makes sense to fix for the next release, so I've made a PR.

[2021-07-13 15:32] #547 closed

[2021-07-15 12:36] AlexXuChen commented on #539
After doing some digging, I've found some references to a VSCode issue:

microsoft/vscode/issues/76405

I'm currently investigating, and it seems doable by simply issuing a deactivate and activate in succession, I am just encountering a weird interaction with restarting the Telemetry service.

[2021-07-15 14:48] rgrunber commented on #539
Related to https://github.com/redhat-developer/vscode-xml/issues/540 .

The language server should stop on its own in most cases (client exits). If the client crashes, or is brought down abruptly, the language server may continue to run for at most 30s before finally exiting. A (hacky) solution would be to use the ErrorHandler to restart.

[2021-07-15 14:53] datho7561 commented on #516
@AlexXuChen We should also document this in Formatting.md

[2021-07-15 14:59] #516 closed

[2021-07-15 15:03] AlexXuChen commented on #516
Sure thing, I can quickly add that.

[2021-07-15 18:08] #543 closed

[2021-07-15 21:20] AlexXuChen commented on #543
Eventually should document debug process in Eclipse as well.

[2021-07-19 07:26] raju760 opened #552 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-xml`
- Extension Version: `0.17.0`
- OS Version: `Windows_NT x64 10.0.10240`
- VS Code version: `1.59.0-insider`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-07-19 09:32] angelozerr commented on #552
@raju760 could you give us more information with your bug please?

[2021-07-20 10:37] GitMensch commented on #528
I guess this could be added easily with inspecting the old and new setting, then executing `xml.restart.language.server` from #551.

[2021-07-21 06:06] jiuxiaxixi opened #553 "remove the scheme restriction in xmlClient.ts"
when I develop [Language Server for Embedded Language with Request Forwarding ](https://code.visualstudio.com/api/language-extensions/embedded-languages), I want reuse `vscode-xml` for the `xml` part,
in order to do that  I need remove the  scheme restriction in[ xmlClient.ts](https://github.com/redhat-developer/vscode-xml/blob/master/src/client/xmlClient.ts#L112) for `embedded-content`

[code]
li

[2021-07-21 06:22] angelozerr commented on #553
The easy solution is to contribute to xml language with your own file extension in package.json. But if you need to declare your file as a new language (and not as xml language), it will require that we develop this feature like we did for vscode-microprofile https://github.com/redhat-developer/vscode-microprofile/blob/d99e5134ecb5093ea30ef3c1906a2a61c16bc45c/schemas/package.schema.json#L20

[2021-07-22 09:04] apupier opened #554 "Wrong minimal engine 1.37.0 mentioned instead of 1.52.0"
https://github.com/redhat-developer/vscode-xml/blob/f2039bfe0d208ad4c790050fd8ddb4cd328d671a/package.json#L38

but 1.52.0 is required given that [vscode-languageclient 7.0.0 dependency](https://github.com/redhat-developer/vscode-xml/blob/f2039bfe0d208ad4c790050fd8ddb4cd328d671a/package.json#L94) requires [1.52.0 version](https://github.com/microsoft/vscode-languageserver-node/blob/22248aed6c4d265e

[2021-07-22 09:05] apupier opened #555 "Provide automated tests against the minimal VS Code engine version"
it will ensure that the decalred compatibility is really working.

relates to https://github.com/redhat-developer/vscode-xml/issues/554

[2021-07-22 13:11] AlexXuChen commented on #514
Lemminx change: eclipse/lemminx/pull/1084

[2021-07-22 19:17] #514 closed

[2021-07-22 19:19] AlexXuChen commented on #514
Should be part of 0.18.0

[2021-07-23 15:10] #554 closed

[2021-07-23 23:10] InvncibiltyCloak opened #559 "Infinite Closing Tag in Attribute"
If you type a right angle bracket while in an attribute (or probably any quoted item) the autocompletion tries to close the tag. For some reason, it then attempts to close the tag again (perhaps because of seeing another right angle brace that it just added) which leads to an infinite loop of tag closing.

Steps to reproduce:
1. Open a new XML file and save to disk (so autocomplete works fully).
2

[2021-07-24 00:09] fbricon commented on #559
I'd say it's a duplicate of #547. Please try the latest CI build to check (see https://github.com/redhat-developer/vscode-xml#contributing)

[2021-07-24 00:32] InvncibiltyCloak commented on #559
Yes this is a duplicate and it is fixed in the latest staging.
Apologies for not finding that.

[2021-07-24 00:32] #559 closed

[2021-07-27 08:08] angelozerr commented on #553
@jiuxiaxixi could you explain us please your need (perhaps you could share your vscode extension and explain usthe usecase?)

Thanks!

[2021-07-28 07:30] angelozerr opened #560 "Add formatting section in features docs"
In https://github.com/redhat-developer/vscode-xml/blob/master/docs/Features/XMLFeatures.md it should be nice to add `Formatting support` section which link to https://github.com/redhat-developer/vscode-xml/blob/master/docs/Formatting.md

[2021-07-28 07:32] angelozerr opened #561 "Add `Bind to grammar/schema file` command in docs"
In https://github.com/redhat-developer/vscode-xml/blob/master/docs/Commands.md#commands it should be good to add the `Bind to grammar/schema file` command.

[2021-07-28 07:34] angelozerr opened #562 "Add CodeLens support in XML features docs"
In https://github.com/redhat-developer/vscode-xml/blob/master/docs/Features/XMLFeatures.md add Codelens support and a subsection about Codelens `Bind grammar/schema`

[2021-07-28 08:07] angelozerr opened #563 "CodeLens for `Bind to new grammar/schema`"
Today we have `Bind to grammar/schema`

![image](https://user-images.githubusercontent.com/1932211/127286690-e61f6ae5-9ac4-47e0-b936-7b3d5d1378d0.png)

to bind XMLwith an existing schema/grammar.

It should be nice to have a new Codelens  `Bind to new grammar/schema`, which does the same thing than quickfixes:

![image](https://user-images.githubusercontent.com/1932211/127287138-ea2321bd-b1be-4c57

[2021-07-28 12:33] angelozerr commented on #534
If I udensratnd correctly, validation is working but hyperlinkinside xsi:schemaLocation  is not working, is that?

[2021-07-28 13:45] GitMensch commented on #534
No, in both cases the standard link behavior happens - the not existing URL is opened (opening the file after applying the catalog and in case of cached files [where the actual URL exists] to the cache would be very cool).

In the case of `xmlns` the URI rewrite via catalog works (the local file is used, not the not existing URL), in case of `xsi:schemaLocation` it doesn't (the language server tri

[2021-07-28 17:25] #560 closed

[2021-07-28 19:42] AlexXuChen opened #567 "Add documentation page for binding to grammar/schema"
As per comment https://github.com/redhat-developer/vscode-xml/pull/565#discussion_r678572552, we should document the functionality of the binding wizard with it's own documentation page to detail this notable vscode-xml feature (and to reference elsewhere).

[2021-07-29 14:00] AlexXuChen opened #568 "Compress documentation image/gif space"
In the `docs/images` folder, there are a number of `.png` and `.gif` that are larger than necessary (due to longer demo time, higher resolution, etc..) It would be spatially optimal to reduce the size of the `docs/images` to reduce the overall extension size.
![Screenshot from 2021-07-29 09-53-58](https://user-images.githubusercontent.com/26389510/127505386-22538e85-e599-4ca5-bf3c-823ad137c360.png

[2021-07-30 14:38] #567 closed

[2021-07-30 15:08] #561 closed

[2021-07-30 15:25] AlexXuChen opened #571 "Fix CodeAction for `cvc-complex-type.2.4.a` to add `elementFormDefault` to bound XSD"
Given an XML document, `foo.xml`:
[code]
and an XSD document, `foo.xsd`:
[code]
the following error will appear:
![Screenshot from 2021-07-30 09-21-49](https://user-images.githubusercontent.com/26389510/127674739-3e7f336a-c323-4056-bf3e-b5d5259c826d.png)

The CodeAction for the error is currently unsupported, and should add the `elementFormDefault="qualified"` attribute to the `xs:schema` tag in `

[2021-07-30 19:23] #562 closed

[2021-08-01 04:46] jiuxiaxixi commented on #553
@angelozerr  thank you , we wire a language service insteded of using language forwarding to achvice our need

[2021-08-02 13:30] pgfearo commented on #473
It doesn't work like the Visual Studio IDE, but there's now an [XPath Notebooks extension for VS Code](https://marketplace.visualstudio.com/items?itemName=deltaxml.xpath-notebook).

[2021-08-03 16:24] angelozerr opened #572 "CodeLens for registering/unregistering catalog"
It should be nice to insert in catalog xml file a Codelens `[Register catalog]` to insert it to the list of catalog (see [xml.catalogs](https://github.com/redhat-developer/vscode-xml/blob/master/docs/Preferences.md#catalogs)).

[code]

When catalog.xml is already registered, it should be nice to have a `[Unregister catalog]` codelens.

It should be good to have a vscode command and quickfix for th

[2021-08-03 16:50] angelozerr opened #573 "Binding grammar/schema with file associations"
Today we manage `Binding grammar/schema `with the binding type:

 * standard
 * XML association:

![image](https://user-images.githubusercontent.com/1932211/128051903-fb8b69fe-af00-4d43-ba56-174c2bd923f7.png)

It should be nice to support the [file associations](https://github.com/redhat-developer/vscode-xml/blob/master/docs/Preferences.md#file-associations) binding type.

When file association wi

[2021-08-03 17:12] angelozerr opened #574 "Binding grammar/schema with XML catalogs"
Today we manage `Binding grammar/schema `with the binding type:

 * standard
 * XML association:

![image](https://user-images.githubusercontent.com/1932211/128051903-fb8b69fe-af00-4d43-ba56-174c2bd923f7.png)

It should be nice to support the [XML catalogs](https://github.com/redhat-developer/vscode-xml/blob/master/docs/Preferences.md#catalogs) binding type.

When catalogs binding type will be sel

[2021-08-04 18:46] #527 closed

[2021-08-05 09:47] angelozerr commented on #534
I didn't know that we could use `XML catalog rewriteURI` with `xsi:schemaLocation`.  I don't know if it will be easy to fix it (is Xerces can support that?).

[2021-08-07 03:25] Tyaoo opened #576 "delete"
delete

[2021-08-07 03:36] #576 closed

[2021-08-07 07:27] angelozerr commented on #553
@jiuxiaxixi I'm sorry I don't understand how you wish to consume vscode-xml. If you have some links with your project it should be easier for me.

The think which is sure is that we will don't remove the restriction, but as I said you, we could contribute to the language. See my comments https://github.com/redhat-developer/vscode-xml/issues/553#issuecomment-883925475 If you need declare your file

[2021-08-07 07:28] angelozerr commented on #552
I close the issue. @raju760 please reopen if you need some help by adding more information.

[2021-08-07 07:28] #552 closed

[2021-08-12 04:56] sheetalbhagat63 opened #583 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-xml`
- Extension Version: `0.18.0`
- OS Version: `Windows_NT x64 10.0.19041`
- VS Code version: `1.59.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\hp\AppData\Local\Temp\redhat.vscode-xml-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extens

[2021-08-13 09:35] kapexx opened #585 "Format CDATA sections without adding new lines"
I work with XML documents that contain a lot CDATA sections. These are mostly used for content that has to contain some exact value and is sensitive to whitespace changes.

When I use the formatter to format the document, an element like this:

    <Payload><![CDATA[x < y]]></Payload>

becomes this:

    <Payload>
        <![CDATA[x < y]]>
    </Payload>

In many cases the added newlines are fine

[2021-08-16 18:38] AlexXuChen commented on #563
With this fix, do you also think it'd be useful to add the feature for the user to input the grammar file name themselves for the CodeAction/Quick Fix? This way, the new CodeLens will use the same feature you mentioned above.

[2021-08-16 18:44] angelozerr commented on #563
I think we should have one codeaction which call the binding wizard to generate grammar. In other words we should remove all codeaction which generate file. But keep in mind éclipse ide have not binding wizard so we must keep this codeaction if client cannot support binding wizard.

[2021-08-16 18:48] AlexXuChen commented on #563
So we could have a CodeAction similar to the new CodeLens design, for example, we'll have 2 options in the CodeAction dropdown:
- Bind to existing grammar/schema file
- Generate and bind grammar/schema file
which are the same options as the proposed CodeLens?

[2021-08-16 19:32] angelozerr commented on #563
Yes it's exactly that I tried to explain :)

[2021-08-17 18:59] AlexXuChen commented on #563
Since both the grammar generation and binding wizard handle grammar binding, do you think it would be useful if the binding wizard handled both the existing and new grammar?

[2021-08-17 19:00] AlexXuChen commented on #563
For example: the binding wizard will start with 2 options,

1. Bind to existing grammar/schema
2. Generate and bind grammar/schema file

Option 1 will have the same behaviour as before, and Option 2 will perform the CodeAction grammar generation mentioned here.

[2021-08-17 19:18] angelozerr commented on #563
If you speak about structure of code i think it should be better to have 2 funcions for that and it there is similarr code dont duplicat it by setting the code in a function

[2021-08-17 19:19] AlexXuChen commented on #563
I'm more so referring to the tweaking the design and range of the binding wizard so that it covers both the bind to existing grammar and generated grammar binding.

[2021-08-18 15:05] AlexXuChen opened #586 "File association pattern validation"
Related to #573.

When a grammar file is associated with an XML document using `xml.fileAssociations`, we should ensure that the pattern of the XML document file(s) (`pattern` field) is valid.

For example, when the file association pattern input is accepted:
![Screenshot from 2021-08-18 13-55-45](https://user-images.githubusercontent.com/26389510/129948323-a5df90e4-9830-4055-9590-bd0b1b7ef8f4.png

[2021-08-20 16:15] rgrunber commented on #489
vscode-xml should now have the capability to detect OOM errors and handle them more gracefully when using the Java version of the XML language server. With that said it does seem like this isn't so much of an issue for the binary version.

We can work on further improvements like automatically incrementing the amount of memory allocated to the JVM.

[2021-08-20 16:15] #489 closed

[2021-08-20 16:58] #573 closed

[2021-08-20 17:21] angelozerr commented on #586
@rgrunber here a demo with the current work:

![FileAssociationCodeLensDemo](https://user-images.githubusercontent.com/1932211/130270029-73b444f0-7954-4470-a015-73f3a1ff35bf.gif)

As you can see in the demo, user can fill the pattern (**/foo2.xml) and if it changes to **/bar.xml, the pattern doesn't match the XML file to bind. This idea of this issue is to validate this file with a custom command

[2021-08-23 12:40] fefrei commented on #489
Thank you for working on this ❤️

[2021-08-30 12:19] petrvanecek opened #589 "Contribute to vscode-xml with a custom language"
I have a language that is based on XML. Is it possible to somehow make VS Code language extension that would use the provided XSD based on file extension with all the functionality provided from RedHat Xml extension? Something like:

[code]
Similar behavior as:
[code]
but packed into a language extension with snippets and other possibilities of language extension.

[2021-08-30 13:51] angelozerr commented on #589
This issue requires 2 development:

 * as vscode doesn't provide the capability to extend language, we need to give the capability to declare in the package.json of custom vscode extension that a given language belongs to xml language. We did that in MP LS and I hope HTML will do that. See https://github.com/microsoft/vscode/issues/131531 for more explanation.

 * today `xml.fileAssociations` is d

[2021-08-31 14:45] bergamin opened #590 "How does XSD/XML association work?"
I want to validate an XML against an XSD, but the instructions in `Validation.md` aren't clear. It just states the following:

But it doesn't explain how the association works. I've seen somewhere that both XSD and XML must be in the same folder, but that can't be enough because the XSD schema has multiple files. I would expect a "validate" button somewhere or right clicking on the file on the exp

[2021-08-31 14:56] fbricon commented on #590
You can configure file associations: https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#XML-file-association-with-xsd if you don't want to modify your files

[2021-09-01 08:42] angelozerr commented on #590
I suggest you enable codelens and after that you will have this feature:

![BindToGrammarWithCodeLensDemo](https://user-images.githubusercontent.com/1932211/131639682-0bfcb7b4-7997-4696-8ee4-384e33b13356.gif)

See more
https://github.com/redhat-developer/vscode-xml/blob/master/docs/BindingWithGrammar.md#codelens

But as you wish to use `File Association` binding kind, the vscode-xml 0.18.0 (releas

[2021-09-01 08:49] #568 closed

[2021-09-01 13:00] masoivn opened #591 "Extension issue: Cannot register 'redhat.telemtry.enabled'. This property is alerady registered."
- Issue Type: `Bug`
- Extension Name: `vscode-xml`
- Extension Version: `0.18.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.59.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

Errors:
Cannot register 'redhat.telemtry.enabled'. This property is alerady registered.

[2021-09-01 17:01] rgrunber commented on #591
I believe this is a known issue, regarding how VS Code deals with extensions contributing the same setting. We use [vscode-redhat-telemetry](https://github.com/redhat-developer/vscode-redhat-telemetry) for optional telemetry, and as per https://github.com/redhat-developer/vscode-redhat-telemetry#contribute-the-redhattelemetryenabled-preference , we define the setting in our [package.json](https://

[2021-09-01 22:49] bergamin commented on #590
Although the instructions now seem clear to me, I'm struggling with an error message, so I'm reopening this issue. If anybody could help... I like the idea of using a pattern so I wouldn't need to edit the XML files, so I went this route:

![image](https://user-images.githubusercontent.com/14339291/131753906-9d9c8de4-690f-46d6-9c2d-a407a1893923.png)

Where "systemId" has the path to the XSD file.

[2021-09-02 08:24] angelozerr commented on #590
Could you share please your workspace folder which conatins:

 * your settings.json
 * your XML
 * your XSD

[2021-09-02 09:57] angelozerr commented on #590
If your xml is not bound its a pattern problem. @rgrunber should implement (when jhe will havetime) pattern validator which will validate the pattern when you will use the file association kind with codelens. I think its a feature that it should help you to write pattern

[2021-09-02 11:48] bergamin commented on #590
@angelozerr, unfortunately I can't share the XML as it has client personal data, but now that you mention it, I looked back to the gifs you posted earlier. The pattern you used is different from the one in the example. I used `*` to get the whole path to the file and that was the issue. Changing the pattern based on yours, worked: `**/*_dados_publicos.xml`. Now I can see the issues without editing

[2021-09-02 11:48] #590 closed

[2021-09-02 12:33] angelozerr commented on #590
@bergamin I'mvery glad that you fix your issue. @rgrunber IMHO we should provide a pattern validator.

[2021-09-03 17:35] rgrunber commented on #586
I just have one general question about this approach. Initially I thought the reason for validation is to confirm that **some** file in the workspace folder(s) would match the file association pattern when the user is typing it in the wizard, so they don't waste time creating a pattern that matches nothing.

Now I see that the language server can only know about files that are opened, since we're

[2021-09-03 18:36] angelozerr commented on #586
Sorry with my bad explanation. The idea is to write file association for the current file which is bound. We provide a default pattern which works but user can change it (to use * for instance inside file name to check another files that the current). When user change this pattern, the match should continue to work for the current file which is bound.

Yes I think.

The main reason why I would lik

[2021-09-06 16:48] rgrunber commented on #586
Ok, makes sense. I will make the necessary changes.

[2021-09-07 19:31] #586 closed

[2021-09-07 20:48] rgrunber commented on #586
Just curious, why did I need to specify `ClientCommandConstants.EXECUTE_WORKSPACE_COMMAND` in https://github.com/redhat-developer/vscode-xml/blob/master/src/commands/registerCommands.ts#L223  here, but it works find without it here https://github.com/redhat-developer/vscode-xml/blob/master/src/commands/registerCommands.ts#L316 .

[2021-09-07 21:14] angelozerr commented on #586
It should work without it, no?

[2021-09-07 21:31] rgrunber commented on #586
When I tried it, I kept getting `message:'command 'xml.check.file.pattern' not found'`. Adding the above fixed it, but I couldn't figure out why I needed to when other commands didn't.

[2021-09-08 12:21] ZzZombo commented on #591
VS Code reports the extension as unresponsive on the running extensions page, at the same time it also says that the extension couldn't register this property, so I can't help but wonder if this error has anything to do with that?

[2021-09-08 16:40] rgrunber commented on #591
![xml-property-already-defined](https://user-images.githubusercontent.com/1417342/132549467-a694874d-2f22-4114-95f4-4b3aa89ee734.gif)

In my case, I occasionally see the warning as a notification and other times not. However I consistently see it in the running extensions page. The extension itself does activate without issue though. @angelozerr are you able to reproduce the unresponsive behaviour

[2021-09-14 06:23] heartacker opened #593 "Support platform specific extension"
[code]

some like c/c++, https://github.com/microsoft/vscode-cpptools/releases
please provide the offline package for specify platform. OR provide a package that contains all platform server execute file.
thanks

[2021-09-14 08:23] fbricon commented on #593
That's an interesting possibility, though we're actually eagerly waiting for platform-specific vsix support from upstream vscode/marketplace: https://github.com/microsoft/vscode/issues/23251

[2021-09-14 10:14] heartacker commented on #593
thsnks, Maybe now you can provide a package that include all perform executefile before that has implemented for nowadays

[2021-09-14 16:38] rgrunber commented on #593
Yup, this should be possible now with https://code.visualstudio.com/api/working-with-extensions/publishing-extension#platformspecific-extensions . Looks like we just need to use npm_config_arch and --target for the vsce package command.

[2021-09-17 23:27] onettmecha opened #594 "sch-props-correct.2: A schema cannot contain two global components"
hello everyone,
# problem scope
i've created a project where XML is used for views and i get the following issue
![image](https://user-images.githubusercontent.com/72963129/133862843-f1fbd18d-caf6-4ba8-9411-ba69de3a9b49.png)
and since i know nothing about XML, i've asked [codename one's support](https://codenameone.com) about it and now i'm asking it here, so help please.

# system specs
OS: ArcoL

[2021-09-18 09:00] angelozerr commented on #594
The `StartPage.xsd` used in the XML is wrong and vscode-xml report thoses errors.

 * `<?xml version="1.0"?>` is declared several times, it should be declared only on the root:
![image](https://user-images.githubusercontent.com/1932211/133883156-1ab8ba7a-c57d-43c9-9f5e-0a5ebead803d.png)

to fix that remove all `<?xml version="1.0"?>`, once you did that, you will see new errors (that you seeon your

[2021-09-18 14:38] onettmecha commented on #594
@angelozerr
so this issue is the cause of codename one' boilerplates and has nothing to do with vscode or xml extension, correct?

[2021-09-18 16:52] angelozerr commented on #594
Yes exactly. The xsd is wrong and vscode xml report errors

[2021-09-18 17:09] onettmecha commented on #594
@angelozerr
thanks..i should note that i installed Intellij IDE just to see if it produces the same issue but it doesn't, everything is working perfectly there. does this mean that `vscode xml` extension could be grown to accommodate the schemas generated by codename one boilerplates?

[2021-09-18 17:09] #594 closed

[2021-09-18 19:13] angelozerr commented on #594
In IJ you can see the same errors with validate menu:

![image](https://user-images.githubusercontent.com/1932211/133906038-b99f6b53-9a31-47af-8af2-8431ecf952f6.png)

You will see problem with duplicate <?xml version="1.0"?> and if you remobe them, you will see the newt problems.

[2021-09-18 19:31] onettmecha commented on #594
@angelozerr correct, thanks for your time and effort.
i'll track the issue with codename1 support from here on after.

[2021-09-19 09:29] angelozerr commented on #594
You are welcome! Hoep you will enjoy with vscode-xml.

[2021-09-27 16:10] Mooninaut opened #596 "Confusing error messages when XML schema location redirects to an HTML page"
Opening any XSD file that attempts to import a no-longer-present http[s]-served XML Schema with the VSCode XML plugin, version v0.18.0 active causes a large number of errors to appear in the Problems pane. These are a result of attempting to parse a web page as an XSD.

### Steps to reproduce
1. Install and activate the XML Language Support by Red Hat plugin in Visual Studio Code.
2. Download http

[2021-09-27 17:14] angelozerr commented on #596
Thanks for reporting this issue @Mooninaut

I tested quickly your usecase and indeed the error reporting is totally unusable. It requires some investigation how to fix this problem.

[2021-09-27 22:09] alexolog opened #597 "Crash on a simple POM file"
The language server crashes and I get the following message:
[code]

The file in question is:
[code]

[2021-09-28 03:36] rgrunber commented on #597
If you restart and ensure `xml.trace.server` is set to `verbose` (in the VS Code Settings page), and then open the pom file, are there any possible errors you notice in the `XML Support` dropdown box of the Output View ? Can you search for `vmargs` to see what is being passed to the Java launch ? If you could attach that log file, it would definitely help.

As a workaround, you could try setting t

[2021-09-28 11:59] angelozerr commented on #597
I cannot reproduce it.  @alexolog could you share your project please?

As @rgrunber suggested, could you share XML support traces? Which version of Java do you use? If you switch to `xml.server.preferBinary` is it working better?

[2021-09-28 13:42] alexolog commented on #597
`xml.server.preferBinary` was already set to true, but apparently it did not work.

Here's the trace:
<details>
<summary>Expand</summary>

[code]

</details>

There are no "project settings, I just open the POM file directly `code -n pom.xml`

[2021-09-28 15:47] rgrunber commented on #597
Bingo, I was seeing `The resource 'http://maven.apache.org/xsd/maven-4.0.0.xsd' is downloading.` but it never completed. It happens on both binary and Java, but the binary case seems to be what crashes, so far.

[2021-09-28 16:04] angelozerr commented on #597
Thanks so much @rgrunber for your help. Th download is done here https://github.com/eclipse/lemminx/blob/4233e9bd5612997a07a97fde04b4d396b863b513/org.eclipse.lemminx/src/main/java/org/eclipse/lemminx/uriresolver/CacheResourcesManager.java#L165

[2021-09-28 16:33] angelozerr commented on #597
Ok thanks for your feedback. The problem comes from downloading. By waiting a fix for that, you can enjoy with vscode-xml features (diagnostic, completion,etc). Hope you will like it.

[2021-09-28 20:14] angelozerr commented on #597
@alexolog is it working without binary? If it doesn't work could you share your traces please. Thanks.

[2021-09-29 00:12] rgrunber commented on #597
Although I'm not entirely sure, I seem unable to reproduce on vscode-xml 0.16.0, and can easily can reproduce on any version 0.16.1 or above. One interesting thing that happened between those releases was we started building the native binary as a static library (instead of dynamic). Maybe some statically linked library just isn't working on our system.

I would guess the failure happens somehwere

[2021-09-29 07:53] angelozerr opened #598 "Wizard to generate a XMML from a XSD/DTD"
It should be nice to provide a wizard to generate a XML from a XSD/DTD.

Here an idea of the wizard steps:

 * step1 : fill an URL like https://www.doctrine-project.org/schemas/orm/doctrine-mapping.xsd or select a XSD/DTD file
 * step2: display as a list all xs:element root from XSD (ex : doctrine-mapping)
 * step3: fill the folder
 * step4: fill the XML file name

[2021-09-29 08:02] fbricon commented on #598
That doesn't seem necessary given all the mechanisms we already have to bind an XML file to a schema. Moreover, as a user, it seems more natural to start from the XML.

[2021-09-29 08:08] angelozerr commented on #598
Generally you have XSD/DTD grammar and you want to write XML based on XSD. So I think it should be nice to provide the capability to generate a XML from a given XSD.

[2021-09-29 08:14] fbricon commented on #598
who's asking for that workflow?

[2021-09-29 08:16] angelozerr opened #599 "CodeAction for cvc-elt.1.a"
Given this XML file:

[code]

`root-element` element is not correct:

![image](https://user-images.githubusercontent.com/1932211/135229376-7c8b4b47-0b70-4d84-922c-8c0483963d52.png)

It should be nice to have several code action to replace with xs:element declared in XSD (in this case doctrine-mapping):

`Replace 'root-element' with 'doctrine-mapping'`

Just to explain how to have this XML file see

[2021-09-29 09:26] angelozerr commented on #598
Its just my experience with xml.

Takes a sample. You want to write xml beans for spring. You generate this xml from spring beans xsd.

For my usecase when we have an issues with xsd dtd I must write the xml. If I could use just have a wizard to generate the xml from the xsd (without reading it) t should be really nice

[2021-09-29 09:30] fbricon commented on #598
In my experience, people writing an xml spring beans file never would start from the spring beans xsd (they'd need the xsd url handy), but they copy and paste an existing file or they have a dedicated wizard for creating such a file directly. In both cases, the xsd url is never ever the starting point.

[2021-09-29 16:36] rgrunber commented on #597
Using `-H:+StaticExecutableWithDynamicLibC` (https://www.graalvm.org/reference-manual/native-image/StaticImages/#build-a-mostly-static-native-image) solves the problem for me. I think we can modify our build process to do this on Linux only.

This is the ldd for a fully dynamically linked LemMinX binary :
[code]

This is the ldd for a statically linked except for glibc LemMinX binary :
[code]

[2021-09-29 17:51] angelozerr commented on #597
On Windows os it works but what about with mac os? @fbricon is download is working for you?

[2021-10-01 20:49] rgrunber commented on #597
[code]

Looks like making it dynamic would break Alpine, so we'll have to see if there's a another way.

[2021-10-04 01:19] Tacha-S opened #600 "Format is wrong with multiple line content"
Indent of close tag for multiple line content is wrong.

The XML file for example as shown below.
[code]

Format the XML file with this plugin.
[code]

Is this correct behavior?

[2021-10-05 18:02] rgrunber commented on #596
I'm able to reproduce as well. However, @angelozerr , do you also notice the following behaviour ? If the `~/.lemminx` cache is empty, it takes a few attempts to have diagnostics show.

![re-validation-error](https://user-images.githubusercontent.com/1417342/136076156-7955e786-fdcb-4570-9e57-423444fed04f.gif)

Even with the PR, which is fixing things I notice the behaviour so maybe a separate issu

[2021-10-06 06:49] angelozerr commented on #596
It's an another problem with cache, I created an issue for this problem at https://github.com/eclipse/lemminx/issues/1121

[2021-10-08 21:06] pjlsergeant opened #601 "Java error: ENOENT: no such file or directory, lstat '../libexec/openjdk.jdk/Contents/Home/bin/java'"
The project proudly exclaims:

`NO LONGER REQUIRES JAVA! since v0.15.0`

However, attempting to install v0.18.0 from inside VS Studio Code gives me an Error in Runtime Status:

`ENOENT: no such file or directory, lstat '../libexec/openjdk.jdk/Contents/Home/bin/java'`

My Java knowledge is non-existant, but that sure looks like it's trying (and failing) to load Java? Any pointers?

[2021-10-11 13:37] erichiller opened #602 "Connection closed"
I receive `Connection to server got closed. Server will not be restarted.` in the XML Extension Output window when opening an XML file.

XML Extension Output:
[code]

Extension Host Output:
[code]

VSCode Version:
[code]

OS: Ubuntu 21.04

Let me know if you need any more information.

[2021-10-12 12:01] AnSch1510 commented on #602
I've getting the same error when editing the .xsd file. It seems that the validation of a new -not yet correctly written- entry goes wrong.

[2021-10-12 12:27] angelozerr commented on #602
@erichiller @AnSch1510 could you share please XML or XSD which causes this problem.

[2021-10-12 14:01] AnSch1510 commented on #602
I've downloaded the file `http://www.w3.org/2001/xml.xsd` to `/home/deuta/.lemminx/cache/http/www.w3.org/2001/` via

[code]

now it seems to work for me...

[2021-10-14 15:28] rgrunber commented on #601
Interesting that https://github.com/redhat-developer/vscode-quarkus/issues/403#issuecomment-937615201 has the exact same error. I suppose the only thing in common is their Java finding logic.

Both issues seem to be happening on MacOS. Could the installed directory structure be a little different there and we're not handling some case correctly ?

[2021-10-17 11:05] otichy opened #605 "wrap element around xml with schema based suggestions"
It would be great to have the oXygen like ability to wrap a selected text with an xml element.

This is currently partly implemented in VS Code as "Emmet: Wrap with abbreviation" command, but it lacks suggestions/completion based on the associated schema.

[2021-10-18 14:16] #601 closed, assigned to nobody

[2021-10-20 13:28] fbricon opened #607 "Recommend to install the Dependency Analytics extension after opening a pom.xml (once)"
if they do not have the [Dependency Analytics](https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension)  extension installed already, vscode-xml should offer users to install  it once when they open a pom.xml.

See https://github.com/redhat-developer/vscode-java/pull/1771.

vscode-java does it already, so we need a way to avoid displaying the same recommendation several times from

[2021-10-22 06:24] MiguelRipoll23 opened #609 "Add command "Minify XML""
It would be nice if we could minify XML files using this extension.
Use cases: send large unformatted files to a messaging queue server

Thank you!

[2021-10-22 07:37] pgundlach opened #610 "Formatting changes whitespace"
First of all, I hope I really use the formatter provided by this package. I don't know how to find out. I think I use it because changing settings like `xml.format.emptyElements` changes the formatting.

My document:

[code]

Now I run the command `Format Document`, the document changes to:

[code]

which introduces whitespace before and after `contents sub`. How can I switch off this whitespace?

[2021-10-25 17:24] seansfkelley opened #611 "trailing whitespace is removed from text content even when xml.format.preserveEmptyContent is set"
Minimal repro: `<foo> </foo>` correctly preserves all whitespace, while `<foo> bar </foo>` is erroneously transformed to `<foo> bar</foo>` (but notice the leading whitespace is preserved).

This is on version 0.18.0.

If you're interesting in the use-case for this, I often use VS Code to poke around DOCX files, which are XML internally. Text in a Word document is represented with nodes like `<w:t

[2021-11-07 10:14] mengineerchen opened #618 "Improve xsd-based quick-fix suggestions"
Hi, it would be nice if xsd-validation-based quick-fixes can be as intelligent as auto-completion.

A trivial example here, given xsd says, the value should be taken from **an ordered list {Less, Greater}**.

Auto-completion is doing a good job:
![autocopmletion](https://user-images.githubusercontent.com/33261984/140640676-4a80adb8-2ac1-4609-ac33-c132ed5ea3ff.png)

Quick fix suggestion takes the o

[2021-11-22 18:13] fbricon opened #620 "Reduce Telemetry volume for `server.document.open`"
`server.document.open` represents a massive amount of  telemetry events. We should try to aggregate the results instead and send them once a day (or at least once during the shutdown event).
We need to figure out how to aggregate the data without losing too much infprmation though.

[2021-11-23 14:50] rgrunber commented on #620
This seems like the kind of problem that any consumer of https://github.com/redhat-developer/vscode-redhat-telemetry could run into. Is it possible to add another send method with some flag (set by the client) to indicate the event being sent occurs very frequently and should be aggregated (on shutdown), rather than directly reported ?

[2021-11-23 15:37] fbricon commented on #620
Well it's tricky. The library would still need to know how to aggregate the data. Some properties would be grouped, some others would have to be ignored, this is all very dependent on usage

[2021-11-23 23:59] rgrunber commented on #620
Looking at what's reported for `server.document.open` :
- `file.grammar.*` properties are only reported when true. We can convert them to integer, and aggregate each grammar type (none, doctype, xmlmodel, schemalocation, nonsschemalocation).

- `file.identifier` are `file.extension` are Strings and their values are not bounded. We could potentially just concatenate them into a single string but I'

[2021-11-24 14:45] luechtdev opened #621 "Renaming Tags with namespaces duplicates namespace"
Version: 0.18.1

When renaming a namespaced XML-Tag - the namespace is duplicated.

**Steps to reproduce:**
1. Create a namespaced tag like `<ns:tagname>`
2. Put the cursor on top and press "F2" to rename
3. Change the name (for example `ns:tagname2`)

**Expected Result:**
Tag is renamed to `<ns:tagname2>`

**Actual result**
Tag is renamed to `<ns:ns:tagname2>`

[2021-11-25 08:00] i-and opened #622 "Search for XSD files in the local file system"
In my case, the tags `xsi:schemaLocation` and `xsi:noNamespaceSchemaLocation` are used to associate XML and XSD. In this case, the link to the xsd file is set as a local relative path: `../../schemas/xml_check 1.xsd`. I would like to get away from binding to the file structure.

In this regard, the suggestion is to implement the ability to configure the search paths of XSD files (by analogy with t

[2021-11-25 08:04] angelozerr commented on #622
I think you should use [XML catalog](https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#XML-catalog-with-XSD) for that.

[2021-11-25 08:33] i-and commented on #622
@angelozerr, thanks for the quick response! Do I understand correctly that the catalog that is specified with
[code]
it only works for variant with `xsi:schemaLocation`, but it is not applicable for `xsi:noNamespaceSchemaLocation` because it requires a namespace name from XML?

[2021-11-25 08:54] angelozerr commented on #622
I'm not an expert with XML catalog, but I think so.

If you don't want to declare xsi:schemaLocation or xsi:noNamespaceSchemaLocation in your XML you can use too [file association](https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#xml-file-association-with-xsd).

To use it, I suggest that you [enable codelens](https://github.com/redhat-developer/vscode-xml/blob/master/d

[2021-12-01 07:45] angelozerr commented on #618
When XML doesn't declare the proper name, (ex : type `Opertor`), it should show a code action like `Did you mean 'Operator'?`. I think we should have this same feature with enum.

[2021-12-01 07:46] angelozerr commented on #622
@i-and is file association can help you?

[2021-12-01 07:47] angelozerr commented on #602
@rgrunber do you think with your fixes, we can close this issue?

[2021-12-01 15:38] rgrunber commented on #602
Yes, we can close this. Looks like we addressed the original issue, and the other as well.

[2021-12-01 15:38] #602 closed

[2021-12-02 13:51] jonsmirl commented on #585
Please don't insert white space around `<![CDATA[]]>` inside `<xsl:text></xsl:text>`
[code]

[2021-12-02 15:19] jonsmirl commented on #585
As a work around, disable formatting in the Redhat extension. And install this which will use xmllint to format.
https://marketplace.visualstudio.com/items?itemName=SteefH.external-formatters

[code]

[2021-12-03 13:30] i-and commented on #622
@angelozerr thank you. I managed to use the `XML catalog` option and switch to using `xsi:schemaLocation` instead of `xsi:noNamespaceSchemaLocation`.

Is it possible to implement the possibility of referring to a catalog-file("xml.catalogs": [ ... ]) by specifying an environment variable (currently only a constant string is possible). This would allow storing a common configuration file `settings.

[2021-12-03 13:38] angelozerr commented on #622
No, the only non static that you we manage today is for file association https://github.com/redhat-developer/vscode-xml/blob/master/docs/Validation.md#XML-file-association-with-xsd

[2021-12-03 14:17] i-and commented on #622
I realized that at the moment there is no such possibility. It was a proposal to modify the XML extension.

[2021-12-03 15:11] angelozerr commented on #622
Could you create a new issue please by adding some detailed sample. Thanks!

[2021-12-03 15:11] #622 closed

[2021-12-03 15:28] #620 closed

[2021-12-07 16:51] AlexXuChen commented on #621
This bug seems deeper than just `<ns:..>` tags, but actually persists on any tag containing `:`:
e.g. If you rename `<xs:schema>` to something, say `<foo>`, you will get `<xs:foo>`.

It also depends on where your cursor is during rename:
e.g. If you rename `<ns:tag1>` to `ns:tag2` and your cursor is hovering `ns`, the result will be `<ns:tag2:tag1>`

[2021-12-07 21:23] rgrunber commented on #621
I think the part that is confusing for users is the fact that when you activate rename, the proposed text is `ns:foo`. Implicitly, this makes someone assume they are renaming the entire tag name (including namespace). If we want to preserve this behaviour of only renaming the left/right component of the `:`, then we should modify the text that appears in the rename popup.

In other words : `<ns:fo

[2021-12-08 09:12] angelozerr commented on #600
No our XML formatter must be improved.

[2021-12-09 10:29] trostn opened #623 "xml(cvc-complex-type.4) requires and xml(cvc-complex-type.3.2.2) forbids attribute"
Hello,
I'm feeling a bit lost now. I'm seeing an issue which is, for me, apparently connected to the vscode-xml extension.

**Preface:**
In my project I'm creating a repository which holds different XML files and schemas to allow the validation of these files. I want to store the schemas in a seperate folder. To have the validation running in VSCode I set up a catalog.xml, which defines the positi

[2021-12-09 18:23] PJUllrich opened #624 "Disable formatting for next/following lines"
Dear maintainers,

is there a way to tell the XML formatter to ignore the next, or even the next few lines?

My problem is that I want to save some HTML code in a XML tag as simple text (it might not be a supported use-case and I would fully understand if you'd reject this request on these grounds of course).
Unfortunately, the formatter interprets the HTML tags as XML tags and removes most of the

[2021-12-09 18:28] fbricon commented on #624
Can you provide a sample document?

[2021-12-09 18:33] AlexXuChen commented on #618
@mengineerchen Could you provide an example of how to recreate this quick fix suggestion?

[2021-12-09 18:44] PJUllrich commented on #624
Thank you for your super quick reply! Sorry, but I actually have some HTML+Elixir code (think JSX) and it formats the HTML code well, but doesn't understand the Elixir code and falls back to `<null>` tags. Here's an example:

What I need:
[code]

What I get after formatting:
[code]

So, if there was an easy way to tell the formatter to ignore the next X lines, I'd be very happy. But of course, it